---
layout: empty-page
permalink: /
require: aos typed card homepage thumbnail cta
description: "Stellantis Developers is the dedicated platform for application developers working with Stellantis
connected vehicles API and SDKs."
redirect_from:
    - /connected-vehicles/use-case/
---

<div class="black-gradient landing-page" style="margin-bottom: 3rem;">
    <!-- INTRO -->
    <section class="section">
        <div class="container">
            <h2 class="has-text-centered">
                Stellantis for developers
            </h2>
            <p class="has-text-centered is-6 is-light text-compact">
                Stellantis for Developers is the dedicated platform for application developers working with
                Stellantis's connected vehicles.
                Join us and build the future of connected car together!
            </p>
            <div class="separator is-centered"></div>
        </div>
    </section>
    <!-- / INTRO -->
    <!-- RETRIEVE YOUR VEHCILES DATA -->
    <section class="section section-feature">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half description">
                    <a href="{{site.baseurl}}/connected-vehicles/data-catalog/" data-aos="fade-right" class="landing-text-bloc">
                        <h3 class="">Browse our <br>  data catalog.</h3>
                        <div class="separator"></div>
                        <p class="is-6 is-light  text-compact"> Access our data catalog and retrieving everything about
                            your vehicles. You'll be able to retrieve in which API each data is available! &nbsp;
                            <svg class="link-arrow" viewBox="0 0 25 12">
                                <path d="M21.2127412,5 L0,5 L0,6.99750943 L21.215115,6.99750943 L17.8642713,10.5132079 L19.2813462,12 L24.2914625,6.74339606 L25,6 L24.2914625,5.25660394 L19.2813462,0 L17.8642713,1.48679212 L21.2127412,5 Z"></path>
                            </svg>
                        </p>
                    </a>
                </div>
                <!-- CODE HIGHLIGHTER -->
                <div class="column is-half">
                    <div class="landing-feature">
                        <div class="language-json highlighter-rouge">
                            <!-- <div class="highlight"> -->
                                <pre class="highlight"><code><span class="mf">HTTP/1.1 200 OK<br/>Content-Type: application/hal+json<br/>Date: Tue, 09 Jun 2020 02:43:42 GMT</span>      
  <span class="p">    </span><span class="w">
  <span class="p">    {</span><span class="w">
      </span><span class="nl">"id"</span><span class="p">:</span><span class="w"> </span><span class="s2">"14167304a6753316b774e7b45774"</span><span class="p">,</span><span class="w">
      </span><span class="nl">"vin"</span><span class="p">:</span><span class="w"> </span><span class="s2">"VR1A12BCDEF3456"</span><span class="p">,</span><span class="w">
      </span><span class="nl">"brand"</span><span class="p">:</span><span class="w"> </span><span class="s2">"DS"</span><span class="p">,</span><span class="w">
      </span><span class="nl">"engine"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
          </span><span class="p">{</span><span class="w">
          </span><span class="nl">"class"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Thermic"</span><span class="p">,</span><span class="w">
          </span><span class="nl">"energy"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Petrol"</span><span class="w">
          </span><span class="p">}</span><span class="w">
      </span><span class="p">],</span><span class="w">
      </span><span class="nl">"label"</span><span class="p">:</span><span class="w"> </span><span class="s2">"DC 7 Crossback"</span><span class="p">,</span><span class="w">
      </span><span class="nl">"pictures"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
          </span><span class="s2">"http://ds-picture.com/pic-front"</span><span class="p">,</span><span class="w">
          </span><span class="s2">"http://ds-picture.com/pic-back"</span><span class="p">,</span><span class="w">
          </span><span class="s2">"http://ds-picture.com/pic-inside"</span><span class="p">,</span><span class="w">
      </span><span class="p">],</span><span class="w">
      </span><span class="nl">"createdAt"</span><span class="p">:</span><span class="w"> </span><span class="s2">"2020-06-08T07:59:19Z"</span><span class="p">,</span><span class="w">
      </span><span class="nl">"updatedAt"</span><span class="p">:</span><span class="w"> </span><span class="s2">"2020-06-08T07:59:19Z"</span><span class="p">,</span><span class="w">
      </span><span class="nl">"_links"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
          </span><span class="nl">"alerts"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="p">},</span><span class="w">
          </span><span class="nl">"trips"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="p">},</span><span class="w">
          </span><span class="nl">"self"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="p">},</span><span class="w">
          </span><span class="nl">"lastPosition"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="p">},</span><span class="w">
          </span><span class="nl">"telemetry"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="p">},</span><span class="w">
          </span><span class="nl">"maintenance"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="p">},</span><span class="w">
          </span><span class="nl">"status"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w"> </span><span class="p">}</span><span class="w">
      </span><span class="p">}</span><span class="w">
  </span><span class="p">    }</span>
  <span class="w"></span></code>
                                </pre>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <!-- / CODE HIGHLIGHTER -->
            </div>
        </div>
    </section>
    <!-- / RETRIEVE YOUR VEHCILES DATA -->
    <!--  BUILD EMBEDDED APPS -->
    <section class="section section-feature">
        <div class="container">
            <div class="columns is-vcentered">
                <!-- PIC WP -->
                <div class="column is-half">
                    <img class="rounded landing-feature"
                        src="{{site.baseurl}}/assets/images/apps-nac.jpg" style="filter: brightness(85%);">
                </div>
                <!-- / PIC WP -->
                <div class="column is-half description">
                    <a href="{{site.baseurl}}/webportal/" class="landing-text-bloc" data-aos="fade-left">
                        <h3 class="">Build embedded <br> web APPs.</h3>
                        <div class="separator"></div>
                        <p class="is-6 is-light  text-compact">Try our webportal framework and build wonderful
                            APPs for your vehicle embedded screen using HTML CSS & JavaScript. &nbsp;
                            <svg class="link-arrow" viewBox="0 0 25 12">
                                <path d="M21.2127412,5 L0,5 L0,6.99750943 L21.215115,6.99750943 L17.8642713,10.5132079 L19.2813462,12 L24.2914625,6.74339606 L25,6 L24.2914625,5.25660394 L19.2813462,0 L17.8642713,1.48679212 L21.2127412,5 Z"></path>
                            </svg>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- / BUILD EMBEDDED APPS -->
    <!--  WEB API -->
    <section class="section section-feature">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half description">
                    <a href="{{site.baseurl}}/webapi/#article"  class="landing-text-bloc" data-aos="fade-right">
                        <h3 class="">Access vehicles <br>data online.</h3>
                        <div class="separator"></div>
                        <p class="is-6 is-light  text-compact"> Our REST API allows to access data, set HTTP callbacks & remote control your vehicles online: speed, maintenance, honk the horn and much more...
                            &nbsp;
                            <svg class="link-arrow" viewBox="0 0 25 12">
                                <path d="M21.2127412,5 L0,5 L0,6.99750943 L21.215115,6.99750943 L17.8642713,10.5132079 L19.2813462,12 L24.2914625,6.74339606 L25,6 L24.2914625,5.25660394 L19.2813462,0 L17.8642713,1.48679212 L21.2127412,5 Z"></path>
                            </svg>
                        </p>
                    </a>
                </div>
                <!-- PHONE APP PIC -->
                <div class="column is-half">
                    <img class="rounded landing-feature"
                        src="{{site.baseurl}}/assets/images/myds.jpg" style="filter: brightness(85%);">
                </div>
                <!-- / PHONE APP PIC -->
            </div>
            <!-- / WEBAPI -->
        </div>
    </section>
    <!--  / REMOTE CONTROL -->
    <!-- APIs -->
    <section class="section">
        <div class="container our-apis">
            <!--  Our APIs-->
            <div class="separator is-centered" style="margin-bottom: 3rem;">
            </div>
            <h2 class="has-text-centered">
                Our API
            </h2>
            <p class="has-text-centered  is-6 is-light  text-compact" style="margin-bottom: 8rem;">
                Choose which API from Stellantis's that you want to explore.
            </p>
            <!--  / OUR APIs -->

            <div class="unboxed-content">
                <div class="cards"> 

                    <div data-aos="zoom-in" data-aos-delay="0" data-aos-easing="ease-out-quart">
                        {% 
                            include card.html 
                            modifier='card-transparent' 
                            linkto="/webapi/"
                            title="Web API"
                            text="Retrieve data and remote control using open web standards: REST"
                            logo=" fa-cloud"
                            card-arrow="always"
                        %}
                    </div>

                    <div data-aos="zoom-in" data-aos-delay="250" data-aos-easing="ease-out-quart">
                        {% 
                            include card.html 
                            modifier='card-transparent' 
                            linkto="/webportal/"
                            title="WebPortal"
                            text="An embedded framework to develop Web Applications in the media system your vehicle."
                            logo=" fa-car-side"
                            card-arrow="always"
                        %}
                    </div>  

                    <div data-aos="zoom-in" data-aos-delay="400" data-aos-easing="ease-out-quart">
                        {%  
                            include card.html 
                            modifier='card-transparent' 
                            linkto="/mobile-sdk/"
                            title="SDK Mobile"
                            text="An iOS and Android SDK for accessing data and remote control over Bluetooth. <br> <em>Available soon.</em>"
                            logo=" fa-mobile"
                            card-arrow="always"
                        %}
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- /APIs -->
    <!-- PROJECTS LIST -->
    <section class="section landing-page container">
        <div class="separator is-centered" style="margin: 1rem auto; margin-top: 100px;" >
        </div>
        <h2 class="has-text-centered">
            Projects
        </h2>
        <p class="has-text-centered  is-6 is-light  text-compact"  style="margin-bottom: 3rem;">
            See what you can do with Stellantis's APIs.
        </p>
        <!-- PROJECTS LIST -->
        <div class="projects" data-aos="fade-up">
            {% for project in site.data.project-examples %}

                {% 
                    include thumbnail.html
                    img-url=project.img-url
                    section=project.section
                    long-name=project.long-name
                    link-ios=project.link.ios
                    link-android=project.link.android
                 %}
                 
            {% endfor %}
            <article class="project-preview project-cta">
                <a class="project-img" href="{{site.baseurl}}/connected-vehicles/about/" >
                    <p>Why not your App?</p>
                </a>
            </article>
            <!-- FIX Project -->
            <!-- <article id="preview-fix" class="project-preview">
            </article> -->
        </div>

    </section>
<!-- / PROJECTS LIST -->
</div>

<div style="margin: 1rem 0 3rem;">
    {% include cta.html text="CONTACT US" link="/contact-us/" %}
</div>


<script>
    /*----------- TYPED ---------*/

    var typedHeader1 = new Typed('#typed-header-1', {
        strings: ['Build'], typeSpeed: 50, cursorChar: '_', onComplete: (self) => {
            document.getElementById("typed-header-1").nextElementSibling.style.display = "none";
            var typedHeader2 = new Typed('#typed-header-2', {
                strings: ['The future'], typeSpeed: 50, cursorChar: '_', onComplete: (self) => {
                    document.getElementById("typed-header-2").nextElementSibling.style.display = "none";
                    var typedHeader3 = new Typed('#typed-header-3', {
                        strings: ['Of'], typeSpeed: 50, cursorChar: '_', onComplete: (self) => {
                            document.getElementById("typed-header-3").nextElementSibling.style.display = "none";
                            var typedHeader4 = new Typed('#typed-header-4', { strings: ['Connected Cars'], typeSpeed: 50, cursorChar: '_', });
                        }
                    });
                }
            });
        }
    });

</script>