{% if page.section == "webportal" and page.subsection == "v1" %}
  {% assign buttonsTypes = "api event" | split: " " %}
{% else %}
  {% assign buttonsTypes = "get set subscribe" | split: " " %}
{% endif %}

<div
  class="apis"
>

  {% if 
      include.type == "feature-title" 
      and include.sdk_name == "mobile-sdk" 
  %}
  <div class="api api-title">
    <div class="api-header">
      <a 
        class="api-name"
        id="domain-{{ component.tag | replace: '.', '-' | remove: '()'}}{%for compa in component.compatibility%}{{compa}}{% endfor %}"
        href="#domain-{{ component.tag | replace: '.', '-' | remove: '()'}}{%for compa in component.compatibility%}{{compa}}{% endfor %}"
      >

        <div class="domain-component-name">
          {{component.name}}
          <sup class="text-note">
            {%-for compa in component.compatibility-%}
            {{compa}}
            {%- unless forloop.last -%}&nbsp;{%- endunless -%}
            {%-endfor-%}
          </sup>
          &nbsp;{{component.icon}}
        </div>
        
      </a>
      {% if component.tutorial %}
      <a 
        href="{{site.baseurl}}{{component.tutorial}}#article"
        class="domain-component-tutorial">
        Tutorial
        <span class="icon">
          <i class="fas fa-external-link-alt"></i>
        </span>
      </a>
      {% endif %}
    </div>
  </div>
  {% endif %}

{% for api in include.apis | where: include.whereKey, include.whereValue %}

  {%- comment -%} DOMAIN {%- endcomment -%}
  {% if api.type == "domain" or api.type == "class" %}
  <div class="api api-title">
    <div class="api-header">
      <a 
      class="api-name" 
      id="domain-{{ api.name | replace: '.', '-' | remove: '()'}}"
      href="#domain-{{ api.name | replace: '.', '-' | remove: '()'}}"
      >
      {{api.name}}
        {%- if include.sdk_name == "webportalv2" or include.sdk_name == "webportalv1" -%}
        .*
        {%- endif -%}
      </a>
    </div>
  </div>
  {%- comment -%} END DOMAIN {%- endcomment -%}

  {% elsif api.name %}
  {%- comment -%} API {%- endcomment -%}
  <div class="api">

    {% capture apiVerbs %}
    <div class="api-types api-types{% if include.sdk_name == "webportalv2" %}-full{% else %}-min{% endif %}">
      {% for buttonType in buttonsTypes %}
      <{% if include.sdk_name == "webportalv2" %}a{% else %}div{% endif %}
        {% if api.type contains buttonType %}
        href="{{site.baseurl}}{{api.url}}.html#{{buttonType}}"
        {% endif %}
        class="
          {{"api-type" | append: " "}} 
          {%- if api.type contains buttonType -%} api-verb-{{buttonType}} 
          {%- else -%} api-verb-unavailable {%- endif -%}
        "
      >
        <span class="api-type-text">
          {% if buttonType == "api" %}
          Method
          {% else %}
          {{buttonType|capitalize}}
          {% endif %}
        </span>
      </{% if include.sdk_name == "webportalv2" %}a{% else %}div{% endif %}>
      {% endfor %}
    </div>
    {% endcapture %}
    
    {%- comment -%} API HEADER {%- endcomment -%}
    <div 
      class="api-header {% if include.sdk_name == "mobile-sdk" %}api-header-min{% endif %}"
    >
    
      <a
        class="api-name {% if include.sdk_name == "mobile-sdk" %}api-name-min{% endif %}" 
        href="{{site.baseurl}}{{api.url}}.html#article"
      >
      
          {%- comment -%} VERBS {%- endcomment -%}
          {% if include.sdk_name == "mobile-sdk" or include.sdk_name == "webportalv1" %}
          {{apiVerbs}}
          {% endif %}
          {%- comment -%} END VERBS {%- endcomment -%}

          <div class="api-name-subname">
            {{api.name}}
            <div class="api-subname">
              {% if api.subname %}<em>&nbsp;-&nbsp;{{api.subname}}</em>{% endif %}
            </div>
          </div>
      </a>


    <div class="api-available">
        
      {%- comment -%} REQUIREMENT {%- endcomment -%}

      {%- comment -%} VERSION {%- endcomment -%}
      {% if api.version.available-since %}
      <div
        class="api-requirement"
        title="Available since version {{api.version.available-since}}."
      >
        <em>v{{api.version.available-since}}</em>
      </div>
      {% endif %}

      {%- comment -%} END PRIVACY {%- endcomment -%}

      {%- comment -%} PRIVACY {%- endcomment -%}
      {% if include.sdk_name == "webportalv2" %}
        <div
          class="api-requirement"
        >
          {% if api.availability == "sdkOnly" %}
          <span 
            title="Only available in SDK" 
            class="icon is-white"
            style="margin-right: 1rem"
            >
            <i class="fas fa-exclamation-circle"></i>
          </span>
          {% endif %}
          {% if api.privacy == "Full Private" %}
          <span title="Geolocation & Data are required" class="icon is-white">
            <i class="fas fa-long-arrow-alt-down"></i>
            <i class="fas fa-long-arrow-alt-up"></i>
          </span>
          <span title="Geolocation & Data are required" class="icon is-white">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          {% elsif api.privacy == "Geolocation Private" %}
          <span title="Geolocation is required" class="icon is-white">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          {% elsif api.privacy == "Public" %}
          <span title="No requirements!" class="icon is-white">
            <i class="fas fa-lock-open"></i>
          </span>
          {% endif %}
        </div>
        {% endif %}
        {% if include.sdk_name == "webportalv1" and api.type == "api" %}
        <div
        class="api-requirement"
        >
        {% if api.privacy == "Geoloc" %}
        <span title="Geolocation is required" class="icon is-white">
          <i class="fas fa-map-marker-alt"></i>
        </span>
        {% elsif api.privacy == "Public" %}
        <span title="No requirements!" class="icon is-white">
          <i class="fas fa-lock-open"></i>
        </span>
        {% else %}
        <span title="Geolocation & Data are required" class="icon is-white">
          <i class="fas fa-long-arrow-alt-down"></i>
          <i class="fas fa-long-arrow-alt-up"></i>
        </span>
        <span title="Geolocation & Data are required" class="icon is-white">
          <i class="fas fa-map-marker-alt"></i>
        </span>
        {% endif %}
      </div>
      {% endif %}

      {%- comment -%} END PRIVACY {%- endcomment -%}

      {%- comment -%} DEPRECATION {%- endcomment -%}
      {% if api.deprecated == true %}
      <div
        class="api-requirement"
        title="Deprecated"
      >
        <em>Deprecated</em>
      </div>
      {% endif %}


      {%- comment -%} END REQUIREMENT {%- endcomment -%}

        {%- comment -%} VERBS {%- endcomment -%}
        {% if include.sdk_name == "webportalv2" %}
        {{apiVerbs}}
        {% endif %}
        {%- comment -%} END VERBS {%- endcomment -%}

      </div>
    </div>
  </div>
  {% endif %}
  {%- comment -%} END API {%- endcomment -%}

{% endfor %}
</div>