{% capture refVersionBasePath %}
{%- if page.section == "web-sdk" -%}/web-sdk/references/
{%- elsif page.section == "mobile-sdk" -%}/mobile-sdk/references/
{%- elsif page.section == "webportal" and page.subsection == "v2" -%}/webportal/v2/api-reference/
{% endif %}
{%- endcapture -%}



{%- comment -%} RETURNS REF SECTION URL
                params: type=="refCategoryUrl", version=version {%- endcomment -%}
{%- if include.type == "refCategoryUrl" -%}
{{refVersionBasePath}}

{%- comment -%} RETURNS REF LIST URL
                params: type=="listUrl", version=version {%- endcomment -%}
{%- elsif include.type == "listUrl" and include.version -%}
{{refVersionBasePath}}v{{include.version | slugify }}

{%- comment -%} RETURNS API URL
                params: type=="apiUrl", api=api, version=version {%- endcomment -%}
{%- elsif include.type == "apiUrl" and include.api and include.version -%}
{{refVersionBasePath}}v{{include.version | slugify }}/{{api.component.tag|slugify}}-{{api.type|slugify}}-{{api.tag|slugify}}

{%- comment -%} RETURNS COMPONENT ANCHOR
                params: type=="componentAnchor", component=component {%- endcomment -%}
{%- elsif include.type == "componentAnchor" and include.component -%}
domain-{{include.component.tag|slugify}}
  {%- if include.component.compatibilities -%}
    -{%- for compatibility in include.component.compatibilities -%}
    {{compatibility|slugify}}
    {%- endfor -%}
  {%- endif -%}

{%- comment -%} RETURNS COMPONENT NAME
                params: type=="componentName", component=component {%- endcomment -%}
{%- elsif include.type == "componentName" and include.component  -%}
{{include.component.name}}
{% unless include.noPlateform == true %}
<sup class="text-note">
  {%- for compatibility in include.component.compatibilities -%}
  {{compatibility}}
  {%- unless forloop.last -%}&nbsp;{%- endunless -%}
  {%-endfor-%}
</sup>
{% endunless %}

{%- elsif include.type contains "lastSpec" -%}
{%- capture sdkName -%}{{page.section}}{% if page.subsection %}-{{pgae.subsection}}{% endif %}{%- endcapture -%}
{%- assign changelogFileName = sdkName | append: "-changelog" -%}
{%- assign specVersions = site.data[changelogFileName] -%}
{%- if specVersions[0].version contains "x" -%}{%- assign lastSpecVersion = specVersions[1].version -%}
{% else %}{%- assign lastSpecVersion = specVersions[0].version -%}{%- endif -%}
{%- assign lastSpecVersionDashed = lastSpecVersion | replace: ".", "-" -%}

{%- comment -%} RETURNS LAST SDK VERSION
                params: type=="lastSpecVersion" {%- endcomment -%}
{%- if include.type == "lastSpecVersion" -%}
{{lastSpecVersion}}

{%- comment -%} RETURNS LAST SDK VERSION
                params: type=="lastSpecVersion" {%- endcomment -%}
{%- elsif include.type == "lastSpecVersionDashed" -%}
{{lastSpecVersionDashed}}

{%- comment -%} RETURNS LAST SDK VERSION FILENAME
                params: type=="lastSpecFile" {%- endcomment -%}
{%- elsif include.type == "lastSpecFile" -%}
{%- assign lastSpecName = sdkName | append: "-v" | append: lastSpecVersionDashed -%}
{{lastSpecName}}
{%- endif %}
{%- endif %}