{% assign no_edit_layouts = "simple-article simple-article-large api-data use-case compare-packages packages" %}

{%- capture pageFullTitle -%}
  {% if no_edit_layouts contains page.layout %}
    {{page.subtitle}}
  {% elsif page.layout contains "api-reference" and page.type %}
    {% if page.apiName %}{{page.apiName}}{% else %}{{page.name}}{% endif %}
    {%- if page.subname -%}-{{page.subname}}{%- endif%}
  {% else %}
    {{page.title}}
  {% endif %}
{%- endcapture -%}

<div class="content-header" >
    <div class="page-title-container">

    {%-  comment -%}---PAGE TITLE---{%-  endcomment -%}
        <h1 id="page-title">
          <span {% if  page.layout contains "api-reference" and page.type %}style="font-size: 1.35rem"{% endif %}>
              {% unless no_edit_layouts contains page.layout %}
              {{page.categorie}} - 
              {% endunless %}
                {{pageFullTitle}}
            </span>
        </h1>
    {%- comment -%}---END PAGE TITLE---{%- endcomment -%}

    {%  comment %}---SELECT MENU ---{%  endcomment %}
        <div class="menu-select"> 
            <div class="select page-select">
                <select>
                    {%- if page.categorie -%}
                        {%- for section in site.data.sections -%}
                            {%- if page.section == section.tag -%}

                            {% assign currentSectionName = section.name %}
                            {% assign currentSectionPath = section.path %}

                                {%- for subsection in section.subsections -%}
                                    {%- if page.subsection == subsection.tag -%}

                                    {% assign currentSubSectionName = subsection.name %}
                                    {% assign currentSubSectionPath = subsection.path %}

                                        {% for categorie in subsection.categories %}
                                            {% if page.categorie == categorie.name %}

                                                {% assign currentCategorieName = categorie.name %}
                                                {% assign currentCategoriePath = categorie.path %}

                                            {% endif %}

                                                <optgroup label="{{categorie.name}}">
                                                    {% for p in categorie.pages %}

                                                        {% assign currentPath = section.path | append: subsection.path | append: categorie.path | append:p.path %}

                                                        <option 
                                                            value="{{currentPath}}#article" 
                                                            {% if currentPath == page.permalink %}selected{% endif %}>
                                                                {{p.name}}
                                                        </option>

                                                    {% endfor %}
                                                </optgroup>
                                            
                                        {% endfor %}
                                    {%- endif -%}
                                {%- endfor -%}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- elsif page.subsection -%}
                        {%- for section in site.data.sections -%}
                            {%- if page.section == section.tag -%}

                            {% assign currentSectionName = section.name %}
                            {% assign currentSectionPath = section.path %}

                                {% for subsection in section.subsections %}
                                    
                                    {% if page.subsection == subsection.tag %}
                                        {% assign currentSubSectionName = subsection.name %}
                                        {% assign currentSubSectionPath = subsection.path %}
                                    {% endif %}

                                    <optgroup label="{{subsection.name}}">
                                        {% for p in subsection.categories[0].pages %}

                                            {% assign currentPath = section.path | append: subsection.path | append:p.path %}

                                            <option value="{{currentPath}}#article" {% if page.permalink == currentPath %}selected{% endif %}>{{p.name}}</option>

                                        {% endfor %}
                                    <optgroup>
                                
                                {% endfor %}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- elsif page.section -%}
                        {%- for section in site.data.sections -%}
                            {%- if page.section == section.tag -%}

                                {% assign currentSectionName = section.name %}
                                {% assign currentSectionPath = section.path %}

                                <optgroup label="{{section.name}}">
                                    {% for p in site.pages %}
                                        {%- if page.section == p.section -%}

                                            <option value="{{p.permalink}}#article" {% if page.permalink == p.permalink %}selected{% endif %}>{{p.title}}</option>

                                        {%- endif -%}
                                    {% endfor %}
                                </optgroup>

                            {%- endif -%}
                        {% endfor %}
                    {%- endif -%}
                </select>
            </div>
        </div>
    {%-  comment -%}---END SELECT MENU ---{%-  endcomment -%}

    {%-  comment -%}---EDIT WITH GITHUB---{%-  endcomment -%}
    <div class="is-flex is-justify-content-center is-align-items-baseline">
        {% 
            include
            edit-with-github.html
        %}
    
    </div>

    {%-  comment -%}---END EDIT WITH GITHUB---{%-  endcomment -%}

    </div>
    {%- comment -%} END PAGE-TITLE {%- endcomment -%}

    {%-  comment -%}---BREADCRUMB---{%-  endcomment -%}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{site.baseurl}}/">Home</a>
            </li>
            {% if page.section%}
            <li>
                <a href="{{site.baseurl}}{{currentSectionPath}}">{{currentSectionName}}</a>
            </li>
            {% endif %}
            {% if page.subsection%}
            <li>
                <a href="{{site.baseurl}}{{currentSectionPath}}{{currentSubSectionPath}}">{{currentSubSectionName}}</a>
            </li>
            {% endif %}
            {% if page.categorie%}
            <li>
                <a href="{{site.baseurl}}{{currentSectionPath}}{{currentSubSectionPath}}{{ currentCategoriePath }}">{{currentCategorieName}}</a>
            </li>
            {% endif %}
            <li>
                <a href="#article" aria-current="page">
                    {{pageFullTitle}}
                </a>
            </li>
        </ul>
    </nav>
    {%-  comment -%}---END BREADCRUMB---{%-  endcomment -%}

    {%-  comment -%}--- DISCLAIMER---{%-  endcomment -%}
    {% if page.section == "webapi" and page.subsection == "b2b" %}
    <div class="notification page-disclaimer">
      <strong>Info:</strong> Stellantis Fleet Owner API for ex Groupe PSA brands (Citroën, DS, Peugeot, Opel and Vauxhall) is made for organisations owning <strong>fleet of vehicles</strong>.
    </div>
    {% elsif page.section == "webapi" and page.subsection == "b2c" %}
    <div class="notification page-disclaimer">
      <strong>Info:</strong> Stellantis Accessing Party for End-Users API for ex Groupe PSA brands (Citroën, DS, Peugeot, Opel and Vauxhall) is <strong>available only on request</strong>.
    </div>
    {% endif %}
    {%-  comment -%}---END  DISCLAIMER---{%-  endcomment -%}
    
</div>

<script>

    function selectPage(e){
        
    }

    document.querySelector(".page-select").addEventListener("change", (e) => {
        window.location.href = "{{site.baseurl}}"+e.target.value;
    });


</script>