<div class="notification page-disclaimer">
  <strong>Note:</strong> This catalog allows to browse the data available in Groupe PSA APIs. Clicking on a data allows to find more info about it. Then you and use the version links to retrieve each data in the related API specification. Be carefull, data may be in different format (string, number etc.) depending on the API & version.<br>
  Filtering: you can use filters to find data in this catalog. It is possible to use multiple filters together in order to create complex filtering: 
  <ul>
    <li><em>Search:</em>  The search bar allows the filter on the name, domain, description, type, unit and value.</li>
    <li><em>Checkboxes:</em>  You can check one or multiple checkbox in order to filter data available in this API version.</li>
    <li><em>Dropdown:</em> Select the domain and type of the data you want to filter.</li>
  </ul>
</div>

{% include data-catalog-table.html %}

<div class="data-header">

  <div class="table-header-search-and-reset"> 
    <div class="data-header-search field ">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search in table" id="data-header-search-area" onkeyup="tablesearch(this.value)">
        <span class="icon is-small is-left">
            <i class="fas fa-search" style="color: darkgrey;"></i>
        </span>
      </p>
    </div>
    
    <button class="table-header-filter-reset" onclick="resetTabulatorFilter()">
      <span>Reset all Filters</span>
      <span class="icon ">
        <i class="fas fa-times"></i>
      </span>
    </button>
  </div>
    
  <div class="table-header-filter">

    <div class="table-header-filter-dropdown" onclick="handleFilterDropdown(this)">
      
      <span class="table-header-filter-title">
        <i class="fas fa-filter"></i>
        Filters
      </span>
      
      <span class="table-header-filter-arrow icon is-large is-white">
        <i class="fas fa-plus"></i>
        <i class="fas fa-minus"></i>
      </span>

    </div>



    
    <fieldset class="table-header-versions">
      
      <!-- <div class=""> -->
        <div class="table-header-api"> 
          <div class="table-header-api-title">
            <span class="tag">
              <span class="icon">
                <i class="fas fa-car-side"></i>
              </span>
              <span>
                &nbsp; WEBPORTAL
              </span>
            </span>
          </div>
          <div class="table-header-api-available"> 
            
            <div class="table-header-version">
              <input type="checkbox" onclick="handleCheckboxAPI(this);" checked="true" id="webportal_v1" name="api" value="webportal_v1">
              <label>Webportal v1</label>
            </div>
            <div class="table-header-version">
              <input type="checkbox" onclick="handleCheckboxAPI(this);" checked="true" id="webportal_v2" name="api" value="webportal_v2">
              <label>Webportal v2</label>
            </div>
          </div>            
        </div>



      <div class="table-header-api"> 
      
        <div class="table-header-api-title">
          <span class="tag">
            <span class="icon">
              <i class="fas fa-cloud"></i>
            </span>
            <span>
              &nbsp; WEB API
            </span>
          </span>
        </div>

        <div class="table-header-api-available">
          <div class="table-header-version">
            <input type="checkbox" onclick="handleCheckboxAPI(this);" checked="true" id="webapi_b2b_v2" name="api" value="webapi_b2b_v2">
            <label>Web API B2B v2</label>
          </div>
          <div class="table-header-version">
            <input type="checkbox" onclick="handleCheckboxAPI(this);" checked="true" id="webapi_b2b_v3" name="api" value="webapi_b2b_v3">
            <label>Web API B2B v3</label>
          </div>
          <div class="table-header-version">
            <input type="checkbox" onclick="handleCheckboxAPI(this);" checked="true" id="webapi_b2c_v4" name="api" value="webapi_b2c_v4">
            <label>Web API B2C v4</label>
          </div>
        </div> 
      
      </div>

    </fieldset>

  </div>


</div>




<div id="data-catalog"></div>

<script>
var currentSearchTerm;
function tablesearch(searchInput) {

  table.removeFilter([
      {field:"name",type:"!=",value:""},
      [
        {field:"name", type:"like", value:currentSearchTerm},
        {field:"domain", type:"like", value:currentSearchTerm},
        {field:"description", type:"like", value:currentSearchTerm}, 
        {field:"type", type:"like", value:currentSearchTerm}, 
        {field:"unit_or_value", type:"like", value:currentSearchTerm},
      ]
  ]);

  currentSearchTerm = searchInput;

  table.addFilter([
    {field:"name",type:"!=",value:""},
    [
      {field:"name", type:"like", value:searchInput},
      {field:"domain", type:"like", value:searchInput},
      {field:"description", type:"like", value:searchInput}, 
      {field:"type", type:"like", value:searchInput}, 
      {field:"unit_or_value", type:"like", value:searchInput}, 
      {field:"step", type:"like", value:searchInput}, 
      {field:"update", type:"like", value:searchInput},
      {field:"webportal_v1", type:"like", value:searchInput},
      {field:"webportal_v2", type:"like", value:searchInput},
      {field:"webapi_b2b_v2", type:"like", value:searchInput},
      {field:"webapi_b2b_v3", type:"like", value:searchInput},
      {field:"webapi_b2c_v4", type:"like", value:searchInput}
    ]
]);
}

const domain_categories = {
  alert: "fas fa-exclamation-circle",
  collision: "fas fa-car-crash",
  location: "fas fa-compass",
  maitenance: "fas fa-tools",
  monitor: "fas fa-bell",
  picture: "fas fa-image",
  remote: "fas fa-satellite-dish",
  telemetrie: "fas fa-chart-bar",
  trip: "fas fa-route",
  vehicle_info: "fas fa-info",
  HMI: "fas fa-car-side",
}

const specification_page = {
  webportal: {
    v1: "/webportal/v1/api-reference/list/",
    v2: "/webportal/v2/api-reference/list/",
  },
  webapi: {
    v2: "/webapi/b2b/api-reference-v2/specification/",
    v3: "/webapi/b2b/api-reference-v3/specification/",
    v4: "/webapi/b2c/api-reference/specification/",
  }
}


function taggify (api, link, tagShortText) {
  if (link) {
    var tagLink = 
      "<a href='{{site.baseurl}}"  + specification_page[api][tagShortText] + link + "' target='_blank' class='tag data-item-available is-link'>"+
        "<span> " + tagShortText +  "&nbsp; </span>"+
      "</a>";
    return tagLink;
  }
  else {
    var tagNotLink = 
    "<span class='tag'>"+
        "<span>"+ 
          tagShortText+
        "</span>"+
     "</span>";
    return tagNotLink;
  }
}

function taggifyWebportal(v1, v2){ 
  if(!v1 && !v2 ){
    return (
      "<div class='control'>"+
          "<div class='tags has-addons n-a'>"+
            "<span class='tag is-info'>" +
              "<span class='icon'>"+ 
                "<i class='fas fa-car-side'></i>"+
              "</span>"
              +"<span class='availability-name'>Webportal</span>"+
            "</span>"+
            "<span class='tag data-item-available is-danger'><span>n/a</span></span>"+
          "</div>"+
      "</div>"
    )}
  else{
    var tagAddonV1 = "";
    var tagAddonV2 = "";

    if (v1) {
      tagAddonV1 = taggify("webportal", v1, "v1");
    }
    if (v2) {
      tagAddonV2 = taggify("webportal", v2, "v2");
    }
    var tagAddon = 
      "<div class='control'>"+
          "<div class='tags has-addons available'>"+
            "<span class='tag is-info'>" +
              "<span class='icon'>"+ 
                "<i class='fas fa-car-side'></i>"+
              "</span>"
              +"<span class='availability-name'>Webportal</span>"+
            "</span>"+
            tagAddonV1+ 
            tagAddonV2+ 
          "</div>"+
      "</div>";
    return tagAddon;
  }
};


function taggifyWebapi(v2, v3, v4){ 
  if(!v2 && !v3 && !v4){
    return (
      "<div class='control'>"+
          "<div class='tags has-addons n-a'>"+
            "<span class='tag is-info'>" +
              "<span class='icon'>"+ 
                "<i class='fas fa-cloud'></i>"+
              "</span>"
              +"<span class='availability-name'>Web API</span>"+
            "</span>"+
            "<span class='tag data-item-available is-danger'><span>n/a</span></span>"+
          "</div>"+
      "</div>"
    )}
  else{
    var tagAddonV2 = "";
    var tagAddonV3 = "";
    var tagAddonV4 = "";
    if (v2) {
      tagAddonV2 = taggify("webapi", v2, "v2");
    }
    if (v3) {
      tagAddonV3 = taggify("webapi", v3, "v3");
    }
    if (v4) {
      tagAddonV4 = taggify("webapi", v4, "v4");
    }
    var tagAddon = 
      "<div class='control'>"+
          "<div class='tags has-addons available'>"+
            "<span class='tag is-info'>" +
              "<span class='icon'>"+ 
                "<i class='fas fa-cloud'></i>"+
              "</span>"
              +"<span class='availability-name'>Web API</span>"+
            "</span>"+
            tagAddonV2+ 
            tagAddonV3+ 
            tagAddonV4+ 
          "</div>"+
      "</div>";
    return tagAddon;
  }
};


function codify (text) {
  if (text.includes("`")) {
    var textEnum = text.replace(/(`\w+`)/g, function(match) {
      return "<code class='highlighter-rouge'> '" + match.slice(1, -1) + "'</code>"
    })
    return "<code class='highlighter-rouge'><span style='font-weight:500'>Unit/Value:</span> [</code>"+ textEnum + "<code class='highlighter-rouge'>]</code>";
  }
  else {
    return "<code class='highlighter-rouge'><span style='font-weight:500'>Unit/Value:</span> "+ text +"</code>"
  }  
}



var currentRow;
var highlightRow = function(e, row){
  var rowElement = row.getElement();
  if (rowElement == currentRow) {
    currentRow.classList.remove("data-item-highlighted");
    currentRow = null;
  }
  else {
    if (currentRow) {
      currentRow.classList.remove("data-item-highlighted");
    }
    currentRow = rowElement;
    currentRow.classList.add("data-item-highlighted");
  }
}

var table = new Tabulator("#data-catalog", {
	data:dataCatalog,           //load row data from array
	movableColumns:false,      //allow column order to be changed
	resizableRows:false,       //allow row order to be changed
  resizableColumns:false,       //allow row order to be changed
  selectable:false,
  layout:"fitColumns",
  headerSort: false,
  rowClick: highlightRow,
  columns:
    [
      {% unless page.subsection == "api-data" %}
      {title:"Domain", field:"domain", cssClass:"column-title", headerFilter:"select", headerFilterParams:{values: { "alert":"Alert", "collision":"Collision", "location" : "Location" , "maitenance" : "Maintenance" , "monitor": "Monitor" , "picture": "Picture", "remote":"Remote", "telemetrie":"Telemetrie", "trip": "Trip" , "vehicle_info": "Vehicle Info" , "HMI":"HMI"}}, headerFilterPlaceholder:"Domain"},
      {% endunless %}
      {title:"Type", field:"type", cssClass:"column-title",editor:"input", headerFilter:"select", headerFilterParams:{values: true}, headerFilterPlaceholder:"Type"},
    ],
    rowFormatter:function(row){
        var element = row.getElement(),
        data = row.getData(),
        cellContents,
        itemCategorieLogo = domain_categories[data.domain],
        elementWebportal = taggifyWebportal(data.webportal_v1, data.webportal_v2),
        elementWebapi = taggifyWebapi(data.webapi_b2b_v2, data.webapi_b2b_v3, data.webapi_b2c_v4),
        elementType = taggify(false, false, data.type),
        elementUnitValue = codify(data.unit_or_value),
        elementWebapi_v2,
        elementWebapi_v3,
        elementWebapi_v4,
        elementWeportal_v1,
        elementWeportal_v2;

        //clear current row data
        while(element.firstChild) element.removeChild(element.firstChild);

        // create new row data
        cellContents = 
          
          "<div class='data-item-category'>"+
            "<span title='API Domain: "+ data.domain.replace("_", " ") +"' class='icon is-large'>"+
              "<i class='fa "+ itemCategorieLogo +"'></i>"+
            "</span>"+
            "<span class='data-item-domain-name'>" + data.domain.replace("vehicle_info", "Vechicle<br>Info") + "</span>"+
          "</div>"+

          "<div class='data-item-content'>"+

            "<div class='data-item-info'>"+
              "<div class='data-item-title'>" + data.name + "</div>"+
              "<div class='data-item-description'>"+ data.description +"</div>"+
            "</div>"+
            "<div  class='data-item-technical'>"+
              "<div class='data-item-type'>"+
                "<span>" + elementType + "</span>"+
              "</div>"+
              "<div class='data-item-unit_value'>"+
                "<span>" + elementUnitValue + "</span>"+
              "</div>"+
            "</div>"+
            "<nav class='data-item-availability'>"+
              "<div class='data-item-links'>"+
                "<div class='field is-grouped is-grouped-multiline'>" +
                  elementWebportal+
                  elementWebapi +
                "</div>"+
              "</div>"+
            "</nav>"+
            "</div>"+
            "<div class='data-item-expand-arrow'>"+
              "<span class='icon is-medium'>"+
                "<i class='fa fa-2x fa-angle-right'></i>"+
              "</span>"+
            "</div>";

        var dataItemElement = document.createElement("div");
        dataItemElement.classList.add("data-item");
        dataItemElement.innerHTML = cellContents ;

        element.append(dataItemElement);
    },
});

{% if page.subsection == "api-data" %}
table.setFilter("domain", "like", "{{page.search-catalog-keyword}}")
{% endif %}



function handleCheckboxAPI(api) {
  if (!api.checked) {
    table.addFilter(api.value, "=", "");
  }
  if (api.checked) {
    table.removeFilter(api.value, "=", "");
  }
}

function handleFilterDropdown(dropdown) {
  if (dropdown.classList.contains("table-header-filter-displayed")) {
    document.querySelector("#data-catalog.tabulator .tabulator-header").style.height = "0";
    dropdown.classList.remove("table-header-filter-displayed");
    
  }
  else  {
    document.querySelector("#data-catalog.tabulator .tabulator-header").style.height = "auto";
    dropdown.classList.add("table-header-filter-displayed");
  }
}

function resetTabulatorFilter() {
  document.querySelectorAll(".table-header-version input").forEach(e => {
    e.checked = true;
  });

  document.querySelector("#data-header-search-area").value = null;
  table.clearFilter(true);
}

</script>