<nav id="navbar" class="navbar is-hidden-touch is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{site.baseurl}}/">
              <img alt="site-logo" src="{{site.baseurl}}/assets/images/logo-PG4D.png"  >
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-start">
            {% for section in site.data.sections %}
                <div id="{{section.tag}}-section">
                    <a class="navbar-item {% if page.section == {{section.tag}} %}is-active{% endif %}" onclick="sectionClick(document.querySelector('#{{section.tag}}-section'), document.querySelector('#{{section.tag}}-submenu'))">
                      {% if section.tag != "ios" %}
                        {{section.name | upcase}}
                      {% else %}
                        {{ section.name }}
                      {% endif %}
                        <span class="icon is-white is-small">
                            <i id="{{section.tag}}-arrow-right" class="fas fa-angle-right"></i>
                            <i id="{{section.tag}}-arrow-down" class="fas fa-angle-down" style="display: none"></i>
                        </span>
                    </a>
                </div>
            {% endfor %}
          </div>

    {% for section in site.data.sections %}
        <div id="{{section.tag}}-submenu" class="submenu {% if page.section == {{section.tag}} %}is-default{% endif %}" style="display:none">
          {% for p in site.pages %}
                {% if p.section == {{section.tag}} %}
                    <a href="{{ p.url | relative_url }}#pageTitle" class="{% if p.title == page.title and p.section == page.section %}is-active{% endif %}">{{p.title|upcase}}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</nav>
<script>

let navbar = document.querySelector(".navbar.is-fixed-top .navbar-start");
let currentSectionA = document.querySelector(".navbar.is-fixed-top .navbar-start .is-active");
let currentSectionDiv = currentSectionA.parentElement;
let currentArrowRight = currentSectionA.firstElementChild.children[0];
let currentArrowDown = currentSectionA.firstElementChild.children[1];
let currentSubMenu = document.querySelector(".navbar.is-fixed-top .submenu.is-default");

currentSectionA.style.color = 'whitesmoke';
currentArrowRight.style.display = 'none';
currentArrowDown.style.display = 'block';
currentSubMenu.style.display = 'block';


function sectionClick(newSectionDiv, newSubMenu){
        //re-style previous current section & menu
        currentSubMenu.style.display = 'none';
        navbar.style.color = 'grey';
        currentSectionA.style.color = 'grey';
        currentArrowDown.style.display = 'none';
        currentArrowRight.style.display = 'block';

    if (newSectionDiv != currentSectionDiv) {

        //reasign current section & menu
        currentSectionDiv = newSectionDiv;
        currentSectionA = currentSectionDiv.firstElementChild;
        currentArrowRight = currentSectionA.firstElementChild.children[0];
        currentArrowDown = currentSectionA.firstElementChild.children[1];
        currentSubMenu = newSubMenu;

        //re-style new current section & menu
        currentSubMenu.style.display = 'block';
        currentSectionA.style.color = 'whitesmoke';
        currentArrowDown.style.display = 'block';
        currentArrowRight.style.display = 'none';
    }
    else {
        currentSectionDiv = undefined;
    }
}

// Display navbar is-fixed-top navbar
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 96 || document.documentElement.scrollTop > 96) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-108px";
  }
} 

</script>