<footer class="bd-footer-support footer">

    <div class="level container">
        <div class="level-left">
            <div class="level-item" id="typo">
                <div>
                    <p>© Groupe PSA 2019</p>
                </div>
            </div>
        </div>
        <div class="level-center">
            <div class="level-item" id="typo">
                <div>
                    <p>We love answering questions! <a href="mailto:connectedcar@mpsa.com">Contact #PG4D team</a></p>
                </div>
            </div>
        </div>
        <div class="level-right">
            <a class="level-item" href="https://twitter.com/groupePSA" target="_blank">
                <span class="icon is-large is-white">
                    <i class="fab fa-2x fa-twitter"></i>
                </span>
            </a>
            <a class="level-item" href="https://www.linkedin.com/company/groupepsa?trk=top_nav_home" target="_blank">
                <span class="icon is-large  is-white">
                    <i class="fab fa-2x fa-linkedin "></i>
                </span>
            </a>
            <a class="level-item" href="https://www.facebook.com/groupepsa/" target="_blank">
                <span class="icon is-large  is-white">
                    <i class="fab fa-2x fa-facebook "></i>
                </span>
            </a>
            <a class="level-item" href="https://www.youtube.com/user/PSAPEUGEOTCITROEN?feature=mhee" target="_blank">
                <span class="icon is-large  is-white">
                    <i class="fab fa-2x fa-youtube  is-white"></i>
                </span>
            </a>
            <a class="level-item" href="https://github.com/GroupePSA" target="_blank">
                <span class="icon is-large  is-white">
                    <i class="fab fa-2x fa-github  is-white"></i>
                </span>
            </a>
        </div>
    </div>
</footer>