{% if  page.section == "home" %}
    <section class="hero is-dark is-fullheight hero_main">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% include navigation.html %}
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title" id="section-title">Build</h1>
                <h1 class="title" id="section-title">The future</h1>
                <h1 class="title" id="section-title">Of</h1>
                <h1 class="title" id="section-title">Connected Cars
                </h1>
            </div>
        </div>
    </section>
{% elsif page.section == "webportal" %}
    <section class="hero is-dark is-medium hero_webportal">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% include navigation.html %}
            {% include fixed-navbar.html %}
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title" id="section-title">Webportal</h1>
                <h2 class="title">emmbedded apps</h2>
            </div>
        </div>
    </section>
{% elsif  page.section == "mobile" %}
    <section class="hero is-dark is-medium hero_ios">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% include navigation.html %}
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title" id="section-title">Mobile SDK</h1>
                <h2 class="title">iOS or Android</h2>
            </div>
        </div>
    </section>
{% elsif  page.section == "android" %}
    <section class="hero is-dark is-medium hero_android">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% include navigation.html %}
            {% include fixed-navbar.html %}
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title" id="section-title">Mobile SDK</h1>
                <h2 class="title">for android</h2>
            </div>
        </div>
    </section>
{% elsif  page.section == "ios" %}
    <section class="hero is-dark is-medium hero_ios">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% include navigation.html %}
            {% include fixed-navbar.html %}
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title" id="section-title">Mobile SDK</h1>
                <h2 class="title">for iOS</h2>
            </div>
        </div>
    </section>
{% elsif page.section == "webapi" %}
    <section class="hero is-dark is-medium hero_api">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% include navigation.html %}
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title" id="section-title">WEB API</h1>
                <h2 class="title">fleet-owner or end-user</h2>
            </div>
        </div>
    </section>
{% elsif  page.section == "webapib2b" or page.section ==  "b2b" %}
    <section class="hero is-dark is-medium hero_api">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% include navigation.html %}
            {% if page.section == "webapib2b" %}
                {% include fixed-navbar.html %}
            {% endif %}
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title" id="section-title">WEB API</h1>
                <h2 class="title">for fleet owner</h2>
            </div>
        </div>
    </section>
{% elsif  page.section == "webapib2c" or page.section ==  "b2c" %}
    <section class="hero is-dark is-medium hero_api">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% if page.section == "webapib2c" %}
                {% include fixed-navbar.html %}
            {% endif %}
            {% include navigation.html %}
            </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title" id="section-title">WEB API</h1>
                <h2 class="title">
                    for end-users</h2>
            </div>
        </div>
    </section>
{% else %}
    <section class="hero is-dark is-medium hero_api">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% include navigation.html %}
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Build the future</h1>
                <h1 class="title">of Connected Cars
                </h1>
            </div>
        </div>
    </section>
{% endif %}