{% if page.section == "webapi" %}
    {% if page.subsection == "b2b" %}
        {% assign hero_classes = "is-medium hero_api" %}
        {% capture hero_content %}
        <h1 class="title section-title">WEB API</h1>
        <h2 class="title">for fleet owner</h2>
        {% endcapture %}
    {% elsif page.subsection == "b2c" %}
        {% assign hero_classes = "is-medium hero_api" %}
        {% capture hero_content %}
        <h1 class="title section-title">WEB API</h1>
        <h2 class="title">for end-users</h2>
        {% endcapture %}
    {% else %}
        {% assign hero_classes = "is-medium hero_api" %}
        {% capture hero_content %}
        <h1 class="title section-title">WEB API</h1>
        <h2 class="title">fleet-owner or end-user</h2>
        {% endcapture %}
    {% endif %}
{% elsif page.section == "webportal" %}
    {% if page.subsection == "v1" %}
        {% assign hero_classes = "is-medium hero_webportal" %}
        {% capture hero_content %}
        <h1 class="title section-title section-title">Webportal v1</h1>
        <h2 class="title">embedded apps</h2>
        {% endcapture %}
    {% elsif page.subsection == "v2" %}
        {% assign hero_classes = "is-medium hero_webportal" %}
        {% capture hero_content %}
        <h1 class="title section-title section-title">Webportal v2</h1>
        <h2 class="title">embedded apps</h2>
        {% endcapture %}
    {% else %}
        {% assign hero_classes = "is-medium hero_webportal" %}
        {% capture hero_content %}
        <h1 class="title section-title section-title">Webportal</h1>
        <h2 class="title">embedded apps</h2>
        {% endcapture %}
    {% endif %}
{% elsif page.section == "mobile-sdk" %}
    {% if page.subsection == "ios" %}
        {% assign hero_classes = "is-medium hero_ios" %}
        {% capture hero_content %}
        <h1 class="title section-title">Mobile SDK</h1>
        <h2 class="title">for iOS</h2>
        {% endcapture %}
    {% elsif page.subsection == "android" %}
        {% assign hero_classes = "is-medium hero_android" %}
        {% capture hero_content %}
        <h1 class="title section-title">Mobile SDK</h1>
        <h2 class="title">for android</h2>
        {% endcapture %}
    {% else %}
        {% assign hero_classes = "is-medium hero_ios" %}
        {% capture hero_content %}
        <h1 class="title section-title">Mobile SDK</h1>
        <h2 class="title">iOS or Android</h2>
        {% endcapture %}
    {% endif %}
{% elsif page.section == "other" %}
    {% assign hero_classes = "is-medium hero_api" %}
    {% capture hero_content %}
        <h1 class="title section-title">{{page.title}}</h1>
    {% endcapture %}
{% elsif page.title == "404" %}
    {% assign hero_classes = "is-fullheight hero_404" %}
    {% capture hero_content %}
    <div class="container">
        <div class="columns">
        <div class="column">
            <h1 class="title section-title">404</h1>
            <h1 class="title section-title">Page not</h1>
            <h1 class="title section-title">Found</h1>
        </div>
        <div class="column" style="display: flex; flex-direction: column; justify-content: space-evenly;">
            <p class="hero-para is-size-4" style="text-shadow: 2px 2px 4px #000000">It seems that we are unable to find this page. <br> We apologise for the inconvenience.
            </p>
            <a href="{{site.baseurl}}/" class="button is-psablue is-medium">
                <span>
                    BACK TO HOMEPAGE
                </span>                
            </a>
        </div>
        </div>
    </div>
    {% endcapture %}
{% elsif page.permalink == "/"  %}
    {% assign hero_classes = "is-fullheight hero_main home-page"%}
    {% capture hero_content %}
        <div class="landing-title">
            <h1 id="typed-header-1" class="title section-title"></h1>
            <h1 class="title section-title">&nbsp;</h1>
        </div>
        <div class="landing-title">
            <h1 id="typed-header-2" class="title section-title"></h1>
            <h1 class="title section-title">&nbsp;</h1>
        </div>
        <div class="landing-title">
            <h1 id="typed-header-3" class="title section-title"></h1>
            <h1 class="title section-title">&nbsp;</h1>
        </div>
        <div class="landing-title">
            <h1 id="typed-header-4" class="title section-title"></h1>
            <h1 class="title section-title">&nbsp;</h1>
        </div>
    {% endcapture %}
{% else %}
    {% assign hero_classes = "no-header-body" %}
{% endif %}
<section class="hero hero-header {{hero_classes}}">
    <div class="hero-head">
        {% include navigation.html %}
    </div>
    {% unless hero_classes=="no-header-body" %}
    <div class="hero-body">
        <div class="container">
        {{hero_content}}
        </div>
    </div>
    {% endunless %}
</section>
