<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
              <a class="modal-card-title" target="_blank">
                <span class="modal-card-title-name"></span>
                <span class="icon">
                  <i class="fas fa-external-link-square-alt"></i>
                </span>
              </a>
              <span aria-label="close" class="icon modal-close-btn">
                  <i class="far fa-lg fa-times-circle"></i>
                </span>
            </header>
            <section class="modal-card-body">
              <div class="modal-icon icon" >
                <i></i>
              </div>
              <div class="modal-paragraph" >
                <div class="modal-text">
                </div>
              </div>
              <div class="modal-data-list">
              </div>
            </section>
        </div>
    </div>
  </div>