<nav aria-label="main navigation" class="navbar is-dark container" id="navbarpsa" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{site.baseurl}}/">
            <img id="logoPG4D" src="{{site.baseurl}}/assets/images/logo-PG4D.png">
      </a>
      <a aria-expanded="false" aria-label="menu" class="navbar-burger" data-target="navMenu" role="button">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
      </a>
  </div>
<div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
        <!-- WEB API -->
        <div class="navbar-item menu has-dropdown is-hoverable">
            <a class="textnavbar navbar-link" href="{{site.baseurl}}/webapi/">
                <span class="icon is-large  is-white">
                    <i class="fas fa-cloud"></i>
                </span>WEB API
            </a>
            <div class="navbar-dropdown" id="dropdownAPI">
                <a class="navbar-item" href="{{site.baseurl}}/webapi/b2b/">
                    Fleet Owner
                </a>
                <a class="navbar-item" href="{{site.baseurl}}/webapi/b2c/">
                    End-users
                </a>
            </div>
        </div>
        <!-- WEBPORTAL -->
        <a class="textnavbar navbar-item menu" href="{{ site.baseurl }}/webportal/">
            <span class="icon is-large  is-white">
                <i class="fas fa-car-side"></i>
            </span>
            EMBEDDED WEBPORTAL
        </a>
        <!-- MOBILE -->
        <a class="textnavbar navbar-item menu" href="{{ site.baseurl }}/mobile-sdk/">
            <span class="icon is-large  is-white">
                    <i class="fas fa-mobile"></i>
            </span>
            MOBILE SDK
        </a>
        <!-- SEARCH -->
      </div>

        <div class="navbar-end" style="color: darkgrey; text-shadow: none">

                <div class="textnavbar navbar-item menu" href="{{ site.baseurl }}/webportal/" style="text-shadow: none">
 
                    {% include search-lunr.html %}
              </div>
 
            </div>
 
        </div>
</nav>