<nav aria-label="main navigation" class="navbar {% unless page.permalink == "/" or page.name == "404.md" %}is-fixed-top{% endunless %}" id="navbarpsa" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{site.baseurl}}/">
            <img alt="site-logo" id="logoPG4D" src="{{site.baseurl}}/assets/images/logo-pg4d.png">
        </a>
        <a aria-expanded="false" aria-label="menu" class="navbar-burger" data-target="navMenu" role="button">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            {% for section in site.data.sections %}
                <div class="navbar-item menu has-dropdown is-hoverable">
                    <a class="textnavbar navbar-link {% if page.permalink contains section.tag %}is-active{% endif %}" href="{{site.baseurl | append: section.path }}">
                        <span class="icon is-large is-white">
                            <i class="{{section.icon}}"></i>
                        </span>
                        <span class="section-name">
                            {{ section.name | replace: " ", "&nbsp;<br class='is-hidden-touch'>" }}
                        </span>
                    </a>
                    <div class="navbar-dropdown" id="dropdownAPI">
                        {% for subsection in section.subsections %}
                            {% if subsection.tag %}
                            <p href="{{site.baseurl}}{{section.path}}{{subsection.path}}#article" class="navbar-item dropdown-title {% if subsection.tag == page.subsection %}is-default is-active{% endif %}" id="{{subsection.tag}}" onclick="navClick(document.getElementById('{{subsection.tag}}'), '{{subsection.tag}}');">
                                <span>
                                    {% if subsection.tag == "ios" %}iOS{% else %}{{subsection.name | upcase}}{% endif %}
                                </span>
                                <span>
                                    <svg class="arrow {% if subsection.tag == page.subsection %}arrow-down{% else %}arrow-right{% endif %}" version="1.1" viewBox="0 0 24 24" x="0" xmlns="http://www.w3.org/2000/svg" y="0" aria-hidden="true"><polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
                                    </svg>
                                </span>
                            </p>
                            {% endif %}
                            {% for categorie in subsection.categories %}
                                {% if subsection.tag %}
                                        {% if categorie.name %}
                                            {% assign page_link = section.path | append: subsection.path | append: categorie.path %}
                                            <a id="{{subsection.tag}}" class="{% if page.subsection == subsection.tag %} is-default-subsection {% endif %} navbar-item {% if page.permalink contains page_link %}is-active{% endif %}" href="{{ site.baseurl | append: section.path | append: subsection.path | append: categorie.path | append: categorie.pages[0].path}}#article">
                                                {{categorie.name }}
                                            </a>
                                        {% else %}
                                            {% for p in categorie.pages %}
                                                {% assign page_link = section.path | append: subsection.path | append: categorie.path | append: p.path %}
                                                <a id="{{subsection.tag}}" class="{% if page.subsection == subsection.tag %} is-default-subsection {% endif %} navbar-item {% if page.permalink contains page_link %}is-active{% endif %}" href="{{ site.baseurl | append: section.path | append: subsection.path | append: categorie.path | append: p.path}}#article">
                                                    {{p.name }}
                                                </a>
                                            {% endfor %}
                                        {% endif %}
                                {% else %}
                                    {% for p in categorie.pages %}
                                        {% assign page_link = section.path | append: subsection.path | append: categorie.path | append: p.path %}
                                        <a id="{{subsection.tag}}" class="{% if page.subsection == subsection.tag %} is-default-subsection {% endif %} navbar-item {% if page.permalink contains page_link %}is-active{% endif %}" href="{{ site.baseurl | append: section.path | append: subsection.path | append: categorie.path | append: p.path}}#article">
                                            {{p.name}}
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                                {% if forloop.last == false %}
                                    <hr class="navbar-divider">
                                {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- SEARCH -->
        <div class="navbar-end">
            <div class="textnavbar navbar-item menu">
                {% include search-lunr.html %}
            </div>
        </div>
    </div>
</nav>
<style>
.navbar-item .textnavbar.navbar-link[href='/mobile-sdk/']~#dropdownAPI{
    display:none
}
</style>
<script>

// MENU FIX
{% if page.permalink == "/" %}
document.querySelector("#navbarpsa .navbar-menu .navbar-start .navbar-item:first-child > a").classList.add("is-active");
{% endif %}

var mq = window.matchMedia( "(max-width: 1088px)" );

var currentNavMenu = document.querySelector("#navbarpsa #dropdownAPI  > .dropdown-title.is-default.is-active");

var currentNavSubMenu = document.querySelectorAll("#navbarpsa #dropdownAPI  > .navbar-item.is-default-subsection");

function navClick (clickedNavMenu, id) {
    if (mq.matches) {
        if (currentNavMenu == clickedNavMenu) {
            currentNavMenu.classList.remove("is-active");
            currentNavMenu.querySelector("svg").classList.replace("arrow-down", "arrow-right");
            currentNavSubMenu.forEach(element => {
                element.style.display = "none";
            });
            currentNavSubMenu = null;
            currentNavMenu = null;
        }
        else {
            if (currentNavMenu){
                currentNavMenu.querySelector("svg").classList.replace("arrow-down", "arrow-right");
                currentNavMenu.classList.remove("is-active");
                currentNavSubMenu.forEach(element => {
                    element.style.display = "none";
                });
            }
            clickedNavMenu.querySelector("svg").classList.replace("arrow-right", "arrow-down");
            clickedNavMenu.classList.add("is-active");
            currentNavSubMenu = document.querySelectorAll("#navbarpsa #dropdownAPI  > .navbar-item#"+id+":not(.dropdown-title)");
            currentNavSubMenu.forEach(element => {
                element.style.display = "block";
            });
            currentNavMenu = clickedNavMenu;
        }
    }
}

// Display navbar is-fixed-top navbar
if (mq.matches) {
    document.getElementById("navbarpsa").classList.add("bluenavbar");
}
else {
    {% unless page.permalink == "/" or page.name == "404.md" %}
    window.onscroll = function() {scrollFunction()};
    {% endunless %}

        function scrollFunction() {
        if (document.body.scrollTop > 96 || document.documentElement.scrollTop > 96) {
        document.getElementById("navbarpsa").classList.add("bluenavbar");
        } else {
        document.getElementById("navbarpsa").classList.remove("bluenavbar");
        }
    } 
}
</script>
