{%- comment -%}  DOMAIN or API ? {%- endcomment -%}
{% if api.type == "domain" %}
{%- comment -%} DOMAIN or API ?: DOMAIN {%- endcomment -%}

    {%- comment -%} TABLE HEADER {%- endcomment -%}
    <div class="api api-title">
        <div class="api-header">
            <div class="api-name" id="domain-{{ api.name | replace: '.', '-' | remove: '()'}}">
            {% if api.name contains "demo" %}
                Example
            {% else %}
                {{api.name}}
            {% endif %}
            </div>
        <div class="api-available">
            <div class="api-privacy">
                <span>Requirement</span>
            </div>
            <div class="api-types">
                <div class="api-type ">
                <span> Get </span>
                </div>|
                <div class="api-type ">
                <span> Set </span>
                </div>|
                <div class="api-type ">
                <span> Susbscribe </span>
                </div>
            </div>
        </div>
        </div>
    </div>
    {%- comment -%} END TABLE HEADER {%- endcomment -%}

{%- comment -%} END DOMAIN {%- endcomment -%}
{% elsif api.name %}
{%- comment -%} DOMAIN or API ? : API {%- endcomment -%}
<div class="api">
{%- comment -%} API HEADER {%- endcomment -%}
    <div class="api-header">
        <div class="api-name" id="api-{{ api.name | replace: '.', '-' | remove: '()'}}">
            {{api.name}}
        </div>
        <div class="api-available">

            {% if include.sdkName == "webportal_v2" %}

            <a class="api-privacy" href="{{site.baseurl}}/webportal/v2/overview/privacy/#article">
                {% if api.privacy == "Full Private" %}
                <span class="privacy-name">
                <span>Required:</span>
                </span>
                <span class="icon is-white">
                <i class="fas fa-long-arrow-alt-down"></i>
                <i class="fas fa-long-arrow-alt-up"></i>
                </span>
                <span class="privacy-name">
                Data &
                </span>
                <span class="icon is-white">
                <i class="fas fa-map-marker-alt"></i>
                </span>
                <span class="privacy-name">
                Location
                </span>
                {% elsif api.privacy == "Geolocation Private" %}
                <span class="privacy-name">
                <span>Required:</span>
                </span>
                <span class="icon is-white">
                <i class="fas fa-map-marker-alt"></i>
                </span>
                <span class="privacy-name">
                Location
                </span>
                {% elsif api.privacy == "Public" %}
                <span class="privacy-name">
                <span>Required:</span>
                </span>
                <span class="privacy-name">
                    &nbsp;Always available
                </span>
                {% endif %}
            </a>
            
            {% elsif include.sdkName == "mobile-sdk" %}
            <a class="api-privacy" href="{{site.baseurl}}/mobile-sdk/overview/enrollement/#article">
                <span class="privacy-name">
                    <span>Required:</span>
                </span>
                <span class="privacy-name">
                {% for component in api.components %}
                    {% if forloop.first %}&nbsp;{% endif %}
                    {{component}}{% if forloop.last %}.{% else %}, {% endif %}
                {% endfor %}
                </span>
            </a>

            
            {% endif %}

            <div class="api-types">

            {% if api.type contains "get"  %}
                <div class="api-type api-verb-get" id="type-get-{{api.name | replace: '.', '-'|  downcase}}" onclick='dropdownApiContent("get-{{api.name | replace: '.', '-' |  downcase}}", "type-get-{{api.name | replace: '.', '-' |  downcase }}")'>
                    <span>Get</span>
                    <span class="icon arrow">
                    <i class="fas fa-angle-right"></i>
                </span>
                </div>
            {% else  %}
                <div class="api-type api-verb-unavailable">
                <span> Get </span>
                </div>
            {% endif %}

            {% if api.type contains "set"  %}
                <div class="api-type api-verb-set" id="type-set-{{api.name | replace: '.', '-'|  downcase}}" onclick='dropdownApiContent("set-{{api.name | replace: '.', '-' |  downcase}}", "type-set-{{api.name | replace: '.', '-'|  downcase}}")'>
                    <span>Set</span>
                    <span class="icon arrow">
                    <i class="fas fa-angle-right"></i>
                </span>
                </div>
            {% else  %}
                <div class="api-type api-verb-unavailable">
                <span> Set </span>
                </div>
            {% endif %}

            {% if api.type contains "subscribe"  %}
                <div class="api-type api-verb-subscribe" id="type-subscribe-{{api.name | replace: '.', '-'|  downcase}}" onclick='dropdownApiContent("subscribe-{{api.name | replace: '.', '-' |  downcase}}", "type-subscribe-{{api.name | replace: '.', '-'|  downcase}}")'>
                    <span>Subscribe</span>
                    <span class="icon arrow">
                    <i class="fas fa-angle-right"></i>
                </span>
                </div>
            {% else  %}
                <div class="api-type api-verb-unavailable">
                <span> Subscribe </span>
                </div>
            {% endif %}
            
            </div>

        </div>
    </div>
    {%- comment -%} END API HEADER {%- endcomment -%}

    {%- comment -%} API CONTENT(s) {%- endcomment -%}
    {% for t in api.type %}
    <div class="dropdown-api dropdown-api-{{t | downcase }}" id="{{t}}-{{api.name| replace: '.', '-'|  downcase}}">
    <div class="api-content">

        {%- comment -%} API CONTENT HEADER {%- endcomment -%}
        <div class="api-content-header">
            <a 
                class="api-content-name"
                href="#api-{{ api.name | replace: '.', '-' | remove: '()'}}{% if api.subname %}-{{api.subname | slugify}}{% endif %}"
            >
                <div 
                    class="api-content-tag"
                >
                    {{t|upcase}}
                </div>
                {{api.name }}{% if api.subname %}<em> - {{api.subname}}</em>{% endif %}
            </a>
            <div>
                <a href="{{site.gitHubURL}}{{api.path}}" class=" edit-page icon-button" target="_blank" title="Edit this page on GitHub">
                        <span class="icon">
                            <i class="far fa-edit"></i> 
                        </span>
                        <span class="edit-page-text">
                            Edit
                        </span>
                </a>
            </div>
        </div>
        {%- comment -%} END API CONTENT HEADER {%- endcomment -%}

        {%- comment -%} API DESCRIPTION {%- endcomment -%}
        <div class="api-short">{{api.short | markdownify}}</div>
        {% if t contains "get" %}
        {% if api.textget %}
            <div class="api-short">{{api.textget | markdownify}}</div>
        {% endif %}
        {% elsif t contains "set" %}
        {% if api.textset %}
            <div class="api-short">{{api.textset | markdownify}}</div>
        {% endif %}
        {% elsif t contains "subscribe" %}
        {% if api.textsubscribe %}
            <div class="api-short">{{api.textsubscribe | markdownify}}</div>
        {% endif %}
        {% endif %}
        <div class="api-short">{{api.content}}</div>
        {%- comment -%} END API DESCRIPTION {%- endcomment -%}
        
        {%- comment -%} ------ ASSIGN DATAs & PARAMs ------ {%- endcomment -%}
        {%- comment -%} GET {%- endcomment -%}
        {% if t contains "get" %}
            {%- comment -%} DATAGET {%- endcomment -%}
            {% if api.dataget %}
            {% assign datas = api.dataget %}
            {% elsif api.data %}
            {% assign datas = api.data %}
            {% else %}
            {% assign datas = null %}
            {% endif %}
            {%- comment -%} PARAMSGET {%- endcomment -%}
            {% if api.paramsget %}
            {% assign params = api.paramsget %}
            {% elsif api.params %}
            {% assign params = api.params %}
            {% else %}
            {% assign params = null %}
            {% endif %}
            {%- comment -%} ERRORGET {%- endcomment -%}
            {% if api.errorget %}
            {% assign errors = api.errorget %}
            {% elsif api.error %}
            {% assign errors = api.error %}
            {% else %}
            {% assign errors = null %}
            {% endif %}
            {%- comment -%} PARAMSGET_EXAMPLE {%- endcomment -%}
            {% if api.paramsget_example %}
            {% assign params_example = api.paramsget_example %}
            {% elsif api.params_example %}
            {% assign params_example = api.params_example %}
            {% else %}
            {% assign params_example = null %}
            {% endif %}
            {%- comment -%} DATAGET_EXAMPLE {%- endcomment -%}
            {% if api.dataget_example %}
            {% assign data_example = api.dataget_example %}
            {% elsif api.data_example %}
            {% assign data_example = api.data_example %}
            {% else %}
            {% assign data_example = null %}
            {% endif %}
        {%- comment -%} SET {%- endcomment -%}
        {% elsif t contains "set" %}
            {%- comment -%} DATASET {%- endcomment -%}
            {% if api.dataset %}
            {% assign datas = api.dataset %}
            {% elsif api.data %}
            {% assign datas = api.data %}
            {% else %}
            {% assign datas = null %}
            {% endif %}
            {%- comment -%} PARAMSSET {%- endcomment -%}
            {% if api.paramsset %}
            {% assign params = api.paramsset %}
            {% elsif api.params %}
            {% assign params = api.params %}
            {% else %}
            {% assign params = null %}
            {% endif %}
            {%- comment -%} ERRORSET {%- endcomment -%}
            {% if api.errorset %}
            {% assign errors = api.errorset %}
            {% elsif api.error %}
            {% assign errors = api.error %}
            {% else %}
            {% assign errors = null %}
            {% endif %}
            {%- comment -%} PARAMSSET_EXAMPLE {%- endcomment -%}
            {% if api.paramsset_example %}
            {% assign params_example = api.paramsset_example %}
            {% elsif api.params_example %}
            {% assign params_example = api.params_example %}
            {% else %}
            {% assign params_example = null %}
            {% endif %}
            {%- comment -%} DATASET_EXAMPLE {%- endcomment -%}
            {% if api.dataset_example %}
            {% assign data_example = api.dataset_example %}
            {% elsif api.data_example %}
            {% assign data_example = api.data_example %}
            {% else %}
            {% assign data_example = null %}
            {% endif %}
        {%- comment -%} SUBSCRIBE {%- endcomment -%}
        {% elsif t contains "subscribe" %}
            {%- comment -%} DATASUB {%- endcomment -%}
            {% if api.datasubscribe %}
            {% assign datas = api.datasubscribe %}
            {% elsif api.data %}
            {% assign datas = api.data %}
            {% else %}
            {% assign datas = null %}
            {% endif %}
            {%- comment -%} PARAMSSUB {%- endcomment -%}
            {% if api.paramssubscribe %}
            {% assign params = api.paramssubscribe %}
            {% elsif api.params %}
            {% assign params = api.params %}
            {% else %}
            {% assign params = null %}
            {% endif %}
            {%- comment -%} ERRORSUBSCRIBE {%- endcomment -%}
            {% if api.errorsubscribe %}
            {% assign errors = api.errorsubscribe %}
            {% elsif api.error %}
            {% assign errors = api.error %}
            {% else %}
            {% assign errors = null %}
            {% endif %}
            {%- comment -%} PARAMSSUBSCRIBE_EXAMPLE {%- endcomment -%}
            {% if api.paramssubscribe_example %}
            {% assign params_example = api.paramssubscribe_example %}
            {% elsif api.params_example %}
            {% assign params_example = api.params_example %}
            {% else %}
            {% assign params_example = null %}
            {% endif %}
            {%- comment -%} DATASUBSCRIBE_EXAMPLE {%- endcomment -%}
            {% if api.datasubscribe_example %}
            {% assign data_example = api.datasubscribe_example %}
            {% elsif api.data_example %}
            {% assign data_example = api.data_example %}
            {% else %}
            {% assign data_example = null %}
            {% endif %}
        {% endif %}        
        {%- comment -%}  END ASSIGN DATAs   {%- endcomment -%}

        {%- comment -%}  API CONTENT TABLE   {%- endcomment -%}
        <div class="api-table">
        <table>

            {%- comment -%}  API CONTENT TABLE PARAMS  {%- endcomment -%}
            <thead>
                <tr><th colspan="6" class="api-table-header api-params">Input Parameter(s)</th></tr>
            {% if params == null or params == "none" %}
            </thead>
            <tbody>
                <tr>
                <td colspan="6">
                <em>No params</em>
                </td>
                </tr>
            {% else %}
            <tr class="api-col-title">
                <th>
                Param name
                </th>
                <th>
                Description
                </th>
                <th>
                Type
                </th>
                <th>
                Unit/Values
                </th>
                <th>
                Example
                </th>
                <th>
                Required
                </th>
            </tr>
            </thead>
            <tbody>
            {% for p in params %}
                {% include reference-list-table-row.html
                    rowType="param"
                    ref=p.ref
                    name=p.name
                    description=p.description
                    type=p.type
                    unit-value=p.unit-value
                    example=p.example 
                    required=p.required
                    fields=p.fields
                    sdkName=include.sdkName
                %}
            {% endfor %}
            {% endif %}
            </tbody>
            {%- comment -%}  END API CONTENT TABLE PARAMs  {%- endcomment -%}

            {%- comment -%}   API CONTENT TABLE DATAs  {%- endcomment -%}
            <thead>
                <tr><th colspan="6" class="api-table-header api-data">Output Data(s)</th></tr>
            {% if datas == null or datas == "none" %}
            </thead>
            <tbody>
            <tr>
                <td colspan="6">
                <em>No data</em>
                </td>
            </tr>
            {% else %}
            <tr class="api-col-title">
                <th>
                Data name
                </th>
                <th>
                Description
                </th>
                <th>
                Type
                </th>
                <th>
                Unit/Values
                </th>
                <th>
                Example
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for d in datas %}
                {% include reference-list-table-row.html
                    rowType="data"
                    ref=d.ref
                    name=d.name
                    description=d.description
                    type=d.type
                    unit-value=d.unit-value
                    example=d.example
                    fields=d.fields
                    sdkName=include.sdkName
                %}
            {% endfor %}

            {% endif %}
            </tbody>
            {%- comment -%}  END API CONTENT TABLE DATAs  {%- endcomment -%}
        </table>
    </div>
    {%- comment -%} END API CONTENT TABLE   {%- endcomment -%}

    {%- comment -%} TABLE ERROR (MOBILE-SDK) {%- endcomment -%}
    {% if include.sdkName == "mobile-sdk" %}
    <div class="api-table api-table-error">
        <table>
            <thead>
                <tr><th colspan="6" class="api-table-header api-data">Error(s)</th></tr>
                {%- if errors == null or errors == "none" -%}
            </thead>
            <tbody>
                <tr>
                    <td colspan="6">
                    <em>No errors</em>
                    </td>
                </tr>
                {%- else -%}
                <tr class="api-col-title">
                    <th>
                    Error Code
                    </th>
                    <th>
                    Error Label
                    </th>
                </tr>
            </thead>
            <tbody>
            {%- for errList in site.data.mobile-sdk-errors -%}
            {%- for errApi in errors -%}
            {%- if errList.code == errApi.code -%}
            <tr>
                <td><strong>{{errList.code}}</strong></td>
                <td>{{errList.label | markdownify}}</td>
            </tr>
            {%- endif -%}
            {%- endfor -%}
            {%- endfor -%}
            {%- endif -%}
            </tbody>
            {%- comment -%} END TABLE ERROR (MOBILE-SDK) {%- endcomment -%}
        </table>
    </div>
    {% endif %}
{%- comment -%}  END API CONTENT TABLE   {%- endcomment -%}

{%- comment -%}  API CONTENT CODE EXAMPLE   {%- endcomment -%}
{%- comment -%}  **WARNING:** CODE EXAMPLE should not be indented to avoid issues w/ markdown {%- endcomment -%}

{% if include.sdkName == "webportal_v2" %}
{% capture request_example %}
```js
// -------- REQUEST --------
{
  "id": "7372c16f-5f2f-42c9-84a7-5490e35f1be0", 
  "type": "{{t | upcase}}", 
  "api": "{{api.name}}",
  "params": {% if params == "none" or params == null %} null{% else %}{% if params_example %} {{params_example}} {% else %}{% for p in params %}{% if forloop.length == 1 %}{% if p.type == "int" or p.type == "number" or p.type == "boolean" %}{{p.example}}{% else %}"{{p.example}}"{% endif %}{% else %}{% if forloop.first %} { {% endif %}
    "{{p.name}}": {% if p.type == "int" or p.type == "number" or p.type == "boolean" %}{{p.example}}{% else %}"{{p.example}}"{% endif %}{% if forloop.last == false %},{% else %}
  }{% endif %}{% endif %}{% endfor %}{% endif %}{% endif %}
}
```
{% endcapture %}

{% capture response_example %}
```js
{% if t contains "subscribe" %}
// --------- REPLY ---------
// (subscribe acknowledgement)
{
  "id": "7372c16f-5f2f-42c9-84a7-5490e35f1be0",
  "type": "REPLY",
  "status": 200,
  "statusText": "OK"
}
{% else %}
// -------- RESPONSE --------
{
  "id": "7372c16f-5f2f-42c9-84a7-5490e35f1be0",
  "type": "{% if t contains "subscribe" %}NOTIFY{% else %}REPLY{% endif %}",
  "api": "{{api.name}}",
  "status": 200,
  "statusText": "OK"{%- if datas == "none" or datas == null -%}{% else %}, 
  {% if data_example %}"data": {{data_example}} {% else %}"data": {% for d in datas %}{% if forloop.length == 1 %}{% if d.type == "int" or d.type == "number" or d.type == "boolean" %}{{d.example}}{% else %}"{{d.example}}"{% endif %}{% else %}{% if forloop.first %} { {% endif %}
    "{{d.name}}": {% if d.type == "int" or d.type == "number" or d.type == "boolean" %}{{d.example}}{% else %}"{{d.example}}"{% endif %}{% unless forloop.last %},{% else %}
  } {% endunless %}{% endif %}{% endfor %}{%- endif -%}{% endif %}
}{% endif %}
```
{% endcapture %}

{% if t contains "subscribe" %} 
{% capture notification_example %}
```js
// -------- NOTIFICATION --------
{
  "id": "7372c16f-5f2f-42c9-84a7-5490e35f1be0",
  "type": "{% if t contains "subscribe" %}NOTIFY{% else %}REPLY{% endif %}",
  "api": "{{api.name}}",
  "status": 200,
  "statusText": "OK"{%- if datas == "none" or datas == null -%}{% else %}, 
  {% if data_example %}"data": {{data_example}} {% else %}"data": {% for d in datas %}{% if forloop.length == 1 %}{% if d.type == "int" or d.type == "number" or d.type == "boolean" %}{{d.example}}{% else %}"{{d.example}}"{% endif %}{% else %}{% if forloop.first %} { {% endif %}
    "{{d.name}}": {% if d.type == "int" or d.type == "number" or d.type == "boolean" %}{{d.example}}{% else %}"{{d.example}}"{% endif %}{% unless forloop.last %},{% else %}
  } {% endunless %}{% endif %}{% endfor %}{%- endif -%}{% endif %}
}
```
{% endcapture %}
{% else %} {% assign notification_example = false %}{% endif %}


{%- elsif include.sdkName == "mobile-sdk" -%}

{% capture request_kotlin_example %}
```kotlin
// -------- ANDROID REQUEST --------
{{t}}(
  api: "{{api.name}}",
  parameters: {% if params_example %} {{params_example}} {% else %} { {% for p in params %}
      "{{p.name}}": {% if p.type == "int" or p.type == "number" or p.type == "boolean" %}{{p.example}}{% else %}"{{p.example}}"{% endif %}{% if forloop.last == false %},{% else %}{% endif %}{% endfor %}{% endif %}
  }
  callback: (Map<String, Any>) -> Unit
): "7372c16f-5f2f-42c9-84a7-5490e35f1be0"
```
{% endcapture %}

{% capture request_swift_example %}
```swift
// -------- REQUEST --------
{
  "api": {{api.name}}, 
  "parameters": {% if params_example %} {{params_example}} {% else %}{% for p in params %}{% if forloop.length == 1 %}{% if p.type == "int" or p.type == "number" or p.type == "boolean" %}{{p.example}}{% else %}"{{p.example}}"{% endif %}{% else %}{% if forloop.first %} { {% endif %}
      {% if p.type == "int" or p.type == "number" or p.type == "boolean" %}{{p.example}}{% else %}"{{p.example}}"{% endif %}{% if forloop.last == false %},{% else %}
  {% endif %}{% endif %}{% endfor %}{% endif %},
  "callback": //callback
}
```
{% endcapture %}

{% capture response_example %}
```js
// -------- RESPONSE SUCCEED --------
{
  "sdkVersion" = "1.0.0", 
  "status" = "SUCCEEDED", 
  "result" = {% if data_example %} {{data_example | jsonify}} {% else %} [ {% for d in datas %}{% if forloop.length == 1 %}{% if d.type == "int" or d.type == "number" or d.type == "boolean" %}{{d.example}}{% else %}"{{d.example}}"{% endif %}{% else %}{% if forloop.first %} { {% endif %}
    "{{d.name}}": {% if d.type == "int" or d.type == "number" or d.type == "boolean" %}{{d.example}}{% else %}"{{d.example}}"{% endif %}{% unless forloop.last %},{% else %}
  } {% endunless %}{% endif %}{% endfor %} ]{% endif %}
}
```
{% endcapture %}

{% if t contains "subscribe" %}
{% capture notification_example %}
```js
// -------- RESPONSE NOTIFY --------
{
  "sdkVersion" = "1.0.0", 
  "status" = "SUCCEEDED", 
  "result" = {% if data_example %} {{data_example | jsonify}} {% else %} [ {% for d in datas %}{% if forloop.length == 1 %}{% if d.type == "int" or d.type == "number" or d.type == "boolean" %}{{d.example}}{% else %}"{{d.example}}"{% endif %}{% else %}{% if forloop.first %} { {% endif %}
    "{{d.name}}": {% if d.type == "int" or d.type == "number" or d.type == "boolean" %}{{d.example}}{% else %}"{{d.example}}"{% endif %}{% unless forloop.last %},{% else %}
  } {% endunless %}{% endif %}{% endfor %}]{% endif %} 
}
```
{% endcapture %}
{% else %} {% assign notification_example = false %}
{% endif %}

{% if errors %}
{% capture error_example %}
```js
{% for errList in site.data.mobile-sdk-errors %}{% for errApi in errors %}{% if errList.code == errApi.code %}// -------- RESPONSE FAILED: {{errList.code}} --------
{
  "sdkVersion" = "1.0.0", 
  "status" = "FAILED",
  "error": [
    "code": {{errList.code}},
    "label": "{{errList.label}}"{% if errList.subcode %},
    "subCode": [ 
      "code" : {{errList.subcode}}{% if errList.sublabel %}, 
      "label" : "{{errList.sublabel}}"{% endif %} 
    ]{% endif %}
  ]
}
{% endif -%}{% endfor -%}{% endfor -%}
```
{% endcapture %}
{% else %}{% assign error_example = false %}{% endif %}
{% endif %}

        {%- comment -%} code tabs {%- endcomment -%}
        <div class="
            api-content-code 
            {%- comment -%} default code example tab {%- endcomment -%}
            {% if include.sdkName == "webportal_v2" %}
            api-content-code-req
            {% elsif include.sdkName == "mobile-sdk" %}
            api-content-code-req-kotlin
            {%endif%}
            ">
            {%- comment -%} end default code example tab {%- endcomment -%}
            <div class="api-code-header">
                <span class="api-code-header-text"> Code Example </span>
                <div class="api-code-tabs-container">
                    <nav class="api-code-tabs"> 
                        {% if include.sdkName == "webportal_v2" %}
                        <div class="api-code-tab api-code-tab-req">
                            <span class="api-code-tab-icon is-white">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </span>
                            <span class="api-code-tab-text">Request</span>
                        </div>
                        {% elsif include.sdkName == "mobile-sdk" %}
                        <div class="api-code-tab api-code-tab-req-kotlin">
                            <span class="api-code-tab-icon is-white">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </span>
                            <span class="api-code-tab-text">Request Android</span>
                        </div>
                        <div class="api-code-tab api-code-tab-req-swift">
                            <span class="api-code-tab-icon is-white">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </span>
                            <span class="api-code-tab-text">Request iOS</span>
                        </div>
                        {% endif %}
                        <div class="api-code-tab api-code-tab-res">
                            <span class="api-code-tab-icon is-white">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </span>
                            <span class="api-code-tab-text">Response</span>
                        </div>
                        {% if notification_example %}
                        <div class="api-code-tab api-code-tab-notif">
                            <span class="api-code-tab-icon is-white">
                                <i class="fas fa-bell"></i>
                            </span>
                            <span class="api-code-tab-text">Event</span>
                        </div>
                        {% endif %}
                        {% if error_example %}
                        <div class="api-code-tab api-code-tab-err">
                            <span class="api-code-tab-icon is-white">
                                <i class="fas fa-exclamation"></i>
                            </span>
                            <span class="api-code-tab-text">Error(s)</span>
                        </div>
                        {% endif %}
                    </nav>
                </div>
            </div>
            {%- comment -%} end code tabs {%- endcomment -%}

            {%- comment -%} code example {%- endcomment -%}
            {% if include.sdkName == "webportal_v2" %}
            <div class="api-content-code-example api-content-code-example-req">
                {{request_example | markdownify}}
            </div>
            {% elsif include.sdkName == "mobile-sdk" %}
            <div class="api-content-code-example api-content-code-example-req-kotlin">
                {{request_kotlin_example | markdownify}}
            </div>
            <div class="api-content-code-example api-content-code-example-req-swift">
                {{request_swift_example | markdownify}}
            </div>
            {% endif %}

            {% if notification_example %}
            <div class="api-content-code-example api-content-code-example-notif">
                {{notification_example | markdownify}}
            </div>
            {% endif %}

            <div class="api-content-code-example api-content-code-example-res">
                {{response_example | markdownify}}
            </div>
            {% if error_example %}
            <div class="api-content-code-example api-content-code-example-err">
                {{error_example | markdownify}}
            </div>
            {% endif %}
        </div>
        {%- comment -%} end code example {%- endcomment -%}
        {%- comment -%} END API CONTENT CODE EXAMPLE   {%- endcomment -%}

    </div>
    </div>
    {% endfor %}
    {%- comment -%} END API CONTENT(s) {%- endcomment -%}
</div>

{% endif %}
{%- comment -%} END DOMAIN or API {%- endcomment -%}