
    {% if page.require contains "font-lora" or page.layout == "use-case" %}
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500&family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">
    {% else %}
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    {% endif%}

{%- comment -%} ---------------------------- {%- endcomment -%}
{%- comment -%} -------- COMPONENTS -------- {%- endcomment -%}
{%- comment -%} ---------------------------- {%- endcomment -%}
{% assign modules_path="/assets/css/modules/" %}
    <!-- COMPONENTs CSS -->
    {%- comment -%} CARD {%- endcomment -%}
    {% if page.require contains "card" or page.layout == "use-case" or page.layout == "api-data" %}
    <link rel="stylesheet" href="{{ 'card.css' | prepend: modules_path| prepend: site.baseurl }}">
    {% endif %}
    {%- comment -%} CTA {%- endcomment -%}
    {% if page.require contains "cta" or page.layout == "package" %}
    <link rel="stylesheet" href="{{ 'cta.css' | prepend: modules_path| prepend: site.baseurl }}">
    {% endif %}
    {%- comment -%} HOMEPAGE {%- endcomment -%}
    {% if page.require contains "homepage" %}
    <link rel="stylesheet" href="{{ 'homepage.css' | prepend: modules_path| prepend: site.baseurl }}">
    {% endif %}
    {%- comment -%} DATA-CATALOG {%- endcomment -%}
    {% if page.require contains "data-catalog" or page.layout == "api-data" %}
    <link rel="stylesheet" href="{{ 'data-catalog.css' |  prepend: modules_path| prepend: site.baseurl }}">
    <link href="https://unpkg.com/tabulator-tables@4.6.3/dist/css/bulma/tabulator_bulma.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.6.3/dist/js/tabulator.min.js"></script>
    {% endif %}
    {%- comment -%} WEBAPI-DEMO {%- endcomment -%}
    {% if page.require contains "webapi-demo" %}
    <link rel="stylesheet" href="{{ 'webapi-demo.css' | prepend: modules_path| prepend: site.baseurl }}">
    {% endif %}
    {%- comment -%} WEBAPI-REFERENCE-SPECIFICATION {%- endcomment -%}
    {% if page.require contains "webapi-reference-specification" %}
    <link rel="stylesheet" href="{{ 'webapi-reference-specification.css' | prepend: modules_path| prepend: site.baseurl }}">
    {% endif %}
    {%- comment -%} WEBPORTAL-REFERENCE-LIST {%- endcomment -%}
    {% if page.require contains "webportal-reference-list" %}
    <link rel="stylesheet" href="{{ 'webportal-reference-list.css' | prepend: modules_path| prepend: site.baseurl }}">
    {% endif %}
    {%- comment -%} HIGHLIGHTED-LINK {%- endcomment -%}
    {% if page.require contains "highlighted-link" or page.layout == "use-case" %}
    <link rel="stylesheet" href="{{ 'highlighted-link.css' | prepend: modules_path| prepend: site.baseurl }}">
    {% endif %}
    {%- comment -%} USER-STORY {%- endcomment -%}
    {% if page.require contains "user-story" or page.layout == "use-case" %}
    <link rel="stylesheet" href="{{ 'user-story.css' | prepend: modules_path| prepend: site.baseurl }}">
    {% endif %}
    {%- comment -%} DROPDOWN-CONTENT {%- endcomment -%}
    {% if page.require contains "dropdown-content" or page.layout == "api-data" %}
    <link rel="stylesheet" href="{{ 'dropdown-content.css' | prepend: modules_path| prepend: site.baseurl }}">
    {% endif %}
    {%- comment -%} API-VERBS {%- endcomment -%}
    {% if page.require contains "api-verbs" or page.layout == "use-case" %}
    <link rel="stylesheet" href="{{ 'api-verbs.css' | prepend: modules_path| prepend: site.baseurl }}">
    {% endif %}
    {%- comment -%} THUMBNAIL {%- endcomment -%}
    {% if page.require contains "thumbnail" %}
    <link rel="stylesheet" href="{{ 'thumbnail.css' | prepend: modules_path| prepend: site.baseurl }}">
    {% endif %}

{%- comment -%} ------------------------- {%- endcomment -%}
{%- comment -%} -------- LIBRARY -------- {%- endcomment -%}
{%- comment -%} ------------------------- {%- endcomment -%}
    <!-- LIBRARIEs -->
{%- comment -%} REDOC {%- endcomment -%}
    {% if page.require contains "redoc" %}
    <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script>
    {%- comment -%} <script src="{{ '/assets/js/swagger-ui-bundle.js' | prepend: site.baseurl | prepend: site.url }}"> </script>
    <script src="{{ '/assets/js/swagger-ui-standalone-preset.js' | prepend: site.baseurl | prepend: site.url }}"> </script> {%- endcomment -%}
    {% endif %}
    {%- comment -%} SWAGGER UI {%- endcomment -%}
    {% if page.require contains "swagger" %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/swagger-ui.css' | prepend: site.baseurl }}">
    <link href="{{ '/assets/css/swagger-ui-overrides.css' | prepend: site.baseurl }}" rel='stylesheet' type='text/css'>
    <script src="{{ '/assets/js/swagger-ui-bundle.js' | prepend: site.baseurl | prepend: site.url }}"> </script>
    <script src="{{ '/assets/js/swagger-ui-standalone-preset.js' | prepend: site.baseurl | prepend: site.url }}"> </script>
    {% endif %}
    {%- comment -%}LEAFLET{%- endcomment -%}
    {% if page.require contains "leaflet" %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    {% endif %}
    {%- comment -%} AOS {%- endcomment -%}
    {% if page.require contains "aos" or page.layout == "use-case" %}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    {% endif %}
    {%- comment -%} TYPED {%- endcomment -%}
    {% if page.require contains "typed" %}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    {% endif %}
