{%- comment -%} AOS {%- endcomment -%}
{% if page.require contains "aos" or page.layout == "use-case" or page.layout == "package" %}
<script src="{{ '/assets/js/aos.js' | prepend: site.baseurl | prepend: site.url }}"></script>
{% endif %}
{%- comment -%} REFERENCE-LIST {%- endcomment -%}
{% if page.require contains "reference-list" %}
<script src="{{ '/assets/js/reference-list.js' | prepend: site.baseurl | prepend: site.url }}"> </script>
{% endif %}
{%- comment -%} API-REFERENCE {%- endcomment -%}
{% if page.layout == "api-reference" or page.require contains "api-reference" %}
<script type="text/javascript" src="{{ 'api-reference.js' | prepend: "/assets/js/" | prepend: site.baseurl }}"></script>
{% endif %}