<script>
    {% assign counter = 0 %}
    var documents = [{% for page in site.pages %}{% if page.url contains '.xml' or page.url contains 'assets' %} {% else %} {
        "id": {{ counter }},
        "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
            "title": "{{ page.title }}",
                "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h1>', ': ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
    }, {% endif %} {% endfor %} {% for page in site.headunit - sdk %} {
        "id": {{ counter }},
        {% if page.type contains 'class' %}
        "url": "{{ site.url }}{{site.baseurl}}/webportal_apiclass",
            "title": "API Class",
                {% else %}
    "url": "{{ site.url }}{{site.baseurl}}/webportal_list",
        "title": "API Reference",
            {% endif %}
    "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h1>', ': ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
    }, {% endfor %} {% for page in site.webPortal_TutorialsAdvanced %} {
        "id": {{ counter }},
        "url": "{{ site.url }}{{site.baseurl}}/webPortal_TutorialAdvanced",
            "title": "WebPortal Tutorial (Advanced)",
                "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h1>', ': ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
    }, {% endfor %} {% for page in site.webPortal_QuickGuides %} {
        "id": {{ counter }},
        "url": "{{ site.url }}{{site.baseurl}}/webPortal_QuickGuides/",
            "title": "WebPortal QuickStart",
                "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h1>', ': ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
    }, {% endfor %}
  ];

    var idx = lunr(function () {
        this.ref('id')
        this.field('title')
        this.field('body')

        documents.forEach(function (doc) {
            this.add(doc)
        }, this)
    });
    function lunr_search(term) {
        document.getElementById('lunrsearchresults').innerHTML = '<ul></ul>';
        
        document.location.href = "#lunrsearchresults";
        if (term) {
            document.getElementById('lunrsearchresults').innerHTML = "<p id='txtsearchresult'>Search results for '" + term + "'</p>" + document.getElementById('lunrsearchresults').innerHTML;
            //put results on the screen.
            var results = idx.search(term);
            if (results.length > 0) {
                //console.log(idx.search(term));
                //if results
                for (var i = 0; i < results.length; i++) {
                    // more statements
                    var ref = results[i]['ref'];
                    var url = documents[ref]['url'];
                    var title = documents[ref]['title'];
                    var body = documents[ref]['body'].substring(0, 160) + '...';
                    if (document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML.indexOf(url) !== -1) {
                    } else {
                        document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML + "<li class='lunrsearchresult'><a href='" + url + "'><span class='title'>" + title + "</span><br /><span class='body'>" + body + "</span><br /><span class='url'>" + url + "</span></a></li><br />";
                    }
                }
                document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML + "<hr>";
            } else {
                document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<li class='lunrsearchresult'>No results found...</li>" + "<hr>";
            }
        }
        return false;
    }
</script>
<style>
    .lunrsearchresult .title {
        color: #23d160;
    }

    .lunrsearchresult .url {
        color: silver;
    }

    .lunrsearchresult a {
        display: block;
        color: #777;
    }

    .lunrsearchresult a:hover,
    .lunrsearchresult a:focus {
        text-decoration: none;
    }

    .lunrsearchresult a:hover .title {
        text-decoration: underline;
    }
</style>


<form onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
            <div class="field">
                <p class="control has-icons-left">
                        <input type="text" class="input" id="lunrsearch" name="q" maxlength="255" value=""
                        placeholder="Search" />
                  <span class="icon is-small is-left">
                        <i class="fas fa-search" style="color: darkgrey;"></i>
                  </span>
                </p>
              </div>
</form>