openapi: 3.0.0
servers:
  - url: 'https://api-cert.groupe-psa.com/connectedcar/v3'
security:
  - BasicAuth: []
    ClientId: []
info:
  version: '3.19.2'
  title: Groupe PSA Connected Car B2B API
  description: |
    *Business Partner Connected Fleet API*  
    
 
    # Introduction

    This is the description of the *Groupe PSA Connected Car V3 B2B API*. 
    This specification is written in **OpenAPI Specification version 3** and can
    be displayed using [ReDoc](https://github.com/Rebilly/ReDoc) or
    [Swagger](http://swagger.io).
      This REST API allows  applications to fetch data from the connected Vehicles data  platform.
    
    ---
    
    # Authentication

    PSA Connected Car B2B APIs uses the [HTTPS Authentication](https://tools.ietf.org/html/rfc7235) (with provided PSA SSL Certificate) to access to fleet vehicles data.
    
    
    ---
    
    # Paging:
      To make this necessary feature easy to use when retrieving a collection of results, this API uses a token (computed and interpreted by the server only) as a context that contains all necessary information allowing the navigation through pages. 
      Token acts as an ```HTTP COOKIE``` on the client-side, so the server does not keep any cache or session settings to continue paging and keep all request stateless.
          
    ---
        
    # Errors:
      Error codes returned by all APIs comply with the standard. Nevertheless, PSA Services (callers) need to have more detailed data structures (even when the answer is not Http-OK) to better categorize the type of error by providing application code, message and debugging code(for investigation purposes). The HTTP code of the response is managed by the protocol itself (in the header).
        
    ### These APIS are likely to report the following HTTP code:
    
    | <b>Code</b>  | <b>Description</b>  |  <b>Case</b> |  
    |---|---|---|
    | 200  |<i>The request has succeeded and the resource data has been sent.</i>|GET APIs.  |
    | 202  |<i>The request has been accepted for processing, but not yet acted upon. An id of processing is returned.</i>|POST/PUT requests:<br>-Create monitor<br>-Create Remote callback.| 
    | 204  |<i>The request has been accepted and there is no additional content</i>|DELTE APIs:<br>-Delete monitor.<br>-Delete remote callback.|
    |400|<i>Request cannot be processed due to invalid query parameter value of body content (for POST/PUT verbs)</i>|ALL APIs.|
    |401|<i>Unauthorized request due to lack of valid authentication credentials.</i>|All APIs.|
    |403|<i>Unauthorized request due to insufficient credentials to grant access.</i>|All APIs.|
    |404|<i>Target resource not found.|All APIs. Even POST, PUT or DELETE if the resource id is unknown.</i>|
    |500|<i>Unexpected condition that prevented from fulfilling the request.</i>|All APIs.|


      
      **Errors are  returned as a generic error response:**
       * See ```ErrorCodeDefaultResponse``` model.
       
    ---
    
       
    # API output:
      ## Data profile
       B2B partners need to return vehicle data with an end-user profile. To do this, the data APIs allow to use an end-user profile according to a query parameter named ```profile```.  Remote,  Monitor, Fleets and Vehicles getter APIs are not affected by this parameter.
     
      ## Data format
      
      **All APIs return data in JSON format. The application who uses them must take into account the evolving character of them and more precisely regarding the schemas of the exposed data. Indeed:**
      
      *  The missing of known data fields should not cause an error. 
      *  It should (correctly)  deal with JSON content with unknown properties also. Indeed, data schema extensions should be supported without errors even if they are not used. 
        
      
      **for example:**
      
      Assuming a given exposed resource with this data schema:
        
          
           data:
            type: object
            description: Data model
            properties:
              field1:
                type: string
              field2:
                type: number
             
      The application should be able to deal with those possible valid JSON contents:
        
      > All fields:
        ```{
          "field1":"value1",
          "field2": 1
        }```
        
      > Missing field2:
        ```{
          "field1":"value1"
        }```        

      > Unknow  field3:
        ```{
          "field1":"value1",
          "field3": 2.5
        }```
      
     
    ---  
  license:
    name: Groupe PSA Licence
    url: 'https://www.psa-peugeot-citroen.com/'
tags:
  - name: Capabilities
    description: Access to Vehicles details & onboard capabilities
  - name: Fleet
    description: To retreive Fleet details and access resources in **batch mode** (without vehicle or trip filtering).
  - name: Vehicles
    description: Access to Vehicles details.
  - name: Trips
    description: Describe Trips of a Fleet or Vehicle
  - name: Monitors
    description: Vehicles monitors.
  - name: Remote
    description: Vehicle remote access.

paths:
  /vehicles/{vin}:
    get:
      tags:
        - Capabilities
      summary: List of vehicles characteristics & capabilities
      description: Returns vehicle'scharacteristics & capabilities
      operationId: getVehiclesCapabilities
      parameters:
        - $ref: '#/components/parameters/vin'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/vehicleExtension'
      responses:
        '200':
          description: OK
          content:
            'application/hal+json ':
              schema:
                $ref: '#/components/schemas/VehicleCapabilities'
        default:
          description: Vehicle not found
          $ref: '#/x-fragment/general_error_fragment'
  /fleets:
    get:
      tags:
        - Fleet
      summary: Fleets owned by a partner
      description: Returns all Fleets owned by a partner. 
      operationId: getFleets
      parameters:
        
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
           $ref: '#/components/responses/FleetsSuccessResponse'
        default:
          description: Fleet not found
          $ref: '#/x-fragment/general_error_fragment'

  /fleets/{fid}:
    get:
      tags:
        - Fleet
      summary: Fleet's information
      description: Returns the Fleet's information. 
      operationId: getFleet
      parameters:
        - $ref: '#/components/parameters/fleetId'
      responses:
        200:
          $ref: '#/components/responses/FleetSuccessResponse'
        default:
          description: Fleet not found
          $ref: '#/x-fragment/general_error_fragment'
 
  /fleets/{fid}/vehicles:
    get:
      tags:
        - Vehicles
      summary: List of vehicles
      description: Returns the Vehicles associated with the Fleet.
      operationId: getVehiclesByDevice
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/vehiclesExtension'
        - $ref: '#/components/parameters/vinPrefix'
      responses:
        200:
          description: OK
          content:
            'application/hal+json ':
              schema:
                $ref: '#/components/schemas/Vehicles'
        default:
          description: Vehicle not found
          $ref: '#/x-fragment/general_error_fragment'
    
  '/fleets/{fid}/vehicles/{vid}':
    get:
      tags:
        - Vehicles
      summary: Details of a vehicle.
      description: Returns detailed information about a Vehicle.
      operationId: getVehicleByid
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/vehicleExtension'
   
      responses:
        200:
          description: OK
          content:
            'application/hal+json ':
              schema:
                  allOf:
                      - $ref: '#/components/schemas/Vehicle'
        default:
          description: Vehicle not found
          $ref: '#/x-fragment/general_error_fragment'
  
  '/fleets/{fid}/vehicles/{vid}/lastPosition':
    get:
      tags:
        - Vehicles
      summary: Last position identified
      description: Returns the latest GPS Position of the Vehicle.
      operationId: getCarLastPosition
      deprecated: true
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/profile'
      responses:
        200:
          description: Position response
          content:
            application/vnd.geo+json:
              schema:
                $ref: '#/components/schemas/Position'
        default:
          description: Vehicle not found
          $ref: '#/x-fragment/general_error_fragment'
          
  '/fleets/{fid}/vehicles/{vid}/collisions':
     get:
        tags:
            - Vehicles
        summary: Collisions of a vehicle.
        description: >-
            Returns the list of Collisions that occurred for a given vehicle (id)
            during the timestamp ranges and bounded by an index range.
        operationId: getVehicleCollision
        parameters:

            - $ref: '#/components/parameters/fleetId'
            - $ref: '#/components/parameters/vehicleId'
            - $ref: '#/components/parameters/profile'
            - $ref: '#/components/parameters/timestamps'
            - $ref: '#/components/parameters/indexRange'
            - $ref: '#/components/parameters/pageSize'
            - $ref: '#/components/parameters/pageToken'
        responses:
            200:
                $ref: '#/components/responses/CollisionsSuccessResponse'
            default:
                $ref: '#/components/responses/CollisionFailedResponse'
          
  '/fleets/{fid}/vehicles/{vid}/collisions/{cid}':
    get:
     tags:
       - Vehicles
     summary: An identified collision that occurred on a vehicle.
     description: Returns the Collision that matches the vehicle id and the Collision cid.
     operationId: getVehicleCollisionById
     parameters:

       - $ref: '#/components/parameters/fleetId'
       - $ref: '#/components/parameters/vehicleId'
       - $ref: '#/components/parameters/profile'
       - $ref: '#/components/parameters/collisionId'
     responses:
       200:
         $ref: '#/components/responses/CollisionsuccessResponse'
       default:
         $ref: '#/components/responses/CollisionFailedResponse'
          
  '/fleets/{fid}/vehicles/{vid}/maintenance':
    get:
      tags:
        - Vehicles
      summary: Maintenance details of a vehicle.
      description: Returns the latest Maintenance information for a Vehicle.
      operationId: getVehicleMaintenance
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/profile'
      responses:
        200:
          description: Maintenant response
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Maintenance'
        default: 
          $ref: '#/x-fragment/general_error_fragment'
  
  '/fleets/{fid}/status':
    get:
      deprecated : true
      tags:
        - Fleet
      description: Returns the latest vehicles status for a given fleet. HyperLink (HAL) resolutions of resources within the returned collection are associate to vehicle. 
      summary: Fleet Vehicles status.
      operationId: getFleetStatusList
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
          $ref: '#/components/responses/StatusSuccessResponses'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          
  '/fleets/{fid}/maintenances':
    get:
      deprecated : true
      tags:
        - Fleet
      description: Returns the latest vehicles maintenance list for a given fleet. HyperLink (HAL) resolutions of resources within the returned collection are associate to vehicle. 
      summary: Fleet Vehicles maintenances.
      operationId: getFleetMantenanceList
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
          $ref: '#/components/responses/MaintenanceSuccessResponses'
        default:
          $ref: '#/x-fragment/general_error_fragment'  
          
  '/fleets/{fid}/alerts':
    get:
      deprecated : true
      tags:
        - Fleet
      description: Returns the vehicles alerts list for a given fleet. HyperLink (HAL) resolutions of resources within the returned collection are associate to vehicle. 
      summary: Fleet Vehicles alerts.
      operationId: getFleetAlertList
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponses'
        default:
          $ref: '#/x-fragment/general_error_fragment'
  
  '/fleets/{fid}/alerts/{aid}':
    get:
      deprecated : true
      tags:
        - Fleet
      description: Returns information about a specific alert message for a given fleet. 
      summary: Fleet single alert.
      operationId: getFleetAlertById
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/alertId'        
      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponse'
        default:
          $ref: '#/components/responses/AlertFailedResponse'
 
  '/fleets/{fid}/vehicles/{vid}/status':
    get:
      tags:
        - Vehicles
      description: Returns the latest vehicle status.
      summary: Vehicle status.
      operationId: getFleetVehicleStatus
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/vehicleId'
      responses:
        200:
          description: Status response
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Status'
        default:
          $ref: '#/x-fragment/general_error_fragment'          
          
  '/fleets/{fid}/vehicles/{vid}/alerts':
    get:
      tags:
        - Vehicles
      summary: Alerts related to a vehicle.
      description: Returns the latest alert messages for a Vehicle.
      operationId: getVehicleAlerts
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponses'
        default:
          $ref: '#/components/responses/AlertFailedResponse'
          
  '/fleets/{fid}/vehicles/{vid}/alerts/{aid}':
    get:
      tags:
        - Vehicles
      summary: An alert related to a vehicle.
      description: Returns information about a specific alert messages for a Vehicle.
      operationId: getFleetVehicleAlertsById
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/alertId'
      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponse'
        default:
          $ref: '#/components/responses/AlertFailedResponse'
          
  '/fleets/{fid}/vehicles/{vid}/telemetry':
    get:
      tags:
        - Vehicles
      summary: Telemetry of vehicle
      description: >-
        Returns the latest Telemetry messages that occurred during a selective timestamp-ranges and bounded by an index range.
      operationId: getTelemetry
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSizeHighFrequency'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/telemetryType'
        - $ref: '#/components/parameters/telemetryExtension'
      responses:
        200:
          $ref: '#/components/responses/TelemetrySuccessResponse'
        default:
          $ref: '#/components/responses/TelemetryFailedResponse'
  
  '/fleets/{fid}/vehicles/{vid}/alarms':
    get:
      tags:
        - Vehicles
      description: | 
        Returns a (filtered) list of alarm for a Vehicle.
        *Note:* Timestamp filtering concerns the creation date for status or trigger. 
      summary: Vehicle's Alarms
      operationId: getVehicleAlarms
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/alarmType'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          $ref: '#/components/responses/AlarmSuccessResponses'
        default:
          $ref: '#/components/responses/AlarmFailedResponse'
  
  
  '/fleets/{fid}/vehicles/{vid}/alarms/{aid}':
    get:
      tags:
        - Vehicles
      description: Returns information about a specific alarm for a vehicle.
      summary: Vehicle's Alarm
      operationId: getVehicleAlarmsById
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/alarmId'
      responses:
        '200':
          $ref: '#/components/responses/AlarmSucessResponse'
        default:
          $ref: '#/components/responses/AlarmFailedResponse'
          

  '/fleets/{fid}/vehicles/{vid}/stolen':
    get:
      tags:
        - Vehicles
      description: Returns  list of stolen state for a vehicle.
      summary: Vehicle's stolen history.
      operationId: getVehicleStolenHistory
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          $ref: '#/components/responses/StolenSuccessResponses'
        default:
          $ref: '#/components/responses/StolenFailedResponse'
          
  '/fleets/{fid}/vehicles/{vid}/stolen/{sid}':
    get:
      tags:
        - Vehicles
      description: Returns information about a specific stolen context for a vehicle.
      summary: Vehicle's stolen state.
      operationId: getVehicleStolenById
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/stolenId'
      responses:
        '200':
          $ref: '#/components/responses/StolenSucessResponse'
        default:
          $ref: '#/components/responses/StolenFailedResponse'
  
  '/fleets/{fid}/vehicles/{vid}/stolen/{sid}/waypoints':
    get:
      tags:
        - Vehicles
      description: Returns position information about a specific stolen context for a vehicle.
      summary: Vehicle's stolen position.
      operationId: getVehicleStolenIdPosition
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/stolenId'
      responses:
        200:
          description: Stolen position response.
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/WayPoints'
        default:
          description: wayPoints not found
  
  '/fleets/{fid}/monitors':
    get:
      tags:
        - Monitors
      summary: Get all monitors of the fleet.
      description: Returns the list of subscribed Monitors of the fleet.
      operationId: getFleetMonitors
      parameters:
        
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/fleetId'
          
      responses:
        200:
          $ref: '#/components/responses/MonitorsuccessResponses'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
    post:
      tags:
        - Monitors
      summary: Create a new Monitor.
      description: |
                    >Create a Monitor for all Vehicles of the fleet. This is a kind of vehicle monitor that generates an event following the transition state of one of the (monitored) data  of the vehicles. As for example the fuel level, the moving out of a defined geographical area. 
                    
                    >When the trigger occurs, the built event expressed as a JSON object will be sent over the subscribed callback.
      operationId: createFleetVehicleMonitor
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/MonitorParameter'
                #DataMonitorParm
      responses: 
        202:
          $ref: '#/components/responses/MonitorsuccessPostResponse'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
          
  '/fleets/{fid}/monitors/{mid}':
    put:
      tags:
        - Monitors
      summary: Update an existing Monitor.
      description: |
                    Update an existing ```Monitor``` that has been posted (and accepted previously) for this fleet. The monitor object (body) provided should be complete because the aggregation is not supported for the update of the ```monitor```. You can first retrieve this object using the ```GET /monitor/{mid}``` API, then modify it and finally publish it (via this ```PUT API```).
      operationId: updateFleetVehicleMonitor
      parameters:
        - $ref: '#/components/parameters/monitorId'
        - $ref: '#/components/parameters/fleetId'
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/MonitorParameter'
      responses: 
        202:
          $ref: '#/components/responses/MonitorsuccessPostResponse'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
    get:
      tags:
        - Monitors
      description: Returns information about a specific Monitor for a given fleet.
      summary: Get the monitor by monitor Id.
      operationId: getFleetMonitorsStatusById
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/monitorId'
      responses:
        200:
          $ref: '#/components/responses/MonitorsuccessResponse'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
    delete:
      tags:
        - Monitors
      summary: Delete an existing Monitor.
      description: Stop (disable) an existing Monitor.
      operationId: deleteFleetMonitor
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/monitorId'
      responses:
        204:
          description: Monitor deleted (the response does not include an entity).
        '400':
          description: Invalid ID supplied
        '404':
          description: Monitor not found
 
  '/fleets/{fid}/monitors/{mid}/status': 
    put:
      x-available: true
      tags:
        - Monitors
      summary: Set a new monitor status.
      description: |
                   Set monitor status. 
      operationId: setFleetVehicleMonitorStatus
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/monitorId'
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/MonitorStatusSetter'
      responses: #MonitorId
        202:
          $ref: '#/components/responses/MonitorsuccessPostResponse'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
  
  '/fleets/{fid}/vehicles/{vid}/trips':
    get:
      summary : Vehicle's trip list.
      tags:
        - Trips
      description: >-
        This method returns a list of all Trips that a given Vehicle has taken.
        This will NOT include Trips that have not yet been completed.
      operationId: getTripsByVehicle
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/tripDistance'
        - $ref: '#/components/parameters/tripDuration'
        - $ref: '#/components/parameters/tripState'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
          $ref: '#/components/responses/TripsSuccessResponses'
        default:
          $ref: '#/components/responses/TripFailedResponse'

  '/fleets/{fid}/trips':
    get:
      deprecated : true
      summary: Trips of all vehicles of the fleet. 
      tags:
        - Fleet
      description: >-
        This method returns a list of all Trips. HyperLink (HAL) resolutions of resources within the returned collection are associate to vehicle. 
      operationId: getFleetTrips
      parameters:
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/tripDistance'
        - $ref: '#/components/parameters/tripDuration'
        - $ref: '#/components/parameters/tripState'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
          $ref: '#/components/responses/TripsSuccessResponses'
        default:
          $ref: '#/components/responses/TripFailedResponse'
  
  '/fleets/{fid}/vehicles/{vid}/trips/{tid}':
    get:
      summary : Vehicle's trip information.
      tags:
        - Trips
      description: >-
        This method returns the Trip that matches the Trip id (tid) a given
        Vehicle (id) has taken.
      operationId: getFleetTripByVehicle
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
      responses:
        200:
          $ref: '#/components/responses/TripsuccessResponse'
        default:
          $ref: '#/components/responses/TripFailedResponse'

  '/fleets/{fid}/vehicles/{vid}/trips/{tid}/collisions':
    get:
     tags:
       - Trips
     summary: Vehicle's trip collision list. 
     description: >-
       Returns the list of Collisions of a vehicle that occurred during a trip and bounded (optional) by a timestamp ranges and an index range.
     operationId: getTripCollisionsByTripAndVehicle
     parameters:
       - $ref: '#/components/parameters/vehicleId'
       - $ref: '#/components/parameters/fleetId'
       - $ref: '#/components/parameters/pageToken'
       - $ref: '#/components/parameters/tripId'
       - $ref: '#/components/parameters/timestamps'
       - $ref: '#/components/parameters/indexRange'
       - $ref: '#/components/parameters/pageSize'
     responses:
       '200':
         $ref: '#/components/responses/CollisionsSuccessResponse'
       default:
         $ref: '#/components/responses/CollisionFailedResponse'
         
  '/fleets/{fid}/collisions':
    get:
     deprecated : true
     tags:
       - Fleet
     summary: Collisions of all vehicles' fleet.
     description: >-
       Returns the list of Collisions that occured on vehicles' fleet. HyperLink (HAL) resolutions of resources within the returned collection are associate to vehicle. 
     operationId: getFleetTripCollisions
     parameters:
       - $ref: '#/components/parameters/fleetId'
       - $ref: '#/components/parameters/profile'
       - $ref: '#/components/parameters/pageToken'
       - $ref: '#/components/parameters/timestamps'
       - $ref: '#/components/parameters/indexRange'
       - $ref: '#/components/parameters/pageSize'      
     responses:
       '200':
         $ref: '#/components/responses/CollisionsSuccessResponse'
       default:
         $ref: '#/components/responses/CollisionFailedResponse'
  
  '/fleets/{fid}/collisions/{cid}':    
    get:
     deprecated : true
     tags:
       - Fleet
     summary: An identified collision that occurred on a fleet.
     description: >-
      Returns the Collision that matches the fleet id and the Collision cid. 
     operationId: getCollisionsById
     parameters:
       - $ref: '#/components/parameters/fleetId'
       - $ref: '#/components/parameters/profile'
       - $ref: '#/components/parameters/collisionId'      
     responses:
       '200':
         $ref: '#/components/responses/CollisionsuccessResponse'
       default:
         $ref: '#/components/responses/CollisionFailedResponse' 

  '/fleets/{fid}/vehicles/{vid}/trips/{tid}/alerts':
    get:
      summary: Vehicle's trip alert list.
      tags:
        - Trips
      description: >-
        Returns the alert message list for a given vehicle.
      operationId: getFleetTripAlertByVehicle
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/profile'
      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponses'
        default:
          $ref: '#/components/responses/AlertFailedResponse'
  

  '/fleets/{fid}/vehicles/{vid}/trips/{tid}/alerts/{aid}':
    get:
      summary : Vehicle's trip specific alert.
      tags:
        - Trips
      description: >-
        Returns the alert message list for a given vehicle that occure during a trip.
      operationId: getFleetTripAlertByVehicleById
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/alertId'
        - $ref: '#/components/parameters/profile'

      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponse'
        default:
          $ref: '#/components/responses/AlertFailedResponse'  
  
  '/fleets/{fid}/vehicles/{vid}/trips/{tid}/wayPoints':
    get:
      summary : Vehicle's trip waypoints.
      tags:
        - Trips
      description: Gives the Vehicle's wayPoints for a specified Trip.
      operationId: getPathForTrip
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/tolerence'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/pageSizeHighFrequency'
        - $ref: '#/components/parameters/pageToken'
        
      responses:
        200:
          description: Path response
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/WayPoints'
        default:
          description: wayPoints not found

  '/fleets/{fid}/vehicles/{vid}/trips/{tid}/telemetry':
    get:
      summary: Vehicle's trip telemetry.
      tags:
        - Trips
      description: >-
        Returns the set of Telemetry values that occurred for a given vehicle
        (id) and a speific Trip (tid) during the timestamp ranges and bounded by
        an index range.
      operationId: getTelemetryForTripByVehicle
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSizeHighFrequency'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/telemetryType'
        - $ref: '#/components/parameters/telemetryExtension'
      responses:
        200:
          $ref: '#/components/responses/TelemetrySuccessResponse'
        default:
          $ref: '#/components/responses/TelemetryFailedResponse'
  
  '/fleets/{fid}/remote/callbacks':  
    get:
      tags:
        - Remote
      summary: Get all remote callbacks of a fleet.
      description: Returns the list of subscribed remote callback of the fleet.
      operationId: getFleetRemotes
      parameters:
          
          - $ref: '#/components/parameters/fleetId'
          - $ref: '#/components/parameters/remoteType'
          - $ref: '#/components/parameters/indexRange'
          - $ref: '#/components/parameters/pageSize'
          - $ref: '#/components/parameters/pageToken'
          
      responses:
        200:
          $ref: '#/components/responses/RemoteCallbackSuccessResponses' 
        default:
          $ref: '#/components/responses/RemoteCallbackFailedResponse'
    #callbackId      
    post:
        tags:
          - Remote
        summary: Register a new reusable remote callback.
        description: |
                     Create a new reusable callback. 
        operationId: setFleetVehicleRemote
        parameters:
          
          - $ref: '#/components/parameters/fleetId'
        requestBody:
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/RemoteCallbackSubscribe'
        responses: #MonitorId
          200:
            $ref: '#/components/responses/RemoteCallbackSuccessPostResponse'
          default:
            $ref: '#/components/responses/RemoteCallbackFailedResponse'      
            
  '/fleets/{fid}/remote/callbacks/{cbid}':
    put:
        tags:
          - Remote
        summary: Update an existing remote callback.
        description: |

                     Update an existing ```Callback``` that has been posted (and accepted previously) for this fleet. The callback object (body) provided should be complete (aggregation is not supported for the update). This object can be retrieved  using the ```GET /fleets/{fid}/remote/callbacks/{cbid}``` API then modify it and finally publish it (via this ```PUT API```) 

        operationId: setFleetVehicleRemoteById
        parameters:
          
          - $ref: '#/components/parameters/fleetId'
          - $ref: '#/components/parameters/callbackId'
        requestBody:
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/RemoteCallbackSubscribe'
        responses: #MonitorId
          202:
            $ref: '#/components/responses/RemoteCallbackSuccessPostResponse'
          default:
            $ref: '#/components/responses/RemoteCallbackFailedResponse'
    get:
      tags:
        - Remote
      summary: Get a remote callbacks of a fleet.
      description: Returns a subscribed remote callback of the fleet by subscribe ID.
      operationId: getFleetRemotebyId
      parameters:
          
          - $ref: '#/components/parameters/fleetId'
          - $ref: '#/components/parameters/callbackId'
          
      responses:
        200:
          $ref: '#/components/responses/RemoteCallbackSuccessResponse' 
        default:
          $ref: '#/components/responses/RemoteCallbackFailedResponse'
    delete:
      tags:
        - Remote
      summary: Delete an existing callback.
      description: Remove an existing callback if and only if there is no pending remote attached to it.
      operationId: deleteFleetRemote
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/callbackId'
      responses:
        204:
          description: Callback deleted (the response does not include an entity)
        '400':
          description: Invalid ID supplied
        '404':
          description: Callback not found
  
  '/fleets/{fid}/remote/callbacks/{cbid}/status': 
    put:
      tags:
        - Remote
      summary: Set a remote callback new status.
      description: |
                   Set the remote callback status.```Paused``` means that the callback will not post any event.
      operationId: setFleeRemoteCallbackStatus
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/callbackId'
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/RemoteCallbacksStatusSetter'
      responses: #MonitorId
        202:
          $ref: '#/components/responses/RemoteCallbackSuccessPostResponse'
        default:
          $ref: '#/components/responses/RemoteCallbackFailedResponse'
          

  '/fleets/{fid}/vehicles/{vid}/callbacks/{cbid}/remotes':
    post:
      tags:
        - Remote
      summary: Send a remote action to a vehicle.
      description: |
                     Create a new asynchrone vehicle remote action and request it. 
      operationId: sendRemoteToVhl
      parameters:
          
          - $ref: '#/components/parameters/fleetId'
          - $ref: '#/components/parameters/vehicleId'
          - $ref: '#/components/parameters/callbackId'
      requestBody:
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/Remote'
      responses: #MonitorId
          202:
            $ref: '#/components/responses/RemoteActionsSuccessPostResponse'
          default:
            $ref: '#/components/responses/RemoteCallbackFailedResponse'
  
    get:
      tags:
        - Remote
      summary: Get all remote action of vehicle and callback.
      description: Returns the list of action remote requested for vehicle.
      operationId: getRemoteRequestsForVhl
      parameters:
          
          - $ref: '#/components/parameters/fleetId'
          - $ref: '#/components/parameters/vehicleId'
          - $ref: '#/components/parameters/callbackId'
          - $ref: '#/components/parameters/indexRange'
          - $ref: '#/components/parameters/pageSize'
          - $ref: '#/components/parameters/pageToken'
          
      responses:
        200:
          $ref: '#/components/responses/RemoteActionSuccessResponses' 
        default:
          $ref: '#/components/responses/RemoteCallbackFailedResponse'
          
  '/fleets/{fid}/vehicles/{vid}/callbacks/{cbid}/remotes/{rid}':
    get:
      tags:
        - Remote
      summary: Get remote action by id.
      description: Returns the remote action requested for vehicle by ID.
      operationId: getRemoteRequestForVhlById
      parameters:
          
          - $ref: '#/components/parameters/fleetId'
          - $ref: '#/components/parameters/vehicleId'
          - $ref: '#/components/parameters/callbackId'
          - $ref: '#/components/parameters/remoteId'
          
      responses:
        200:
          $ref: '#/components/responses/RemoteActionSuccessResponse' 
        default:
          $ref: '#/components/responses/RemoteCallbackFailedResponse'
          
    # RemoteActionSuccessResponse

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    ClientId:
      name: client_id
      type: apiKey
      in: query
  schemas: 
    Vin:  
          description: Identifier of a vehicle. **Set when retrieving resource in batch mode**.   
          type: string
          example : VF3ABCDE0FG123456
    VehicleCapabilities:
      allOf:
        - title: Vehicle Information
          type: object
          properties:
            vin:
              description: Serial number of a vehicle
              type: string
              example : VF3ABCDE0FG123456
            motorization :
              description : Motorization of the vehicle.
              type : string
              enum: [Electric, Hybrid, Thermic, Hydrogen]
              example : Thermic
            _embedded:
              type: object
              properties:
                extension:
                  $ref: '#/components/schemas/VehicleExtension'
          required: [createdAt, vin]
    Alert:
      allOf: 
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/UpdatedAtField' 
        - title: Alert message
          type: object
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                vehicle:
                  $ref: '#/components/schemas/Link'
                position:
                  $ref: '#/components/schemas/Link'
                trips:
                  type : array
                  items:
                    $ref: '#/components/schemas/Link'
              required : [self]
            id:
              type: string
              example : 0a9de72cc3803b12a74418acd20dcd66634fa82e44b2ec7060bca91462dc5772199559905caefe168812918d47f67253f33d477b645bb59afdd1268b81e382999
            vin:
              $ref: '#/components/schemas/Vin'
            active:
              type: boolean
            type:
              $ref: '#/components/schemas/AlertMsgEnum'
            severity:
              description: |
                            Alert severity level.
                            
                            |Severity|Description|
                            |:---|:---|
                            |Information|Better to fix but it is operating accurately.|
                            |Warning|Should fix it asap.|
                            |Critical|Starting prohibited without repair.|
              type: string
              enum: [Information, Warning, Critical]
            startedAt:
              type: string
              format: date-time
            endAt:
              type: string
              format: date-time
            startPosition:
              allOf:
                - $ref: '#/components/schemas/Position'
                - description: The position (last vehicle known one) where the alert appears.
            endPosition:
              allOf:
                - $ref: '#/components/schemas/Position'
                - description: The position (last vehicle known one) where the alert disappears. 
          required: [ id,active,type,createdAt,startedAt, _links,vin]
    
    StolenCollection:
      allOf:
        - $ref: '#/components/schemas/CollectionResult'
        - properties:
            _embedded:
              type: object
              properties:
                stolen:
                  type: array
                  items:
                    $ref: '#/components/schemas/Stolen'
    StolenBase:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
            vehicle:
              $ref: '#/components/schemas/Link'
          required : [self]
        id:
          type: string
          example : 0a9de72cc3803b12a74418acd20dcd66634fa82e44b2ec7060bca91462dc5772199559905caefe168812918d47f67253f33d477b645bb59afdd1268b81e382999
        state:
          description : Stolen state of the vehicle (True means the vhicle is reported stolen).
          type: boolean
          example : true
        startedAt:
          description : Stolen vehicle start time.
          type: string
          format: date-time
        endAt:
          description : Stolen vehicle stop time.
          type: string
          format: date-time
        startPosition:
          allOf:
            - $ref: '#/components/schemas/Position'
            - description: The position (last vehicle known one) where the vehicle is reported stolen.
        endPosition:
          allOf:
            - $ref: '#/components/schemas/Position'
            - description: The position (last vehicle known one) where the stolen state is not active anymore. 
      required: [ id,state,createdAt,startedAt, _links] 
    Stolen:
      allOf: 
        - title: Vehicle stolen status
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/UpdatedAtField'
        - $ref: '#/components/schemas/StolenBase'
    StolenObj:
      allOf: 
        - title: StolenStatus
        - description: Vehicle Stolen active status (only returns when vehicle is reported stolen).
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/StolenBase'
        
    MonitorStatus:
      type: string
      enum: [Running, Paused, Failed]
      
    Monitor:
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - title: Monitor
          description: Monitor state object
          type: object
          properties:
            updatedAt:
              type: string
              format: date-time      
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                fleet:
                  $ref: '#/components/schemas/Link'
              required : [self]
            monitorId:
              $ref: '#/components/schemas/MonitorId'
            monitor:
              $ref: '#/components/schemas/MonitorParameter'
            status:
              $ref: '#/components/schemas/MonitorStatus'
          required: [status,monitorId,monitor,createdAt,updatedAt, _links]

    
    CollisionDetails:
        type : object
        properties:
          side:
            type: string
            description: >-
                Indicates the side of the collision
            enum: [Front, Rear, Lateral]
            example : Lateral
          severity:
            type: string
            enum: [Minimal, Minor, Major]
            description: >-
                Minimal stands for no emergency system activated during the collision.
                Minor only pretensioner system activated.
                Major for airbag and prentensioner activation.
            example : Minor
        required : 
          - side
      
    CollisionObj:
     allOf:
        - title: Collision
          type: object
          properties:
            details:
                type : array
                items : 
                  $ref: '#/components/schemas/CollisionDetails'
    
    Collision:
     allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/CollisionObj'
        - title: Collision
          type: object
          properties:
            id:
              type: string
              example : 055d8f0a0089d7b9226989ce2db42511e2e19df8cc106a7fb7d0c7fb92ab2320c0720e94be1ee517b3172da70dd05446a934cccca524172d9add54d8dbce51b14
            vin:
              $ref: '#/components/schemas/Vin'
            tippedOver:
              type: boolean
              description: >-
                    Indicates if the car tipped over during the collision.
                    Warning : This information is applicable only on vehicles equipped with dedicated sensor and is optionnal.
            pedestrian:
              type: boolean
              description: 'Indicates if the collision involve a pedestrian.
                           *Warning : This information is applicable only on vehicles equipped with dedicated sensor and is optionnal*'
              example : false
            updatedAt:
              type: string
              format: date-time
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                vehicle:
                  $ref: '#/components/schemas/Link'
                trip:
                  $ref: '#/components/schemas/Link'
              required : [self]
          required: [ id, _links, createdAt, vin]
           
    ECoaching:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
            vehicle:
              $ref: '#/components/schemas/Link'
            trip:
              $ref: '#/components/schemas/Link'
          required : [self]
        scores:
          type: array
          items:
              type: object
              properties:
                category:
                  type: string
                  description: category of the score. Global, ACCELERATION, BREAKING, A/C system, Runing cold engine, Direct Shift Gear, Speed, STT system, ZEV (Zero emission vehicle).
                  enum: [Global, Acceleration, Break, AirCondioner, ColdEngine, TirePressure, Slope, Speed, StartStop]
                  example : ColdEngine
                score:
                  type: integer
                  minimum: 0
                  maximum: 10
                  example : 5
        _embedded:
          type: object
      required : [_links]
  
    MonitorId:
      type: string
      description: Uniq monitor ID returned when the monitor was created succefully.
  
    MaintenanceBase:
      type : object
      description: Expresses next Maintenance details. Such as number of days and the mileage until the next Maintenance. The value is negative if the next maintenance (day or mileage) is already passed. At least one of the following maintenance information will be provided.
      title: Maintenance
      properties:
        vin:  
          $ref: '#/components/schemas/Vin'
        daysBeforeMaintenance:
          type: integer
        mileageBeforeMaintenance:
          type: number
          format : float
      required: [createdAt, vin] 
    
    MaintenanceObj:
     allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/UpdatedAtField'
        - $ref: '#/components/schemas/MaintenanceBase'

    Maintenance:
      allOf:
          - $ref: '#/components/schemas/MaintenanceObj'
          - title: Maintenance response
            properties:
              _links:
                type: object
                properties:
                  self:
                    $ref: '#/components/schemas/Link'
                  vehicle:
                    $ref: '#/components/schemas/Link'
                  alerts:
                    $ref: '#/components/schemas/Link'
                required : [self]
            required: [_links] 
    
    Ignition:
        allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/IgnitionBase'
        
    IgnitionBase:
          type: object
          properties:
            type:
              type: string
              enum: [Stop, StartUp, Start]
              example : Start
          required: [type,createdAt]     

    VehicleOdometer:
      allOf : 
        - $ref: '#/components/schemas/CreatedAtField'
        - type: object
          properties:
            mileage:
                description: Vehicle mileage expressed in KM.
                type: number
                format : float
                minimum : 0.0
      required: [createdAt]
    Battery:
            allOf:
              - $ref: '#/components/schemas/CreatedAtField'
              - $ref: '#/components/schemas/BatteryBase'
            required: [createdAt]
              
    BatteryBase:
                description: Describe the car (with combustion engine)  battery status.
                type: object
                properties:
                  voltage:
                    type: number
                    description: Auxiliary battery (12V) state of health in %
                    format: float

    BeltStatus:
                type: object
                description: Seat belt condition.
                properties:
                  belt: 
                    description: Belt status. 
                    type: string
                    enum: [Normal, Omission]
                    example: Omission
                  id: 
                    description: Seat identifier.
                    type: string
                    enum: [Driver, Passenger]
                    example: Passenger
              
    BaseSafety:
                type: object
                properties:
                  beltStatus:
                    type: array
                    items:
                      $ref: '#/components/schemas/BeltStatus'
                  autoECallTriggering:
                    type: string
                    enum: [NotDetected, Detected, ShockDetectionUnabled]

    WipingBladesState:
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/WipingBladesStateBase'
      required:
        - createdAt
    WipingBladesStateBase:  
                type: object
                properties:
                  active: 
                      description: Either active (true) or not (false).
                      type: boolean
                      example : true
                  speed:
                    description: Wiping speed. This field is present only if active field is set to true.
                    type: string
                    enum: [High, Low]
                    example : Low

    Safety:  
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/BaseSafety'  
      required: [createdAt]
    
    ServiceType:
          allOf:
              - $ref: '#/components/schemas/CreatedAtField'
              - type: object
                properties:
                  type:
                    type: string
                    enum: [Electric, Hybrid, Unknown]
          required: [createdAt]
          deprecated : true
    
    DoorsState:
        allOf:
          - $ref: '#/components/schemas/CreatedAtField'
          - $ref: '#/components/schemas/DoorsStateBase'
        required: [createdAt]
                        
    DoorsStateBase:
            type: object
            properties:
                lockedStates:
                  type: array
                  description: List of all known doors' states 
                  items:
                    type: string
                    enum: [Unlocked, Locked, SuperLocked, DriverDoorUnlocked, CabinDoorsUnlocked, CargoDoorsLocked, CargoDoorsUnlocked, RearDoorsUnlocked, RearDoorsLocked, TrunkLocked, TrunkUnLocked] 
                opening:
                  type: array
                  items:
                    type: object
                    description: Opening state per door.
                    properties :
                      identifier: 
                        type: string
                        enum: [Driver, Passenger, RearLeft, RearRight, Trunk, RearWindow, RoofWindow]
                      state:
                        type: string
                        enum: [Open, Closed]          
    Status:
      allOf: 
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/UpdatedAtField'
        - title: Vehicle status response
          description: Describe the latest status of the vehicle
          type: object
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                vehicle:
                  $ref: '#/components/schemas/Link'
                fleet:
                  $ref: '#/components/schemas/Link'
              required : [self]
            vin:  
              $ref: '#/components/schemas/Vin'
            ignition:
              $ref: '#/components/schemas/Ignition'
            lastPosition:
              $ref: '#/components/schemas/Position'
            preconditioning:
              $ref: '#/components/schemas/Preconditioning'
            energies:
              type: array
              items:
                $ref: '#/components/schemas/Energy'
            engines:
              type: array
              items:
                $ref: '#/components/schemas/Engine'
            transmission:
              $ref: '#/components/schemas/Transmission'
            powertrain:
              $ref: '#/components/schemas/Powertrain'
            adas : 
              $ref: '#/components/schemas/Adas'
            doorsState:
              $ref: '#/components/schemas/DoorsState'
            privacy:
              $ref: '#/components/schemas/Privacy'
            battery:
              $ref: '#/components/schemas/Battery'
            service:
              $ref: '#/components/schemas/ServiceType'
            safety:  
              $ref: '#/components/schemas/Safety'
            odometer: 
              $ref: '#/components/schemas/VehicleOdometer'
            kinetic :
              $ref: '#/components/schemas/Kinetic'
            environment: 
              $ref: '#/components/schemas/Environment'
            drivingBehavior:
              $ref: '#/components/schemas/DrivingBehavior'
            wipingBlades:  
              $ref: '#/components/schemas/WipingBladesState'
            lightingSystem:
              $ref: '#/components/schemas/LightingSystem'
            alarm:
              $ref: '#/components/schemas/VehicleStatusAlarm'
            stolen:
              $ref: '#/components/schemas/StolenObj'
            _embedded:
              type: object
              properties:
                extension:
                  $ref: '#/components/schemas/Extension'
          required: [_links, createdAt, vin] 
        
    Privacy:
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/PrivacyBase'
      required: [createdAt]  
    
    PrivacyBase:
      type: object
      properties:
        state:
          type: string
          enum: [None, Geolocation, Full]

    Geometry:
      title: Geometry
      type: object
      description: >-
            This object expresses a GeoJSON Point as specified by
            [rfc7946](https://tools.ietf.org/html/rfc7946#section-3.1.2).
      properties:
        coordinates:
          title: Coordinates
          description: Geometry coordinates
      externalDocs:
        url: 'https://tools.ietf.org/html/rfc7946#section-3.1'
      required:
        - coordinates
        - type
        
    Point:
      allOf:
        - $ref: '#/components/schemas/Geometry'
        - title: Point
        - description: >-
            This object expresses a GeoJSON Point as specified by
            [rfc7946](https://tools.ietf.org/html/rfc7946#section-3.1.2).
        - properties:
            type:
                type: string
                default: Point
                enum:
                    - Point
            coordinates:
                description: >-
                    This is a simple 2 (or more) numbers vector used to define Geometry
                    Point objects.
                type: array
                items:
                    type: number
                    format: float
                    minItems: 2

        - required: [type,coordinates]
        - example: 
            type: Point
            coordinates:
              - 5.970338 
              - -62.536239
    
    PositionBase:
      allOf:
        - required:
            - geometry
            - properties
            - type
          type: object
          title: Position
          properties:
            type:
              type: string
              default: Feature
              enum:
                - Feature
            geometry:
              $ref: '#/components/schemas/Point'
            properties:
              allOf : 
                - type: object
                  properties:
                    vin:
                      $ref: '#/components/schemas/Vin'
                    heading:
                      type: integer
                      description: Course angle expressed in degree. 
                      minimum: 0
                      maximum: 360
                    signalQuality:
                      type: integer
                    type:
                      type: string
                      enum:
                        - Estimated
                        - Acquire
                    fixStatus:
                      type: string
                      description : Fix status information is only returned when position type is set to Acquire. Horizontal & altitude position can be determined in 3D fix status mode where it is only horizontal position in 2D mode. 
                      enum:
                        - 2D
                        - 3D
                  
    Position:
      allOf:
        - required:
            - geometry
            - properties
            - type
          type: object
          title: Position
          properties:
            type:
              type: string
              default: Feature
              enum:
                - Feature
            geometry:
              $ref: '#/components/schemas/Point'
            properties:
              allOf : 
                - $ref: '#/components/schemas/CreatedAtField' 
                - type: object
                  properties:
                    vin:
                      $ref: '#/components/schemas/Vin'
                    heading:
                      type: integer
                      description: Course angle expressed in degree. 
                      minimum: 0
                      maximum: 360
                    signalQuality:
                      type: integer
                    type:
                      type: string
                      enum:
                        - Estimated
                        - Acquire
                    fixStatus:
                      type: string
                      description : Fix status information is only returned when position type is set to Acquire. Horizontal & altitude position can be determined in 3D fix status mode where it is only horizontal position in 2D mode. 
                      enum:
                        - 2D
                        - 3D
              required : 
                - createdAt
    
    Energy:
      description: Describe vehicle energy supply for thermic, low emission vehicle or both.
      type: object
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
      properties :
        type:
          type: string
          description: Energy type present on the vehicle.
          enum: [Fuel, Electric]
        subType:
           type: string
           description: | 
              Energy subtype. This field is not mandatory and therefore if it is not present, it means that the resource consumer should only process the primary energy type. The enumeration of the subtypes is not exhaustive and may contain more elements depending on the evolution of the vehicles. The consumer of the data must take this constraint into account. The Fossil and Electric energy subtypes are only used to populate this subtype for the default Fuel and Eletric types.
                * Electric and hydrogen vehicles energy types are considered as low emission energies whereas fuel(fossil) is associated to thermic energy
           enum: [FossilEnergy, ElectricEnergy, Hydrogen] 
        level:
          type: number
          format: float
          description: Percentage of remaining energy (Fuel or electric) level. Expressed with a precision of 0.1%.
          minimum: 0
          maximum: 100
        autonomy:
          description: Vehicle autonomy expressed in km for this energy class.
          type: integer
          minimum : 0
        extension:
          type: object
          properties:
            fuel:
              description: Specific fuel energy properties.
              type: object
              properties:
                 consumptions:
                     $ref: '#/components/schemas/CompositFuelEnergyConsumption'
            electric:
              description: Specific electric energy parameters.
              type: object
              properties:
                battery:
                    $ref: '#/components/schemas/EnergyBattery'
                charging:
                  $ref: '#/components/schemas/EnergyCharging'
      required: [createdAt, type]

    EnergyBase:
      description: Describe vehicle energy supply for thermic, low emission vehicle or both.
      type: object
      properties :
        type:
          type: string
          description: Energy type present on the vehicle.
          enum: [Fuel, Electric]
        subType:
           type: string
           description: | 
              Energy subtype. This field is not mandatory and therefore if it is not present, it means that the resource consumer should only process the primary energy type. The enumeration of the subtypes is not exhaustive and may contain more elements depending on the evolution of the vehicles. The consumer of the data must take this constraint into account. The Fossil and Electric energy subtypes are only used to populate this subtype for the default Fuel and Eletric types.
                * Electric and hydrogen vehicles energy types are considered as low emission energies whereas fuel(fossil) is associated to thermic energy
           enum: [FossilEnergy, ElectricEnergy, Hydrogen] 
        level:
          type: number
          format: float
          description: Percentage of remaining energy (Fuel or electric) level. Expressed with a precision of 0.1%.
          minimum: 0
          maximum: 100
        autonomy:
          description: Vehicle autonomy expressed in km for this energy class.
          type: integer
          minimum : 0
        extension:
          type: object
          properties:
            fuel:
              description: Specific fuel energy properties.
              type: object
              properties:
                 consumptions:
                     $ref: '#/components/schemas/CompositFuelEnergyConsumption'
            electric:
              description: Specific electric energy parameters.
              type: object
              properties:
                battery:
                  $ref: '#/components/schemas/EnergyBatteryBase'
                charging:
                  $ref: '#/components/schemas/EnergyCharging'
      required: [type]
          
    LiteEnergy:
      description: Describe vehicle energy supply for thermic, low emission vehicle or both.
      type: object
      properties :
        type:
          $ref: '#/components/schemas/EnergyType'
        subType:
          $ref: '#/components/schemas/EnergySubType'
        level:
          type: number
          format: float
          description: Percentage of remaining energy (Fuel or electric) level. Expressed with a precision of 0.1%.
          minimum: 0
          maximum: 100
        autonomy:
          description: Vehicle autonomy expressed in km for this energy class.
          type: integer
    Consumption:
          description: Vehicle consumption related to a specific type of energy. Expressed in cl for fuel energy type or in Wh for eletric one.
          type: object
          properties:
              consumption:
                description: Consumption value
                type: number
                format: float
                minimum: 0
          required: [consumption]
    EnergyConsumption:
        allOf:
              - $ref: '#/components/schemas/Consumption'
              - description: Vehicle consumption related to a specific type of energy. Expressed in cl for fuel energy type or in Wh for eletric one.
              - properties:
                  avgConsumption:
                    description: Vehicle Average consumption per 100kms for specific enery type. For eletric  in terms of Wh/100km or for fuel in terms of cl/100km respectively
                    type: number
                    format: float
                  type:
                    $ref: '#/components/schemas/EnergyType'
                  subType:
                    $ref: '#/components/schemas/EnergySubType'              
              - required: [type]
    EnergyType:
          type: string
          description: Energy type present on the vehicle.
          enum: [Fuel, Electric]
    EnergySubType:
          type: string
          description: | 
            Energy subtype. This field is not mandatory and therefore if it is not present, it means that the resource consumer should only process the primary energy type. The enumeration of the subtypes is not exhaustive and may contain more elements depending on the evolution of the vehicles. The consumer of the data must take this constraint into account. The Fossil and Electric energy subtypes are only used to populate this subtype for the default Fuel and Electric types.
              * Electric and hydrogen type are considered as low emission vehicle whereas fuel(fossil) is associated to thermic energy
          enum: [FossilEnergy, ElectricEnergy, Hydrogen] 
    CompositFuelEnergyConsumption:
              description: Fuel consumption.
              type: object
              properties:
                total:
                  description: Total Fuel consumption expressed in cL.
                  type: number
                  format: float
                  minimum: 0
                instant:
                  description: |
                    Instant Fuel consumption.
                    * If subType equal to FossilEnergy than it will be expressed in L/100Km.
                    * If subType equal to Hydrogen than it will be expressed in Kg/100Km.
                  type: number
                  format: float
                  
    EnergyCharging:
                  type: object
                  description: Electric charging state.
                  properties:
                    plugged:
                      type: boolean
                    status:
                      $ref: '#/components/schemas/ChargingStatusEnum'
                    remainingTime:
                      description: Remaning time before the battery is fully charged. This duration is expressed using [ISO8601](https://en.wikipedia.org/wiki/ISO_8601#Durations) format.
                      type: string
                    chargingRate:
                      description:  Charging speed (expressed in gained batteryLife per hour -> KM/H).
                      type: integer
                      minimum: 0
                      maximum: 500
                    chargingPowerLevel:
                      description:  Charging power level. Expressed by possible values enum. This enum list may change in the future. The application must be aware of this and provide for lenient deserialization.
                      type: string
                      enum: [Level1,Level2,Level3,Level4,Level5]                      
                    chargingMode:
                        description:  The charging mode; Slow, Quick and No(not charging).
                        type: string
                        enum: [ No, Slow, Quick ]
                    nextDelayedTime:
                      description:  Duration (as defined in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)) until the next battery charging.
                      type: string
                    chargingEndTime:
                      description:  Timestamp (as defined in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)) of when the charging should end  
                      type: string                        
                    stopChargeStatus:
                       type: string
                       description: | 
                                   Status of delayed stop charge.
                                   one of following enums status will be set:
                                      | Enum | Description |
                                      |----------|:-------------:|
                                      | Deactivated | Function is deactivated |
                                      | Activated | The function is activated, and the conditions to execute it are met. |
                                      | Successful | The most recent stop charge was successful. |
                                      | StopChargeFailed | Failed to stop charging. |
                                      | ChargeEndTimeScheduleFailed| The programming of the end of charge failed; the charging should not stop at the requested time. |
                       enum:
                          - Deactivated
                          - Activated
                          - Successful
                          - StopChargeFailed
                          - ChargeEndTimeScheduleFailed  
                    schedule:
                        properties:
                          programs:
                            type: array
                            items:
                                $ref: '#/components/schemas/ChargeScheduleProgram'
                    type:
                      description: Charging type associated to the vehicle. Full means that the charge will stop when it is completed whereas partial will stop before end of charge in order to optimize battery lifetime.
                      type: string
                      enum: [ Partial, Full ]
    HealthElectricEnergy:
      type: object
      properties:
        capacity:
          description:  Health related to battery capacity (expressed in percentage).
          type: integer
          minimum: 0
          maximum: 100
        resistance:
          description:  Health related to battery resistance (expressed in percentage).
          type: integer
          minimum: 0
          maximum: 100
          
    LoadElectricEnergy : 
      properties : 
        capacity:
          description: Electric battery total capacity (expressed in Wh). 
          type: integer
        residual:
          description: Residual electric energy (expressed in Wh)
          type: integer
    
    EnergyBatteryBase:
      type: object
      description: Electric battery capacity and heath 
      properties:
        load : 
          $ref: '#/components/schemas/LoadElectricEnergy'
        health: 
          $ref: '#/components/schemas/HealthElectricEnergy'
    EnergyBattery:
      type: object
      description: Electric charging state.
      properties:
        load : 
          allOf:
            - $ref: '#/components/schemas/CreatedAtField'
            - $ref: '#/components/schemas/LoadElectricEnergy'
          required : [createdAt]
        health:
          allOf:
            - $ref: '#/components/schemas/CreatedAtField'
            - $ref: '#/components/schemas/HealthElectricEnergy'
          required : [createdAt]
    ChargeScheduleProgram:  
     allOf:
        - $ref: '#/components/schemas/BasicProgram'
        - properties:
                enabled:
                  type: boolean
                  description:  Determines whether this program is enabled or not.
                slot:
                    type: integer
                    description: This program number. Can only be used ONE time in the same charging program list. 
                end:
                  type: string
                  description: |
                          The program relative (to 00:00) end time formatted using the duration format based on [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#Time_intervals) with the schema: P[n]Y[n]M[n]DT[n]H[n]M[n]S
                      
                          _example_: 
                        
                          * PT14H30M means 14H and 30Min
                  example : PT14H30M
                chargeUntilFull:
                    description: If this program is tagged as chargin until battery is full.
                    type : boolean
    BaseAlarmTrigger:
      type: object
      title: Vehicle Alarm Trigger
      description: Describe a vehicle alarm trigger.
      properties:
          type: 
            description: Define the vehicle break-in type.
            type: string
            enum:
                - NoBreakIn
                - FrontRightDoorBreakIn
                - FrontLeftDoorBreakIn
                - RearRightFrontDoorBreakIn
                - RearLeftFrontDoorBreakIn
                - HoodDoorBreakIn
                - TrunkDoorBreakIn
                - BackliteDoorBreakIn
                - RoofBreakIn
                - VolumetricBreakIn
                - VehicleLifting
                - ElectricalsystemBreakIn
                - KeyLearning
                - UnauthenticatedStartup
          position:
            allOf:
                - description: The position (last vehicle known one) where the alarm triggered.
                - $ref: '#/components/schemas/Position'
          startAt:
            description: Time when the alarm triggering started.
            type: string
            format: date-time
      required: [type, startAt]
    BaseAlarmStatus:
      type: object
      title: Vehicle Alarm Status
      description: Describe a vehicle alarm status.
      properties:
          activation: 
            description: Define whether the vehicle alarm is active or not.
            type: string
            enum: [Inactive, Active]
      required: [activation]   
    BaseAlarm:
      type: object
      title: VehicleAlarm
      description: Describe a vehicle alarm status and trigger.
      properties:
        status:
          $ref: '#/components/schemas/BaseAlarmStatus'
        trigger:
          $ref: '#/components/schemas/BaseAlarmTrigger'
      
    AlarmTrigger:
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/BaseAlarmTrigger'
        - title: Vehicle Alarm Trigger
        - required: [type, startAt, createdAt]
        
    AlarmStatus:
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/BaseAlarmStatus'
        - title: Vehicle Alarm Status
        - required: [activation, createdAt]
        
    Alarm:
      type: object
      title: Vehicle Alarm
      description: Describes the vehicle alarm status or trigger. Only one is present.
      properties:
        trigger:
            $ref: '#/components/schemas/AlarmTrigger'
        status:
            $ref: '#/components/schemas/AlarmStatus'
    
    VehicleStatusAlarm:
      allOf:
        - $ref: '#/components/schemas/Alarm'
        - description: Describes the current vehicle alarm status and the latest (if available) trigger.
    
    AlarmDetails :
      allOf:
        - properties:
            id : 
              type: string
        - $ref: '#/components/schemas/Alarm'
        - required : [id]

    Alarms:
      title: Alarm array
      allOf:
        - $ref: '#/components/schemas/CollectionResult'
        - properties:
            _embedded:
              type: object
              properties:
                alarms:
                  type: array
                  items:
                    $ref: '#/components/schemas/AlarmDetails'            

    BasicProgram:
      type: object
      description: Describe recurring action.
      properties:
        start:
            type: string
            description: |
                          The program relative (to 00:00) start time formatted using the duration format based on [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#Time_intervals) with the schema: P[n]Y[n]M[n]DT[n]H[n]M[n]S
                      
                          _example_: 
                        
                          * PT14H30M means 14H and 30Min
            example : PT14H30M
        occurence:
                type: object
                description: >
                   The occurrence on the program will spread on days depending on recurrence value.
                properties:
                    day:
                        type: array
                        items:
                          type: string
                          enum: [Mon, Tue, Wed, Thu, Fri, Sat, Sun]
                required: [day]
      required: [start]
    
    Program:
      type: object
      description: Describe recurring action.
      properties:
        recurrence:
            description: | 
                      Determines the recurrence of the program. 
                      * None: means no recurrence. 
                      * Daily: repeated over the week. 
            type: string
            enum: [None, Daily]
            default: Daily
        start:
            type: string
            description: |
                          The program start time formatted using the duration format based on [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#Time_intervals) with the schema: P[n]Y[n]M[n]DT[n]H[n]M[n]S
                      
                          _example_: 
                        
                          * PT14H30M means 14H and 30Min
            example : PT14H30M
        occurence:
                type: object
                description: >
                   The occurrence on the program will spread on days depending on recurrence value.
                properties:
                    day:
                        type: array
                        items:
                          type: string
                          enum: [Mon, Tue, Wed, Thu, Fri, Sat, Sun]
                required: [day]
      required: [start]

    PreconditioningProgram:
      allOf:
        - $ref: '#/components/schemas/Program'
        - title: PreconditionProgram
        - properties:
            slot:
              type: integer
              description: This program number. Can only be used ONE time in the same preconditioning list.
              minimum: 1
              maximum: 4
            enabled:
                type: boolean
                description: > 
                          Determines whether this program is enabled or not.
        - required: [start, enabled, recurrence, occurence]
        
    Preconditioning:
      allOf:
          - type: object
            description: Preconditioning the vehicle for driver and passenger.
            properties:
              airConditioning:
                allOf:
                  - $ref: '#/components/schemas/CreatedAtField'
                  - type : object
                  - properties:
                      status:
                        description: > 
                          The status of the preconditioning feature.
                        type: string
                        enum: [Enabled, Disabled, Finished, Failure]
                      startingCause:
                        description : starting cause
                        type: string
                        enum: [Immediate, Scheduled]
                      failureCause:
                        description: failure cause
                        type: string
                        enum: [ Defect, DoorOpened, LowBattery, LowFuelLevel, TooManyUnusedProg, WindowsRoofOpened, HoodOpened, NotParked, OtherFailures]
                      programs:
                        type: array
                        minItems: 1
                        maxItems: 4
                        items:
                          $ref: '#/components/schemas/PreconditioningProgram'
                required: [createdAt]
   
    PreconditioningBase:
      allOf:
          - type: object
            description: Preconditioning the vehicle for driver and passenger.
            properties:
              airConditioning:
                allOf:
                  - type : object
                  - properties:
                      status:
                        description: > 
                          The status of the preconditioning feature.
                        type: string
                        enum: [Enabled, Disabled, Finished, Failure]
                      startingCause:
                        description : starting cause
                        type: string
                        enum: [Immediate, Scheduled]
                      failureCause:
                        description: failure cause
                        type: string
                        enum: [ Defect, DoorOpened, LowBattery, LowFuelLevel, TooManyUnusedProg, WindowsRoofOpened, HoodOpened, NotParked, OtherFailures]
                      programs:
                        type: array
                        minItems: 1
                        maxItems: 4
                        items:
                          $ref: '#/components/schemas/PreconditioningProgram'
    Trip:
      allOf :
          - $ref: '#/components/schemas/CreatedAtField'
          - $ref: '#/components/schemas/UpdatedAtField'
          - title: Trip 
            type: object
            properties:
              _links:
                type: object
                properties:
                  self:
                    $ref: '#/components/schemas/Link'
                  vehicle:
                    $ref: '#/components/schemas/Link'
                  waypoints:
                    $ref: '#/components/schemas/Link'
                  alerts:
                    $ref: '#/components/schemas/Link'
                  collisions:
                    $ref: '#/components/schemas/Link'
                required : [self]
              id:
                type: string
                description: Identifier of a trip
              vin:
                $ref: '#/components/schemas/Vin'
              startedAt:
                type: string
                format: date-time
                description: Date & Time when the trip started
              stoppedAt:
                type: string
                format: date-time
                description: Date & Time when the trip stopped
              startPosition:
                $ref: '#/components/schemas/Position'
              stopPosition:
                $ref: '#/components/schemas/Position'
              duration:
                type: integer
                description: Duration in second of the trip
              distance:
                type: number
                format: float
                description: Distance in km of the trip
              startMileage: 
                type: number
                format: float
                description: Vehicle mileage at the trip starting time.
              startEnergies: #LiteEnergy
                  description: Vehicle energies levels and autonomies at the trip start time. 
                  type: array
                  items: 
                     $ref: '#/components/schemas/LiteEnergy'
              endEnergies: #LiteEnergy
                description: Vehicle energies levels and autonomies at the trip end time. 
                type: array
                items: 
                   $ref: '#/components/schemas/LiteEnergy'                     
              energyConsumptions:
                description: The consumptions of different energies during this trip.
                type: array
                items: 
                   $ref: '#/components/schemas/EnergyConsumption'
              kinetic:
                description: Expresses the max and average vehicle speed during this trip. 
                type: object
                properties:
                  avgSpeed: 
                    type: number
                    format: float
                  maxSpeed: 
                    type: number
                    format: float
              segments:
                description: The parts of the trip crossed for each type of propulsion.
                type: array
                items:
                  $ref: '#/components/schemas/TripSegment'
              done:
                description: Determines either this trip is finished or not.
                type: boolean
              faults:
                description: Faults of this finished or in progress trip. This means that we lacked data from the vehicle to complete the trip description during one of its step (starting, progressing, or finishing).
                type: array
                items:
                  type: object
                  properties:
                    fault:
                      type: string
                      enum: [Unstarted, DataLacking, Unfinished]
                    cause:
                      type: string
                      enum: [GeoPrivacy, FullPrivacy, Connection]
            required : [_links, createdAt, id, vin]
    TripSegment:
      description: Part of the trip crossed for a type of propulsion.
      properties:
        propulsion: 
          description: |
            Propulsion during this trip segment.
          type: string
          enum: [Thermal, Electric, Hybrid]
        percent:
          description: | 
            Trip segment pecentage. _Unit: %_
          type: number
          format: float
        distance:
          description: |
            Distance driven during this trip segment. _Unit: Km_
          type: number
          format: float
    Fleet:
      allOf :
        - $ref: '#/components/schemas/UpdatedAtField'
        - $ref: '#/components/schemas/CreatedAtField'
        - title: Fleet Information
          type: object
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                vehicles:
                  $ref: '#/components/schemas/Link'
                status:
                  $ref: '#/components/schemas/Link'
                maintenances:
                  $ref: '#/components/schemas/Link'
                alerts:
                  $ref: '#/components/schemas/Link'
                trips:
                  $ref: '#/components/schemas/Link'
                collisions:
                  $ref: '#/components/schemas/Link'
                monitors:
                  $ref: '#/components/schemas/Link'
                callbacks:
                  $ref: '#/components/schemas/Link'
              required : [self]
            name:
              description: Name of the Fleet
              type: string
            id:
              description: The id of the Fleet
              type: string
              example : 0a123bc5d1e873066454b4d9
            description:
              description: The description of the Fleet
              type: string
          required : [_links, id]
       
    Vehicle:
      allOf:
        - $ref: '#/components/schemas/UpdatedAtField'
        - $ref: '#/components/schemas/CreatedAtField'
        - title: Vehicle Information
          type: object
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                fleet:
                  $ref: '#/components/schemas/Link'  
                lastPosition:
                  $ref: '#/components/schemas/Link'
                trips:
                  $ref: '#/components/schemas/Link'
                maintenance:
                  $ref: '#/components/schemas/Link'
                alerts:
                  $ref: '#/components/schemas/Link'
                status:
                  $ref: '#/components/schemas/Link'
                telemetry:
                  $ref: '#/components/schemas/Link'
                collisions:
                  $ref: '#/components/schemas/Link'
                alarms:
                  $ref: '#/components/schemas/Link'
                monitors:
                  $ref: '#/components/schemas/Link'
                remotes:
                  $ref: '#/components/schemas/Link'
                callbacks:
                  $ref: '#/components/schemas/Link'
              required : [self]
            id:
              type: string
              example : 01234a91598cf0c57e856bb88003fd2a7f2c27f458faab8bbd34356235695902ffb6c4c5360d6714415ab92b07c8e33b5
            vin:
              description: Serial number of a vehicle
              type: string
              example : VF3ABCDE0FG123456
            motorization :
              description : Motorization of the vehicle.
              type : string
              enum: [Electric, Hybrid, Thermic, Hydrogen]
              example : Thermic
            brand:
              deprecated: true
              description: Brand of a vehicle
              type: string
              example : Peugeot
            pictures:
              deprecated: true
              description: With the links it's possible to see the pictures of the vehicle 
              type: array
              minItems: 1
              maxItems: 12
              items:
                $ref: '#/components/schemas/Url'
              example: 
                - "https://visuel3d-secure.peugeot.com/V3DImage.ashx?client=miseco&format=png&back=0&version=1PP5C5ZNKAB0A0B0&color=0MM00N9V&trim=0PDB0RFX&OPT1=D180&OPT2=D190&OPT3=DD50&OPT4=DLZ0&OPT5=DVB1&view=001"
                - "https://visuel3d-secure.peugeot.com/V3DImage.ashx?client=miseco&format=png&back=0&version=1PP5C5ZNKAB0A0B0&color=0MM00N9V&trim=0PDB0RFX&OPT1=D180&OPT2=D190&OPT3=DD50&OPT4=DLZ0&OPT5=DVB1&view=002"
            _embedded:
              type: object
              properties:
                extension:
                  $ref: '#/components/schemas/VehicleExtension'
          required : [_links]
    Vehicles:
      allOf:
        - $ref: '#/components/schemas/CollectionResult'
        - properties:
            _embedded:
              type: object
              properties:
                vehicles:
                  type: array
                  items:
                    $ref: '#/components/schemas/VehicleItem'
    VehicleItem:
      allOf:
        - $ref: '#/components/schemas/UpdatedAtField'
        - $ref: '#/components/schemas/CreatedAtField'
        - title: Vehicle Information
          type : object
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                fleet:
                  $ref: '#/components/schemas/Link'  
                lastPosition:
                  $ref: '#/components/schemas/Link'
                trips:
                  $ref: '#/components/schemas/Link'
                maintenance:
                  $ref: '#/components/schemas/Link'
                alerts:
                  $ref: '#/components/schemas/Link'
                status:
                  $ref: '#/components/schemas/Link'
                telemetry:
                  $ref: '#/components/schemas/Link'
                monitors:
                  $ref: '#/components/schemas/Link'
                remotes:
                  $ref: '#/components/schemas/Link'
                callbacks:
                  $ref: '#/components/schemas/Link'
                collisions:
                  $ref: '#/components/schemas/Link'
              required : [self]
            id:
              type: string
              example : 01234a91598cf0c57e856bb88003fd2a7f2c27f458faab8bbd34356235695902ffb6c4c5360d6714415ab92b07c8e33b5
            vin:
              description: Serial number of a vehicle
              type: string
              example : VF3ABCDE0FG123456
            motorization :
              description : Motorization of the vehicle.
              type : string
              enum: [Electric, Hybrid, Thermic, Hydrogen]
              example : Thermic
            brand:
              deprecated: true
              description: Brand of a vehicle
              type: string
              example : Peugeot
            pictures:
              deprecated: true
              description: With the links it's possible to see the pictures of the vehicle 
              type: array
              minItems: 1
              maxItems: 12
              items:
                $ref: '#/components/schemas/Url' 
              example: 
                - "https://visuel3d-secure.peugeot.com/V3DImage.ashx?client=miseco&format=png&back=0&version=1PP5C5ZNKAB0A0B0&color=0MM00N9V&trim=0PDB0RFX&OPT1=D180&OPT2=D190&OPT3=DD50&OPT4=DLZ0&OPT5=DVB1&view=001"
                - "https://visuel3d-secure.peugeot.com/V3DImage.ashx?client=miseco&format=png&back=0&version=1PP5C5ZNKAB0A0B0&color=0MM00N9V&trim=0PDB0RFX&OPT1=D180&OPT2=D190&OPT3=DD50&OPT4=DLZ0&OPT5=DVB1&view=002"
            _embedded:
              type: object
              properties:
                extension:
                  $ref: '#/components/schemas/VehicleExtensions'
          required : [_links]
          
    VehicleExtensions:
        allOf:
          - description: Additional vehicle  information.  
          - properties:
                branding:
                  $ref: '#/components/schemas/VehicleBrandingSingle'
                pictures:
                  $ref: '#/components/schemas/VehiclePictures'
    VehicleExtension:
        allOf:
          - description: Additional vehicle  information.  
          - properties:
                onboardCapabilities:
                  $ref: '#/components/schemas/OnboardCapabilities'
                branding:
                  $ref: '#/components/schemas/VehicleBranding'
                pictures:
                  $ref: '#/components/schemas/VehiclePictures'
    OnboardCapabilities:
      type : object
      properties:
        data :
          description : List of retrievable data represented by their scopes.
          type: array
          items:
            type: string
            enum:
              - data:vehicle:devices:pnc
              - data:telemetry
              - data:telemetry:environment
              - data:telemetry:privacy
[...]
