openapi: 3.0.0
servers:
  - url: 'https://api-cert.groupe-psa.com/connectedcar/v3'
security:
  - BasicAuth: []
    ClientId: []
info:
  version: '3.8.0'
  title: Groupe PSA Connected Car B2B API
  description: |
    *Business Partner Connected Fleet API*  
    
 
    # Introduction

    This is the description of the *Groupe PSA Connected Car V3 B2B API*. 
    This specification is written in **OpenAPI Specification version 3** and can
    be displayed using [ReDoc](https://github.com/Rebilly/ReDoc) or
    [Swagger](http://swagger.io).
      This REST API allows  applications to fetch data from the connected Vehicles data  platform.
    
    ---
    
    # Authentication

    PSA Connected Car B2B APIs uses the [HTTPS Authentication](https://tools.ietf.org/html/rfc7235) (with provided PSA SSL Certificate) to access to fleet vehicles data.
    
    
    ---
    
    # Paging:
      To make this necessary feature easy to use when retrieving a collection of results, this API uses a token (computed and interpreted by the server only) as a context that contains all necessary information allowing the navigation through pages. 
      Token acts as an ```HTTP COOKIE``` on the client-side, so the server does not keep any cache or session settings to continue paging and keep all request stateless.
          
    ---
        
    # Errors:
      Error codes returned by all APIs comply with the standard. Nevertheless, PSA Services (callers) need to have more detailed data structures (even when the answer is not Http-OK) to better categorize the type of error by providing application code, message and debugging code(for investigation purposes). The HTTP code of the response is managed by the protocol itself (in the header).
        
    ### These APIS are likely to report the following HTTP code:
    
    | <b>Code</b>  | <b>Description</b>  |  <b>Case</b> |  
    |---|---|---|
    | 200  |<i>The request has succeeded and the resource data has been sent.</i>|GET APIs.  |
    | 202  |<i>The request has been accepted for processing, but not yet acted upon. An id of processing is returned.</i>|POST/PUT requests:<br>-Create monitor<br>-Create Remote callback.| 
    | 204  |<i>The request has been accepted and there is no additional content</i>|DELTE APIs:<br>-Delete monitor.<br>-Delete remote callback.|
    |400|<i>Request cannot be processed due to invalid query parameter value of body content (for POST/PUT verbs)</i>|ALL APIs.|
    |401|<i>Unauthorized request due to lack of valid authentication credentials.</i>|All APIs.|
    |403|<i>Unauthorized request due to insufficient credentials to grant access.</i>|All APIs.|
    |404|<i>Target resource not found.|All APIs. Even POST, PUT or DELETE if the resource id is unknown.</i>|
    |500|<i>Unexpected condition that prevented from fulfilling the request.</i>|All APIs.|


      
      **Errors are  returned as a generic error response:**
       * See ```ErrorCodeDefaultResponse``` model.
       
    ---
    
       
    # API output:
      ## Data profile
       B2B partners need to return vehicle data with an end-user profile. To do this, the data APIs allow to use an end-user profile according to a query parameter named ```profile```.  Remote,  Monitor, Fleets and Vehicles getter APIs are not affected by this parameter.
     
      ## Data format
      
      **All APIs return data in JSON format. The application who uses them must take into account the evolving character of them and more precisely regarding the schemas of the exposed data. Indeed:**
      
      *  The missing of known data fields should not cause an error. 
      *  It should (correctly)  deal with JSON content with unknown properties also. Indeed, data schema extensions should be supported without errors even if they are not used. 
        
      
      **for example:**
      
      Assuming a given exposed resource with this data schema:
        
          
           data:
            type: object
            description: Data model
            properties:
              field1:
                type: string
              field2:
                type: number
             
      The application should be able to deal with those possible valid JSON contents:
        
      > All fields:
        ```{
          "field1":"value1",
          "field2": 1
        }```
        
      > Missing field2:
        ```{
          "field1":"value1"
        }```        

      > Unknow  field3:
        ```{
          "field1":"value1",
          "field3": 2.5
        }```
      
     
    ---  
  license:
    name: Groupe PSA Licence
    url: 'https://www.psa-peugeot-citroen.com/'
tags:
  - name: Fleet
    description: To retreive Fleet details and access resources in **batch mode** (without vehicle or trip filtering).
  - name: Vehicles
    description: Access to Vehicles details.
  - name: Trips
    description: Describe Trips of a Fleet or Vehicle
  - name: Monitors
    description: Vehicles monitors.
  - name: Remote
    description: Vehicle remote access.

paths:
  /fleets:
    get:
      tags:
        - Fleet
      summary: Fleets owned by a partner
      description: Returns all Fleets owned by a partner. 
      operationId: getFleets
      parameters:
        
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
           $ref: '#/components/responses/FleetsSuccessResponse'
        default:
          description: Fleet not found
          $ref: '#/x-fragment/general_error_fragment'

  /fleets/{fid}:
    get:
      tags:
        - Fleet
      summary: Fleet's information
      description: Returns the Fleet's information. 
      operationId: getFleet
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
      responses:
        200:
          $ref: '#/components/responses/FleetSuccessResponse'
        default:
          description: Fleet not found
          $ref: '#/x-fragment/general_error_fragment'
 
  /fleets/{fid}/vehicles:
    get:
      tags:
        - Vehicles
      summary: List of vehicles
      description: Returns the Vehicles associated with the Fleet.
      operationId: getVehiclesByDevice
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/vinPrefix'
      responses:
        200:
          description: OK
          content:
            'application/hal+json ':
              schema:
                $ref: '#/components/schemas/Vehicles'
        default:
          description: Vehicle not found
          $ref: '#/x-fragment/general_error_fragment'
    
  '/fleets/{fid}/vehicles/{vid}':
    get:
      tags:
        - Vehicles
      summary: Details of a vehicle.
      description: Returns detailed information about a Vehicle.
      operationId: getVehicleByid
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/locale'
   
      responses:
        200:
          description: OK
          content:
            'application/hal+json ':
              schema:
                  allOf:
                      - $ref: '#/components/schemas/VehicleLabel'
                      - $ref: '#/components/schemas/Vehicle'
        default:
          description: Vehicle not found
          $ref: '#/x-fragment/general_error_fragment'
  
  '/fleets/{fid}/vehicles/{vid}/lastPosition':
    get:
      tags:
        - Vehicles
      summary: Last position identified
      description: Returns the latest GPS Position of the Vehicle.
      operationId: getCarLastPosition
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/profile'
      responses:
        200:
          description: Position response
          content:
            application/vnd.geo+json:
              schema:
                $ref: '#/components/schemas/Position'
        default:
          description: Vehicle not found
          $ref: '#/x-fragment/general_error_fragment'
          
  '/fleets/{fid}/vehicles/{vid}/collisions':
     get:
        tags:
            - Vehicles
        summary: Collisions of a vehicle.
        description: >-
            Returns the list of Collisions that occurred for a given vehicle (id)
            during the timestamp ranges and bounded by an index range.
        operationId: getVehicleCollision
        parameters:

            - $ref: '#/components/parameters/fleetId'
            - $ref: '#/components/parameters/vehicleId'
            - $ref: '#/components/parameters/profile'
            - $ref: '#/components/parameters/timestamps'
            - $ref: '#/components/parameters/indexRange'
            - $ref: '#/components/parameters/pageSize'
            - $ref: '#/components/parameters/pageToken'
        responses:
            200:
                $ref: '#/components/responses/CollisionsSuccessResponse'
            default:
                $ref: '#/components/responses/CollisionFailedResponse'
          
  '/fleets/{fid}/vehicles/{vid}/collisions/{cid}':
    get:
     tags:
       - Vehicles
     summary: An identified collision that occurred on a vehicle.
     description: Returns the Collision that matches the vehicle id and the Collision cid.
     operationId: getVehicleCollisionById
     parameters:

       - $ref: '#/components/parameters/fleetId'
       - $ref: '#/components/parameters/vehicleId'
       - $ref: '#/components/parameters/profile'
       - $ref: '#/components/parameters/collisionId'
     responses:
       200:
         $ref: '#/components/responses/CollisionsuccessResponse'
       default:
         $ref: '#/components/responses/CollisionFailedResponse'
          
  '/fleets/{fid}/vehicles/{vid}/maintenance':
    get:
      tags:
        - Vehicles
      summary: Maintenance details of a vehicle.
      description: Returns the latest Maintenance information for a Vehicle.
      operationId: getVehicleMaintenance
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/profile'
      responses:
        200:
          description: Maintenant response
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Maintenance'
        default: 
          $ref: '#/x-fragment/general_error_fragment'
  
  '/fleets/{fid}/status':
    get:
      tags:
        - Fleet
      description: Returns the latest vehicles status for a given fleet. HyperLink (HAL) resolutions of resources within the returned collection are associate to vehicle. 
      summary: Fleet Vehicles status.
      operationId: getFleetStatusList
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
          $ref: '#/components/responses/StatusSuccessResponses'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          
  '/fleets/{fid}/maintenances':
    get:
      tags:
        - Fleet
      description: Returns the latest vehicles maintenance list for a given fleet. HyperLink (HAL) resolutions of resources within the returned collection are associate to vehicle. 
      summary: Fleet Vehicles maintenances.
      operationId: getFleetMantenanceList
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
          $ref: '#/components/responses/MaintenanceSuccessResponses'
        default:
          $ref: '#/x-fragment/general_error_fragment'  
          
  '/fleets/{fid}/alerts':
    get:
      tags:
        - Fleet
      description: Returns the vehicles alerts list for a given fleet. HyperLink (HAL) resolutions of resources within the returned collection are associate to vehicle. 
      summary: Fleet Vehicles alerts.
      operationId: getFleetAlertList
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponses'
        default:
          $ref: '#/x-fragment/general_error_fragment'
  
  '/fleets/{fid}/alerts/{aid}':
    get:
      tags:
        - Fleet
      description: Returns information about a specific alert message for a given fleet. 
      summary: Fleet single alert.
      operationId: getFleetAlertById
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/alertId'        
      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponse'
        default:
          $ref: '#/components/responses/AlertFailedResponse'
 
  '/fleets/{fid}/vehicles/{vid}/status':
    get:
      tags:
        - Vehicles
      description: Returns the latest vehicle status.
      summary: Vehicle status.
      operationId: getFleetVehicleStatus
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/vehicleId'
      responses:
        200:
          description: Status response
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Status'
        default:
          $ref: '#/x-fragment/general_error_fragment'          
          
  '/fleets/{fid}/vehicles/{vid}/alerts':
    get:
      tags:
        - Vehicles
      summary: Alerts related to a vehicle.
      description: Returns the latest alert messages for a Vehicle.
      operationId: getVehicleAlerts
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponses'
        default:
          $ref: '#/components/responses/AlertFailedResponse'
          
  '/fleets/{fid}/vehicles/{vid}/alerts/{aid}':
    get:
      tags:
        - Vehicles
      summary: An alert related to a vehicle.
      description: Returns information about a specific alert messages for a Vehicle.
      operationId: getFleetVehicleAlertsById
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/alertId'
      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponse'
        default:
          $ref: '#/components/responses/AlertFailedResponse'
          
  '/fleets/{fid}/vehicles/{vid}/telemetry':
    get:
      tags:
        - Vehicles
      summary: Telemetry of vehicle
      description: >-
        Returns the latest Telemetry messages that occurred during a selective timestamp-ranges and bounded by an index range.
      operationId: getTelemetry
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSizeHighFrequency'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/telemetryType'
        - $ref: '#/components/parameters/telemetryExtension'
      responses:
        200:
          $ref: '#/components/responses/TelemetrySuccessResponse'
        default:
          $ref: '#/components/responses/TelemetryFailedResponse'
          
  '/fleets/{fid}/monitors':
    get:
      tags:
        - Monitors
      summary: Get all monitors of the fleet.
      description: Returns the list of subscribed Monitors of the fleet.
      operationId: getFleetMonitors
      parameters:
        
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/fleetId'
          
      responses:
        200:
          $ref: '#/components/responses/MonitorsuccessResponses'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
    post:
      tags:
        - Monitors
      summary: Create a new Monitor.
      description: |
                    >Create a Monitor for all Vehicles of the fleet. This is a kind of vehicle monitor that generates an event following the transition state of one of the (monitored) data  of the vehicles. As for example the fuel level, the moving out of a defined geographical area. 
                    
                    >When the trigger occurs, the built event expressed as a JSON object will be sent over the subscribed callback.
      operationId: createFleetVehicleMonitor
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/MonitorParameter'
                #DataMonitorParm
      responses: 
        202:
          $ref: '#/components/responses/MonitorsuccessPostResponse'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
          
  '/fleets/{fid}/monitors/{mid}':
    put:
      tags:
        - Monitors
      summary: Update an existing Monitor.
      description: |
                    Update an existing ```Monitor``` that has been posted (and accepted previously) for this fleet. The monitor object (body) provided should be complete because the aggregation is not supported for the update of the ```monitor```. You can first retrieve this object using the ```GET /monitor/{mid}``` API, then modify it and finally publish it (via this ```PUT API```).
      operationId: updateFleetVehicleMonitor
      parameters:
        - $ref: '#/components/parameters/monitorId'
        - $ref: '#/components/parameters/fleetId'
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/MonitorParameter'
      responses: 
        202:
          $ref: '#/components/responses/MonitorsuccessPostResponse'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
    get:
      tags:
        - Monitors
      description: Returns information about a specific Monitor for a given fleet.
      summary: Get the monitor by monitor Id.
      operationId: getFleetMonitorsStatusById
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/monitorId'
      responses:
        200:
          $ref: '#/components/responses/MonitorsuccessResponse'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
    delete:
      tags:
        - Monitors
      summary: Delete an existing Monitor.
      description: Stop (disable) an existing Monitor.
      operationId: deleteFleetMonitor
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/monitorId'
      responses:
        204:
          description: Monitor deleted (the response does not include an entity).
        '400':
          description: Invalid ID supplied
        '404':
          description: Monitor not found
 
  '/fleets/{fid}/monitors/{mid}/status': 
    put:
      x-available: true
      tags:
        - Monitors
      summary: Set a new monitor status.
      description: |
                   Set monitor status. 
      operationId: setFleetVehicleMonitorStatus
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/monitorId'
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/MonitorStatusSetter'
      responses: #MonitorId
        202:
          $ref: '#/components/responses/MonitorsuccessPostResponse'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
  
  '/fleets/{fid}/vehicles/{vid}/trips':
    get:
      summary : Vehicle's trip list.
      tags:
        - Trips
      description: >-
        This method returns a list of all Trips that a given Vehicle has taken.
        This will NOT include Trips that have not yet been completed.
      operationId: getTripsByVehicle
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
          $ref: '#/components/responses/TripsSuccessResponses'
        default:
          $ref: '#/components/responses/TripFailedResponse'

  '/fleets/{fid}/trips':
    get:
      summary: Trips of all vehicles of the fleet. 
      tags:
        - Fleet
      description: >-
        This method returns a list of all Trips. HyperLink (HAL) resolutions of resources within the returned collection are associate to vehicle. 
      operationId: getFleetTrips
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
          $ref: '#/components/responses/TripsSuccessResponses'
        default:
          $ref: '#/components/responses/TripFailedResponse'
  

  '/fleets/{fid}/trips/{tid}/collisions':
    get:
     tags:
       - Trips
     summary: Fleet's trip collisions list. 
     description: >-
       Returns the list of Collisions that occurred during a trip and bounded (optional) by a timestamp ranges and an index range.
     operationId: getTripCollisionsByTrip
     parameters:

       - $ref: '#/components/parameters/fleetId'
       - $ref: '#/components/parameters/pageToken'
       - $ref: '#/components/parameters/tripId'
       - $ref: '#/components/parameters/profile'
       - $ref: '#/components/parameters/timestamps'
       - $ref: '#/components/parameters/indexRange'
       - $ref: '#/components/parameters/pageSize'
     responses:
       '200':
         $ref: '#/components/responses/CollisionsSuccessResponse'
       default:
         $ref: '#/components/responses/CollisionFailedResponse'
         
  '/fleets/{fid}/vehicles/{vid}/trips/{tid}/collisions':
    get:
     tags:
       - Trips
     summary: Vehicle's trip collision list. 
     description: >-
       Returns the list of Collisions of a vehicle that occurred during a trip and bounded (optional) by a timestamp ranges and an index range.
     operationId: getTripCollisionsByTripAndVehicle
     parameters:

       - $ref: '#/components/parameters/vehicleId'
       - $ref: '#/components/parameters/fleetId'
       - $ref: '#/components/parameters/pageToken'
       - $ref: '#/components/parameters/tripId'
       - $ref: '#/components/parameters/timestamps'
       - $ref: '#/components/parameters/indexRange'
       - $ref: '#/components/parameters/pageSize'
     responses:
       '200':
         $ref: '#/components/responses/CollisionsSuccessResponse'
       default:
         $ref: '#/components/responses/CollisionFailedResponse'
         
  '/fleets/{fid}/collisions':
    get:
     tags:
       - Fleet
     summary: Collisions of all vehicles' fleet.
     description: >-
       Returns the list of Collisions that occured on vehicles' fleet. HyperLink (HAL) resolutions of resources within the returned collection are associate to vehicle. 
     operationId: getFleetTripCollisions
     parameters:

       - $ref: '#/components/parameters/fleetId'
       - $ref: '#/components/parameters/profile'
       - $ref: '#/components/parameters/pageToken'
       - $ref: '#/components/parameters/timestamps'
       - $ref: '#/components/parameters/indexRange'
       - $ref: '#/components/parameters/pageSize'      
     responses:
       '200':
         $ref: '#/components/responses/CollisionsSuccessResponse'
       default:
         $ref: '#/components/responses/CollisionFailedResponse'
  
  '/fleets/{fid}/collisions/{cid}':    
    get:
     tags:
       - Fleet
     summary: An identified collision that occurred on a fleet.
     description: >-
      # Returns the Collision that matches the fleet id and the Collision cid. 
     operationId: getCollisionsById
     parameters:

       - $ref: '#/components/parameters/fleetId'
       - $ref: '#/components/parameters/profile'
       - $ref: '#/components/parameters/collisionId'      
     responses:
       '200':
         $ref: '#/components/responses/CollisionsuccessResponse'
       default:
         $ref: '#/components/responses/CollisionFailedResponse' 

  '/fleets/{fid}/trips/{tid}':
    get:
      summary : Fleet's trip list.
      tags:
        - Trips
      description: >-
        Gives the Trip that matches the Trip id (tid).
      operationId: getFleetTripsById
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/profile'
      responses:
        200:
          $ref: '#/components/responses/TripsuccessResponse'
        default:
          $ref: '#/components/responses/TripFailedResponse'

  '/fleets/{fid}/vehicles/{vid}/trips/{tid}':
    get:
      summary : Vehicle's trip list.
      tags:
        - Trips
      description: >-
        This method returns the Trip that matches the Trip id (tid) a given
        Vehicle (id) has taken.
      operationId: getFleetTripByVehicle
      parameters:
        
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/profile'
      responses:
        200:
          $ref: '#/components/responses/TripsuccessResponse'
        default:
          $ref: '#/components/responses/TripFailedResponse'

  '/fleets/{fid}/trips/{tid}/alerts':
    get:
      summary: Fleet's trip alert list.
      tags:
        - Trips
      description: >-
        Returns the alert message list for a given trip.
      operationId: getFleetTripAlerts
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/profile'

      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponses'
        default:
          $ref: '#/components/responses/AlertFailedResponse'  

  '/fleets/{fid}/vehicles/{vid}/trips/{tid}/alerts':
    get:
      summary: Vehicle's trip alert list.
      tags:
        - Trips
      description: >-
        Returns the alert message list for a given vehicle.
      operationId: getFleetTripAlertByVehicle
      parameters:
        
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/profile'

      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponses'
        default:
          $ref: '#/components/responses/AlertFailedResponse'
  

  '/fleets/{fid}/vehicles/{vid}/trips/{tid}/alerts/{aid}':
    get:
      summary : Vehicle's trip specific alert.
      tags:
        - Trips
      description: >-
        Returns the alert message list for a given vehicle that occure during a trip.
      operationId: getFleetTripAlertByVehicleById
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/alertId'
        - $ref: '#/components/parameters/profile'

      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponse'
        default:
          $ref: '#/components/responses/AlertFailedResponse'  
    
  '/fleets/{fid}/trips/{tid}/alerts/{aid}':
    get:
      summary: Fleet's trip specific alert.
      tags:
        - Trips
      description: >-
        Returns the alert message for a given trip.
      operationId: getFleetTripAlertById
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/alertId'
        - $ref: '#/components/parameters/profile'

      responses:
        200:
          $ref: '#/components/responses/AlertsuccessResponse'
        default:
          $ref: '#/components/responses/AlertFailedResponse'   
    
  '/fleets/{fid}/trips/{tid}/wayPoints':
    get:
      summary: Fleet's trip waypoints.
      tags:
        - Trips
      description: Gives the wayPoints for a specified Fleet Trip.
      operationId: getPathForATrip
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/tolerence'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/pageSizeHighFrequency'
        - $ref: '#/components/parameters/pageToken'
      responses:
        200:
          description: Path response
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/WayPoints'
        default:
          description: wayPoints not found
  
  '/fleets/{fid}/vehicles/{vid}/trips/{tid}/wayPoints':
    get:
      summary : Vehicle's trip waypoints.
      tags:
        - Trips
      description: Gives the Vehicle's wayPoints for a specified Trip.
      operationId: getPathForTrip
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/tolerence'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/pageSizeHighFrequency'
        - $ref: '#/components/parameters/pageToken'
        
      responses:
        200:
          description: Path response
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/WayPoints'
        default:
          description: wayPoints not found

  '/fleets/{fid}/trips/{tid}/telemetry':
    get:
      summary: Fleet's trip telemetry.
      tags:
        - Trips
      description: >-
        Returns the set of Telemetry values that occurred for a  speific Trip (tid) during the timestamp ranges and bounded by
        an index range.
      operationId: getFleetTelemetryForTrip
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSizeHighFrequency'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/telemetryType'
        - $ref: '#/components/parameters/telemetryExtension'
      responses:
        200:
          $ref: '#/components/responses/TelemetrySuccessResponse'
        default:
          $ref: '#/components/responses/TelemetryFailedResponse' 
  
  '/fleets/{fid}/vehicles/{vid}/trips/{tid}/telemetry':
    get:
      summary: Vehicle's trip telemetry.
      tags:
        - Trips
      description: >-
        Returns the set of Telemetry values that occurred for a given vehicle
        (id) and a speific Trip (tid) during the timestamp ranges and bounded by
        an index range.
      operationId: getTelemetryForTripByVehicle
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/tripId'
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSizeHighFrequency'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/telemetryType'
        - $ref: '#/components/parameters/telemetryExtension'
      responses:
        200:
          $ref: '#/components/responses/TelemetrySuccessResponse'
        default:
          $ref: '#/components/responses/TelemetryFailedResponse'
  
  '/fleets/{fid}/remote/callbacks':  
    get:
      tags:
        - Remote
      summary: Get all remote callbacks of a fleet.
      description: Returns the list of subscribed remote callback of the fleet.
      operationId: getFleetRemotes
      parameters:
          
          - $ref: '#/components/parameters/fleetId'
          - $ref: '#/components/parameters/remoteType'
          - $ref: '#/components/parameters/indexRange'
          - $ref: '#/components/parameters/pageSize'
          - $ref: '#/components/parameters/pageToken'
          
      responses:
        200:
          $ref: '#/components/responses/RemoteCallbackSuccessResponses' 
        default:
          $ref: '#/components/responses/RemoteCallbackFailedResponse'
    #callbackId      
    post:
        tags:
          - Remote
        summary: Register a new reusable remote callback.
        description: |
                     Create a new reusable callback. 
        operationId: setFleetVehicleRemote
        parameters:
          
          - $ref: '#/components/parameters/fleetId'
        requestBody:
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/RemoteCallbackSubscribe'
        responses: #MonitorId
          200:
            $ref: '#/components/responses/RemoteCallbackSuccessPostResponse'
          default:
            $ref: '#/components/responses/RemoteCallbackFailedResponse'      
            
  '/fleets/{fid}/remote/callbacks/{cbid}':
    put:
        tags:
          - Remote
        summary: Update an existing remote callback.
        description: |

                     Update an existing ```Callback``` that has been posted (and accepted previously) for this fleet. The callback object (body) provided should be complete (aggregation is not supported for the update). This object can be retrieved  using the ```GET /fleets/{fid}/remote/callbacks/{cbid}``` API then modify it and finally publish it (via this ```PUT API```) 

        operationId: setFleetVehicleRemoteById
        parameters:
          
          - $ref: '#/components/parameters/fleetId'
          - $ref: '#/components/parameters/callbackId'
        requestBody:
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/RemoteCallbackSubscribe'
        responses: #MonitorId
          202:
            $ref: '#/components/responses/RemoteCallbackSuccessPostResponse'
          default:
            $ref: '#/components/responses/RemoteCallbackFailedResponse'
    get:
      tags:
        - Remote
      summary: Get a remote callbacks of a fleet.
      description: Returns a subscribed remote callback of the fleet by subscribe ID.
      operationId: getFleetRemotebyId
      parameters:
          
          - $ref: '#/components/parameters/fleetId'
          - $ref: '#/components/parameters/callbackId'
          
      responses:
        200:
          $ref: '#/components/responses/RemoteCallbackSuccessResponse' 
        default:
          $ref: '#/components/responses/RemoteCallbackFailedResponse'
    delete:
      tags:
        - Remote
      summary: Delete an existing callback.
      description: Remove an existing callback if and only if there is no pending remote attached to it.
      operationId: deleteFleetRemote
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/callbackId'
      responses:
        204:
          description: Callback deleted (the response does not include an entity)
        '400':
          description: Invalid ID supplied
        '404':
          description: Callback not found
  
  '/fleets/{fid}/remote/callbacks/{cbid}/status': 
    put:
      tags:
        - Remote
      summary: Set a remote callback new status.
      description: |
                   Set the remote callback status.```Paused``` means that the callback will not post any event.
      operationId: setFleeRemoteCallbackStatus
      parameters:
        
        - $ref: '#/components/parameters/fleetId'
        - $ref: '#/components/parameters/callbackId'
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/RemoteCallbacksStatusSetter'
      responses: #MonitorId
        202:
          $ref: '#/components/responses/RemoteCallbackSuccessPostResponse'
        default:
          $ref: '#/components/responses/RemoteCallbackFailedResponse'
          
  '/fleets/{fid}/vehicles/{vid}/callbacks/{cbid}/remotes':
    post:
      tags:
        - Remote
      summary: Send a remote action to a vehicle.
      description: |
                     Create a new asynchrone vehicle remote action and request it. 
      operationId: sendRemoteToVhl
      parameters:
          
          - $ref: '#/components/parameters/fleetId'
          - $ref: '#/components/parameters/vehicleId'
          - $ref: '#/components/parameters/callbackId'
      requestBody:
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/Remote'
      responses: #MonitorId
          202:
            $ref: '#/components/responses/RemoteActionsSuccessPostResponse'
          default:
            $ref: '#/components/responses/RemoteCallbackFailedResponse'
  
    get:
      tags:
        - Remote
      summary: Get all remote action of vehicle and callback.
      description: Returns the list of action remote requested for vehicle.
      operationId: getRemoteRequestsForVhl
      parameters:
          
          - $ref: '#/components/parameters/fleetId'
          - $ref: '#/components/parameters/vehicleId'
          - $ref: '#/components/parameters/callbackId'
          - $ref: '#/components/parameters/indexRange'
          - $ref: '#/components/parameters/pageSize'
          - $ref: '#/components/parameters/pageToken'
          
      responses:
        200:
          $ref: '#/components/responses/RemoteActionSuccessResponses' 
        default:
          $ref: '#/components/responses/RemoteCallbackFailedResponse'
          
  '/fleets/{fid}/vehicles/{vid}/callbacks/{cbid}/remotes/{rid}':
    get:
      tags:
        - Remote
      summary: Get remote action by id.
      description: Returns the remote action requested for vehicle by ID.
      operationId: getRemoteRequestForVhlById
      parameters:
          
          - $ref: '#/components/parameters/fleetId'
          - $ref: '#/components/parameters/vehicleId'
          - $ref: '#/components/parameters/callbackId'
          - $ref: '#/components/parameters/remoteId'
          
      responses:
        200:
          $ref: '#/components/responses/RemoteActionSuccessResponse' 
        default:
          $ref: '#/components/responses/RemoteCallbackFailedResponse'
          
    # RemoteActionSuccessResponse

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    ClientId:
      name: client_id
      type: apiKey
      in: query
  schemas: 
    Vin:  
          description: Identifier of a vehicle. **Set when retrieving resource in batch mode**.   
          type: string

    Alert:
      allOf: 
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/UpdatedAtField' 
        - title: Alert message
          type: object
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                vehicle:
                  $ref: '#/components/schemas/Link'
                position:
                  $ref: '#/components/schemas/Link'
                trips:
                  type : array
                  items:
                    $ref: '#/components/schemas/Link'
              required : [self]
            id:
              type: string
            vin:
              $ref: '#/components/schemas/Vin'
            active:
              type: boolean
            type:
              $ref: '#/components/schemas/AlertMsgEnum'
            severity:
              description: |
                            Alert severity level.
                            
                            |Severity|Description|
                            |:---|:---|
                            |Information|Better to fix but it is operating accurately.|
                            |Warning|Should fix it asap.|
                            |Critical|Starting prohibited without repair.|                           
              type: string
              enum: [Information, Warning, Critical]
            startedAt:
              type: string
              format: date-time
            endAt:
              type: string
              format: date-time
            startPosition:
              allOf:
                - $ref: '#/components/schemas/Position'
                - description: The position (last vehicle known one) where the alert appears.
            endPosition:
              allOf:
                - $ref: '#/components/schemas/Position'
                - description: The position (last vehicle known one) where the alert disappears. 
          required: [ id,active,type,createdAt,startedAt, _links,vin]
        
    MonitorStatus:
      type: string
      enum: [Running, Paused, Failed]
      
    Monitor:
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - title: Monitor
          description: Monitor state object
          type: object
          properties:
            updatedAt:
              type: string
              format: date-time      
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                fleet:
                  $ref: '#/components/schemas/Link'
              required : [self]
            monitorId:
              $ref: '#/components/schemas/MonitorId'
            monitor:
              $ref: '#/components/schemas/MonitorParameter'
            status:
              $ref: '#/components/schemas/MonitorStatus'
          required: [status,monitorId,monitor,createdAt,updatedAt, _links]

    
    CollisionDetails:
        type : object
        properties:
          side:
            type: string
            description: >-
                Indicates the side of the collision
            enum: [Front, Rear, Lateral]
          severity:
            type: string
            enum: [Minimal, Minor, Major]
            description: >-
                Minimal stands for no emergency system activated during the collision.
                Minor only pretensioner system activated.
                Major for airbag and prentensioner activation.
        required : 
          - side
      
    InfoCollision:
      type: string
      enum: [ NoCrash, CrashDetected]
    CollisionObj:
     allOf:
        - title: Collision
          type: object
          properties:
            details:
                type : array
                items : 
                  $ref: '#/components/schemas/CollisionDetails'
           
    
    Collision:
     allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/CollisionObj'
        - title: Collision
          type: object
          properties:
            id:
              type: string
            vin:
              $ref: '#/components/schemas/Vin'
            
            tippedOver:
              type: boolean
              description: >-
                    Indicates if the car tipped over during the collision.
                    Warning : This information is applicable only on vehicles equipped with dedicated sensor and is optionnal.
            pedestrian:
              type: boolean
              description: 'Indicates if the collision involve a pedestrian.
                           *Warning : This information is applicable only on vehicles equipped with dedicated sensor and is optionnal*'
            updatedAt:
              type: string
              format: date-time
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                vehicle:
                  $ref: '#/components/schemas/Link'
                trip:
                  $ref: '#/components/schemas/Link'
              required : [self]
          required: [ id, _links, createdAt, vin]
           
    ECoaching:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/Link'
            vehicle:
              $ref: '#/components/schemas/Link'
            trip:
              $ref: '#/components/schemas/Link'
          required : [self]
        scores:
          type: array
          items:
              type: object
              properties:
                category:
                  type: string
                  description: category of the score. Global, ACCELERATION, BREAKING, A/C system, Runing cold engine, Direct Shift Gear, Speed, STT system, ZEV (Zero emission vehicle).
                  enum: [Global, Acceleration, Break, AirCondioner, ColdEngine, TirePressure, Slope, Speed, StartStop]
                score:
                  type: number
                  format: int
                  minimum: 0
                  maximum: 10
        _embedded:
          type: object
      required : [_links]
  
    MonitorId:
      type: string
      description: Uniq monitor ID returned when the monitor was created succefully.
  
    MaintenanceBase:
      type : object
      description: Expresses next Maintenance details. Such as number of days and the mileage until the next Maintenance. The value is negative if the next maintenance (day or mileage) is already passed. At least one of the following maintenance information will be provided.
      title: Maintenance
      properties:
        vin:  
          $ref: '#/components/schemas/Vin'
        daysBeforeMaintenance:
          type: integer
        mileageBeforeMaintenance:
          type: integer
      required: [createdAt, vin] 
    
    MaintenanceObj:
     allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/UpdatedAtField'
        - description: Expresses next Maintenance details. Such as number of days and the mileage until the next Maintenance. The value is negative if the next maintenance (day or mileage) is already passed. At least one of the following maintenance information will be provided.
          type: object
          title: Maintenance
          properties:
            vin: 
              $ref: '#/components/schemas/Vin'
            daysBeforeMaintenance:
              type: integer
            mileageBeforeMaintenance:
              type: integer
          required: [createdAt, vin]

    Maintenance:
      allOf:
          - $ref: '#/components/schemas/MaintenanceObj'
          - title: Maintenance response
            properties:
              _links:
                type: object
                properties:
                  self:
                    $ref: '#/components/schemas/Link'
                  vehicle:
                    $ref: '#/components/schemas/Link'
                  alerts:
                    $ref: '#/components/schemas/Link'
                required : [self]
            required: [_links] 
    
    Ignition:
        allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/IgnitionBase'
        
    IgnitionBase:
          type: object
          properties:
            type:
                type: string
                enum: [Stop, StartUp, Start, Free]
          required: [type,createdAt]     

    VehicleOdometer:
      allOf : 
        - $ref: '#/components/schemas/CreatedAtField'
        - type: object
          properties:
            mileage:
                description: Vehicle mileage expressed in KM.
                type: number
      required: [createdAt]
    Battery:  
            allOf:
              - $ref: '#/components/schemas/CreatedAtField'
              - $ref: '#/components/schemas/BatteryBase'
            required: [createdAt]
              
    BatteryBase:  
                description: Describe the car (with combustion engine)  battery status.
                type: object
                properties:
                  voltage:
                    type: number
                    description: Auxiliary battery (12V) state of health in %
                    format: float

    BeltStatus:  
                type: object
                description: Seat belt condition.
                properties:
                  belt: 
                    description: Belt status. 
                    type: string
                    enum: [Normal, Omission]
                  id: 
                    description: Seat identifier.
                    type: string
                    enum: [Driver, Passenger]  
              
    BaseSafety:  
                type: object
                properties:
                  beltStatus:
                    type: array
                    items:
                      $ref: '#/components/schemas/BeltStatus'
                  autoECallTriggering:
                    type: string
                    enum: [NotDetected, Detected, ShockDetectionUnabled]
                  beltWarning:
                    deprecated: true
                    type: string
                    enum: [Normal, Omission]
                  eCallTriggeringRequest:
                    deprecated: true
                    type: string
                    enum: [AirbagUnabled, NoRequest, Requested]        

    WipingBladesState:  
                type: object
                properties:
                  active: 
                      description: weither active (true) or not (false).
                      type: boolean
                  speed:
                    description: Wiping speed. This field is present only if active field is set to true.
                    type: string
                    enum: [Hight, Low]
                  

    Safety:  
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/BaseSafety'  
      required: [createdAt]
    
    ServiceType:
          allOf:
              - $ref: '#/components/schemas/CreatedAtField'
              - type: object
                properties:
                  updatedAt:
                    type: string
                    format: date-time
                    deprecated: true
                  type:
                    type: string
                    enum: [Electric, Hybrid, Unknown]
          required: [createdAt]
    
    DoorsState:
        allOf:
          - $ref: '#/components/schemas/CreatedAtField'
          - type : object 
          - properties:
              updatedAt:
                description: Date when the resource has been updated.
                type: string
                format: date-time
                deprecated : true
          - $ref: '#/components/schemas/DoorsStateBase'
        required: [createdAt]
                        
    DoorsStateBase:
            type: object
            properties:
                lockedStates:
                  type: array
                  description: List of all known doors' states 
                  items:
                    type: string
                    enum: [Unlocked, Locked, SuperLocked, DriverDoorUnlocked, CabinDoorsUnlocked, CargoDoorsLocked, CargoDoorsUnlocked, RearDoorsUnlocked, RearDoorsLocked, TrunkLocked, TrunkUnLocked] 
                opening:
                  type: array
                  items:
                    type: object
                    description: Opening state per door.
                    properties :
                      identifier: 
                        type: string
                        enum: [Driver, Passenger, RearLeft, RearRight, Trunk, RearWindow, RoofWindow]
                      state:
                        type: string
                        enum: [Open, Closed]          
    Status:
      allOf: 
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/UpdatedAtField'
        - title: Vehicle status response
          description: Describe the latest status of the vehicle
          type: object
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                vehicle:
                  $ref: '#/components/schemas/Link'
                fleet:
                  $ref: '#/components/schemas/Link'
              required : [self]
            vin:  
                 $ref: '#/components/schemas/Vin'
            ignition:
                  $ref: '#/components/schemas/Ignition'
            lastPosition:
                  $ref: '#/components/schemas/Position'
            preconditioning:
                  $ref: '#/components/schemas/Preconditioning'
            energies:
              type: array
              items:
                $ref: '#/components/schemas/Energy'
            engines:
              type: array
              items:
                $ref: '#/components/schemas/Engine'
            doorsState:
                  $ref: '#/components/schemas/DoorsState'
            privacy:
                  $ref: '#/components/schemas/Privacy'
            battery:
                  $ref: '#/components/schemas/Battery'
            service:
                  $ref: '#/components/schemas/ServiceType'
            safety:  
                  $ref: '#/components/schemas/Safety'
            odometer: 
                  $ref: '#/components/schemas/VehicleOdometer'
            kinetic :
                  $ref: '#/components/schemas/Kinetic'
            environment: 
                  $ref: '#/components/schemas/Environment'
            drivingBehavior:
                  $ref: '#/components/schemas/DrivingBehavior'
            lightingSystem:
                      $ref: '#/components/schemas/LightingSystem'
            _embedded:
              type: object
              properties:
                extension:
                  $ref: '#/components/schemas/Extension'
          required: [_links, createdAt, vin] 
        
    Privacy:
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/PrivacyBase'
      required: [createdAt]  
    
    PrivacyBase:
      type: object
      properties:
        state:
          type: string
          enum: [None, Geolocation, Full]

    Geometry:
      title: Geometry
      type: object
      description: >-
            This object expresses a GeoJSON Point as specified by
            [rfc7946](https://tools.ietf.org/html/rfc7946#section-3.1.2).
      properties:
        coordinates:
          title: Coordinates
          description: Geometry coordinates
      externalDocs:
        url: 'https://tools.ietf.org/html/rfc7946#section-3.1'
      required:
        - coordinates
        - type
        
    Point:
      allOf:
        - $ref: '#/components/schemas/Geometry'
        - title: Point
        - description: >-
            This object expresses a GeoJSON Point as specified by
            [rfc7946](https://tools.ietf.org/html/rfc7946#section-3.1.2).
        - properties:
            type:
                type: string
                default: Point
                enum:
                    - Point
            coordinates:
                description: >-
                    This is a simple 2 (or more) numbers vector used to define Geometry
                    Point objects.
                type: array
                items:
                    type: number
                    format: float
                    minItems: 2

        - required: [type,coordinates]
        - example: 
            type: Point
            coordinates:
              - 5.970338 
              - -62.536239
    
    PositionBase:
      allOf:
        - required:
            - geometry
            - properties
            - type
          type: object
          title: Position
          properties:
            type:
              type: string
              default: Feature
              enum:
                - Feature
            geometry:
              $ref: '#/components/schemas/Point'
            properties:
              allOf : 
                - type: object
                  properties:
                    vin:
                      $ref: '#/components/schemas/Vin'
                    heading:
                      type: number
                      format: float
                      description: Course angle expressed in degree. 
                      minimum: 0
                      maximum: 360
                    signalQuality:
                      type: number
                      format: int
                    type:
                      type: string
                      enum:
                        - Estimated
                        - Acquire
                  
    Position:
      allOf:
        - required:
            - geometry
            - properties
            - type
          type: object
          title: Position
          properties:
            type:
              type: string
              default: Feature
              enum:
                - Feature
            geometry:
              $ref: '#/components/schemas/Point'
            properties:
              allOf : 
                - $ref: '#/components/schemas/CreatedAtField' 
                - type: object
                  properties:
                    updatedAt:
                      description: Date when the resource has been updated.
                      type: string
                      format: date-time
                      deprecated : true
                    vin:
                      $ref: '#/components/schemas/Vin'
                    heading:
                      type: number
                      format: float
                      description: Course angle expressed in degree. 
                      minimum: 0
                      maximum: 360
                    signalQuality:
                      type: number
                      format: int
                    type:
                      type: string
                      enum:
                        - Estimated
                        - Acquire
              required : 
                - createdAt
    
    Energy:
      description: Describe vehicle energy supply for thermic, low emission vehicle or both.
      type: object
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
      properties :
        updatedAt:
          description: Date when the resource has been updated.
          type: string
          format: date-time
          deprecated: true
        type:
          type: string
          description: Energy type present on the vehicle.
          enum: [Fuel, Electric]
        subType:
           type: string
           description: | 
              Energy subtype. This field is not mandatory and therefore if it is not present, it means that the resource consumer should only process the primary energy type. The enumeration of the subtypes is not exhaustive and may contain more elements depending on the evolution of the vehicles. The consumer of the data must take this constraint into account. The Fossil and Electric energy subtypes are only used to populate this subtype for the default Fuel and Eletric types.
                * Electric and hydrogen vehicles energy types are considered as low emission energies whereas fuel(fossil) is associated to thermic energy
           enum: [FossilEnergy, ElectricEnergy, Hydrogen] 
        level:
          type: number
          format: float
          description: Percentage of remaining energy (Fuel or electric) level. Expressed with a precision of 0.1%.
          minimum: 0
          maximum: 100
        autonomy:
          description: Vehicle autonomy expressed in km for this energy class.
          type: integer
        extension:
          type: object
          properties:
            fuel:
              description: Specific fuel energy properties.
              type: object
              properties:
                 consumption:
                     $ref: '#/components/schemas/FuelEnergyConsumption'
                 consumptions:
                     $ref: '#/components/schemas/CompositFuelEnergyConsumption'
            electric:
              description: Specific electric energy parameters.
              type: object
              properties:
                residual:
                   $ref: '#/components/schemas/ElectricResidualEnergy'
                battery:
                    $ref: '#/components/schemas/EnergyBattery'
                charging:
                  $ref: '#/components/schemas/EnergyCharging'
      required: [createdAt, type]

    EnergyBase:
      description: Describe vehicle energy supply for thermic, low emission vehicle or both.
      type: object
      properties :
        type:
          type: string
          description: Energy type present on the vehicle.
          enum: [Fuel, Electric]
        subType:
           type: string
           description: | 
              Energy subtype. This field is not mandatory and therefore if it is not present, it means that the resource consumer should only process the primary energy type. The enumeration of the subtypes is not exhaustive and may contain more elements depending on the evolution of the vehicles. The consumer of the data must take this constraint into account. The Fossil and Electric energy subtypes are only used to populate this subtype for the default Fuel and Eletric types.
                * Electric and hydrogen vehicles energy types are considered as low emission energies whereas fuel(fossil) is associated to thermic energy
           enum: [FossilEnergy, ElectricEnergy, Hydrogen] 
        level:
          type: number
          format: float
          description: Percentage of remaining energy (Fuel or electric) level. Expressed with a precision of 0.1%.
          minimum: 0
          maximum: 100
        autonomy:
          description: Vehicle autonomy expressed in km for this energy class.
          type: integer
        extension:
          type: object
          properties:
            fuel:
              description: Specific fuel energy properties.
              type: object
              properties:
                 consumption:
                     $ref: '#/components/schemas/FuelEnergyConsumption'
                 consumptions:
                     $ref: '#/components/schemas/CompositFuelEnergyConsumption'
            electric:
              description: Specific electric energy parameters.
              type: object
              properties:
                residual:
                   $ref: '#/components/schemas/ElectricResidualEnergy'
                battery:
                  $ref: '#/components/schemas/EnergyBatteryBase'
                charging:
                  $ref: '#/components/schemas/EnergyCharging'
      required: [type]
          
    FuelEnergyConsumption:
              description: Total consumption for vehicles for thermic vehicle. Deprecated, use consumptions (CompositFuelEnergyConsumption) instand.
              type: number
              format: float
              deprecated: true
              minimum: 0
    CompositFuelEnergyConsumption:
              description: Fuel consumption.
              type: object
              properties:
                total:
                  description: Total Fuel consumption expressed in cL.
                  type: number
                  format: float
                  minimum: 0
                instant:
                  description: Instant Fuel consumption expressed in L/100Km.
                  type: number
                  format: float
    ElectricResidualEnergy:
                  description: Residual electric energy (Wh)
                  type: number
                  format: float
                  deprecated : true
                  
    EnergyCharging:
                  type: object
                  description: Electric charging state.
                  required: [status]
                  properties:
                    plugged:
                      type: boolean
                    status:
                      $ref: '#/components/schemas/ChargingStatusEnum'
                    remainingTime:
                      description: Remaning time before the battery is fully charged. This duration is expressed using [ISO8601](https://en.wikipedia.org/wiki/ISO_8601#Durations) format.
                      type: string
                    chargingRate:
                      description:  Charging speed (expressed in gained batteryLife per hour -> KM/H).
                      type: integer
                      minimum: 0
                      maximum: 500
                    chargingMode:
                        description:  The charging mode; Slow, Quick and No(not charging).
                        type: string
                        enum: [ No, Slow, Quick ]
                    nextDelayedTime:
                      description:  Duration (as defined in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)) until the next battery charging.
                      type: string
    HealthElectricEnergy:
      type: object
      properties:
        capacity:
          description:  Health related to battery capacity (expressed in percentage).
          type: number
          format: int
          minimum: 0
          maximum: 100
        resistance:
          description:  Health related to battery resistance (expressed in percentage).
          type: number
          format: int
          minimum: 0
          maximum: 100
          
    LoadElectricEnergy : 
      properties : 
        capacity:
          description: Electric battery total capacity (expressed in Wh). 
          type: number
        residual:
          description: Residual electric energy (expressed in Wh)
          type: number
          format: float
    
    EnergyBatteryBase:
      type: object
      description: Electric battery capacity and heath 
      properties:
        capacity:
          description: Electric battery total capacity (expressed in Wh). 
          type: number
          format: float
          deprecated : true
        load : 
          $ref: '#/components/schemas/LoadElectricEnergy'
        health: 
          $ref: '#/components/schemas/HealthElectricEnergy'
        
      
    EnergyBattery:
      type: object
      description: Electric charging state.
      properties:
        capacity:
          description: Electric battery total capacity (expressed in Wh). 
          type: number
          format: float
          deprecated : true
        load : 
          allOf:
            - $ref: '#/components/schemas/UpdatedAtField'
            - $ref: '#/components/schemas/LoadElectricEnergy'
        health:
          allOf:
            - $ref: '#/components/schemas/UpdatedAtField'
            - $ref: '#/components/schemas/HealthElectricEnergy'

    
    Program:
      type: object
      description: Describe recurring action.
      properties:
        recurrence:
            description: | 
                      Determines the recurrence of the program. 
                      * None: means no recurrence. 
                      * Daily: repeated over the week. 
            type: string
            enum: [None, Daily]
            default: Daily
        start:
            type: string
            description: |
                          The program start time formatted using the duration format based on [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#Time_intervals) with the schema: P[n]Y[n]M[n]DT[n]H[n]M[n]S
                      
                          _example_: 
                        
                          * PT14H30M means 14H and 30Min
            example : PT14H30M
        occurence:
                type: object
                description: >
                   The occurrence on the program will spread on days depending on recurrence value.
                properties:
                    day:
                        type: array
                        items:
                          type: string
                          enum: [Mon, Tue, Wed, Thu, Fri, Sat, Sun]
                required: [day]
      required: [start]

    PreconditioningProgram:
      allOf:
        - $ref: '#/components/schemas/Program'
        - title: ProconditionProgram
        - properties:
            slot:
              type: integer
              description: This program number. Can only be used ONE time in the same preconditioning list.
              minimum: 1
              maximum: 4
            enabled:
                type: boolean
                description: > 
                          Determines whether this program is enabled or not.
        - required: [start, enabled, slot, recurrence, occurence]
        
    Preconditioning:
      allOf:
          - type: object
            description: Preconditioning the vehicle for driver and passenger.
            properties:
              createdAt:
                description: Date when the resource has been created.
                type: string
                format: date-time
                deprecated: true
              airConditioning:
                allOf:
                  - $ref: '#/components/schemas/CreatedAtField'
                  - type : object
                  - properties:
                      status:
                        description: > 
                          The status of the preconditioning feature.
                        type: string
                        enum: [Enabled, Disabled, Finished, Failure]
                      failureCause:
                        description: failure cause
                        type: string
                        enum: [ Defect, DoorOpened, LowBattery, LowFuelLevel, TooManyUnusedProg ]
                      programs:
                        type: array
                        minItems: 1
                        maxItems: 4
                        items:
                          $ref: '#/components/schemas/PreconditioningProgram'
                required: [createdAt]
  
        
    Trip:
      allOf : 
          - $ref: '#/components/schemas/UpdatedAtField'
          - $ref: '#/components/schemas/CreatedAtField'
          - title: Trip 
            type: object
            properties:
              _links:
                type: object
                properties:
                  self:
                    $ref: '#/components/schemas/Link'
                  vehicle:
                    $ref: '#/components/schemas/Link'
                  waypoints:
                    $ref: '#/components/schemas/Link'
                  alerts:
                    $ref: '#/components/schemas/Link'
                  collisions:
                    $ref: '#/components/schemas/Link'
                required : [self]
              id:
                type: string
                description: Identifier of a trip
              vin:
                $ref: '#/components/schemas/Vin'
              startedAt:
                type: string
                format: date-time
                description: Date & Time when the trip started
              stoppedAt:
                type: string
                format: date-time
                description: Date & Time when the trip stopped
              duration:
                type: string
                description: Duration in seconds of the trip
              distance:
                type: number
                format: float
                description: Distance in km of the trip
              startPosition:
                $ref: '#/components/schemas/Position'
              stopPosition:
                $ref: '#/components/schemas/Position'
              done:
                description: Determines whether this trip is finished or not.
                type: boolean
              faults:
                description: The faults of this finished or in progress trip. This means that we lacked data from the vehicle to complete the trip description during one of its step (starting, progressing, or finishing).
                type: array
                items:
                  type: string
                  enum: [Unstarted, DataLacking, Unfinished]
            required : [_links, createdAt, id, vin]
            
    Fleet:
      allOf :
        - $ref: '#/components/schemas/UpdatedAtField'
        - $ref: '#/components/schemas/CreatedAtField'
        - title: Fleet Information
          type: object
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                vehicles:
                  $ref: '#/components/schemas/Link'
                status:
                  $ref: '#/components/schemas/Link'
                maintenances:
                  $ref: '#/components/schemas/Link'
                alerts:
                  $ref: '#/components/schemas/Link'
                trips:
                  $ref: '#/components/schemas/Link'
                collisions:
                  $ref: '#/components/schemas/Link'
                monitors:
                  $ref: '#/components/schemas/Link'
                callbacks:
                  $ref: '#/components/schemas/Link'
              required : [self]
            name:
              description: Name of the Fleet
              type: string
            id:
              description: The id of the Fleet
              type: string  
            description:
              description: The description of the Fleet
              type: string
          required : [_links, id]
       
    Vehicle:
      allOf:
        - $ref: '#/components/schemas/UpdatedAtField'
        - $ref: '#/components/schemas/CreatedAtField'
        - title: Vehicle Information
          type: object
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                fleet:
                  $ref: '#/components/schemas/Link'  
                lastPosition:
                  $ref: '#/components/schemas/Link'
                trips:
                  $ref: '#/components/schemas/Link'
                maintenance:
                  $ref: '#/components/schemas/Link'
                alerts:
                  $ref: '#/components/schemas/Link'
                status:
                  $ref: '#/components/schemas/Link'
                telemetry:
                  $ref: '#/components/schemas/Link'
                monitors:
                  $ref: '#/components/schemas/Link'
                remotes:
                  $ref: '#/components/schemas/Link'
                callbacks:
                  $ref: '#/components/schemas/Link'
                collisions:
                  $ref: '#/components/schemas/Link'
              required : [self]
            id:
              type: string
            vin:
              description: Serial number of a vehicle
              type: string
            brand:
              description: Brand of a vehicle
              type: string
            pictures:
              description: With the links it's possible to see the pictures of the vehicle 
              type: array
              minItems: 1
              maxItems: 12
              items:
                $ref: '#/components/schemas/Url' 
          required : [_links]
          
    VehicleLabel:
        properties:
            label:
                type: string
                description: Version of a vehicle
          
    CollectionResult:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/Tab_Links'
        total:
          type: integer
        totalPage:
          type: integer
        currentPage:
          type: integer
        _embedded:
          type: object
      required: [total, totalPage, currentPage, _embedded, _links]
        
    Fleets:
      allOf:
        - $ref: '#/components/schemas/CollectionResult'
        - properties:
            _embedded:
              type: object
              properties:
                fleets:
                  type: array
                  items:
                    $ref: '#/components/schemas/Fleet'
                    
    Alerts:
      allOf:
        - $ref: '#/components/schemas/CollectionResult'
        - properties:
            _embedded:
              type: object
              properties:
                alerts:
                  type: array
                  items:
                    $ref: '#/components/schemas/Alert'
                    
    Monitors:
      allOf:
        - $ref: '#/components/schemas/CollectionResult'
        - properties:
            _embedded:
              type: object
              properties:
                monitors:
                  type: array
                  items:
                    $ref: '#/components/schemas/Monitor'
                    
    Collisions:
      allOf:
        - $ref: '#/components/schemas/CollectionResult'
        - properties:
            _embedded:
              type: object
              properties:
                Collisions:
                  type: array
                  items:
                    $ref: '#/components/schemas/Collision'
    
    WayPoints:
      allOf:
        - $ref: '#/components/schemas/CollectionResult'
        - properties:
            _embedded:
              type: object
              properties:
                positions:
                  type: array
                  items:
                    $ref: '#/components/schemas/Position'
              required:
                  - positions
                        
    Trips:
      allOf:
        - $ref: '#/components/schemas/CollectionResult'
        - description: List of a Trips response
          properties:
            _links:
              $ref: '#/components/schemas/Tab_Links'
            total:
              type: integer
            totalPage:
              type: integer
            currentPage:
              type: integer
            _embedded:
              type: object
              properties:
                trips:
                  type: array
                  items:
                    $ref: '#/components/schemas/Trip'
                
    MaintenanceList:
      allOf:
        - $ref: '#/components/schemas/CollectionResult'
        - description: List of a Maintenance response
          properties:
            _embedded:
              type: object
              properties:
                maintenances:
                  type: array
                  items:
                    $ref: '#/components/schemas/Maintenance' 
                
    StatusList:
      allOf:
        - $ref: '#/components/schemas/CollectionResult'
        - description: List of a Status response
          properties:
            _embedded:
              type: object
              properties:
                status:
                  type: array
                  items:
                    $ref: '#/components/schemas/Status'
                
    Vehicles:
      allOf:
        - $ref: '#/components/schemas/CollectionResult'
        - title: Vehicle List
          properties:
            _embedded:
              type: object
              properties:
                vehicles:
                  type: array
                  items:
                    $ref: '#/components/schemas/Vehicle'
                    
    
    Attribute:
            type: object
            properties:
              type:
                type: string
                enum: [Header, Body, Query]
                description: |
                  3 attributes type:
                  
                  |Attribute-type|Role|
                  |----------|-------------|
                  |Header|-Will be add as http header extension "x-######:"|
                  |Body|-Will be simply add to event body map attribute (see monitor event definition in template document)|
                  |Query|-Will set as http query parameter when invoking the Webhook|
                  
              key:
                type: string
              value:
                oneOf:
                  - type: string
                  - type: string
                    enum: [vin,monitorID,fleetID]
                    description: |
                      A value  that will be associated with the provided key as is if expressed as literal value or  contextually valued if prefixed with the dollar sign ($).  
                      
                      * Disclaimer: if the var "vin" is used as a query parameter, the batchnotify will be no more possible and each event will be sent through a separated request!.
                      * example: Having a vin=VIN123456, the following attribute set:
                              ```"attributes": [
                                  {
                                    "type": "Header",
                                    "key": "X-vehicle-id"
                                    "value":"$vin"
                                  }
                                ]```
                        will be valued as http header extension: 
                                
                        *"X-vehicle-id: VIN123456"*
            required:
              - key
              - value  
              - type
            example:
              
              type: Header
              key: X-Vehicle_Id
              value: $vin

    RemoteAttribute:
      allOf:
        - $ref: '#/components/schemas/Attribute'
        - properties:
              value:
                oneOf:
                  - type: string
                  - type: string
                    enum: [vin,callbackID,remoteType,fleetID] 
                    description: |
                      Set of variables that will be contextually valued and used as attribute value. To reference the variable, prefix its name with the dollar sign ($)  
                      
                      * Disclaimer: if the var "vin" is used as a query parameter, the batchnotify will be no more possible and each event will be sent through a separated request!.
                      * example: Having a vin=VIN123456, the following attribute set:
                              ```"attributes": [
                                  {
                                    "type": "Header",
                                    "key": "X-vehicle-id"
                                    "value":"$vin"
                                  }
                                ]```
                        will be valued as http header extension: 
                                
                        *"X-vehicle-id: VIN123456"*          
        

    RemoteAttributeSet:          
        type: array
        description: |
            Additional attributes-set as key/value pairs wich will be added to the request when sending the event. It can be used as http header enhancement (such as headers can be used as an authentication parameter when posting the event) or simply added to the notification event body (as set of key/values) or finally as additional query parameters.
        items:
            $ref: '#/components/schemas/RemoteAttribute'  
        example:
            - type: Header
              key: X-Vehicle_Id
              value: $vin
            - type: Query
              key: X-RemoteType
              value: $remoteType      
              
    AttributeSet:          
          type: array
          description: |
            Additional attributes-set as key/value pairs wich will be added to the request when sending the event. It can be used as http header enhancement (such as headers can be used as an authentication parameter when posting the event) or simply added to the notification event body (as set of key/values) or finally as additional query parameters.
          items:
            $ref: '#/components/schemas/Attribute'
            
    Webhook:
      title: Webhook
      description: Defines the webhook for htp notification .
      type: object
      properties:
        target:
          $ref: '#/components/schemas/Url'
        name:
          type: string
          description: Webhook name.
        attributes:
          $ref: '#/components/schemas/AttributeSet'
      required:
        - target
        - name
      example:
        target: https://my.post.callback
        name: My_Webhook
        attributes:
                - type: Header
                  key: X-Vehicle_Id
                  value: $vin
                
    CallbackSubscribe:
      description: Callback subscription parameters.
      type: object
      properties:
        retryPolicy:
          type: object
          description: The retry policy to apply when notification failed.
          required: [policy]
          properties:
            policy:
              type: string
              description: |
                          Defines the retry rules following a notification failure (ie the return code is not HTTP 2XX for  WebHook mode). ```None``` means with a single try, ```Bounded``` with a limited number of tries and ```Always```  with an infinite number of tries. 
              enum: [None, Bounded, Always]
            retryNumber:
                description: Maximum number of attempts (to be used with a retryPolicy set to ```Bounded```).
                type: integer
                default: 3
                minimum: 1
            retryDelay:
                description: Time to wait (expressed in seconds) before retrying to push a notification (ignored if retryPolicy is set to ```None```).
                type: integer
                default: 10
                minimum: 1 
        batchNotify:
                description: |

                  Notification batch of events defined by a time window and batch size. If this field is not set, the callback will post only one event by call.

                    * **At least, the ```size``` parameter should be provided.**
                    * **If the time window is not set then the default value will be applied.**
                type: object
                properties:
                  size:
                    type: number
                    format: int
                    description: Batch size (positive value and not zero).
                  timeWindow:
                    type: number
                    format: int
                    default: 60
                    minimum: 5
                    description: Notification batch window size (expressed in seconds).
                required: [size]
        callback:
          type: object
          properties: 
            webhook:
              $ref: '#/components/schemas/Webhook'
          required: [webhook]
      required: [callback]
      
    MonitorCallbackSubscribe:
      allOf:
        - $ref: '#/components/schemas/CallbackSubscribe'
        - description: Monitor Callback subscription parameters.
          type: object
          properties:
            refreshEvent:
                    description:  Define the period (in sec.) between two refresh events. The refresh-events are sent when the condition of the monitor is satisfied (Trigger -> toggled true). A kind of periodic reminder.
                    type: number
                    format: int
                    minimum: 60

    MonitorStatusSetter:
      title: MonitorStatusSetter
      description: MonitorStatusSetter
      required: [status]
      properties:
          status:
            type: string
            enum: [Running, Paused]
    
    MonitorParameter:
      title: MonitorParameter
      description: MonitorParameter
      properties:
            label:
              type: string
              description: Monitor label (usually its name). 
            subscribeParam:
              $ref: '#/components/schemas/MonitorCallbackSubscribe'
            extendedEventParam:
              type: array
              items:
                 enum: [vehicle.doorsState, vehicle.status, vehicle.maintenance,vehicle.position, vehicle.telemetry, vehicle.alerts, vehicle.collisions]
              description: | 
                            Allow to set extra vehicle data (defined in data model) to add to the monitor event
                            when publishing. The possible values are :
                            
                            
                            |value|description|Related model |
                            |----------|:-------------|------:|
                            |vehicle.doorsState|Latest known door state (timestamped) before the eventDate|DoorState|
                            |vehicle.status|Latest known vehicle status (timestamped) before the eventDate|Status|
                            |vehicle.maintenance|Latest known maintenance(timestamped) before the eventDate|Maintenance|
                            |vehicle.position|Last vehicle position (timestamped) before the eventDate|Position|
                            |vehicle.telemetry${.TelemetryEnum} |Latest known telemetry (timestamped) before the eventDate filtered with type|Telemetry
                            |vehicle.alerts|List of active alerts at the eventDate|Alert|
                            |vehicle.collisions|Latest known collisions before the eventDate|Collision|
                            |vehicle.trip|Trip related to the event that triggers the notification|Trip|

                            
                            * For telemetry extension:  
                              * The suffix ```${.TelemetryEnum}``` can be selected to refine with telemetry type (from the TelemetryEnum list). This value (with suffix) can be selected **_several times_** to included suitable telemetry messages with the extention.
                              * Using ```vehicle.telemetry``` without suffix means to include all available telemetries. 
            triggerParam:
              description: Monitor trigger-param that allows to compound triggers by applying a boolean expression to evaluate them.
              properties:
                          triggers:
                            description: |
                              Compound monitor triggers (will be evaluated using boolean expresion :```booExp```). At least, ```one``` trigger should be provided and at  most, ```five``` items are accepted.
                            type: array
                            minItems: 1
                            maxItems: 5
                            items:
                                $ref: '#/components/schemas/MonitorTrigger'      
                          boolExp:
                              type: string
                              description: |
                                A boolean expression that allow defining a logical relationship between triggers. Used Operands with this expression should be the names of the defined triggers. 
                                 
                                  _Note:_ Always ```true``` or Always```false``` expression are prohibited and will result with an http 400 error response.
                                  
                                  
                                Grammar:
                                ```
                                exp ::= exp '&' exp
                                       | exp '|' exp
                                       | (exp)
                                       | !exp
                                ```
                                
                                * **example**: having two-zone trigger (two towns) named z1 an z2, one time-trigger (8h00 to 20h00) named t1 and finally three data triggerd named as follow: f(fuel), a(autonomy) , o(odometer).
                                  
                                  we can have a boolean expression such as: : ``` ((z1 & t1) | (z2 & !t1) | (f & z1) | (a & (z1|t))  | (o & (z1 | z2))) ```
                              example :
                                ((z1 & t1) | (z2 & !t1) | (f & z1) | (a & (z1|t))  | (o & (z1 | z2)))
              required: [triggers,boolExp]
      required: [subscribeParam,triggerParam,label]
    
    MonitorRef: 
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - type: object
          description: Monitor creation reference returned when posting a new monitor.
          required: [monitorId, status, createdAt, updatedAt]
          properties:
                updatedAt:
                  type: string
                  format: date-time
                _links:
                    type: object
                    properties:
                      fleet:
                        $ref: '#/components/schemas/Link'
                      monitor:
                        $ref: '#/components/schemas/Link'
                monitorId:
                  $ref: '#/components/schemas/MonitorId'
                status:
                  $ref: '#/components/schemas/MonitorStatus'
    
    MonitorTrigger:
      title: MonitorTrigger  
      description: >
        Monitor trigger.```Only one```of *Zone, Time or Data* is supported at a time. Otherwise it would cause a bad request response.  
      properties:
        name: 
          description: 'The trigger name must be uniq and respect the following pattern'
          pattern: "\"[a-zA-Z]+[._]?[0-9]*\""
          type: string
        zone: 
             $ref: '#/components/schemas/ZoneTrigger'
        time: 
             $ref: '#/components/schemas/TimeTrigger'
        data: 
             $ref: '#/components/schemas/DataTrigger'     
      required: [name]  
                 
    ZoneTrigger:
      title: ZoneTrigger
      description: Zone Alert parameter object
      properties:
            transition:
              description: >-
                Zone monitoring type ('In' for monitoring entering zone and 'Out' for monitoring leaving zone),
              type: string
              enum:
                - In
                - Out
            place:
                    description: >-
                      Circle zone is compound of a center point and a radius.
                    required:
                      - center
                      - radius
                    properties:
                      radius:
                        description: Circle radius (expressed in km)
                        type: number
                        format: int
                      center:
                        type: object
                        properties:
                          longitude:
                            type: number
                            format: double
                          latitude:
                            type: number
                            format: double
                        required: [longitude, latitude]
      required: [place, transition]
      example: 
                        transition: Out
                        place:
                          radius: 20
                          center:
                            longitude: 2.333333
                            latitude:  48.866667
    
    TimeTrigger:
      title: TimeTrigger
      description: Temporal monitor for triggering vehicle moving event within a time interval.
      required: [times]
      properties:
            times:
              type: array
              items:
                $ref: '#/components/schemas/TimeTriggerEntry'
            timeZone: 
              type: string
              pattern: \w?/\w?
              default: Europe/Paris
              description: The standard time [zone code](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) of the region where to apply this time trigger monitor. 
                  This allows to adapt this trigger to the time change according to local (region/country) criteria/rules.
              example: Europe/Paris
    
            
    DataTrigger:
      title: DataTrigger
      description: A monitor for triggering the vehicle data change event.
      properties:
        data:
          description: | 
            The left operand of the trigger function. The following Table details for each operand data its type, the supported operator and the possibly retruned value:
            
            |**Data**|**Type**|**Op**|**Value**|
            |---|---| ---:| ---:|
            | vehicle.alert | List of value | onChange (at least one)/includedIn/equalsTo | Value (ObjetAlert) |
            | vehicle.odometer | Integer | equalsTo/greaterThan/lowerThan/ | Value |
            | vehicle.engines.running (boolean) | Boolean | onChange/equalsTo | Value (true/false) |
            | vehicle.engines.thermic.oil.temp | Integer | equalsTo/greaterThan/ lowerThan/ | Value |
[...]
