openapi: 3.0.0
servers:
  - url: 'https://api.mpsa.com/api/connectedcar/v2'
info:
  version: '4.17.2'
  title: Groupe PSA Connected Car B2C API
  license:
    name: Groupe PSA Licence
    url: 'https://www.psa-peugeot-citroen.com/'
  description: >
   
    # Introduction:

    This is the description of the *Groupe PSA Connected Car B2C API*. 
    This specification is written in **OpenAPI Specification version 3** and can
    be displayed using [ReDoc](https://github.com/Rebilly/ReDoc) or
    [Swagger](http://swagger.io).
      This REST API allows  applications to fetch data from the connected Vehicles data  platform.
    
    ---
    
    # Authentication:
    
      PSA Connected Car APIs uses the [OAuth  2.0](https://tools.ietf.org/html/rfc6749) protocol for authentication and
      authorization. Any applications require a valid [Access Token](https://tools.ietf.org/html/rfc6749#section-1.4) to access to user data.
      The Implicit Grant Type is used to get the access token.
      
    ---
    
    # Scopes:
    
      ## Filtering Scopes
      - When the API caller requests a set of scopes. The owner may not grant access to all of the requested scopes, so the application will have to adapt to the restricted access or request for a larger set of scopes again.
      - API backend will deliver the data related to the granted scopes only. 
      - If no scope has been granted with the caller token then an unauthorized error will be returned.
          
        _If for example the API caller requests for "aggregated telemetry" or "trip" without having the "location" scope, then the resource data returned will not have the vehicle's position but only other data that will satisfy the scopes present in the token._
      
      ##  Use of Scopes
      - Scopes are specified  in each individual API.
      - Depending on the API, scope can be :
        - Mandatory (designed with comment "#Required"): if this scope is not used during the request an error will be returned. An API can have multiple mandatory scopes.
        - Optional scopes will return an optional part of the API.
      
      ## Hierarchical Scopes
      Since API resources are hierarchical, scope follow also this strategy.     
      **Scopes used to request access to resources for OAuth2 security scheme fall into four categories:**

      #### _1. <u>IoT data scopes:</u>_
      |<b>Scope</b>  |<b>Description</b>  | 
      |---|---|
      |data:telemetry| Read full telemetry data|
      |data:position| Read vehicle  Location (position) data|
      |data:trip| Read trip related data|
      |data:alert| Read alert related data|
      |data:collision| Read collision related data|
      |data:vehicle:devices:pnc| Read vehicle Plug and Charge related data|

      #### _2. <u>Vehicle remotes scopes:</u>_
      |<b>Scope</b>  |<b>Description</b>  | 
      |---|---|
      |remote:door:write| Read & send door remote (pending & history)|      
      |remote:preconditioning:write| Read & send door Lock remote (pending & history)| 
      |remote:horn:write| Read & send horn remote  (pending & history)| 
      |remote:charging:write| Read & send charging remote (pending & history)| 
      |remote:lights:write| Read & send lights remote (pending & history)| 
      |remote:wakeup:write| Read & send weackup remote (pending & history)| 
      |remote:navigation:write| Read & send navigation remote (pending & history)| 

    ---
    
    # Paging:
    
    To make this necessary feature easy to use when retrieving a collection of results, this API uses a token (computed and interpreted by the backend only) as a context that contains all necessary information allowing the navigation through pages. 
      Token acts as an ```HTTP COOKIE``` on the client-side, so the server does not keep any cache or session settings to continue paging and keep all request stateless.
          
    ---
    
    # Errors:
      Error codes returned by all APIs comply with the standard. Nevertheless, PSA Services (callers) need to have more detailed data structures (even when the answer is not Http-OK) to better categorize the type of error by providing application code, message and debugging code (for investigation purposes). The HTTP code of the response is managed by the protocol itself (in the header).
        
      ### These APIS are likely to report the following HTTP code:
      
      | <b>Code</b>  | <b>Description</b>  |  <b>Case</b> |  
      |---|---|---|
      | 200  |<i>The request has succeeded and the resource data has been sent.</i>|GET APIs.  |
      | 202  |<i>The request has been accepted for processing, but not yet acted upon. An id of processing is returned.</i>|POST/PUT requests:<br>-Create monitor<br>-Create a callbak.| 
      | 204  |<i>The request has been accepted and there is no additional content</i>|DELTE APIs:<br>-Delete monitor.<br>-Delete a callback.|
      |400|<i>Request cannot be processed due to invalid query parameter value of body content (for POST/PUT verbs)</i>|ALL APIs.|
      |401|<i>Unauthorized request due to lack of valid authentication credentials.</i>|All APIs.|
      |403|<i>Unauthorized request due to insufficient credentials to grant access.</i>|All APIs.|
      |404|<i>Target resource not found.|All APIs. Even POST, PUT or DELETE if the resource id is uncknown.</i>|
      |500|<i>Unexpected condition that prevented from fulfilling the reques.</i>|All APIs.|


      
      **Errors are  returned as a generic error response:** see ```ErrorCodeDefaultResponse``` model.
       
    ---
    
    # API Usage:
     
      ## Data output format
      
      **All APIs return data in JSON format. The application who uses them must take into account the evolving character of them and more precisely regarding the schemas of the exposed data. Indeed:**
      
      *  The missing of known data fields should not cause an error. 
      *  It should (correctly)  deal with JSON content with unknown properties also. Indeed, data schema extensions should be supported without errors even if they are not used. 
        
      
      **For example:**
      
      Assuming a given exposed resource with this data schema:
        
          
           data:
            type: object
            description: Data model
            properties:
              field1:
                type: string
              field2:
                type: number
             
      The application should be able to deal with those possible valid JSON contents:
        
      > All fields:
        ```{
          "field1":"value1",
          "field2": 1
        }```
        
      > Missing field2:
        ```{
          "field1":"value1"
        }```        

      > Unknow  field3:
        ```{
          "field1":"value1",
          "field3": 2.5
        }```
      
      ## Callback, Monitor & Remote management:
      - Creation on monitor, remote & subscribe (callback) will be associated to a client ID, user (and vehicle depending on the API requested), therefore:
        - Read operation will only return information previously created by this client ID, user and vehicle association
        - Update, delete operation will only be possible for ressource previously created by this client ID, user and vehicle association
      - A maximum of 5 monitors can be associated to a vehicle, client ID, user. 
    --- 
    
    
    
  
tags:
  - name: User
  - name: Vehicles
    description: Access to Vehicles details.
  - name: Trips
    description: Describe Trips of a a User or Vehicle
  - name: Subscribe
    description: Describe User subscription (callback) to use with remote and/or monitor feature.
  - name: Monitors
    description: Describe the vehicle monitor features.
  - name: Remote
    description: Describe the vehicle monitor features.



paths:
  '/user':
    get:
      tags:
        - User
      summary: User's information
      description: Returns the User's information.
      operationId: getUser
      parameters:
        - $ref: '#/components/parameters/country'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: User not found
          $ref: '#/x-fragment/general_error_fragment'
  '/user/vehicles':
    get:
      tags:
        - Vehicles
      summary: List of vehicles
      description: |
        Returns the Vehicles associated with the User.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:vehicle:devices:pnc|Optional|
      operationId: getVehiclesByDevice
      parameters:
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/vehicleExtension'
        - $ref: '#/components/parameters/vinPrefix'
        - $ref: '#/components/parameters/country'

      security:
        - api_oauth:
          - data:vehicle:devices:pnc

      responses:
        '200':
          description: OK
          content:
            'application/hal+json ':
              schema:
                $ref: '#/components/schemas/Vehicles'
        default:
          description: Vehicle not found
          $ref: '#/x-fragment/general_error_fragment'
          
  '/user/vehicles/{id}':
    get:
      tags:
        - Vehicles
      summary: Details of a vehicle
      description: |
        Returns detailed information about a Vehicle.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:vehicle:devices:pnc|Optional|
      operationId: getVehicleByid
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/locale'
        - $ref: '#/components/parameters/vehicleExtension'
        - $ref: '#/components/parameters/country'
      security:
        - api_oauth:
          - data:vehicle:devices:pnc

      responses:
        '200':
          description: OK
          content:
            'application/hal+json ':
              schema:
                $ref: '#/components/schemas/Vehicle'
        default:
          description: Vehicle not found
          $ref: '#/x-fragment/general_error_fragment'
          
  '/user/vehicles/{id}/telemetry':
    get:
      summary: Vehicle telemetries.
      tags:
        - Vehicles
      description: |
        Returns the latest Telemetry messages that occurred during a selective timestamp-ranges and bounded by an index range.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:telemetry|Optional|
        |data:position|Optional|
      operationId: getTelemetry
      deprecated : true
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/telemetryType'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSizeHighFrequency'
        - $ref: '#/components/parameters/pageToken'
        - $ref: '#/components/parameters/telemetryExtension'
      security:
        - api_oauth:
            - data:telemetry
            - data:position
      responses:
        '200':
          $ref: '#/components/responses/TelemetrySuccessResponse'
        default:
          $ref: '#/components/responses/TelemetryFailedResponse'
  '/user/vehicles/{id}/lastPosition':
    get:
      tags:
        - Vehicles
      summary: Last position identified
      description: |
        Returns the latest GPS Position of the Vehicle.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:position|Required|
      operationId: getCarLastPosition
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/vehicleId'
      security:
        - api_oauth:
            - data:position #Required
      responses:
        '200':
          description: Position response
          content:
            application/vnd.geo+json:
              schema:
                $ref: '#/components/schemas/Position'
        default:
          description: Vehicle not found
          $ref: '#/x-fragment/general_error_fragment'
 
  '/user/vehicles/{id}/collisions':
    get:
      summary: Collistions occured on the vehicle.
      tags:
        - Vehicles
      description: |
        Returns the list of Collisions that occurred for a given vehicle (id) during the timestamp ranges and bounded by an index range
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:collision|Required|
      operationId: getVehicleCollision
      deprecated: true
      parameters:
        
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      security:
        - api_oauth:
            - data:collision #Required
      responses:
        '200':
          $ref: '#/components/responses/CollisionsSuccessResponse'
        default:
          $ref: '#/components/responses/CollisionFailedResponse'
  '/user/vehicles/{id}/collisions/{cid}':
    get:
      summary: A collistion occured on the vehicle.
      tags:
        - Vehicles
      description: |
        Returns the Collision that matches the vehicle id and the Collision cid.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:collision|Required|
      operationId: getVehicleCollisionById
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/collisionId'
      security:
        - api_oauth:
            - data:collision #Required
      responses:
        '200':
          $ref: '#/components/responses/CollisionsuccessResponse'
        default:
          $ref: '#/components/responses/CollisionFailedResponse'
  '/user/vehicles/{id}/maintenance':
    get:
      tags:
        - Vehicles
      description: |
        Returns the latest Maintenance information for a Vehicle.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:telemetry|Required|
      operationId: getVehicleMaintenance
      parameters:
        - $ref: '#/components/parameters/vehicleId'
      security:
        - api_oauth:
            - data:telemetry #Required
      responses:
        '200':
          description: Maintenant response
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Maintenance'
        default: 
          $ref: '#/x-fragment/general_error_fragment'
          
  '/user/vehicles/{id}/status':
    get:
      tags:
        - Vehicles
      description: |
        Returns the latest vehicle status.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:telemetry|Optional|
        |data:position|Optional|
      summary: Vehicle status.
      operationId: getVehicleStatus
      parameters:
        - $ref: '#/components/parameters/vehicleId'
      security:
        - api_oauth:
            - data:telemetry
            - data:position
      responses:
        '200':
          description: Status response
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Status'
        default:
          $ref: '#/x-fragment/general_error_fragment'          
          
  '/user/vehicles/{id}/alerts':
    get:
      tags:
        - Vehicles
      description: |
        Returns the latest alert messages for a Vehicle.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:alert|Required|
        |data:position|Optional|
      summary: Alerts related to a vehicle.
      operationId: getVehicleAlerts
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      security:
        - api_oauth:
            - data:alert #Required
            - data:position
      responses:
        '200':
          $ref: '#/components/responses/AlertsuccessResponses'
        default:
          $ref: '#/components/responses/AlertFailedResponse'
  '/user/vehicles/{id}/alerts/{aid}':
    get:
      tags:
        - Vehicles
      summary : An alert related to a vehicle.
      description: |
        Returns information about a specific alert messages for a Vehicle.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:alert|Required|
        |data:position|Optional|
      operationId: getVehicleAlertsById
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/alertId'
      security:
        - api_oauth:
            - data:alert #Required
            - data:position
      responses:
        '200':
          $ref: '#/components/responses/AlertsucessResponse'
        default:
          $ref: '#/components/responses/AlertFailedResponse'
          
  '/user/vehicles/{id}/alarms':
    get:
      tags:
        - Vehicles
      description: | 
        Returns a (filtered) list of alarm for a Vehicle.
        *Note:* Timestamp filtering concerns the creation date for status or trigger. 
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:telemetry|Required|
      summary: Vehicle's Alarms
      operationId: getVehicleAlarms
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/alarmType'
        - $ref: '#/components/parameters/timestamps'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      security:
        - api_oauth:
            - data:telemetry	#Required
      responses:
        '200':
          $ref: '#/components/responses/AlarmSuccessResponses'
        default:
          $ref: '#/components/responses/AlarmFailedResponse'
  '/user/vehicles/{id}/alarms/{aid}':
    get:
      tags:
        - Vehicles
      description: |
        Returns information about a specific alarm for a Vehicle.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:telemetry|Required|
      summary: Vehicle's Alarm
      operationId: getVehicleAlarmsById
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/alarmId'
      security:
        - api_oauth:
            - data:telemetry	#Required
      responses:
        '200':
          $ref: '#/components/responses/AlarmSucessResponse'
        default:
          $ref: '#/components/responses/AlarmFailedResponse'

 
  '/user/vehicles/{id}/trips':
    $ref: '#/x-fragment/Vehicle_id_Trips'
  '/user/vehicles/{id}/trips/{tid}':
    $ref: '#/x-fragment/Vehicle_id_Trip_id'
  '/user/vehicles/{id}/trips/{tid}/alerts':
    $ref: '#/x-fragment/Vehicle_id_Trip_id_Alerts_getter'
  '/user/vehicles/{id}/trips/{tid}/alerts/{aid}':
    $ref: '#/x-fragment/Vehicle_id_Trip_id_Alerts_id_getter'
  '/user/vehicles/{id}/trips/{tid}/collisions':
    $ref: '#/x-fragment/Vehicle_id_Trip_id_Collisions_getter'
  '/user/vehicles/{id}/trips/{tid}/collisions/{cid}':
    $ref: '#/x-fragment/Vehicle_id_Trip_id_Collisions_id_getter'
  '/user/vehicles/{id}/trips/{tid}/wayPoints':
    $ref: '#/x-fragment/Vehicle_id_Trip_id_wayPoints_getter'
  '/user/vehicles/{id}/trips/{tid}/telemetry':
    $ref: '#/x-fragment/Vehicle_id_Trip_id_Telemetry_getter'

          
  '/user/vehicles/{id}/callbacks/{cbid}/monitors':
    get:
      tags:
        - Monitors
      summary: Get all monitors of the vehicle.
      description: |
        Returns the list of subscribed Monitors of the vehicle.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:telemetry|Optional|
        |data:position|Optional|
        |data:trip|Optional|
        |data:alert|Optional|
        |data:collision|Optional|
      operationId: getVehicleMonitors
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/callbackId'
        - $ref: '#/components/parameters/indexRange'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      security:
        - api_oauth:
            - data:telemetry
            - data:position
            - data:trip
            - data:alert
            - data:collision     
      responses:
        200:
          $ref: '#/components/responses/MonitorsuccessResponses'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
    post:
      tags:
        - Monitors
      summary: Create a new Monitor.
      description: |
                    Create a monitor dedicated to a vehicle. It will generates an event following the transition state of one of the (monitored) data  of the vehicles. As for example the fuel level, the moving out of a defined geographical area. 
                    
                    When the trigger occurs, the built event expressed as a JSON object will be sent over the subscribed callback.
                    
                    |Scope Name |Mandatory State|
                    |--------|:---------:|
                    |data:telemetry|Optional|
                    |data:position|Optional|
                    |data:trip|Optional|
                    |data:alert|Optional|
                    |data:collision|Optional|
      operationId: createVehicleVehicleMonitor
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/callbackId'
      security:
        - api_oauth:
            - data:telemetry
            - data:position
            - data:trip
            - data:alert
            - data:collision       
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/MonitorParameter'
                #DataMonitorParm
      responses: 
        202:
          $ref: '#/components/responses/MonitorsuccessPostResponse'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
          
  '/user/vehicles/{id}/callbacks/{cbid}/monitors/{mid}':
    put:
      tags:
        - Monitors
      summary: Update an existing Monitor.
      description: |
                    Update an existing ```Monitor``` that has been posted (and accepted previously) for this vehicle. The monitor object (body) provided should be complete (the aggregation is not supported for the update of the ```monitor```). 
                    You can first retrieve this object using the ```GET /monitor/{mid}``` API, then modify it and finally publish it (via this ```PUT API```).
                    
                    |Scope Name |Mandatory State|
                    |--------|:---------:|
                    |data:telemetry|Optional|
                    |data:position|Optional|
                    |data:trip|Optional|
                    |data:alert|Optional|
                    |data:collision|Optional|
      operationId: updateVehicleVehicleMonitor
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/callbackId'
        - $ref: '#/components/parameters/monitorId'
      security:
        - api_oauth:
            - data:telemetry
            - data:position
            - data:trip
            - data:alert
            - data:collision       
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/MonitorParameter'
      responses: 
        202:
          $ref: '#/components/responses/MonitorsuccessPostResponse'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
    get:
      tags:
        - Monitors
      description: |
        Returns information about a specific Monitor for a given vehicle.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:telemetry|Optional|
        |data:position|Optional|
        |data:trip|Optional|
        |data:alert|Optional|
        |data:collision|Optional|
      summary: Get the monitor by monitor Id.
      operationId: getVehicleMonitorsStatusById
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/callbackId'
        - $ref: '#/components/parameters/monitorId'
      security:
        - api_oauth:
            - data:telemetry
            - data:position
            - data:trip
            - data:alert
            - data:collision        
      responses:
        200:
          $ref: '#/components/responses/MonitorsuccessResponse'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
    delete:
      tags:
        - Monitors
      summary: Delete an existing Monitor.
      description: |
        Stop (disable) an existing Monitor.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:telemetry|Optional|
        |data:position|Optional|
        |data:trip|Optional|
        |data:alert|Optional|
        |data:collision|Optional|
      operationId: deleteVehicleMonitor
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/callbackId'
        - $ref: '#/components/parameters/monitorId'
      security:
        - api_oauth:
            - data:telemetry
            - data:position
            - data:trip
            - data:alert
            - data:collision      
      responses:
        204:
          description: Monitor deleted (the response does not include an entity).
        '400':
          description: Invalid ID supplied
        '404':
          description: Monitor not found
 
  '/user/vehicles/{id}/callbacks/{cbid}/monitors/{mid}/status': 
    put:
      tags:
        - Monitors
      summary: Set a new monitor status.
      description: |
        Set monitor status. 
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:telemetry|Optional|
        |data:position|Optional|
        |data:trip|Optional|
        |data:alert|Optional|
        |data:collision|Optional|
      operationId: setVehicleVehicleMonitorStatus
      parameters:
        - $ref: '#/components/parameters/vehicleId'
        - $ref: '#/components/parameters/callbackId'
        - $ref: '#/components/parameters/monitorId'
      security:
        - api_oauth:
            - data:telemetry
            - data:position
            - data:trip
            - data:alert
            - data:collision       
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/MonitorStatusSetter'
      responses: #MonitorId
        202:
          $ref: '#/components/responses/MonitorsuccessPostResponse'
        default:
          $ref: '#/components/responses/MonitorFailedResponse'
  
  
  '/user/callbacks':  
    get:
      tags:
        - Subscribe
      summary: Get all callbacks of the user.
      description: |
        Returns the list of subscribed callback of the user.
        |Scope Name |Mandatory State|
        |--------|:---------:|
        |data:telemetry|Optional|
        |data:position|Optional|
        |data:trip|Optional|
        |data:alert|Optional|
        |data:collision|Optional|
        |remote:door:write|Optional|
        |remote:preconditioning:write|Optional|
        |remote:horn:write|Optional|
        |remote:charging:write|Optional|
        |remote:lights:write|Optional|
        |remote:wakeup:write|Optional|
        |remote:navigation:write|Optional|
      operationId: getUsertRemotes
      parameters:
          - $ref: '#/components/parameters/callbackType'
          - $ref: '#/components/parameters/indexRange'
          - $ref: '#/components/parameters/pageSize'
          - $ref: '#/components/parameters/pageToken'
      security:
        - api_oauth:
            - data:telemetry
            - data:position
            - data:trip
            - data:alert
            - data:collision
            - remote:door:write
            - remote:preconditioning:write
            - remote:horn:write
            - remote:charging:write
            - remote:lights:write
            - remote:wakeup:write
            - remote:navigation:write
      responses:
        200:
          $ref: '#/components/responses/CallbackSuccessResponses' 
        default:
          $ref: '#/components/responses/CallbackFailedResponse'
    #callbackId      
    post:
        tags:
          - Subscribe
        summary: Register a new reusable callback.
        description: |
          Create a new reusable callback.
          Scope Name |Mandatory State|
          |--------|:---------:|
          |data:telemetry|Optional|
          |data:position|Optional|
          |data:trip|Optional|
          |data:alert|Optional|
          |data:collision|Optional|
          |remote:door:write|Optional|
          |remote:preconditioning:write|Optional|
          |remote:horn:write|Optional|
          |remote:charging:write|Optional|
          |remote:lights:write|Optional|
          |remote:wakeup:write|Optional|
          |remote:navigation:write|Optional|
        operationId: setUsertVehicleRemote
        security:
          - api_oauth:
            - data:telemetry
            - data:position
            - data:trip
            - data:alert
            - data:collision
            - remote:door:write
            - remote:preconditioning:write
            - remote:horn:write
            - remote:charging:write
            - remote:lights:write
            - remote:wakeup:write
            - remote:navigation:write
        requestBody:
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/CallbackSubscribe'
        responses: #MonitorId
          200:
            $ref: '#/components/responses/CallbackSuccessPostResponse'
          default:
            $ref: '#/components/responses/CallbackFailedResponse'      
            
  '/user/callbacks/{cbid}':
    put:
        tags:
          - Subscribe
        summary: Update an existing  callback.
        description: |
          Update an existing ```Callback``` that has been posted (and accepted previously) for the user. The callback object (body) provided should be complete (aggregation is not supported for the update). This object can be retrieved  using the ```GET /user/remote/callbacks/{cbid}``` API then modify it and finally publish it (via this ```PUT API```) 
          Scope Name |Mandatory State|
          |--------|:---------:|
          |data:telemetry|Optional|
          |data:position|Optional|
          |data:trip|Optional|
          |data:alert|Optional|
          |data:collision|Optional|
          |remote:door:write|Optional|
          |remote:preconditioning:write|Optional|
          |remote:horn:write|Optional|
          |remote:charging:write|Optional|
          |remote:lights:write|Optional|
          |remote:wakeup:write|Optional|
          |remote:navigation:write|Optional|
        operationId: setUsertVehicleRemoteById
        parameters:
          - $ref: '#/components/parameters/callbackId'
        security:
          - api_oauth:
            - data:telemetry
            - data:position
            - data:trip
            - data:alert
            - data:collision
            - remote:door:write
            - remote:preconditioning:write
            - remote:horn:write
            - remote:charging:write
            - remote:lights:write
            - remote:wakeup:write
            - remote:navigation:write       
        requestBody:
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/CallbackSubscribe'
        responses: #MonitorId
          202:
            $ref: '#/components/responses/CallbackSuccessPostResponse'
          default:
            $ref: '#/components/responses/CallbackFailedResponse'
    get:
      tags:
        - Subscribe
      summary: Get a user callback.
      description: |
        Returns a subscribed callback of the user by subscribe ID.
        Scope Name |Mandatory State|
        |--------|:---------:|
        |data:telemetry|Optional|
        |data:position|Optional|
        |data:trip|Optional|
        |data:alert|Optional|
        |data:collision|Optional|
        |remote:door:write|Optional|
        |remote:preconditioning:write|Optional|
        |remote:horn:write|Optional|
        |remote:charging:write|Optional|
        |remote:lights:write|Optional|
        |remote:wakeup:write|Optional|
        |remote:navigation:write|Optional|
      operationId: getUsertRemotebyId
      parameters:
          - $ref: '#/components/parameters/callbackId'
      security:
        - api_oauth:
            - data:telemetry
            - data:position
            - data:trip
            - data:alert
            - data:collision
            - remote:door:write
            - remote:preconditioning:write
            - remote:horn:write
            - remote:charging:write
            - remote:lights:write
            - remote:wakeup:write
            - remote:navigation:write 
      responses:
        200:
          $ref: '#/components/responses/CallbackSuccessResponse' 
        default:
          $ref: '#/components/responses/CallbackFailedResponse'
    delete:
      tags:
        - Subscribe
      summary: Delete an existing callback.
      description: |
                  Delete an existing callback.
                    * Notes: 
                      * If there was an ongoing Remote-Operation then its status  will never be delivered.
                      * Deleting the callback will also delete all of its associated monitors.
                  Scope Name |Mandatory State|
                  |--------|:---------:|
                  |data:telemetry|Optional|
                  |data:position|Optional|
                  |data:trip|Optional|
                  |data:alert|Optional|
                  |data:collision|Optional|
                  |remote:door:write|Optional|
                  |remote:preconditioning:write|Optional|
                  |remote:horn:write|Optional|
                  |remote:charging:write|Optional|
                  |remote:lights:write|Optional|
                  |remote:wakeup:write|Optional|
                  |remote:navigation:write|Optional|
      operationId: deleteUsertRemote
      parameters:
        - $ref: '#/components/parameters/callbackId'
      security:
          - api_oauth:
            - data:telemetry
            - data:position
            - data:trip
            - data:alert
            - data:collision
            - remote:door:write
            - remote:preconditioning:write
            - remote:horn:write
            - remote:charging:write
            - remote:lights:write
            - remote:wakeup:write
            - remote:navigation:write 
      responses:
        204:
          description: Callback deleted (the response does not include an entity)
        '400':
          description: Invalid ID supplied
        '404':
          description: Callback not found
  
  '/user/callbacks/{cbid}/status': 
    put:
      tags:
        - Subscribe
      summary: Set an existing callback new status.
      description: |
        Set the user callback status.```Paused``` means that the callback will not post any event.
        Scope Name |Mandatory State|
        |--------|:---------:|
        |data:telemetry|Optional|
        |data:position|Optional|
        |data:trip|Optional|
        |data:alert|Optional|
        |data:collision|Optional|
        |remote:door:write|Optional|
        |remote:preconditioning:write|Optional|
        |remote:horn:write|Optional|
        |remote:charging:write|Optional|
        |remote:lights:write|Optional|
        |remote:wakeup:write|Optional|
        |remote:navigation:write|Optional|
      operationId: setUserCallbackStatus
      parameters:
        - $ref: '#/components/parameters/callbackId'
      security:
          - api_oauth:
            - data:telemetry
            - data:position
            - data:trip
            - data:alert
            - data:collision
            - remote:door:write
            - remote:preconditioning:write
            - remote:horn:write
            - remote:charging:write
            - remote:lights:write
            - remote:wakeup:write
            - remote:navigation:write    
      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/CallbacksStatusSetter'
      responses: 
        202:
          $ref: '#/components/responses/CallbackSuccessPostResponse'
        default:
          $ref: '#/components/responses/CallbackFailedResponse'

          
  '/user/vehicles/{id}/callbacks/{cbid}/remotes':
    post:
      tags:
        - Remote
      summary: Send a remote action to a vehicle.
      description: |
                      Create a new asynchrone vehicle remote action and request it.
                      The REMOTE action is specified by the Remote object which offers a set of possible actions (preconditioning, door, horn, charging, lights, wakeup, navigation).
                       
                       However, each remote action needs a different permissions set.
                        This API has therefore defined a set of SCOPE OAUTH2 to cover all possible actions. But the user   should only have the SCOPEs necessary for the action his is requesting for. The necessary scopes  for each action are defined as follows:
                        
                      | <b>Remote action</b>  | <b>Scope</b>  |  <b>Mandatory</b>  | 
                      |---|---|---|
                      |preconditioning| remote_preconditioning_write|Optional|
                      |door - lock & unlock action| remote_door_lock_write|Optional|
                      |horn| remote_horn_write|Optional|
                      |charging| remote_charging_write|Optional|
                      |lights| remote_lights_write|Optional|
                      |wakeup| remote_wakeup_write|Optional|
                      |navigation| remote_navigation_write|Optional|                    
                        
                        
                       The backend server will introspect the OAuth2 provided token and check if it contains the necessary scope authorization to perform the requested remote action. or raise an unauthorized error status.
      operationId: sendRemoteToVhl
      parameters:
          - $ref: '#/components/parameters/vehicleId'
          - $ref: '#/components/parameters/callbackId'
      security:
        - api_oauth: 
            - remote:door:write
            - remote:preconditioning:write	
            - remote:horn:write
            - remote:charging:write
            - remote:lights:write
            - remote:wakeup:write
            - remote:navigation:write
      requestBody:
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/Remote'
      responses: #MonitorId
          202:
            $ref: '#/components/responses/RemoteActionsSuccessPostResponse'
          default:
            $ref: '#/components/responses/CallbackFailedResponse'
  
    get:
      tags:
        - Remote
      summary: Get all remote action of vehicle and callback.
      description: |
        Returns the list of action remote requested for vehicle.
        Scope Name |Mandatory State|
        |--------|:---------:|
        |remote:door:write|Optional|
        |remote:preconditioning:write|Optional|
        |remote:horn:write|Optional|
        |remote:charging:write|Optional|
        |remote:lights:write|Optional|
        |remote:wakeup:write|Optional|
        |remote:navigation:write|Optional|
      operationId: getRemoteRequestsForVhl
      parameters:
          - $ref: '#/components/parameters/vehicleId'
          - $ref: '#/components/parameters/callbackId'
          - $ref: '#/components/parameters/indexRange'
          - $ref: '#/components/parameters/pageSize'
          - $ref: '#/components/parameters/pageToken'
      security:
        - api_oauth:
            - remote:door:write
            - remote:preconditioning:write	
            - remote:horn:write
            - remote:charging:write
            - remote:lights:write
            - remote:wakeup:write
            - remote:navigation:write         
      responses:
        200:
          $ref: '#/components/responses/RemoteActionSuccessResponses' 
        default:
          $ref: '#/components/responses/CallbackFailedResponse'
          
  '/user/vehicles/{id}/callbacks/{cbid}/remotes/{rid}':
    get:
      tags:
        - Remote
      summary: Get remote action by id.
      description: |
        Returns the remote action requested for vehicle by ID.
        Scope Name |Mandatory State|
        |--------|:---------:|
        |remote:door:write|Optional|
        |remote:preconditioning:write|Optional|
        |remote:horn:write|Optional|
        |remote:charging:write|Optional|
        |remote:lights:write|Optional|
        |remote:wakeup:write|Optional|
        |remote:navigation:write|Optional|
      operationId: getRemoteRequestForVhlById
      parameters:
          - $ref: '#/components/parameters/vehicleId'
          - $ref: '#/components/parameters/callbackId'
          - $ref: '#/components/parameters/remoteId'
      security:
        - api_oauth:
            - remote:door:write
            - remote:preconditioning:write	
            - remote:horn:write
            - remote:charging:write
            - remote:lights:write
            - remote:wakeup:write
            - remote:navigation:write         
      responses:
        200:
          $ref: '#/components/responses/RemoteActionSuccessResponse' 
        default:
          $ref: '#/components/responses/CallbackFailedResponse'
          
    # RemoteActionSuccessResponse
components:
  securitySchemes:
    api_keyAuth:        
      type: apiKey
      in: query      
      name: client_id  # name of the header, query parameter or cookie
    api_oauth:
      type: oauth2
      description: This API uses OAuth 2 with the implicit grant flow. [More info](https://api.example.com/docs/auth)
      flows:
        implicit:
          authorizationUrl: 'https://api.mpsa.com/api/connectedcar/v2/oauth/authorize'
          scopes:
            data:telemetry:	Read full telemetry data
            data:position:	Read vehicle Location (position) data
            data:trip:	Read trip related data
            data:alert:	Read alert related data
            data:collision:	Read collision related data
            remote:door:write:	Read & send door remote (pending & history)
            remote:preconditioning:write:	Read & send door Lock remote (pending & history)
            remote:horn:write:	Read & send horn remote (pending & history)
            remote:charging:write:	Read & send charging remote (pending & history)
            remote:lights:write:	Read & send lights remote (pending & history)
            remote:wakeup:write:	Read & send weackup remote (pending & history)
            remote:navigation:write:	Read & send navigation remote (pending & history)         

  schemas:
    Tab_Links:
      description: >
        [HAL](https://en.wikipedia.org/wiki/Hypertext_Application_Language#Convention)
        (Hypertext Application Language) link collection
      type: object
      properties:
        self:
          $ref: '#/components/schemas/Link'
        first:
          $ref: '#/components/schemas/Link'
        next:
          $ref: '#/components/schemas/Link'
        prev:
          $ref: '#/components/schemas/Link'
        last:
          $ref: '#/components/schemas/Link'
      required : [self, first]
   
    CollectionResult:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/Tab_Links'
        total:
          type: integer
        totalPage:
          type: integer
        currentPage:
          type: integer
        _embedded:
          type: object
      required: [total, totalPage, currentPage, _embedded, _links]
        
   
    Alert:
      allOf: 
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/UpdatedAtField' 
        - title: Alert message
          type: object
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                vehicle:
                  $ref: '#/components/schemas/Link'
                position:
                  $ref: '#/components/schemas/Link'
                trips:
                  type: array
                  items: 
                    $ref: '#/components/schemas/Link'
              required : [self]
            id:
              type: string
              example : 0a9de72cc3803b12a74418acd20dcd66634fa82e44b2ec7060bca91462dc5772199559905caefe168812918d47f67253f33d477b645bb59afdd1268b81e382999
            active:
              type: boolean
              example : true
            type:
              $ref: '#/components/schemas/AlertMsgEnum'
            severity:
              description: |
                            Alert severity level.
                            
                            |Severity|Description|
                            |:---|:---|
                            |Information|Better to fix but it is operating accurately.|
                            |Warning|Should fix it asap.|
                            |Critical|Starting prohibited without repair.|                          
              type: string
              enum: [Information, Warning, Critical]
              example : Information
            startedAt:
              type: string
              format: date-time
            endAt:
              type: string
              format: date-time
            startPosition:
              allOf:
                - $ref: '#/components/schemas/Position'
                - description: The position (last vehicle known one) where the alert appears.
            endPosition:
              allOf:
                - $ref: '#/components/schemas/Position'
                - description: The position (last vehicle known one) where the alert disappears. 
          required: [ id,active,type,updatedAt,startedAt,_links]
          
  
    Url:
      type: string
      description:  URL format follows [RFC 3986](https://tools.ietf.org/html/rfc3986) and
        usually looks like this ` scheme://host[:port][/Path] `
    Link:
      type: object
      description: A Link Object as defined by [JSONHAL#Link
        Object](https://tools.ietf.org/html/draft-kelly-json-hal-08#section-5).
      required:
        - href
      properties:
        href:
          $ref: '#/components/schemas/Url'
        templated:
          type: boolean
          description: SHOULD be true when the Link Object's "href"   property is a URI
            Template
        type:
          type: string
          description: a hint to indicate the media type  expected when dereferencing the
            target resource.
        deprecation:
          allOf:
            - $ref: '#/components/schemas/Url'
            - description:  indicates that the link is to be deprecated (i.e. removed) at a
                future date.  Its value is a URL that SHOULD provide further
                information about the deprecation.
        name:
          type: string
        title:
          type: string
          description: Its value is a string and is intended for labelling the link with a
            human-readable identifier (as defined by
            [RFC5988](https://tools.ietf.org/html/rfc5988)).
        profile:
          type: string
          description: Its value is a string and is intended for indicating the language of
            the target resource (as defined by [RFC5988]).
        hreflang:
          type: string
          description: Its value is a string which is a URI that hints about the profile
            (as defined by
            [I-D.wilde-profile-link](https://tools.ietf.org/html/draft-kelly-json-hal-08#ref-I-D.wilde-profile-link))
            of the target resource.
   
    CollisionDetails:
        type : object
        properties:
          side:
            type: string
            description: Indicates the side of the collision
            enum: [Front, Rear, Lateral]
            example : Lateral
          severity:
            type: string
            enum: [Minimal, Minor, Major]
            example : Minor
            description: >-
                * Minimal stands for no emergency system activated during the collision.
                
                * Minor only pretensioner system activated.
                
                * Major for airbag and prentensioner activation.
        required : 
          - side
    CollisionObj:
     allOf:
        - title: Collision
          type: object
          properties:
            details:
                type : array
                items : 
                  $ref: '#/components/schemas/CollisionDetails'
    
    Collision:
     allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/CollisionObj'
        - title: Collision
          type: object
          properties:
            id:
              type: string
              example : 055d8f0a0089d7b9226989ce2db42511e2e19df8cc106a7fb7d0c7fb92ab2320c0720e94be1ee517b3172da70dd05446a934cccca524172d9add54d8dbce51b14
            tippedOver:
              type: boolean
              description: >-
                    Indicates if the car tipped over during the collision.
                    Warning : This information is applicable only on vehicles equipped with dedicated sensor and is optionnal
            pedestrian:
              type: boolean
              description: >-
                    Indicates if the collision involve a pedestrian.
                    Warning : This information is applicable only on vehicles equipped with dedicated sensor and is optionnal
            updatedAt:
              type: string
              format: date-time
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/Link'
                vehicle:
                  $ref: '#/components/schemas/Link'
                trip:
                  $ref: '#/components/schemas/Link'
              required : [self]
          required: [ id, _links, createdAt ]
          
    ECoaching:
      title: ECoaching response
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/link'
            vehicle:
              $ref: '#/components/schemas/link'
            trip:
              $ref: '#/components/schemas/link'
       
        scores:
          type: array
          items:
              type: object
              properties:
                category:
                  type: string
                  description: category of the score. Global, ACCELERATION, BREAKING, A/C system, Runing cold engine, Direct Shift Gear, Speed, STT system, ZEV (Zero emission vehicle).
                  enum: [Global, Acceleration, Break, AirCondioner, ColdEngine, TirePressure, Slope, Speed, StartStop]
                  example : ColdEngine
                score:
                  type: number
                  minimum: 0
                  example : 6
                  maximum: 10
       
        _embedded:
          type: object
    
    EngineLiquid:
      type: object
      properties:
        level:
          description: Engine liquid level expressed in persent.
          type: integer
          minimum : 0
          maximum : 100
        temp:
          description: Engine liquid temperature expressed in Celsius degrees.
          type: number
          format: float      
    EngineAir:
      type: object
      properties:
        temp:
          description: Engine air temperature expressed in Celsius degrees.
          type: number
          format: float
          
    Engines:
      type: array
      items: 
         $ref: '#/components/schemas/Engine'
    PowertrainBase:
      type: object
      properties:
        status : 
          type : string
          description : Status of the powertrain
          enum: [NotRunning, Starting, Running, Stopping, Stopped]
    Powertrain :
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/PowertrainBase'
      required: [createdAt]
    EngineBase:
          type: object
          properties:
                  type:
                          type: string
                          default: Thermic
                          enum:
                            - Thermic
                            - Electric
                          example : Thermic
                  oil:
                    type: object 
                    deprecated: true
                    description: depricated, use extention thermic for such purpose.
                    properties:
                      temp:
                        type: number
                        format: float
                        example : 33,3
                  speed:
                    type: number
                    format: float
                  gmpStatus:
                    type: string
                    enum: [NotRunning, Starting, Running, Stopping, Stopped]
                    example : Running
                    deprecated : true
                  extension:
                    type: object
                    properties:
                        thermic:
                          type: object
                          properties:
                            coolant:
                              allOf:
                                - description: Engine coolant liquid properties.
                                - $ref: '#/components/schemas/EngineLiquid'
                            oil:
                              allOf:
                                - description: Engine oil properties.
                                - $ref: '#/components/schemas/EngineLiquid'
                            air:
                              allOf:
                               - $ref: '#/components/schemas/EngineAir'

    Engine:
        allOf:
            - $ref: '#/components/schemas/CreatedAtField'
            - $ref: '#/components/schemas/EngineBase'
        required : [createdAt]
        

    MaintenanceObj:
     allOf:
        - $ref: '#/components/schemas/UpdatedAtField'
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/MaintenanceBase'
    
    MaintenanceBase:
      type : object
      description: Expresses next Maintenance details. Such as number of days and the mileage until the next Maintenance. The value is negative if the next maintenance (day or mileage) is already passed. At least one of the following maintenance information will be provided.
      title: Maintenance
      properties:
        daysBeforeMaintenance:
          type: integer
          example : 45
        mileageBeforeMaintenance:
          type: number
          format : float
          example : 1239,6
      required: [createdAt]
              
    Maintenance:
      allOf:
          - $ref: '#/components/schemas/MaintenanceObj'
          - title: Maintenance response
            properties:
              _links:
                type: object
                properties:
                  self:
                    $ref: '#/components/schemas/Link'
                  vehicle:
                    $ref: '#/components/schemas/Link'
                  alerts:
                    $ref: '#/components/schemas/Link'
                required : [self]
            required:
              - _links
     
    Ignition:
        allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/IgnitionBase'
        
    IgnitionBase:
          type: object
          properties:
            type:
                type: string
                enum: [Stop, StartUp, Start]
                example : Start
          required: [type,createdAt]
  
           
    VehicleOdometer: 
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - type: object
          properties:
            mileage:
                  description: Vehicle mileage expressed in KM.
                  type: number
                  format : float
                  minimum : 0.0
                  example : 12978,9
      required : [ createdAt]
    
    Adas:  
                type: object
                properties:
                  parkAssist:
                    type: object
                    properties:
                      front:
                        type: array
                        items:
                          type: string
                          enum:
                            - Fault
                            - DriverInhibition
                            - Active
                            - Wait
                            - OutOfService
                          example : Active
                      rear:
                        type: array
                        items:
                          type: string
                          enum:
                            - Fault
                            - DriverInhibition
                            - TrailerInhibition
                            - Active
                            - Wait
                            - OutOfService 
                          example : TrailerInhibition
                  accr:
                    description: Adaptive Cruise Control Regulation
                    type: string
                    enum:
                      - Activated
                      - Fault
                      - Hold
                      - HoldWithOverSpeeding
                      - Off
                      - OverSpeedingByPedalPress
                      - StandBy
                    example : HoldWithOverSpeeding
                  lvv:
                    type: boolean
                    example : true
                  rvv:
                    type: string
                    enum:
                      - Off
                      - NoBestFit
                      - BestFitInProgress
                      - BestFitMax
                      - BestFitMin
                      - BestFitDeactivated
                      - AutoDeactivated
                      - OverflowSpeedConsign
                      - LackOfVisibilityRadar
                      - LearningRadar
                      - Deactivated
                      - LimitSetting
                    example : AutoDeactivated
                  aebs:
                    description: Advanced Emergency Braking System
                    type: string
                    enum:
                      - off
                      - Fixed
                      - OnFlashing
                    example : Fixed
                  afil:
                    description: Lane Departure Warning System
                    type: string
                    enum: [FlashingFault, FlashingWarning, Off, OnFixed]
                    example : FlashingWarning
                  artiv:
                    description: Respect of inter vehicle time assist (ARTIV)
                    type: string
                    enum:
                      - NotSelected
                      - Selected
                      - Unavailable
                    default: Unavailable
                    example : Selected
                  bsm:
                    description: Blind Spot Monitoring
                    type: string
                    enum:
                      - Active
                      - Inactive
                      - Disabled
                      - Fault
                    example : Active
                  esp:
                    description: Electronic Stability Program
                    type: boolean
                    example : true
                  abs:
                    description: Anti-lock braking system
                    type: boolean
                    example : false
                  fse:
                    description: Electric brake service
                    type: boolean
                    example : true
                  sli:
                    description: Speed Limit Information (expressed in km/h)
                    type: integer
                    example : 110
                  rlka:
                    description: Right Lane Keeping Assist 
                    type: string
                    enum: [Authorized, CorrectionInProgress, NotAuthorized, NotSelected]
                    example : Authorized
                  llka:
                    description: Left Lane Keeping Assist 
                    type: string
                    enum: [Authorized, CorrectionInProgress, NotAuthorized, NotSelected]
                    example : CorrectionInProgress
                  rgi:
                    description: Recommended gear indicator
                    type: string
                    enum:
                      - None
                      - Up
                      - Down
                      - UpDown
                    example : None
         
    Lights:
      description: Expresses all light, direction (```Left```, ```Right``` ),  position (```Front```, ```Rear``` ) and status  (```Off```, ```On```) for a category.
      type: array
      items:
        type: object
        properties:
          direction:
            type: string
            enum: [Left, Right]
          position:
            type: string
            enum: [Front, Rear]
          status:
            type: string
            enum: [Off, On]
        
          
    LightingSystemBase:
                description: Expresses the Directional, Fog and the Position vehicle lights.
                type: object
                properties:
                  turn:
                     $ref: '#/components/schemas/Lights' 
                  fog:
                     $ref: '#/components/schemas/Lights'
              
    LightingSystem:
                    allOf:
                      - $ref: '#/components/schemas/CreatedAtField'
                      - $ref: '#/components/schemas/LightingSystemBase'  
                    required: [createdAt]
    
  
    BasicKinetic:
            description: |
                          Everything related to the movement of the vehicle. Speed, acceleration..
            properties:
                acceleration:
                  type: number
                  format: float
                  description:  Vehicle acceleration (expressed in m/s²)
                speed:
                  type: number
                  format: float
                  description:  Vehicle speed (expressed in km/h)
                moving:
                  type: boolean 
    
    Kinetic:
        allOf:
          - $ref: '#/components/schemas/CreatedAtField'
          - $ref: '#/components/schemas/BasicKinetic'
        required : [ createdAt]
    
    DrivingBehavior:
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/DrivingBehaviorBase'
      required: [createdAt]

    DrivingBehaviorBase:
      description: Describe the behavior of the driver
      type: object
      properties:
        mode:
          description : Driving mode by driver selection
          type : string
          enum:
              - Normal
              - Sport
              - Comfort
              - Eco
              - Sand
              - Mud
              - Snow
              - ZEV
              - Hybrid
              - ZEVEco
              - HybridEco
              - EcoPlus
              - eAWD
              - 4AWD
              - ReinforcedLoad

    Transmission:
              type: object
              properties:
                gearbox:
                  type: object
                  properties:
                    mode:
                      type: object
                      properties:
                        automatic:
                          type: boolean
                        sport:
                          type: boolean
                        snow:
                          type: boolean
                        sequential:
                          type: boolean
                        semiManual:
                          type : boolean
                    ratio:
                      description: Current gear-box ratio.
                      type: string
                      enum:
                            - Ratio1
                            - Ratio2
                            - Ratio3
                            - Ratio4
                            - Ratio5
                            - Ratio6
                            - Ratio7
                            - Ratio8      
                            - Neutral
                            - Reverse

    Privacy:
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/PrivacyBase'
      required : [ createdAt]
    
    PrivacyBase:
      type: object
      properties:
        state:
          type: string
          enum: [None, Geolocation, Full]
  
    Battery:  
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/BatteryBase'
      required : [ createdAt]
              
    BatteryBase:  
                description: Describe the car (with combustion engine)  battery status.
                type: object
                properties:
                  voltage:
                    type: number
                    description: Auxiliary battery (12V) state of health in %
                    format: float
  

    Safety:  
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/BaseSafety'
      required : [ createdAt]
          
    BaseSafety:  
      type: object
      properties:
        beltStatus:
          type: array
          items:
            $ref: '#/components/schemas/BeltStatus'
        autoECallTriggering:
          type: string
          enum: [NotDetected, Detected, ShockDetectionUnabled]
          
    ServiceType:
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - type: object
        - properties:
            type:
              type: string
              enum: [Electric, Hybrid, Unknown]
          required: [createdAt]
          deprecated : true
    BeltStatus:  
      type: object
      description: Seat belt condition.
      properties:
        belt: 
          description: Belt status. 
          type: string
          enum: [Normal, Omission]
        id: 
          description: Seat identifier.
          type: string
          enum: [Driver, Passenger] 
      
    WipingBladesState:  
      type: object
      properties:
        active: 
            description: Either active (true) or not (false).
            type: boolean
        speed:
          description: Wiping speed. This field is present only if active field is set to true.
          type: string
          enum: [High, Low]
  
    DoorsState:
        allOf:
          - $ref: '#/components/schemas/CreatedAtField'
          - type: object
            properties:
                lockedStates:
                  type: array
                  description: List of all known doors' states 
                  items:
                    type: string
                    enum: [Unlocked, Locked, SuperLocked, DriverDoorUnlocked, CabinDoorsUnlocked, CargoDoorsLocked, CargoDoorsUnlocked, RearDoorsUnlocked, RearDoorsLocked, TrunkLocked, TrunkUnLocked] 
                opening:
                  type: array
                  items:
                    type: object
                    description: Opening state per door.
                    properties :
                      identifier: 
                        type: string
                        enum: [Driver, Passenger, RearLeft, RearRight, Trunk, RearWindow, RoofWindow]
                      state:
                        type: string
                        enum: [Open, Closed]
        required : [createdAt]
                        
    DoorsStateBase:
            type: object
            properties:
                lockedStates:
                  type: array
                  description: List of all known doors' states 
                  items:
                    type: string
                    enum: [Unlocked, Locked, SuperLocked, DriverDoorUnlocked, CabinDoorsUnlocked, CargoDoorsLocked, CargoDoorsUnlocked, RearDoorsUnlocked, RearDoorsLocked, TrunkLocked, TrunkUnLocked] 
                opening:
                  type: array
                  items:
                    type: object
                    description: Opening state per door.
                    properties :
                      identifier: 
                        type: string
                        enum: [Driver, Passenger, RearLeft, RearRight, Trunk, RearWindow, RoofWindow]
                      state:
                        type: string
                        enum: [Open, Closed] 
          
    Status:
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/UpdatedAtField'
        - title: Vehicle status response
          description: Describe the latest status of the vehicule
          type: object
          properties:
            _links:
              type: object
              properties:
                self:
                  $ref: '#/components/schemas/link'
                vehicle:
                  $ref: '#/components/schemas/link'
              required : [self]
            ignition:
                  $ref: '#/components/schemas/Ignition'
            lastPosition:
                  $ref: '#/components/schemas/Position'
            preconditioning:
                  $ref: '#/components/schemas/Preconditioning'
            energies:
              type: array
              items:
                  $ref: '#/components/schemas/Energy'
            engines:
                  $ref: '#/components/schemas/Engines'
            powertrain:
                  $ref: '#/components/schemas/Powertrain'
            doorsState:
                  $ref: '#/components/schemas/DoorsState'
            privacy:
                  $ref: '#/components/schemas/Privacy'
            battery:
                  $ref: '#/components/schemas/Battery'
            service:
                  $ref: '#/components/schemas/ServiceType'
            safety:  
                  $ref: '#/components/schemas/Safety'
            odometer: 
                  $ref: '#/components/schemas/VehicleOdometer'
            kinetic :
                  $ref: '#/components/schemas/Kinetic'
            environment: 
                  $ref: '#/components/schemas/Environment'
            drivingBehavior:
                  $ref: '#/components/schemas/DrivingBehavior'
            lightingSystem:
                      $ref: '#/components/schemas/LightingSystem'
            alarm:
                  $ref: '#/components/schemas/VehicleStatusAlarm'
            preconditionning:
              allOf:
                  - $ref: '#/components/schemas/Preconditioning'
                  - deprecated: true
            energy:
              allOf:
                  - $ref: '#/components/schemas/Energy'
                  - deprecated: true                  
          required: [_links, createdAt]
        
    Geometry:
      title: Geometry
      type: object
      description: >-
            This object expresses a GeoJSON Point as specified by
            [rfc7946](https://tools.ietf.org/html/rfc7946#section-3.1.2).
      properties:
        coordinates:
          title: Coordinates
          description: Geometry coordinates
      externalDocs:
        url: 'https://tools.ietf.org/html/rfc7946#section-3.1'
      required:
        - coordinates
        - type
    Point:
      allOf:
        - $ref: '#/components/schemas/Geometry'
        - title: Point
        - description: >-
            This object expresses a GeoJSON Point as specified by
            [rfc7946](https://tools.ietf.org/html/rfc7946#section-3.1.2).
        - properties:
            type:
                type: string
                default: Point
                enum:
                    - Point
            coordinates:
                description: >-
                    This is a simple 2 (or more) numbers vector used to define Geometry
                    Point objects.
                type: array
                items:
                    type: number
                    format: float
                    minItems: 2
        - required: [type,coordinates]
        - example: 
            type: Point
            coordinates:
              - 5.970338 
              - -62.536239
    
    Position:
      allOf:
        - required:
            - geometry
            - properties
            - type
          type: object
          title: Position
          properties:
            type:
              type: string
              default: Feature
              enum:
                - Feature
            geometry:
              $ref: '#/components/schemas/Point'
            properties:
              allOf : 
                - $ref: '#/components/schemas/CreatedAtField' 
                - type: object
                  properties:
                    heading:
                      type: integer
                      description: Course angle expressed in degree. 
                      minimum: 0
                      maximum: 360
                    signalQuality:
                      type: integer
                    type:
                      type: string
                      enum:
                        - Estimated
                        - Acquire
                    fixStatus:
                      type: string
                      description : Fix status information is only returned when position type is set to Acquire. Horizontal & altitude position can be determined in 3D fix status mode where it is only horizontal position in 2D mode. 
                      enum:
                        - 2D
                        - 3D
              required : 
                - createdAt
    
    PositionBase:
      allOf:
        - required:
            - geometry
            - properties
            - type
          type: object
          title: Position
          properties:
            type:
              type: string
              default: Feature
              enum:
                - Feature
            geometry:
              $ref: '#/components/schemas/Point'
            properties:
              allOf : 
                - type: object
                  properties:
                    heading:
                      type: integer
                      description: Course angle expressed in degree. 
                      minimum: 0
                      maximum: 360
                    signalQuality:
                      type: integer
                    type:
                      type: string
                      enum:
                        - Estimated
                        - Acquire
                    fixStatus:
                      type: string
                      description : Fix status information is only returned when position type is set to Acquire. Horizontal & altitude position can be determined in 3D fix status mode where it is only horizontal position in 2D mode.  
                      enum:
                        - 2D
                        - 3D
                  
    LiteEnergy:
      description: Describe vehicle energy supply for thermic, low emission vehicle or both.
      type: object
      properties :
        type:
          $ref: '#/components/schemas/EnergyType'
        subType:
          $ref: '#/components/schemas/EnergySubType'
        level:
          type: number
          format: float
          description: Percentage of remaining energy (Fuel or electric) level. Expressed with a precision of 0.1%.
          minimum: 0
          maximum: 100
        autonomy:
          description: Vehicle autonomy expressed in km for this energy class.
          type: integer
    Energy:
      type: object
      allOf:
        - $ref: '#/components/schemas/CreatedAtField'
        - $ref: '#/components/schemas/LiteEnergy'
      properties :
        updatedAt:
          description: Date when the resource has been updated.
          type: string
          format: date-time
          deprecated: true
        extension:
          type: object
          properties:
            fuel:
              description: Specific fuel energy properties.
              type: object
              properties:
                consumption:
                  $ref: '#/components/schemas/FuelEnergyInstantConsumption'
                consumptions:
                  $ref: '#/components/schemas/CompositFuelEnergyConsumption'
            electric:
              description: Specific electric energy parameters.
              type: object
              properties:
                residual:
                   $ref: '#/components/schemas/ElectricResidualEnergy'
                battery:
                  $ref: '#/components/schemas/EnergyBattery'
                charging:
                  $ref: '#/components/schemas/EnergyCharging'
                consumption:
                     $ref: '#/components/schemas/ElectricEnergyInstantConsumption'
      required: [type, createdAt]

    EnergyBase:
      description: Describe vehicle energy supply for thermic, low emission vehicle or both.
      type: object
      properties :
        type:
          type: string
          description: Energy type present on the vehicle.
          enum: [Fuel, Electric]
        subType:
          type: string
          description: | 
            Energy subtype. This field is not mandatory and therefore if it is not present, it means that the resource consumer should only process the primary energy type. The enumeration of the subtypes is not exhaustive and may contain more elements depending on the evolution of the vehicles. The consumer of the data must take this constraint into account. The Fossil and Electric energy subtypes are only used to populate this subtype for the default Fuel and Electric types.
              * Electric and hydrogen type are considered as low emission vehicle whereas fuel(fossil) is associated to thermic energy
          enum: [FossilEnergy, ElectricEnergy, Hydrogen]          
        level:
          type: number
          format: float
          description: Percentage of remaining energy (Fuel or electric) level. Expressed with a precision of 0.1%.
          minimum: 0
          maximum: 100
        autonomy:
          description: Vehicle autonomy expressed in km for this energy class.
          type: integer
          minimum : 0
        extension:
          type: object
          properties:
            fuel:
              description: Specific fuel energy properties.
              type: object
              properties:
                consumption:
                  $ref: '#/components/schemas/FuelEnergyInstantConsumption'
                consumptions:
                  $ref: '#/components/schemas/CompositFuelEnergyConsumption'
            electric:
              description: Specific electric energy parameters.
              type: object
              properties:
                residual:
                   $ref: '#/components/schemas/ElectricResidualEnergy'
                battery:
                  $ref: '#/components/schemas/EnergyBatteryBase'
                charging:
                  $ref: '#/components/schemas/EnergyCharging'
                consumption:
                     $ref: '#/components/schemas/ElectricEnergyInstantConsumption'
      required: [type]


    CompositFuelEnergyConsumption:
              description: Fuel consumption.
              type: object
              properties:
                total:
                  description: Total Fuel consumption expressed in cL.
                  type: number
                  format: float
                  minimum: 0
                instant:
                  description: |
                    Instant Fuel consumption.
                    * If subType equal to FossilEnergy than it will be expressed in L/100Km.
                    * If subType equal to Hydrogen than it will be expressed in Kg/100Km.
                  type: number
                  format: float
    Consumption:
          type: object
          properties:
              consumption:
                type: number
                format: float
                minimum: 0
          required: [consumption]
          deprecated: true

    EnergyConsumption:
        allOf:
              - $ref: '#/components/schemas/Consumption'
              - description: Vehicle total consumption related to a specific type of energy. Expressed in L for fuel energy type or in KWh for eletric one.
              - properties:
                  avgConsumption:
                    description: Vehicle Average consumption per 100kms for specific enery type. For eletric  in terms of Wh/100km or for fuel in terms of cl/100km respectively
                    type: number
                    format: float
                  type:
                    $ref: '#/components/schemas/EnergyType'
                  subType:
                    $ref: '#/components/schemas/EnergySubType'              
              - required: [type]  
                    
    FuelEnergyInstantConsumption:
        allOf:
              - description: Instant consumption for vehicles for fuel energy. Expressed L/100Km
              - $ref: '#/components/schemas/Consumption'
              
    ElectricEnergyInstantConsumption:
         allOf:
              - description: Instant consumption for vehicles for eletric energy. Expressed in KW/H
              - $ref: '#/components/schemas/Consumption'  
           
    ElectricResidualEnergy:
         allOf:
              - description: Residual electric energy (KWh)
              - $ref: '#/components/schemas/Consumption'
                  
    EnergyCharging:
      type: object
      description: Electric battery capacity and heath
      properties:
        plugged:
          type: boolean
        status:
          $ref: '#/components/schemas/ChargingStatusEnum'
        remainingTime:
          description: Remaning time before the battery is fully charged. This duration is expressed using [ISO8601](https://en.wikipedia.org/wiki/ISO_8601#Durations) format.
          type: string
        chargingRate:
          description:  Charging speed (expressed in gained batteryLife per hour -> KM/H).
          type: integer
          minimum: 0
          maximum: 500
        chargingPowerLevel:
          description:  Charging power level. Expressed by possible values enum. This enum list may change in the future. The application must be aware of this and provide for lenient deserialization.
          type: string
          enum: [Level1,Level2,Level3,Level4,Level5]
        chargingMode:
            description:  The charging mode; Slow, Quick and No(not charging).
            type: string
            enum: [ No, Slow, Quick ]
        nextDelayedTime:
          description:  Duration (as defined in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)) until the next battery charging.
          type: string
        chargingEndTime:
          type: string                        
          description:  Timestamp (as defined in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)) of when the charging should end  
        stopChargeStatus:
          type: string
          description: | 
                        Status of delayed stop charge.
                        one of following enums status will be set:
                          | Enum | Description |
                          |----------|:-------------:|
                          | Deactivated | Function is deactivated |
                          | Activated | The function is activated, and the conditions to execute it are met. |
                          | Successful | The most recent stop charge was successful. |
                          | StopChargeFailed | Failed to stop charging. |
                          | ChargeEndTimeScheduleFailed| The programming of the end of charge failed; the charging should not stop at the requested time. |
                                                              
          enum:
               - Deactivated
               - Activated
               - Successful
               - StopChargeFailed
               - ChargeEndTimeScheduleFailed  
        schedule:
            properties:
              programs:
                type: array
                items:
                    $ref: '#/components/schemas/ChargeScheduleProgram'
        type:
          description: Charging type associated to the vehicle. Full means that the charge will stop when it is completed whereas partial will stop before end of charge in order to optimize battery lifetime.
          type: string
          enum: [ Partial, Full ]

                      
    EnergyBatteryBase:
      type: object
      description: Electric charging state.
      properties:
        capacity:
          description: Electric battery total capacity (expressed in Wh). 
          type: number
          format: float
          deprecated : true
        load : 
          $ref: '#/components/schemas/LoadElectricEnergy'
        health: 
          $ref: '#/components/schemas/HealthElectricEnergy'
    EnergyBattery:
      type: object
      description: Electric charging state.
      properties:
        capacity:
          description: Electric battery total capacity (expressed in Wh). 
          type: number
          format: float
          deprecated : true
        load : 
          allOf:
            - $ref: '#/components/schemas/CreatedAtField'
            - $ref: '#/components/schemas/LoadElectricEnergy'
          required : [createdAt]
        health:
          allOf:
            - $ref: '#/components/schemas/CreatedAtField'
            - $ref: '#/components/schemas/HealthElectricEnergy'
          required : [createdAt]
    HealthElectricEnergy:
      type: object
      properties:
        capacity:
          description:  Health related to battery capacity (expressed in percentage).
          type: integer
          minimum: 0
          maximum: 100
        resistance:
          description:  Health related to battery resistance (expressed in percentage).
          type: integer
          minimum: 0
          maximum: 100
          
    LoadElectricEnergy : 
      properties : 
        capacity:
          description: Electric battery total capacity (expressed in Wh). 
          type: integer
        residual:
          description: Residual electric energy (expressed in Wh)
          type: integer
    ChargeScheduleProgram:  
     allOf:
        - $ref: '#/components/schemas/BasicProgram'
        - properties:
                enabled:
                  type: boolean
                  description:  Determines whether this program is enabled or not.
                end:
                  type: string
                  description: |
                          The program relative (to 00:00) end time formatted using the duration format based on [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#Time_intervals) with the schema: P[n]Y[n]M[n]DT[n]H[n]M[n]S
                      
                          _example_: 
                        
                          * PT14H30M means 14H and 30Min
                  example : PT14H30M
                chargeUntilFull:
                    description: If this program is tagged as chargin until battery is full.
                    type : boolean
                
    BasicProgram:
      type: object
      description: Describe recurring action.
      properties:
        start:
            type: string
            description: |
                          The program relative (to 00:00) start time formatted using the duration format based on [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#Time_intervals) with the schema: P[n]Y[n]M[n]DT[n]H[n]M[n]S
                      
                          _example_: 
                        
                          * PT14H30M means 14H and 30Min
            example : PT14H30M
        occurence:
                type: object
                description: >
                   The occurrence on the program will spread on days depending on recurrence value.
                properties:
                    day:
                        type: array
                        items:
                          type: string
                          enum: [Mon, Tue, Wed, Thu, Fri, Sat, Sun]
                required: [day]
      required: [start]
    Program:
      type: object
      description: Describe recurring action.
      allOf:
        - $ref: '#/components/schemas/BasicProgram'
        - properties:
            recurrence:
                description: | 
                          Determines the recurrence of the program. 
                          * None: means no recurrence. 
                          * Daily: repeated over the week. 
                type: string
                enum: [None, Daily]
                default: Daily
    TelemetryExtension:
        allOf:
          - description: Additional data set for telemetry.  
          - properties:
                location:
                  $ref: '#/components/schemas/PositionBase'
                maintenance:
                  $ref: '#/components/schemas/MaintenanceBase'

    PreconditioningProgram:
      allOf:
        - $ref: '#/components/schemas/Program'
        - title: PreconditionProgram
        - properties:
            enabled:
                type: boolean
                description:  Determines whether this program is enabled or not.
            
            slot:
              description: The preconditioning program number.
              type: integer
              
        - required: [enabled]
        
    TimeTriggerEntry:
      allOf:
        -  $ref: '#/components/schemas/Program'
        - required: [start]
        - description: |
                        The monitor Time Trigger Entry that specifies the start (relative or absolute) and duration of the time interval. The relative start time must be to midnight and the absolute must be expressed in UTC.
                        
                        <u><b>Note:</b></u> 
                        * ```occurence``` field <b><u>should</u></b> be provided only if the recurrence is set to ```Daily```. Otherwise an invalid parameter status is returned.
                        * The time entry with recurrence set to ```None``` means that this program will be enabled from the absolute start time with no recurrence. This kind of time entry can be used to for delayed monitor activation (from a start time) or a closed trigger time interval.
                        *  ```duration``` field <b><u>is mandatory</u></b> if the recurrence is set to ```Daily```. If it is set to ```None``` then it will define the absolute monitor activity period duration (starting from absolute time defined by ```start``` field), otherwise this trigger time interval is considered as unclosed.
        ##
          properties:
            duration:
              description: Duration of the monitor action expressed using [ISO-8601 Duration spec](https://en.wikipedia.org/wiki/ISO_8601#Durations).  This field <b><u>is mandatory</u></b> if the recurrence is set to ```Daily```
              type: string
              example: PT04H30M
            start:
              type: string
              description: |
                            The start time.
                            Its format depends on the recurrence value.
                            * For ```None``` recurrence, the start time is considered as absolute time from when the monitor can trigger events. In this case the format should be compliante with [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)  
                            
                              _example_: 2018-01-03T12:00:00+01:00
                            * For ```Daily``` recurrence, the start time formatted using the duration format based on [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601#Time_intervals) with the schema: P[n]Y[n]M[n]DT[n]H[n]M[n]S and whose value is between 00H and 23h59
                        
                              _example_: PT14H30M : means 14H30min
            occurence:
                  type: object
                  description: >
                     The occurrence on a bounded program will spread on months, weeks, days depending on recurrence value and ```week``` field.
                  properties:
                      day:
                          type: array
                          minItems: 1
                          maxItems: 7
                          items:
                            type: string
                            enum: [Mon, Tue, Wed, Thu, Fri, Sat, Sun]
                      week:  
                          description:  occurences over the weeks of the year from w1 to w52 specified in an array unitary or grouped by ranges (w1, w2, w34-w46, w52)
                          type: array
                          minItems: 1
                          maxItems: 52
                          items:
                          #week of year : w1, w2 ... w34-w46 ..
                            type: string
                            format: '[wW][1-5][0-9]?(-[wW][1-5][0-9]?)?'
                          example: [w1-w25,w30,w36, w40-w50]
          example:  
            recurrence: Daily
            start: PT8H30M
            duration: PT7H30M
            occurence: [Mon,Tue,Thu, Fri]
          
    Preconditioning:
      type: object
      description: Preconditioning the vehicle for driver and passenger.
      properties:
        airConditioning:
          allOf:
            - $ref: '#/components/schemas/CreatedAtField'
            - type : object
            - properties:
                updatedAt:
                  type: string
                  format: date-time
                  deprecated: true
                status:
                  description: The status of the preconditioning feature.
                  type: string
                  enum: [Enabled, Disabled, Finished, Failure]
                startingCause:
                  description : starting cause
                  type: string
                  enum: [Immediate, Scheduled]
                failureCause:
                  description: failure cause
                  type: string
                  enum: [ Defect, DoorOpened, LowBattery, LowFuelLevel, TooManyUnusedProg, WindowsRoofOpened, HoodOpened, NotParked, OtherFailures ]
                programs:
                  type: array
                  items:
                    $ref: '#/components/schemas/PreconditioningProgram'
          required : [ createdAt]
    
    PreconditioningBase:
      type: object
      description: Preconditioning the vehicle for driver and passenger.
      properties:
        airConditioning:
          allOf:
            - type : object
            - properties:
                updatedAt:
                  type: string
                  format: date-time
                  deprecated: true
                status:
                  description: The status of the preconditioning feature.
                  type: string
                  enum: [Enabled, Disabled, Finished, Failure]
                  example : Enabled
                startingCause:
                  description : starting cause
                  type: string
                  enum: [Immediate, Scheduled]
                  example : Immediate
                failureCause:
                  description: failure cause
                  type: string
                  enum: [ Defect, DoorOpened, LowBattery, LowFuelLevel, TooManyUnusedProg, WindowsRoofOpened, HoodOpened, NotParked, OtherFailures ]
                  example : OtherFailures
                programs:
                  type: array
                  items:
                    $ref: '#/components/schemas/PreconditioningProgram'
          required : [ createdAt]

    Environment: 
              type: object
              properties:
                  luminosity:
                     $ref: '#/components/schemas/Luminosity'
                  air:
                     $ref: '#/components/schemas/Air'
    EnvironmentBase: 
              type: object
              properties:
                  luminosity:
                     $ref: '#/components/schemas/LuminosityBase'
                  air:
                     $ref: '#/components/schemas/AirBase'
    Luminosity:
                    allOf:
                      - $ref: '#/components/schemas/CreatedAtField'
                      - $ref: '#/components/schemas/LuminosityBase'
                    required : [ createdAt]
    LuminosityBase:
                    type: object
                    properties:
                      day:
                        type: boolean 
                        example : true
    Air:
                    allOf:
                      - $ref: '#/components/schemas/CreatedAtField'
                      - $ref: '#/components/schemas/AirBase'
                    required : [ createdAt]
    AirBase:
                        type: object
                        description: Outside air temperature in Celsius degrees
                        properties:
                          temp:
                            type: number
                            format : float
                            example : 33,3
    Trip: 
      allOf:
            - $ref: '#/components/schemas/CreatedAtField'
            - $ref: '#/components/schemas/UpdatedAtField'
            - title: Trip 
              type: object
              properties:
                _links:
                  type: object
                  properties:
                    self:
                      $ref: '#/components/schemas/link'
                    vehicle:
                      $ref: '#/components/schemas/link'
                    waypoints:
                      $ref: '#/components/schemas/link'
                    alerts:
                      $ref: '#/components/schemas/link'
                    collisions:
                      $ref: '#/components/schemas/Link'
                  required : [self]
                id:
                  type: string
                  description: Identifier of a trip
                createdAt:
                  type: string
                  format: date-time
                updatedAt:
                  type: string
                  format: date-time                  
                startedAt:
                  type: string
                  format: date-time
                  description: Date & Time when the trip started
                stoppedAt:
                  type: string
[...]
