swagger: '2.0'
info:
  description: >
    *PSA B2C Connected Car API*


    # Introduction

    This is the description of the *Groupe PSA Connected Car V2 API*. The
    speccification is  is based on **OpenAPI Specification version 3** and can
    be displayed via [ReDoc](https://github.com/Rebilly/ReDoc)a or
    [Swagger](http://swagger.io).
      This API allows applications to fetch data from the connected Vehicles data platform.
    # Authentication

    PSA Connected Car APIs uses the [OAuth
    2.0](https://tools.ietf.org/html/rfc6749) protocol for authentication and
    authorization. any application require a valid [Access
    Token](https://tools.ietf.org/html/rfc6749#section-1.4) to access to user
    data.

    # Errors
      Error codes returned by all REST APIs comply with the standard. Nevertheless, PSA Services (callers) need to have more complete data structures (even when the answer is not Http-OK) to better detail the type of error by providing application code, message and a debugging code(for investigation purposes). The http code of the response is managed by the protocol itself (in the header).
      
      **Errors are  returned as a generic error response:**
       * ```xError``` object model.    
  license:
    name: Groupe PSA Licence
    url: 'https://www.psa-peugeot-citroen.com/'
  title: Groupe PSA Connected Car - WEB API B2C
  version: '4.0'
host: api.groupe-psa.com/
basePath: connectedcar/v4
schemes:
  - https
paths:
  /user:
    get:
      produces:
        - application/hal+json
        - application/json
      parameters:
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
        default:
          schema:
            $ref: '#/definitions/xError'
      tags:
        - User
      description: Returns the User's information.
      operationId: getUser
      summary: User's information
  /user/trips:
    get:
      produces:
        - application/hal+json
      parameters:
        - collectionFormat: multi
          description: >-
            Array of **"timestamp"** ranges. Results will contain results whose
            timestamps are included in those date-time ranges (see **timestamp**
            data  model).**"timestamp"** items should be expressed as in
            '[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)'.
          in: query
          items:
            $ref: '#/definitions/timeRange'
          name: timestamps
          required: false
          type: array
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - default: 60
          description: >-
            The maximum number of results (for a collection results response) to
            return per page. When not set, at most 60 results will be returned.
             
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: >-
            Start-Page marker, the token for continuing a previous list request
            on the next page. It is built and used **only** by the server.
          in: query
          name: pageToken
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: A list of Trip
          schema:
            $ref: '#/definitions/Trips'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Trip request error
      security:
        - Vehicle_auth:
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: >-
        This method returns a list of all Trips the User has taken. This will
        NOT include Trips that have not yet been completed.
      operationId: getUserTrips
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/trips/{tid}':
    get:
      produces:
        - application/hal+json
      parameters:
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Trip response
          schema:
            $ref: '#/definitions/Trip'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Trip request error
      security:
        - Vehicle_auth:
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: >-
        This method returns the Trip that matches the Trip id (tid) User has
        taken.
      operationId: getTripsByVehicle
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/trips/{tid}/alerts':
    get:
      parameters:
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - collectionFormat: multi
          description: >-
            Array of **"timestamp"** ranges. Results will contain results whose
            timestamps are included in those date-time ranges (see **timestamp**
            data  model).**"timestamp"** items should be expressed as in
            '[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)'.
          in: query
          items:
            $ref: '#/definitions/timeRange'
          name: timestamps
          required: false
          type: array
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - default: 60
          description: >-
            The maximum number of results (for a collection results response) to
            return per page. When not set, at most 60 results will be returned.
             
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: >-
            Start-Page marker, the token for continuing a previous list request
            on the next page. It is built and used **only** by the server.
          in: query
          name: pageToken
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
        - description: >-
            Locale is used for rendering text, correctly displaying regional
            monetary values, time and date formats.
          in: query
          name: locale
          required: false
          type: string
      responses:
        '200':
          description: A list of alert
          schema:
            $ref: '#/definitions/Alerts'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Alert request error
      security:
        - Vehicle_auth:
            - alert_read
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: Returns the latest alert messages during a Trip.
      operationId: getUserTripAlerts
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/trips/{tid}/alerts/{aid}':
    get:
      parameters:
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - description: id of the alert.
          in: path
          name: aid
          required: true
          type: string
        - description: >-
            Locale is used for rendering text, correctly displaying regional
            monetary values, time and date formats. Respect REGEX \w(-\w)?
          in: query
          name: locale
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Alert response
          schema:
            $ref: '#/definitions/Alert'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Alert request error
      security:
        - Vehicle_auth:
            - alert_read
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: Returns information about a specific alert messages for a given Trip.
      operationId: getUserTripAlertByAid
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/trips/{tid}/collisions':
    get:
      parameters:
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - collectionFormat: multi
          description: >-
            Array of **"timestamp"** ranges. Results will contain results whose
            timestamps are included in those date-time ranges (see **timestamp**
            data  model).**"timestamp"** items should be expressed as in
            '[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)'.
          in: query
          items:
            $ref: '#/definitions/timeRange'
          name: timestamps
          required: false
          type: array
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - default: 60
          description: >-
            The maximum number of results (for a collection results response) to
            return per page. When not set, at most 60 results will be returned.
             
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: >-
            Start-Page marker, the token for continuing a previous list request
            on the next page. It is built and used **only** by the server.
          in: query
          name: pageToken
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: A list of Collision
          schema:
            $ref: '#/definitions/Collisions'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Collision request error
      security:
        - Vehicle_auth:
            - Collision_read
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: >-
        Returns the set of Collisions that occurred for a given vehicle (id) and
        a speific Trip (tid) during the timestamp ranges and bounded by an index
        range.
      operationId: getUserCollisionsByTripId
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/trips/{tid}/collisions/{cid}':
    get:
      parameters:
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - description: >-
            Results will only contain the Collision related to this Collision
            *id*.
          in: path
          name: cid
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Collision response
          schema:
            $ref: '#/definitions/Collision'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Collision request error
      security:
        - Vehicle_auth:
            - Collision_read
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: >-
        Returns the Collision(cid) that occurred for a given vehicle(id) during
        a Trip(tid) .
      operationId: getUserCollisionByTipById
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/trips/{tid}/ecoaching':
    get:
      produces:
        - application/hal+json
      parameters:
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
        - description: >-
            Locale is used for rendering text, correctly displaying regional
            monetary values, time and date formats. Respect REGEX \w(-\w)?
          in: query
          name: locale
          required: false
          type: string
      responses:
        '200':
          description: ECoaching response
          schema:
            $ref: '#/definitions/ECoaching'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: ECoaching request error
      security:
        - Vehicle_auth:
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: Return the User Trip ECoaching evaluation.
      operationId: getTripsByVehicle
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/trips/{tid}/telemetry':
    get:
      parameters:
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - collectionFormat: multi
          description: >-
            Array of **"timestamp"** ranges. Results will contain results whose
            timestamps are included in those date-time ranges (see **timestamp**
            data  model).**"timestamp"** items should be expressed as in
            '[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)'.
          in: query
          items:
            $ref: '#/definitions/timeRange'
          name: timestamps
          required: false
          type: array
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: >-
            Locale is used for rendering text, correctly displaying regional
            monetary values, time and date formats. Respect REGEX \w(-\w)?
          in: query
          name: locale
          required: false
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
        - collectionFormat: multi
          description: >-
            Results will only contain Telemetry messages of this kind. You can
            add more than one message type.
          in: query
          items:
            enum:
              - vehicle.odometer
              - vehicle.moving
              - vehicle.running
              - vehicle.engines.oil.temp
              - vehicle.engines.speed
              - vehicle.brakingSystem.parking
              - vehicle.brakingSystem.status
              - vehicle.energy.type
              - vehicle.energy.level
              - vehicle.energy.consumption
              - vehicle.energy.autonomy
              - vehicle.ignition.
              - vehicle.doorsState.lockedState
              - vehicle.doorsState.opening
              - vehicle.energy.charging.status
              - vehicle.energy.charging.plugged
              - vehicle.energy.charging.remainingTime
              - vehicle.energy.charging.chargingRate
              - vehicle.energy.charging.chargingMode
              - vehicle.energy.charging.nextDelayedTime
              - vehicle.transmission.gearbox.mode.automatic
              - vehicle.transmission.gearbox.mode.sport
              - vehicle.transmission.gearbox.mode.snow
              - vehicle.transmission.gearbox.gear.recommended
              - vehicle.acceleration.longitudinal
              - vehicle.lightingSystem.signal.turn.left
              - vehicle.lightingSystem.signal.turn.right
              - vehicle.lightingSystem.foglight.front
              - vehicle.lightingSystem.foglight.rear
              - vehicle.adas.parkAssist.front
              - vehicle.adas.parkAssist.rear
              - vehicle.adas.aebs
              - vehicle.adas.afil
              - vehicle.adas.artiv
              - vehicle.adas.esp
              - vehicle.adas.abs
              - vehicle.adas.fse
              - vehicle.adas.acc
              - vehicle.adas.lvv
              - vehicle.adas.rvv
              - vehicle.adas.lka.right
              - vehicle.adas.lka.left
              - vehicle.adas.bsm
              - vehicle.adas.sli
              - passenger.seatbelt.unbuckled
              - environment.air.temp
              - environment.luminosity.day
            type: string
          name: type
          required: false
          type: array
        - collectionFormat: multi
          description: |-
            Additional data set that will be included in embedded field 

             * _Disclaimer_:  **Enabling ```maintenance``` extension will automatically disable ```Kinetic``` telemetry message**
          in: query
          items:
            enum:
              - location
              - alerts
              - collision
              - maintenance
            type: string
          name: extension
          required: false
          type: array
      responses:
        '200':
          description: Telemetry response
          schema:
            $ref: '#/definitions/Telemetry'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Trip request error
      security:
        - Vehicle_auth:
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: >-
        Returns the set of Telemetry values that occurred for a given vehicle
        (id) and a speific Trip (tid) during the timestamp ranges and bounded by
        an index range.
      operationId: getTelemetryForTrip
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/trips/{tid}/wayPoints':
    get:
      produces:
        - application/hal+json
      parameters:
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Path response
          schema:
            $ref: '#/definitions/WayPoints'
        default:
          description: wayPoints not found
      security:
        - Vehicle_auth:
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: Gives the wayPoints for a specified User Trip.
      operationId: getPathForTrip
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  /user/vehicles:
    get:
      produces:
        - 'application/hal+json '
      parameters:
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - default: 60
          description: >-
            The maximum number of results (for a collection results response) to
            return per page. When not set, at most 60 results will be returned.
             
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: >-
            Locale is used for rendering text, correctly displaying regional
            monetary values, time and date formats. Respect REGEX \w(-\w)?
          in: query
          name: locale
          required: false
          type: string
        - description: >-
            Start-Page marker, the token for continuing a previous list request
            on the next page. It is built and used **only** by the server.
          in: query
          name: pageToken
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Vehicles'
        default:
          schema:
            $ref: '#/definitions/xError'
      security:
        - Vehicle_auth:
            - Vehicle_read
      tags:
        - Vehicles
      description: Returns the Vehicles associated with the User.
      operationId: getVehiclesByDevice
      summary: List of vehicules
  '/user/vehicles/{id}':
    get:
      produces:
        - 'application/hal+json '
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Vehicle'
        default:
          schema:
            $ref: '#/definitions/xError'
      security:
        - Vehicle_auth:
            - Vehicle_read
      tags:
        - Vehicles
      description: Returns detailed information about a Vehicle.
      operationId: getVehicleByid
      summary: Details of vehicule
  '/user/vehicles/{id}/alerts':
    get:
      produces:
        - application/hal+json
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - collectionFormat: multi
          description: >-
            Array of **"timestamp"** ranges. Results will contain results whose
            timestamps are included in those date-time ranges (see **timestamp**
            data  model).**"timestamp"** items should be expressed as in
            '[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)'.
          in: query
          items:
            $ref: '#/definitions/timeRange'
          name: timestamps
          required: false
          type: array
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - default: 60
          description: >-
            The maximum number of results (for a collection results response) to
            return per page. When not set, at most 60 results will be returned.
             
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: >-
            Start-Page marker, the token for continuing a previous list request
            on the next page. It is built and used **only** by the server.
          in: query
          name: pageToken
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
        - description: >-
            Locale is used for rendering text, correctly displaying regional
            monetary values, time and date formats. Respect REGEX \w(-\w)?
          in: query
          name: locale
          required: false
          type: string
        - description: >-
            Locale is used for rendering text, correctly displaying regional
            monetary values, time and date formats.
          in: query
          name: locale
          required: false
          type: string
      responses:
        '200':
          description: A list of alert
          schema:
            $ref: '#/definitions/Alerts'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Alert request error
      security:
        - Vehicle_auth:
            - alert_read
            - Vehicle_read
      tags:
        - Vehicles
      description: Returns the latest alert messages for a Vehicle.
      operationId: getVehicleAlerts
  '/user/vehicles/{id}/alerts/{aid}':
    get:
      produces:
        - application/hal+json
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: id of the alert.
          in: path
          name: aid
          required: true
          type: string
        - description: >-
            Locale is used for rendering text, correctly displaying regional
            monetary values, time and date formats. Respect REGEX \w(-\w)?
          in: query
          name: locale
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Alert response
          schema:
            $ref: '#/definitions/Alert'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Alert request error
      security:
        - Vehicle_auth:
            - alert_read
            - Vehicle_read
      tags:
        - Vehicles
      description: Returns information about a specific alert messages for a Vehicle.
      operationId: getVehicleAlertsById
  '/user/vehicles/{id}/collisions':
    get:
      produces:
        - application/hal+json
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - collectionFormat: multi
          description: >-
            Array of **"timestamp"** ranges. Results will contain results whose
            timestamps are included in those date-time ranges (see **timestamp**
            data  model).**"timestamp"** items should be expressed as in
            '[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)'.
          in: query
          items:
            $ref: '#/definitions/timeRange'
          name: timestamps
          required: false
          type: array
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - default: 60
          description: >-
            The maximum number of results (for a collection results response) to
            return per page. When not set, at most 60 results will be returned.
             
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: >-
            Start-Page marker, the token for continuing a previous list request
            on the next page. It is built and used **only** by the server.
          in: query
          name: pageToken
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: A list of Collision
          schema:
            $ref: '#/definitions/Collisions'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Collision request error
      security:
        - Vehicle_auth:
            - Collision_read
            - Vehicle_read
      tags:
        - Vehicles
      deprecated: true
      description: >-
        Returns the set of Collisions that occurred for a given vehicle (id)
        during the timestamp ranges and bounded by an index range.
      operationId: getVehicleCollision
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/collisions/{cid}':
    get:
      produces:
        - application/hal+json
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: >-
            Results will only contain the Collision related to this Collision
            *id*.
          in: path
          name: cid
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Collision response
          schema:
            $ref: '#/definitions/Collision'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Collision request error
      security:
        - Vehicle_auth:
            - Collision_read
            - Vehicle_read
      tags:
        - Vehicles
      deprecated: true
      description: Returns the Collision that matches the vehicle id and the Collision cid.
      operationId: getVehicleCollisionById
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/lastPosition':
    get:
      produces:
        - application/vnd.geo+json
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Position response
          schema:
            $ref: '#/definitions/Position'
        default:
          schema:
            $ref: '#/definitions/xError'
      security:
        - Vehicle_auth:
            - localisation_read
            - Vehicle_read
      tags:
        - Vehicles
      description: Returns the latest GPS Position of the Vehicle.
      operationId: getCarLastPosition
      summary: Last position identified
  '/user/vehicles/{id}/maintenance':
    get:
      produces:
        - application/hal+json
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Maintenant response
          schema:
            $ref: '#/definitions/Maintenance'
        default:
          schema:
            $ref: '#/definitions/xError'
      security:
        - Vehicle_auth:
            - Maintenance_read
            - Vehicle_read
      tags:
        - Vehicles
      description: Returns the latest Maintenance information for a Vehicle.
      operationId: getVehicleMaintenance
  '/user/vehicles/{id}/monitors':
    get:
      produces:
        - application/hal+json
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - default: 60
          description: >-
            The maximum number of results (for a collection results response) to
            return per page. When not set, at most 60 results will be returned.
             
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: >-
            Start-Page marker, the token for continuing a previous list request
            on the next page. It is built and used **only** by the server.
          in: query
          name: pageToken
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: A list of Monitors
          schema:
            $ref: '#/definitions/Monitors'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Alert request error
      tags:
        - Vehicles
      deprecated: true
      description: Returns the list of subscribed Monitors for a Vehicle.
      operationId: getVehicleMonitors
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
    post:
      consumes:
        - application/json
      produces:
        - application/hal+json
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/MonitorParameter'
      responses:
        '201':
          description: Monitor post success response
          schema:
            $ref: '#/definitions/MonitorRef'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Alert request error
      security:
        - Vehicle_auth:
            - Vehicle_read
            - Monitor_write
      tags:
        - Vehicles
      deprecated: true
      description: >
        >Create a Monitor for a Vehicle. This is a kind of vehicle monitor that
        generates an event following the transition state of one of the
        (monitored) data  of the vehicles. As for example the fuel level, the
        moving out of a defined geographical area. 


        >When the the trigger occurs, the built event expressed as a JSON object
        will be sent over the callback.
      operationId: setVehicleMonitor
      summary: Create a new Monitor. OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/monitors/{mid}':
    delete:
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: id of the alert.
          in: path
          name: mid
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Monitor deleted
        default:
          description: Vehicle not found
      security:
        - Vehicle_auth:
            - Vehicle_read
            - Monitor_write
      tags:
        - Vehicles
      deprecated: true
      description: Stop (disable) an existing Monitor.
      operationId: deleteMonitordd
      summary: Delete a Monitor. OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
    get:
      produces:
        - application/hal+json
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: id of the alert.
          in: path
          name: mid
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Monitor response
          schema:
            $ref: '#/definitions/Monitor'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Alert request error
      security:
        - Vehicle_auth:
            - Monitor_read
            - Vehicle_read
      tags:
        - Vehicles
      deprecated: true
      description: Returns information about a specific Monitor for a Vehicle.
      operationId: getVehicleMonitorsById
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
    put:
      consumes:
        - application/json
      parameters:
        - description: id of the alert.
          in: path
          name: mid
          required: true
          type: string
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/MonitorParameter'
      responses:
        '201':
          description: Monitor post success response
          schema:
            $ref: '#/definitions/MonitorRef'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Alert request error
      tags:
        - Vehicles
      deprecated: true
      description: >
        Update an existing ```Monitor``` that has been posted (and accepted
        previously) for this vehicle. The monitor object (body) provided should
        be complete because the aggregation is not supported for the update of
        the ```monitor```. you can retrieve this object using the ```GET
        /monitor/{mid}``` API then modify it and finally publish it (via this
        ```PUT API```) 
      operationId: updateFleetVehicleMonitor
      summary: Update and existing Monitor. OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/monitors/{mid}/status':
    put:
      consumes:
        - application/json
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: id of the alert.
          in: path
          name: mid
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/MonitorStatusSetter'
      responses:
        '200':
          description: Monitor post success response
          schema:
            $ref: '#/definitions/MonitorRef'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Alert request error
      tags:
        - Vehicles
      deprecated: true
      description: |
        Set monitor status. 
      operationId: setFleetVehicleMonitorStatus
      summary: Set a new monitor status. OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/status':
    get:
      produces:
        - application/hal+json
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
        - collectionFormat: multi
          description: |-
            Additional data set that will be included in embedded field 

             * _Disclaimer_:  **Enabling ```odometer``` extension will automatically disable ```kinetic``` telemetry message**
          in: query
          items:
            enum:
              - odometer
              - kinetic
            type: string
          name: extension
          required: false
          type: array
      responses:
        '200':
          description: Status response
          schema:
            $ref: '#/definitions/Status'
        default:
          schema:
            $ref: '#/definitions/xError'
      security:
        - Vehicle_auth:
            - Status_read
            - Vehicle_read
      tags:
        - Vehicles
      description: Returns the latest vehicle status.
      operationId: getVehicleStatus
      summary: Vehicle status.
  '/user/vehicles/{id}/telemetry':
    get:
      produces:
        - application/hal+json
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - collectionFormat: multi
          description: >-
            Results will only contain Telemetry messages of this kind. You can
            add more than one message type.
          in: query
          items:
            enum:
              - vehicle.odometer
              - vehicle.moving
              - vehicle.running
              - vehicle.engines.oil.temp
              - vehicle.engines.speed
              - vehicle.brakingSystem.parking
              - vehicle.brakingSystem.status
              - vehicle.energy.type
              - vehicle.energy.level
              - vehicle.energy.consumption
              - vehicle.energy.autonomy
              - vehicle.ignition.
              - vehicle.doorsState.lockedState
              - vehicle.doorsState.opening
              - vehicle.energy.charging.status
              - vehicle.energy.charging.plugged
              - vehicle.energy.charging.remainingTime
              - vehicle.energy.charging.chargingRate
              - vehicle.energy.charging.chargingMode
              - vehicle.energy.charging.nextDelayedTime
              - vehicle.transmission.gearbox.mode.automatic
              - vehicle.transmission.gearbox.mode.sport
              - vehicle.transmission.gearbox.mode.snow
              - vehicle.transmission.gearbox.gear.recommended
              - vehicle.acceleration.longitudinal
              - vehicle.lightingSystem.signal.turn.left
              - vehicle.lightingSystem.signal.turn.right
              - vehicle.lightingSystem.foglight.front
              - vehicle.lightingSystem.foglight.rear
              - vehicle.adas.parkAssist.front
              - vehicle.adas.parkAssist.rear
              - vehicle.adas.aebs
              - vehicle.adas.afil
              - vehicle.adas.artiv
              - vehicle.adas.esp
              - vehicle.adas.abs
              - vehicle.adas.fse
              - vehicle.adas.acc
              - vehicle.adas.lvv
              - vehicle.adas.rvv
              - vehicle.adas.lka.right
              - vehicle.adas.lka.left
              - vehicle.adas.bsm
              - vehicle.adas.sli
              - passenger.seatbelt.unbuckled
              - environment.air.temp
              - environment.luminosity.day
            type: string
          name: type
          required: false
          type: array
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - default: 60
          description: >-
            The maximum number of results (for a collection results response) to
            return per page. When not set, at most 60 results will be returned.
             
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: >-
            Start-Page marker, the token for continuing a previous list request
            on the next page. It is built and used **only** by the server.
          in: query
          name: pageToken
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
        - description: >-
            Locale is used for rendering text, correctly displaying regional
            monetary values, time and date formats. Respect REGEX \w(-\w)?
          in: query
          name: locale
          required: false
          type: string
        - collectionFormat: multi
          description: |-
            Additional data set that will be included in embedded field 

             * _Disclaimer_:  **Enabling ```maintenance``` extension will automatically disable ```Kinetic``` telemetry message**
          in: query
          items:
            enum:
              - location
              - alerts
              - collision
              - maintenance
            type: string
          name: extension
          required: false
          type: array
      responses:
        '200':
          description: Telemetry response
          schema:
            $ref: '#/definitions/Telemetry'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Trip request error
      security:
        - Vehicle_auth:
            - Telemetry_read
            - Vehicle_read
      tags:
        - Vehicles
      deprecated: true
      description: >-
        Returns the latest Telemetry messages that occurred during a selective
        timestamp-ranges and bounded by an index range.
      operationId: getTelemetry
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/trips':
    get:
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - collectionFormat: multi
          description: >-
            Array of **"timestamp"** ranges. Results will contain results whose
            timestamps are included in those date-time ranges (see **timestamp**
            data  model).**"timestamp"** items should be expressed as in
            '[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)'.
          in: query
          items:
            $ref: '#/definitions/timeRange'
          name: timestamps
          required: false
          type: array
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - default: 60
          description: >-
            The maximum number of results (for a collection results response) to
            return per page. When not set, at most 60 results will be returned.
             
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: >-
            Start-Page marker, the token for continuing a previous list request
            on the next page. It is built and used **only** by the server.
          in: query
          name: pageToken
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: A list of Trip
          schema:
            $ref: '#/definitions/Trips'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Trip request error
      security:
        - Vehicle_auth:
            - Trip_read
            - Vehicle_read
      tags:
        - Trips
      deprecated: true
      description: >-
        This method returns a list of all Trips that a given Vehicle has taken.
        This will NOT include Trips that have not yet been completed.
      operationId: getTripsByVehicle
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/trips/{tid}':
    get:
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Trip response
          schema:
            $ref: '#/definitions/Trip'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Trip request error
      security:
        - Vehicle_auth:
            - Trip_read
            - Vehicle_read
      tags:
        - Trips
      deprecated: true
      description: >-
        This method returns the Trip that matches the Trip id (tid) a given
        Vehicle (id) has taken.
      operationId: getTripByVehicle
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/trips/{tid}/alerts':
    get:
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - collectionFormat: multi
          description: >-
            Array of **"timestamp"** ranges. Results will contain results whose
            timestamps are included in those date-time ranges (see **timestamp**
            data  model).**"timestamp"** items should be expressed as in
            '[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)'.
          in: query
          items:
            $ref: '#/definitions/timeRange'
          name: timestamps
          required: false
          type: array
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - default: 60
          description: >-
            The maximum number of results (for a collection results response) to
            return per page. When not set, at most 60 results will be returned.
             
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: >-
            Start-Page marker, the token for continuing a previous list request
            on the next page. It is built and used **only** by the server.
          in: query
          name: pageToken
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
        - description: >-
            Locale is used for rendering text, correctly displaying regional
            monetary values, time and date formats.
          in: query
          name: locale
          required: false
          type: string
      responses:
        '200':
          description: A list of alert
          schema:
            $ref: '#/definitions/Alerts'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Alert request error
      security:
        - Vehicle_auth:
            - alert_read
            - Vehicle_read
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: Returns the latest alert messages for a Vehicle.
      operationId: getVehicleTripAlerts
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/trips/{tid}/alerts/{aid}':
    get:
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - description: id of the alert.
          in: path
          name: aid
          required: true
          type: string
        - description: >-
            Locale is used for rendering text, correctly displaying regional
            monetary values, time and date formats. Respect REGEX \w(-\w)?
          in: query
          name: locale
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Alert response
          schema:
            $ref: '#/definitions/Alert'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Alert request error
      security:
        - Vehicle_auth:
            - alert_read
            - Vehicle_read
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: >-
        Returns information about a specific alert messages for a given Vehicle
        and Trip.
      operationId: getVehicleTripAlertByAid
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/trips/{tid}/collisions':
    get:
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - collectionFormat: multi
          description: >-
            Array of **"timestamp"** ranges. Results will contain results whose
            timestamps are included in those date-time ranges (see **timestamp**
            data  model).**"timestamp"** items should be expressed as in
            '[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)'.
          in: query
          items:
            $ref: '#/definitions/timeRange'
          name: timestamps
          required: false
          type: array
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - default: 60
          description: >-
            The maximum number of results (for a collection results response) to
            return per page. When not set, at most 60 results will be returned.
             
          in: query
          minimum: 1
          name: pageSize
          required: false
          type: integer
        - description: >-
            Start-Page marker, the token for continuing a previous list request
            on the next page. It is built and used **only** by the server.
          in: query
          name: pageToken
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: A list of Collision
          schema:
            $ref: '#/definitions/Collisions'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Collision request error
      security:
        - Vehicle_auth:
            - Collision_read
            - Vehicle_read
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: >-
        Returns the set of Collisions that occurred for a given vehicle (id) and
        a speific Trip (tid) during the timestamp ranges and bounded by an index
        range.
      operationId: getVehicleCollisionsByTripId
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/trips/{tid}/collisions/{cid}':
    get:
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - description: >-
            Results will only contain the Collision related to this Collision
            *id*.
          in: path
          name: cid
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Collision response
          schema:
            $ref: '#/definitions/Collision'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Collision request error
      security:
        - Vehicle_auth:
            - Collision_read
            - Vehicle_read
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: >-
        Returns the Collision(cid) that occurred for a given vehicle(id) during
        a Trip(tid) .
      operationId: getVehicleCollisionByTipById
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/trips/{tid}/ecoaching':
    get:
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
        - description: >-
            Locale is used for rendering text, correctly displaying regional
            monetary values, time and date formats. Respect REGEX \w(-\w)?
          in: query
          name: locale
          required: false
          type: string
      responses:
        '200':
          description: ECoaching response
          schema:
            $ref: '#/definitions/ECoaching'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: ECoaching request error
      security:
        - Vehicle_auth:
            - Trip_read
            - Vehicle_read
      tags:
        - Trips
      deprecated: true
      description: Return the Trip ECoaching evaluation.
      operationId: getTripsByVehicle
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/trips/{tid}/telemetry':
    get:
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - collectionFormat: multi
          description: >-
            Array of **"timestamp"** ranges. Results will contain results whose
            timestamps are included in those date-time ranges (see **timestamp**
            data  model).**"timestamp"** items should be expressed as in
            '[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)'.
          in: query
          items:
            $ref: '#/definitions/timeRange'
          name: timestamps
          required: false
          type: array
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
        - description: >-
            Locale is used for rendering text, correctly displaying regional
            monetary values, time and date formats. Respect REGEX \w(-\w)?
          in: query
          name: locale
          required: false
          type: string
        - collectionFormat: multi
          description: >-
            Results will only contain Telemetry messages of this kind. You can
            add more than one message type.
          in: query
          items:
            enum:
              - vehicle.odometer
              - vehicle.moving
              - vehicle.running
              - vehicle.engines.oil.temp
              - vehicle.engines.speed
              - vehicle.brakingSystem.parking
              - vehicle.brakingSystem.status
              - vehicle.energy.type
              - vehicle.energy.level
              - vehicle.energy.consumption
              - vehicle.energy.autonomy
              - vehicle.ignition.
              - vehicle.doorsState.lockedState
              - vehicle.doorsState.opening
              - vehicle.energy.charging.status
              - vehicle.energy.charging.plugged
              - vehicle.energy.charging.remainingTime
              - vehicle.energy.charging.chargingRate
              - vehicle.energy.charging.chargingMode
              - vehicle.energy.charging.nextDelayedTime
              - vehicle.transmission.gearbox.mode.automatic
              - vehicle.transmission.gearbox.mode.sport
              - vehicle.transmission.gearbox.mode.snow
              - vehicle.transmission.gearbox.gear.recommended
              - vehicle.acceleration.longitudinal
              - vehicle.lightingSystem.signal.turn.left
              - vehicle.lightingSystem.signal.turn.right
              - vehicle.lightingSystem.foglight.front
              - vehicle.lightingSystem.foglight.rear
              - vehicle.adas.parkAssist.front
              - vehicle.adas.parkAssist.rear
              - vehicle.adas.aebs
              - vehicle.adas.afil
              - vehicle.adas.artiv
              - vehicle.adas.esp
              - vehicle.adas.abs
              - vehicle.adas.fse
              - vehicle.adas.acc
              - vehicle.adas.lvv
              - vehicle.adas.rvv
              - vehicle.adas.lka.right
              - vehicle.adas.lka.left
              - vehicle.adas.bsm
              - vehicle.adas.sli
              - passenger.seatbelt.unbuckled
              - environment.air.temp
              - environment.luminosity.day
            type: string
          name: type
          required: false
          type: array
        - collectionFormat: multi
          description: |-
            Additional data set that will be included in embedded field 

             * _Disclaimer_:  **Enabling ```maintenance``` extension will automatically disable ```Kinetic``` telemetry message**
          in: query
          items:
            enum:
              - location
              - alerts
              - collision
              - maintenance
            type: string
          name: extension
          required: false
          type: array
      responses:
        '200':
          description: Telemetry response
          schema:
            $ref: '#/definitions/Telemetry'
        default:
          $ref: '#/x-fragment/general_error_fragment'
          description: Trip request error
      security:
        - Vehicle_auth:
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: >-
        Returns the set of Telemetry values that occurred for a given vehicle
        (id) and a speific Trip (tid) during the timestamp ranges and bounded by
        an index range.
      operationId: getTelemetryForTrip
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
  '/user/vehicles/{id}/trips/{tid}/wayPoints':
    get:
      produces:
        - application/hal+json
      parameters:
        - description: Results will only be related to this Vehicle *id*.
          in: path
          name: id
          required: true
          type: string
        - description: the *id* of Trip
          in: path
          name: tid
          required: true
          type: string
        - default: 0-
          description: >-
            Results indexes will be included in this range (see **indexRange**
            model).
              
              default: 0-

              example: 0-, 0-5
          in: query
          name: indexRange
          pattern: \d+-\d*
          required: false
          type: string
        - collectionFormat: multi
          description: >-
            Array of **"timestamp"** ranges. Results will contain results whose
            timestamps are included in those date-time ranges (see **timestamp**
            data  model).**"timestamp"** items should be expressed as in
            '[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)'.
          in: query
          items:
            $ref: '#/definitions/timeRange'
          name: timestamps
          required: false
          type: array
        - description: >
            Tolerance factor is expressed in length KM unit and is used to
            simplify path by reducing the total number of points by is using
            Douglas-Peucker algorithme to find a similar curve with fewer points
            (find more info here:
            [Ramer_Douglas_Peucker_algorithm](https://en.wikipedia.org/wiki/Ramer%E2%80%93Douglas%E2%80%93Peucker_algorithm#Algorithm)
            ).
          format: float
          in: query
          name: tolerance
          type: number
        - description: >-
            HTTP token authentication (Bearer authentication) that should be
            retrived using PSA connection API.
          in: header
          name: authorization
          pattern: Bearer (\w|-|=)*
          required: true
          type: string
        - description: The client ID related to the API User account.
          in: query
          name: client_id
          pattern: '([0-9a-fA-F]|-|_)*'
          required: true
          type: string
      responses:
        '200':
          description: Path response
          schema:
            $ref: '#/definitions/WayPoints'
        default:
          description: wayPoints not found
      security:
        - Vehicle_auth:
            - Trip_read
      tags:
        - Trips
      deprecated: true
      description: Gives the Vehicle's wayPoints for a specified Trip.
      operationId: getPathForTrip
      summary: OUT OF 1ST RELEASE (R-LEV 1.1) SCOPE
definitions:
  Adas:
    properties:
      abs:
        description: Anti-lock braking system
        type: boolean
      accr:
        description: Adaptive Cruise Control Regulation
        enum:
          - Activated
          - Fault
          - Hold
          - HoldWithOverSpeeding
          - 'Off'
        type: string
      aebs:
        description: Advanced Emergency Braking System
        enum:
          - 'off'
          - Fixed
          - OnFlashing
        type: string
      afil:
        description: Lane Departure Warning System
        enum:
          - FlashingFault
          - FlashingWarning
          - 'Off'
          - OnFixed
        type: string
      artiv:
        default: unavailable
        description: Respect of inter vehicle time assist (ARTIV)
        enum:
          - NotSelected
          - Selected
          - Unavailable
        type: string
      bsm:
        description: Blink SpotMonitoring
        enum:
          - Active
          - Inactive
          - Disabled
        type: string
      esp:
        description: Electronic Stability Programme
        type: boolean
      fse:
        description: Electric brake service
        type: boolean
      lrka:
        description: Lane Keeping Assist left
        enum:
          - Authorized
          - CorrectionInProgress
          - NotAuthorized
          - NotSelected
        type: string
      lvv:
        type: boolean
      parkAssist:
        properties:
          front:
            items:
              enum:
                - Fault
                - DriverInhibition
                - Active
                - Wait
                - OutOfService
              type: string
            type: array
          rear:
            items:
              enum:
                - Fault
                - DriverInhibition
                - Active
                - Wait
                - OutOfService
              type: string
            type: array
        type: object
      rlka:
        description: Lane Keeping Assist right
        enum:
          - Authorized
          - CorrectionInProgress
          - NotAuthorized
          - NotSelected
        type: string
      rvv:
        enum:
          - 'off'
          - Inactive
          - Active
          - SpeedExceeded
          - Disabled
          - DisabledBySystem
          - MaxSpeedExceed
          - SpeedDeltaExceed
          - ReducedVisibility
          - Learning
        type: string
      sli:
        description: Speed Limit Information
        type: integer
    type: object
  Alert:
    allOf:
      - $ref: '#/definitions/UpdatedField'
      - $ref: '#/definitions/CreatedAtField'
      - properties:
          _links:
            properties:
              position:
                $ref: '#/definitions/link'
              self:
                $ref: '#/definitions/link'
              trip:
                $ref: '#/definitions/link'
              vehicle:
                $ref: '#/definitions/link'
            type: object
          active:
            type: boolean
          endAt:
            format: date-time
            type: string
          'endPosition:':
            allOf:
              - $ref: '#/definitions/Position'
              - description: The position (last hvehicle known one) where the alert occurs.
          id:
            type: string
          startPosition:
            allOf:
              - $ref: '#/definitions/Position'
              - description: >-
                  The position (last hvehicle known one) where the alert
                  disappear.
          startedAt:
            description: Date
            format: date-time
            type: string
          type:
            $ref: '#/definitions/AlertMsgEnum'
        title: Alert message
        type: object
  AlertMsgEnum:
    enum:
      - alertOilPressure
      - alertCoolantTemp
      - chargingSystemFault
      - alertBrakeFluid
      - steeringFault
      - alertCoolantLevel
      - laneDepartureWarningSystemFault
      - frontLeftDoorOpenHighSpeed
      - frontRightDoorOpenHighSpeed
      - rearLeftDoorOpenHighSpeed
      - rearRightDoorOpenHighSpeed
      - trunkOpenHighSpeed
      - trunkWindowOpen
      - espFault
      - batteryLevelFault
      - waterInGasoil
      - padWearFault
      - fuelLevelAlarm
      - airbagOrSeatbeltFault
      - engineFault
      - absFault
      - riskOfParticleFilterBlockage
      - particleFilterAdditiveTooLow
      - suspensionFault
      - preaheatingDeactivatedBatteryTooLow
      - preaheatingDeactivatedFuelLevelTooLow
      - checkTheBrakeLamp
      - retractableRoofMechanismFault
      - alertSteeringLock
      - electronicImmobiliserFault
      - roofOperationImpossibleTemperatureTooHigh
      - roofOperationImpossibleStartEngine
      - roofOperationImpossibleApplyParkingBreak
      - hybridSystemFault
      - automaticHeadlampFault
      - hybridSystemFaultRepairedTheVehicle
      - washerLevelAlarm
      - batteryKeyAlarm
      - preaheatingDeactivatedSetTheClock
      - trailerConnectionFault
      - underInflationTyreFault
      - limitedVisibilityAidsCamera
      - electricModeNotAvailable
      - wheelPressureFault
      - checkSideLamps
      - checkRightBrakeLamp
      - checkLeftBrakeLamp
      - frontFoglightFault
      - rearFoglightFault
      - checkDirectionIndicator
      - checkReversingLamp
      - parkingAssistanceFault
      - adjustTyrePressure
      - antipollutionFault
      - placeGearBoxToP
      - riskOfIce
      - frontRightDoorOpen
      - frontLeftDoorOpen
      - rearRightDoorOpen
      - rearLeftDoorOpen
      - trunkOpen
      - bootOpen
      - rearScreenOpen
      - parkingBreakFault
      - activeSpoilerFault
      - automaticBreakingSystemFault
      - directionalHeadlampsFault
      - automaticGearboxFault
      - engineFault
      - suspensionFaultLimitTo90km
      - frontLeftTyreNotMonitored
      - frontRightTyreNotMonitored
      - rearRightTyreNotMonitored
      - rearLeftTyreNotMonitored
      - suspensionFault
      - suspensionFault
      - powerSteeringFault
      - engineFault
      - laneDepartureFault
      - tyreUnderInflation
      - spareWheelFittedDrivingAidsDeactivated
      - automaticBreakingDeactived
      - tupUpAdBlue
      - longPushToUnlockTankFault
    type: string
  Alerts:
    allOf:
      - $ref: '#/definitions/CollectionResult'
      - properties:
          _embedded:
            properties:
              alerts:
                items:
                  $ref: '#/definitions/Alert'
                type: array
            type: object
    title: Alerts Array
  Battery:
    allOf:
      - $ref: '#/definitions/CreatedAtField'
      - description: Describe the car (with combustion engine)  battery status.
        properties:
          current:
            format: float
            type: number
          voltage:
            format: float
            type: number
        type: object
  BoundedProgram:
    allOf:
      - $ref: '#/definitions/Program'
      - description: >-
          the extended program that specifies the duration of the action. The
          relative start time (relative to midnight) must be expressed in UTC.
        properties:
          duration:
            description: >-
              Duration of the monitor action expressed using  [ISO-8601 Duration
              spec](https://en.wikipedia.org/wiki/ISO_8601#Durations)
            type: string
        required:
          - start
          - duration
          - occurence
  ChargingStatusEnum:
    description: status of charging system.
    enum:
      - Disconnected
      - InProgress
      - Failure
      - Stopped
      - Finished
    type: string
  CircleZone:
    allOf:
      - $ref: '#/definitions/Geometry'
      - description: >-
          Circle zone is compound of a gps center Point and a radius (Expressed
          in KM).
        properties:
          coordinates:
            properties:
              center:
                $ref: '#/definitions/Point'
              radius:
                type: number
            required:
              - center
              - radius
            type: object
          type:
            default: extCircle
            enum:
              - ExtCircle
        title: Cicle
  CollectionResult:
    properties:
      _embedded:
        type: object
      _links:
        $ref: '#/definitions/Tab_Links'
      currentPage:
        type: integer
      total:
        type: integer
      totalPage:
        type: integer
    required:
      - total
      - totalPage
      - currentPage
      - _embedded
    type: object
  Collision:
    allOf:
      - $ref: '#/definitions/TimeStamped'
      - $ref: '#/definitions/CollisionObj'
      - properties:
          _links:
            properties:
              self:
                $ref: '#/definitions/Link'
              trip:
                $ref: '#/definitions/Link'
              vehicle:
                $ref: '#/definitions/Link'
            type: object
        title: Collision
        type: object
  CollisionObj:
    allOf:
      - $ref: '#/definitions/TimeStamped'
      - properties:
          _embedded:
            type: object
          front:
            properties:
              level:
                default: none
                enum:
                  - none
                  - low
                  - medium
                  - high
                  - fixable
                type: string
            type: object
          id:
            type: string
          lateral:
            properties:
              level:
                default: none
                enum:
                  - none
                  - low
                  - medium
                  - high
                  - fixable
                type: string
            type: object
          pedestrian:
            type: boolean
          rear:
            properties:
              level:
                default: none
                enum:
                  - none
                  - low
                  - medium
                  - high
                  - fixable
                type: string
            type: object
          rollOver:
            type: boolean
          updatedAt:
            format: date-time
            type: string
        title: Collision
        type: object
  Collisions:
    allOf:
      - $ref: '#/definitions/CollectionResult'
      - properties:
          _embedded:
            properties:
              Collisions:
                items:
                  $ref: '#/definitions/Collision'
                type: array
            type: object
    title: Vehicle Collisions array
  CreatedAtField:
    properties:
      createdAt:
        description: Date when the resource has been created.
        format: date-time
        type: string
    type: object
  DataMonitorTrigger:
    description: A monitor for triggering the vehicle data change event.
    properties:
      data:
        description: the left operand of the trigger function.
        enum:
          - vehicle.alert
          - vehicle.odometer
          - vehicle.moving
          - vehicle.running
          - vehicle.engines.oil.temp
          - vehicle.energy.level
          - vehicle.energy.consumption
          - vehicle.energy.autonomy
          - vehicle.doorsState.lockedState
          - vehicle.doorsState.opening
          - vehicle.energy.charging.status
          - vehicle.energy.charging.plugged
          - vehicle.speed
          - vehicle.autonomy
          - vehicle.energy.fuel.level
          - vehicle.energy.electric.level
          - vehicle.new.trip
          - passenger.seatbelt.unbuckled
          - environment.air.temp
        type: string
      op:
        description: the operator of the trigger function.
        enum:
          - eqaualsTo
          - greaterThan
          - lowerThan
          - includedIn
        type: string
      value:
        description: the right operand of the trigger function.
        oneOf:
          - type: string
          - items:
              type: string
            type: array
    title: DataMonitorParm
  DataTrigger:
    description: A monitor for triggering the vehicle data change event.
    properties:
      data:
        description: >
          The left operand of the trigger function. The following Table details
          for each operand data its type, the supported operator and the
          possibly retruned value: 

          |**Data**|**Type**|**Op**|**Value**|

          |---|---| ---:| ---:|

          | Vehicle.alert | List of value | OnChange (at least
          one)/IncludedIn/EqualTo | Value (ObjetAlert) |

          | Vehicle.odometer | Integer | equalTo/greaterThan/lowerThan/ | Value
          |

          | vehicle.engines.running (boolean) | Boolean | OnChange/equalTo |
          Value (true/false) |

          | vehicle.engines.thermic.oil.temp | Integer | equalTo/greaterThan/
          lowerThan/ | Value |

          | vehicle.energy.electric.level | Number | equalTo/greaterThan/
          lowerThan/ | Value |

          | vehicle.energy.electric.autonomy | Number | equalTo/greaterThan/
          lowerThan/ | Value |

          | vehicle.energy.fuel.level | Number | equalTo/greaterThan/ lowerThan/
          | Value |

          | vehicle.energy.fuel.autonomy | Number | equalTo/greaterThan/
          lowerThan/ | Value |

          | vehicle.autonomy (global) | Number | equalTo/greaterThan/ lowerThan/
          | Value |

          | vehicle.energy.charging.status | Enum(ChargingStatusEnum) |
          OnChange/equalTo | Value |

          | vehicle.energy.charging.plugged | Boolean | OnChange/equalTo | Value
          |

          | vehicle.doorsState.lockedState | N/A | OnChange | Value |

          | vehicle.doorsState.opening | N/A | OnChange | Value |

          | vehicle.kinetic.moving| Boolean | OnChange/equalTo | Value
          (true/false) |

          | vehicle.kinetic.speed | Number | equalTo/greaterThan/ lowerThan/ |
          Value |

          | vehicle.trip| Literal | OnChange| Value(IDTRIP) |

          | vehicle.maintenance.daysBeforeMaintenance, | Number |
          OnChange/equalTo/ greaterThan/ lowerThan/ | Value |

          | vehicle.maintenance.mileageBeforeMaintenance| Number |
          OnChange/equalTo/ greaterThan/ lowerThan/ | Value |

          | vehicle.safety.beltWarning | Enum(beltWarning) | OnChange/equalTo |
          Value |

          | environment.air.temp | Number | equalTo/greaterThan/lowerThan/ |
          Value |

          | privacy.state | Enum(Privacy) | equalTo / OnChange/IncludedIN |
          Value |
        enum:
          - vehicle.alert
          - vehicle.odometer
          - vehicle.engines.running
          - vehicle.engines.thermic.oil.temp
          - vehicle.energy.electric.level
          - vehicle.energy.electric.autonomy
          - vehicle.energy.fuel.level
          - vehicle.energy.fuel.autonomy
          - vehicle.autonomy
          - vehicle.energy.charging.status
          - vehicle.energy.charging.plugged
          - vehicle.doorsState.lockedState
          - vehicle.doorsState.opening
          - vehicle.kinetic.moving
          - vehicle.kinetic.speed
          - vehicle.trip
          - vehicle.maintenance.daysBeforeMaintenance
          - vehicle.maintenance.mileageBeforeMaintenance
          - vehicle.safety.beltWarning
          - environment.air.temp
          - privacy.state
        type: string
      op:
        description: The operator of the trigger function.
        enum:
          - equalsTo
          - greaterThan
          - lowerThan
          - includedIn
          - onChange
        type: string
      value:
        description: >
          The right operand of the trigger function. It can be a uniq
          ```value``` or a list of value ```values```. The choice of one or the
          other depends on ```OP```  which in the case of ```includedIn``` must
          be a list.
            * _Disclaimer_: If the op field is not set to ```includeIn``` then only the first item will be used.
        items:
          type: string
        type: array
    required:
      - data
      - op
    title: DataTrigger
  DefaultAlertPush:
    description: The default alert push mechanism (backend dependant; exp sendbox)
    properties:
      attributes:
        items:
          properties:
            key:
              type: string
            value:
              type: string
          required:
            - key
            - value
          type: object
        type: array
      name:
        description: push event name
        type: string
    required:
      - name
    title: DefaultAlertPush
    type: object
  DoorsState:
    properties:
      lockedState:
        items:
          enum:
            - Unlocked
            - Locked
            - SuperLocked
            - DriverDoorUnlocked
            - CabinDoorsUnlocked
            - CargoDoorsLocked
            - CargoDoorsUnlocked
            - RearDoorsUnlocked
            - RearDoorsLocked
          type: string
        type: array
      opening:
        items:
          description: The opening state of a door.
          properties:
            identifier:
              enum:
                - Driver
                - Passenger
                - RearLeft
                - RearRight
                - Trunk
                - RearWindow
                - RoofWindow
              type: string
            state:
              enum:
                - Open
                - Closed
              type: string
          type: object
        type: array
      updatedAt:
        format: date-time
        type: string
    type: object
  ECoaching:
    properties:
      _embedded:
        type: object
      _links:
        properties:
          self:
            $ref: '#/definitions/link'
          trip:
            $ref: '#/definitions/link'
          vehicle:
            $ref: '#/definitions/link'
        type: object
      scores:
        items:
          properties:
            category:
              description: >-
                category of the score. Global, ACCELERATION, BREAKING, A/C
                system, Runing cold engine, Direct Shift Gear, Speed, STT
                system, ZEV (Zero emission vehicle).
              enum:
                - Global
                - Acceleration
                - Break
                - AirCondioner
                - ColdEngine
                - TirePressure
                - Slope
                - Speed
                - StartStop
              type: string
            score:
              maximum: 10
              minimum: 0
              type: number
          type: object
        type: array
    title: ECoaching response
    type: object
  Energy:
    items:
      allOf:
        - $ref: '#/definitions/UpdatedField'
        - $ref: '#/definitions/CreatedAtField'
        - description: percentage energy.
          properties:
            autonomy:
              description: Vehicle autonomy for this energy class expressed in KM.
              type: number
            battery:
              description: Battery capacity and heath for electric energy type.
              properties:
                capacity:
                  description: Electric battery total capacity (expressed in Wh).
                  format: float
                  type: number
                health:
                  properties:
                    capacity:
                      description: >-
                        Health related to battery capacity (expressed in
                        persentage).
                      format: int
                      type: number
                    resistance:
                      description: >-
                        Health related to battery resistance (expressed in
                        persentage).
                      format: int
                      type: number
                  type: object
              type: object
            charging:
              properties:
                chargingMode:
                  description: 'The charging mode; Slow, Quick and No(not charging).'
                  enum:
                    - 'No'
                    - Slow
                    - Quick
                  type: string
                chargingRate:
                  description: >-
                    Charging speed (expressed in gained batteryLife per hour ->
                    KM/H).
                  maximum: 500
                  minimum: 0
                  type: integer
                nextDelayedTime:
                  description: >-
                    timestamp ( as defined in
[...]
