// --------------------------------- HTML ELEMENTS ------------------------------
//   _   _ _____ __  __ _       _____ _     _____ __  __ _____ _   _ _____ ____  
//  | | | |_   _|  \/  | |     | ____| |   | ____|  \/  | ____| \ | |_   _/ ___| 
//  | |_| | | | | |\/| | |     |  _| | |   |  _| | |\/| |  _| |  \| | | | \___ \ 
//  |  _  | | | | |  | | |___  | |___| |___| |___| |  | | |___| |\  | | |  ___) |
//  |_| |_| |_| |_|  |_|_____| |_____|_____|_____|_|  |_|_____|_| \_| |_| |____/ 
//                                                                                  
// -------------------------------------------------------------------------------

html {
    background-color: #1e2336;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
}

a {
    color: #2689b5;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    font-weight: 300;
    color: black;
}

p {
    overflow-wrap: break-word;
}

strong {
    font-weight: 400;
}

th {
    font-weight: 500;
}

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-top: 6rem;
    margin-top: -5rem;
}


.arrow{
    width: 12px;
    fill: white;
    margin-left: 0.5rem;
}

.arrow-right{
    transform: rotateZ(-90deg);
}

.arrow-down{
    transform: rotateZ(0deg);
}

hr {
    background: grey;
}

// ------------------------------------------------------------------------
//   _        _    _   _ ____ ___ _   _  ____       ____   _    ____ _____ 
//  | |      / \  | \ | |  _ |_ _| \ | |/ ___|     |  _ \ / \  / ___| ____|
//  | |     / _ \ |  \| | | | | ||  \| | |  _ _____| |_) / _ \| |  _|  _|  
//  | |___ / ___ \| |\  | |_| | || |\  | |_| |_____|  __/ ___ | |_| | |___ 
//  |_____/_/   \_|_| \_|____|___|_| \_|\____|     |_| /_/   \_\____|_____|
//                                                                         
// ------------------------------------------------------------------------

.home-page .landing-title h1 {
    display: inline;
}

.home-page.hero .hero-body {
    box-shadow: none;
}

.home-page.hero .typed-cursor {
    line-height: 1.450;
    margin-bottom: 0;
    font-size:6rem;
    text-shadow: 2px 2px 4px #000000;
    color: whitesmoke;
}

@media screen and (max-width: 600px) {
    .home-page.hero .typed-cursor{
        font-size: 4rem ;
    }
}

@media screen and (max-height: 700px) {
    .home-page.hero .typed-cursor{
        font-size: 3rem ;
    }
}

@media screen and (max-width: 576px) {
    .home-page.hero .typed-cursor{
        font-size: 3rem ;
    }
}

.landing-page{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


.landing-page h1{
    font-size: 1.7rem;
    margin-bottom: 20px;
    font-weight: bold;
}

 .separator.is-centered{
    margin: 3rem auto;
}

.landing-page  .rounded{
    border-radius: 3px;
}

 .separator{
    height: 2px;
    background: #ff4238;
    width: 70px;
    margin: 20px 0;
}

.landing-page .section-feature .column{
    display: flex;
    justify-content: center;
}

.landing-page .landing-feature {
    max-height: 300px;
    max-width: 470px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.landing-page .landing-feature #map {
    width: 100%;
    height: 300px;
    text-shadow: none;
}

.landing-page .text-compact{
    max-width: 600px;
    margin: 0 auto;
    font-size: 15.5px;
}

.landing-page .landing-text-bloc{
    max-width: 300px;
}

.landing-page .column.description {
    display: flex;
    justify-content: center;
}

.landing-page h2 {
    font-weight: 600;
    font-size: 16px ;
    font-family: 'Montserrat', sans-serif;
}

.landing-page .button{
    color: white;
    border: none;  
    margin-top: 1.3rem;
}

.landing-page .button:hover{
    background:  linear-gradient(152deg, rgba(38,51,99,1), rgba(255,66,56,1));
}
.landing-page .language-json.highlighter-rouge {
    width: 100%;
    margin: unset;
}
.landing-page .highlight{
max-height: 100%;
}
.landing-page .highlight pre {
    overflow: unset;
    padding: 1rem;
}

.landing-page .button-left{
    background: linear-gradient(to right, rgba(38,51,99,1), rgba(255,66,56,1));
}

.landing-page .button-right{
    background: linear-gradient(to left, rgba(38,51,99,1), rgba(255,66,56,1));
}

.landing-page .button-middle{
    background: linear-gradient(to bottom, rgba(38,51,99,1), rgba(255,66,56,1));
}

.landing-page .feature-text{
    font-size: 13px;
    opacity: 0.8;
    max-width: 200px;
    margin: 0 auto;
}

.landing-page .our-apis .icon{
    color: white !important;
    margin-bottom: 0.5rem;
}

.landing-page .our-apis h2.is-6{
    margin-bottom: 10px;
}


.landing-page  .project-preview{
    position: relative;
    min-height: 200px;
    margin: 2.8rem 1rem 0;
    min-width: 300px;
}

.landing-page  .projects{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin: auto;
    max-width: 1100px;
}

.landing-page .project-preview {
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
}

.landing-page .project-description{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.2rem 1rem;
    background: rgba(0,0,0,.7);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-page .project-links, .landing-page .project-links a{
    color: white;
}

.landing-page .project-links a:hover{
    color: grey;
}

.landing-page  .project-preview .project-categories{
    color: rgba(255,66,56,1);
    font-weight: 400;
    font-size: 0.75rem;
}


.landing-page  .project-preview .project-title{
    color: white;
    font-weight: 500;
}

.landing-page  .project-preview:hover {
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);
    transition: all .4s ease;
}

.landing-page .project-preview:hover .project-img{
    filter: brightness(100%);
}

.landing-page  .project-preview .project-img {
    border-radius: 3px;
    filter: brightness(80%);
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute
}

.landing-page  #preview-fix {
    box-shadow: none;
}

@media screen and (max-width: 663px) {
    .landing-page #preview-fix{
        display: none;
    }
}
@media screen and (max-width: 1087px) {

    .landing-page img.landing-feature{
        max-width: 100% !important;
        width: auto !important;
    }

}

//   ----------------- CONTENT -------------- 
//    ____ ___  _   _ _____ _____ _   _ _____ 
//   / ___/ _ \| \ | |_   _| ____| \ | |_   _|
//  | |  | | | |  \| | | | |  _| |  \| | | |  
//  | |__| |_| | |\  | | | | |___| |\  | | |  
//   \____\___/|_| \_| |_| |_____|_| \_| |_|  
//                                            
// -----------------------------------------  

#article {
    margin: 0 5% 0;
}


.content .separator{
    background: darkgrey;

}

.content .separator.is-centered{
margin: 3rem auto 0;
}


.content h1, .content h2, .content h3, .content h4, .content h5 { 
    font-weight: 400;
    color: #131313;
    letter-spacing: -0.03rem;
    font-family: 'Roboto', sans-serif;
}

.content h1 {
    font-size: 1.8rem;
}
.content h2 {
    font-size: 1.6rem;
}
.content h3 {
    font-size: 1.4rem;
}
.content h4 {
    font-size: 1.2rem;
}
.content h5 {
    font-size: 1rem;
}


.content h1:not(:first-child), .content h2:not(:first-child), .content h3:not(:first-child), .content h4, .content h5 {
    padding-top: 6rem;
    margin-top: -5rem;
}

.content .largertable td,.content .largertable th{
    padding: 0.9rem 0.75rem  
}

.content table td, .content table th{
    border: 1px solid darkgray;
    border-width: 0 0 1px;
}

.content {
    padding: 0rem 5%;
    padding-bottom: 2.6rem;
    padding-top: 2rem;
    background-color: #ffffff;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 100%;
}

 #content-header #page-title{
    color: #131313;
    font-size: 2.2rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: -0.01rem;
    font-family: 'Roboto', sans-serif;
    padding-top: 5rem;
    margin-top: -5rem;
    font-weight: 400;
    margin-bottom: 0;
}

 #content-header .page-title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.edit-page{
    color: #4A4A4A;
    margin-left: 2rem;
    margin-top:0.7rem;
}

.select.page-select select {
    border-radius:2px;
}

@media screen and (max-width: 514px) {
    .is-pulled-right.edit-page {
        float: unset !important;
        margin-left: 0rem;
        max-width: 100%;
        margin-bottom: 1rem;
    }
}

.content #content-header{
    padding-top: 10rem;
    margin-top: -10rem;
    margin-bottom: 1rem;
}

.content #content-header li+ li {
    margin-top: 0;
}

.content #content-header ul {
    margin-left: 0;
    margin-top: 0;
}

.content #content-header .breadcrumb {
    font-size: 0.81rem;
    font-weight:400;
}

.content #content-header .breadcrumb .is-active a{
    color: inherit;
}
.content #content-header .breadcrumb a{
    color: grey;
    padding: 0 .35rem;
}

.content #content-header .breadcrumb li:first-of-type a {
    padding-left: 0;
}

.content #content-header .breadcrumb a:hover{
    color: black;
}

.content #content-header .breadcrumb li.is-active a{
    color: grey;
}

.select select:not([multiple]){
    padding-right: 3rem;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: black;
}

.menu-select{
    display: none;
    padding-bottom: 1rem;
    align-items: baseline;
}


.content .notification.page-disclaimer {
    margin-top: 1.5rem;
}

.content .container {
    padding-top: 1.2rem;
}

.content .select-url {
    background: #1e2336;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0.9rem;
    
}

.content .select-url a {
    text-decoration:  none;
}

.content .select-url span {
    font-weight: 400;
}

.psaScroler {
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-color: #1e2336;
    scrollbar-width: thin;
    
}

#content-header + p {
    margin-top:1rem;
}

//  -------------  BUTTONS & TAGS ------------
//   ____  _   _ _____ _____ ___  _   _ ____  
//  | __ )| | | |_   _|_   _/ _ \| \ | / ___| 
//  |  _ \| | | | | |   | || | | |  \| \___ \ 
//  | |_) | |_| | | |   | || |_| | |\  |___) |
//  |____/ \___/  |_|   |_| \___/|_| \_|____/ 
//                                            
// -------------------------------------------

.icon-button {
    color: #4a4a4a;
    font-size: 0.9rem;
    display: flex;
    align-items: baseline;
}

.button, .tag, .tag:not(body), .input {
    border-radius: 2px;
}

.input {
    border-radius: 3px;
}

.field.is-centered {
    justify-content: center;
}

.post{
  background: #49cc90 !important;
  color: #fff!important;
}
.get{
  background: #61affe!important;
  color: #fff!important;
}

.put{
  background:#fca130!important;
  color: #fff!important;
}

.verbdelete{
  background: #fa5c4f!important;
  color: #fff!important;
}

.button.is-link.is-outlined {
    border-color: #6c6c6c;
    color: #333333;
}

.is-psabluestatic{
    background-color: #1e2336;
    color: white;
}

.is-psablue{
    background-color: #1e2336;
    color: white;
    margin-top: 1rem; 
    border: none;
}

.is-psablue:hover{
    background-color: white;
    color: #1e2336;
    margin-top: 1rem; 
    border: 1px solid #1e2336;
}

//tag api url
.tag_api_endpoint{
    color: white!important;
    background: #1e2336 !important
}

.tag_api_endpoint.is-selectable{
    cursor: auto;
    user-select: text; 
    -webkit-user-select: text; 
    -moz-user-select: text;
    -ms-user-select: text;
}

.tag_endpoint_large{
    word-break: break-word!important;
    white-space: normal!important;
    height: auto!important; // counteract fixed height: 2em;
    font-size: 1.1rem!important;
}

.verb{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px 15px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
  min-width: 80px;
  text-align: center;
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
}

//  -----------------------    HIGHLIGHTER     -------------------
//   _   _ ___ ____ _   _ _     ___ ____ _   _ _____ _____ ____  
//  | | | |_ _/ ___| | | | |   |_ _/ ___| | | |_   _| ____|  _ \ 
//  | |_| || | |  _| |_| | |    | | |  _| |_| | | | |  _| | |_) |
//  |  _  || | |_| |  _  | |___ | | |_| |  _  | | | | |___|  _ < 
//  |_| |_|___\____|_| |_|_____|___\____|_| |_| |_| |_____|_| \_\
//                                                               
// ---------------------------------------------------------------

.highlighter-rouge {
margin: 1.5rem 0;
}

code {
    font-family: 'Inconsolata', monospace;
}

.highlight{
    max-height: 50vh;
    border-radius: 2px;
}

//fixing higlhith bottom margin
.highlight  pre  {
    margin-bottom: 0rem;
    word-break: break-word;
    white-space: pre-wrap;  
}

// ---------- HERO  ----------
//   _   _ _____ ____   ___  
//  | | | | ____|  _ \ / _ \ 
//  | |_| |  _| | |_) | | | |
//  |  _  | |___|  _ <| |_| |
//  |_| |_|_____|_| \_\\___/ 
//                           
//   -------------------------
.hero.is-fullheight{
    max-height: 100vh;
}

.hero .hero-body {
    z-index: 1;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.6);
}

.hero h1.title {
    text-shadow: 2px 2px 4px #000000;
    padding-top: inherit;
    margin-top: inherit;
}

.hero h2.title {
    text-shadow: 1px 1px 4px #000000;
    padding-top: inherit;
    margin-top: inherit;
}


.hero_webportal {
    background-image: url("../../assets/images/city2.jpg");
    background-size: cover;
    background-position: center center;
}

.hero_main {
    background-image: url("../../assets/images/city.jpg");
    background-size: cover;
    background-position: center center;
}

.hero_android {
    background-image: url("../../assets/images/android.jpg");
    background-size: cover;
    background-position: center center;
}

.hero_ios {
    background-image: url("../../assets/images/ios.jpg");
    background-size: cover;
    background-position: center center;
}

.hero_api {
    background-image: url("../../assets/images/cloud.jpg");
    background-size: cover;
    background-position: right top;
}

.hero_connected-vehicles {
    background-image: url("../../assets/images/connected-car.jpg");
    background-size: cover;
    background-position: center center;
}

.hero_404 {
    background-image: url("../../assets/images/404.jpg");
    background-size: cover;
    background-position: center center;
}

.no_hero{
    background-color: #1e2336;
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 1087px) {
    .hero-head{
        background: #292929;
    }
}

.black-gradient{
    background: linear-gradient(180deg, rgb(14, 16, 27) 0%, rgba(30,35,54,1) 25%)
}


//  -------------------- SIDE MENU -------------------------
//   ____ ___ ____  _____   __  __ _____ _   _ _   _ 
//  / ___|_ _|  _ \| ____| |  \/  | ____| \ | | | | |
//  \___ \| || | | |  _|   | |\/| |  _| |  \| | | | |
//   ___) | || |_| | |___  | |  | | |___| |\  | |_| |
//  |____|___|____/|_____| |_|  |_|_____|_| \_|\___/ 
//                                                   
//  -------------------------------------------------------

aside.menu{
    box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.03);
    background: #fafafa;
    color: #1e2336;
    font-size: 0.815rem;
    font-weight: 400;
    line-height: 1.35rem;
    padding-top: 55px;;
    top: 40px;
    position: -webkit-sticky;
    position: sticky;
    font-family: "Roboto", sans-serif;
    height: calc(100vh - 67px + 28px);
    overflow-y: auto;
    width: 260px;
    border-bottom-left-radius: 1px;
}

aside.menu .menu-title{
    padding: 6px 6px 0px calc(3% + 20px);
    margin-bottom: 20px;
    font-size: 0.95rem;
    font-weight: 500;
    text-transform: uppercase;
    // font-family:"Montserrat", sans-serif;
    color: #131313;
    letter-spacing: -0.03rem;
}

aside.menu .menu-label {
    color: inherit;
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: inherit;
    padding: 12.5px calc(3% + 20px);
    letter-spacing: -0.002rem;
    cursor: pointer;
    display: flex; 
    align-items: baseline;
    justify-content: space-between;
}
aside.menu .menu-label:first-of-type, aside.menu .menu-label.has-list:first-of-type {
    margin-top: 12px;
}



aside.menu .menu-one-level .menu-label {
    padding: 9px calc(3% + 35px);
}

aside.menu .menu-list > li > a {
    color: inherit;
    padding: 4px 20px 4px calc(3% + 30px);
    line-height: 1rem;
}

.menu-list li ul{
    margin: 0px 0px 0px 45px;
    padding: 0;
    border-left: 1.5px solid black
}

.menu-list li ul li a {
    padding: 10px 0px 10px 10px;
    color: #1e2336;
    font-weight: 300;
}

.menu-list:last-child {
    margin-bottom: 35px;
}

aside.menu .menu-label:hover {
    background-color: #ededed;
}


aside.menu .menu-list a::before {
    content:  "~ ";
    font-size: 1rem;
    color: transparent;
}

aside.menu .menu-label.has-list {
    font-weight: 500;
    padding: 6px calc(3% + 20px) 6px;
    margin-top: 6.5px;
    cursor: unset;
}

aside.menu .menu-label.has-list:hover {
    background-color: unset;
}


aside.menu .menu-label.is-active.has-list span::before{
    content: none;
}

aside.menu .menu-list .is-active::before {
    content: "~ ";
    font-size: 1rem;
    color: inherit;
}


aside.menu .menu-label.is-active span::before{
    content: "~ ";
    font-size: 1rem;
    color: inherit;
}

aside.menu .menu-label.is-active {
    color: #2689b5;
    font-weight: 500;
}

aside.menu .menu-list > li > a:hover, aside.menu .menu-list > li > a.is-active:hover {
    background-color: #e1e1e1;
    border-radius: unset;
}

aside.menu .menu-list > li > a.is-active {
    background: inherit;
    color: #2689b5;
    font-weight: 500;
}

aside.menu .menu-list ul > li > a:hover {
    background-color: inherit;
    color: #848484;
}
aside.menu .menu-list ul > li > a.is-active {
    background-color: inherit;
}


//   -----------------------  ON THIS PAGE ----------------------
//    ___  _   _   _____ _   _ ___ ____    ____   _    ____ _____ 
//   / _ \| \ | | |_   _| | | |_ _/ ___|  |  _ \ / \  / ___| ____|
//  | | | |  \| |   | | | |_| || |\___ \  | |_) / _ \| |  _|  _|  
//  | |_| | |\  |   | | |  _  || | ___) | |  __/ ___ | |_| | |___ 
//   \___/|_| \_|   |_| |_| |_|___|____/  |_| /_/   \_\____|_____|
//  
//  --------------------------------------------------------------

#on-this-page-container {
    max-width: 260px;
}

aside#on-this-page {
    box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.03);
    border-bottom-right-radius: 1px;
    position: -webkit-sticky;
    position: sticky;
    top: 67px;
    font-family: "Roboto", sans-serif;
    height: calc(100vh - 67px);
    overflow-y: auto;
    background: #fafafa;
}

 #anchors  {
    padding: 0 1.5rem 0 calc(15px + 3%);
}

.bd-side,
.bd-side-background {
    position: relative;
    flex: 0 0 auto;
    min-width: 15vw;
}

.bd-side {
    padding-left: 2rem;
    padding-top: 0;
}

.bd-duo {
    display: flex;
}

.bd-anchor-link {
    color: white !important;
}

#anchors hr {
    background-color: #4e4553;
    border: none;
    display: block;
    height: 1px;
    margin: 1.15rem 0;
}

.bd-anchors-list a {
    font-size: 0.80rem;
    font-weight: 400;
    padding-left: 0 ;
    color: #131313 ;
    word-break: break-word;
}

.bd-anchors-list li.is-current a, .bd-category-list li.is-current a {
    color: #2689b5;
}

.bd-anchors-list li.is-past a, .bd-category-list li.is-past a {
    color: #b5b5b5;
}

.bd-anchors-title {
    padding-top: 50px;
    line-height: 1.75rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #131313 ;
    font-weight: 600 ;
    font-size: 0.9rem ; 
    letter-spacing: -0.05rem;
}

.bd-anchors-list {
    // margin-left: 1rem;
    color: inherit;
}



.bd-anchor-link {
    color: #4a4a4a;
}



//  ----------------------- TOP NAVBAR ------------------------
//   _____ ___  ____    _   _    ___     ______    _    ____  
//  |_   _/ _ \|  _ \  | \ | |  / \ \   / | __ )  / \  |  _ \ 
//    | || | | | |_) | |  \| | / _ \ \ / /|  _ \ / _ \ | |_) |
//    | || |_| |  __/  | |\  |/ ___ \ V / | |_) / ___ \|  _ < 
//    |_| \___/|_|     |_| \_/_/   \_\_/  |____/_/   \_|_| \_\
//                                                            
//  ------------------------------------------------------------

#navbarpsa{
    transition: all 0.3s ease;
    padding: 0 7.5%;
    min-height: 6rem;
}

.home-page #navbarpsa{
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.77);
}

#navbarpsa.bluenavbar{
    transition: all 0.3s ease;
    background: #1e2336;
    min-height: 67px;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.77);
    border-bottom: none;
}
#navbarpsa .section-name {
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 1rem;
}

#navbarpsa.bluenavbar .section-name{
    transition: all 0.3s ease;
    font-size: 0.85rem;
    line-height: 1.35;
}

#navbarpsa.bluenavbar .navbar-start .navbar-item > .textnavbar.is-active  {
    transition: all 0.3s ease;
    border-bottom: 2px solid #ff4238;
}

#navbarpsa .navbar-start .navbar-item > .textnavbar.is-active  {
    transition: all 0.3s ease;
    border-bottom: 1px solid #ff4238;
    border-radius: 0;
}

#navbarpsa.bluenavbar #logoPG4D{
    transition: all 0.3s ease;
    width: auto;
    height: 45px;
}

#navbarpsa #logoPG4D{
    transition: all 0.3s ease;
}

#navbarpsa.bluenavbar .icon.is-large {
    transition: all 0.3s ease;
    height: 2rem;
    width: 2rem;
}

#navbarpsa .icon.is-large {
    height: 3rem;
    width: 3rem;
    transition: all 0.3s ease;
}

#navbarpsa .navbar-start a.textnavbar {
    transition: all 0.3s ease;
    color: whitesmoke;
    padding-right: 1rem;
}

#navbarpsa.bluenavbar .navbar-start a.textnavbar {
    transition: all 0.3s ease;
    padding-right: 0.5rem;
}


#navbarpsa #lunrsearch{
    transition: all 0.3s ease;
    width: 0%;
}


#navbarpsa #lunrsearch:focus {
    transition: all 0.3s ease;
    color: white;
    border: 1px solid white;
    width: 100%;
}

#navbarpsa #lunrsearch::placeholder, #navbarpsa #lunrsearch {
    color: whitesmoke;
}

#navbarpsa #lunrsearch{
    background: inherit;
    border: none;
    box-shadow: none;
}

#navbarpsa #lunrsearch{
    cursor: pointer;
}

#navbarpsa section nav {
    background-color: rgba(0, 0, 0, 0.1);
}


#navbarpsa #dropdownAPI{
    color: #4b4b4b;
    padding: 1.3rem 1.3rem;
    position: absolute;
    left: -1.75rem;
    min-width: 250px;
}  

#navMenu {
    background-color: #36363600;
    box-shadow: 0 0px 0px rgba(10, 10, 10, 0);
}

.menu {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
}

#navbarpsa #logoPG4D{
    filter: drop-shadow(4px 4px 4px #000);
    width: 221px;
    height: 50.4px;
    max-height: 100%;
}

#navbarpsa .textnavbar{
  text-shadow: 1px 1px 4px #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: -0.03rem;
}

#navbarpsa .navbar-end .navbar-item {
    width: 9rem;
}

#navbarpsa .navbar-burger {
    margin-top: 0.5rem;
}

#navbarpsa .navbar-item{
    border-radius: 2px;

}
#navbarpsa .fa-search {
    text-shadow: none;
}

#navbarpsa .navbar-link {
    padding:0;
}

@media screen and (min-width: 1088px) {
    #navbarpsa .navbar-dropdown  {
    border-radius: 1px;
    border: 0;
    }
    .navbar-dropdown .navbar-item{
        padding: 0.2rem 1rem;
    }
}

#navbarpsa .hero.is-dark a.navbar-item:hover, #navbarpsa .hero.is-dark a.navbar-item.is-active, #navbarpsa .hero.is-dark .navbar-link:hover, #navbarpsa .hero.is-dark .navbar-link.is-active {
    background-color: inherit;
}

@media screen and (min-width: 1088px) {
    #navbarpsa .navbar-item.has-dropdown:hover .navbar-link, #navbarpsa .navbar-item.has-dropdown.is-active .navbar-link {
        background-color: inherit;
    }
}

#navbarpsa a.navbar-item:hover, #navbarpsa a.navbar-item.is-active, #navbarpsa .navbar-link:hover, #navbarpsa .navbar-link.is-active {
background-color: inherit;
}

#navbarpsa .navbar-start{
    width: 100%;
    justify-content: space-evenly;
}

#navbarpsa .navbar-start .navbar-item > .textnavbar:hover  {
    color: whitesmoke !important
}

#navbarpsa .select:not(.is-multiple):not(.is-loading)::after, .navbar-link::after {
    border: 0;
}

#navbarpsa.bluenavbar .fa-search, #navbarpsa .control.has-icons-left .input:focus ~ .icon, #navbarpsa .navbar-item:hover .fa-search {
    transition: all 0.3s ease;

    color: whitesmoke;
}
#navbarpsa:hover a.textnavbar, #navbarpsa:hover .fa-search {
    transition: all 0.3s ease;

    color: grey;
}

#navbarpsa #dropdownAPI:hover .navbar-item{
    color: darkgrey;
}
#navbarpsa #dropdownAPI:hover .navbar-item:hover,  #navbarpsa #dropdownAPI .dropdown-title{
    color: #4b4b4b;
}

#navbarpsa #dropdownAPI .dropdown-title{
    font-weight: 600;
    display: flex;
    cursor: pointer;
}

#navbarpsa #dropdownAPI  a.navbar-item.is-active {
    color: #ff4238;;
    // border-bottom: 1px solid #ff4238;
    border-radius: 0;
}

#navbarpsa .icon{
    margin-right: 0.5rem;
}

#navbarpsa .navbar-dropdown .navbar-divider {
    margin: 1.2rem 0 0.6rem;
} 

.navbar-dropdown a.navbar-item {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0.4rem;
    margin-right: 1rem;
    margin-left: 1.4rem;
}

.navbar-dropdown a.dropdown-title.navbar-item {
    padding: 0.2rem 1rem;
    margin: 0;
}



#navbarpsa #dropdownAPI  .dropdown-title svg {
    display: none;
}


@media screen and (max-width: 1087px) {

    #navbarpsa .navbar-menu#navMenu {
        padding: 1rem 0.65rem ;
    }
    #article {
        margin: 0 2%;
    }
    #navbarpsa #dropdownAPI:hover .navbar-item:hover, #navbarpsa #dropdownAPI .dropdown-title{
        color: white;
    }

    #navbarpsa #navMenu .textnavbar.navbar-link.is-active .section-name{
        padding-bottom: 3px;
        border-bottom: 1px solid #ff4238;
    }

    #navbarpsa .navbar-item.dropdown-title.is-default svg{
        fill: #ff4238;
    }

    #navbarpsa #dropdownAPI:hover a.navbar-item.is-active {
        color: #ff4238;
    }

    #navbarpsa a.textnavbar.navbar-link, #navbarpsa #dropdownAPI, #navbarpsa #dropdownAPI .dropdown-title, #navbarpsa #dropdownAPI:hover a.navbar-item, #navbarpsa #dropdownAPI:hover .dropdown-title {
        color: whitesmoke;
    }
    #navbarpsa{
        padding-top: 0rem;
        min-height: 67px;
        background-color: #1e2336;
    } 

    #navbarpsa.bluenavbar .navbar-start a.textnavbar {
        padding: 0;
    }
    
    #navbarpsa.bluenavbar .navbar-start .navbar-item:not(:first-child) a.textnavbar {
        padding: 0.7rem 0 0rem 0;
    }

    #navbarpsa .navbar-end .navbar-item{
        width: 100%;
    }

    #navbarpsa.bluenavbar .fa-search{
        color: white
    }
    .control.has-icons-left .icon, .control.has-icons-right .icon {
        color: white
    }

    #navbarpsa .icon {
        margin: 0;
    }
    #navbarpsa .icon.is-large {
        height: 0;
        width: 3rem;
        
    }

    #navbarpsa #lunrsearch {
        border: 1px solid white;
        width: 100%;
    }

    #navbarpsa .textnavbar.navbar-item.menu {
        margin: 1rem 0;
    }

    #navbarpsa .navbar-start .textnavbar{
        padding: 1rem 0 0 0;
    }
    #navbarpsa .navbar-dropdown .navbar-item {
        padding: 0.4rem 1.3rem;
        margin: 0;
    }
    #navbarpsa .navbar-dropdown .dropdown-title {
        margin: 0;
        padding: 0.4rem 0 0.4rem 0;
        cursor: pointer;
    }


    #navbarpsa .textnavbar {
        font-size: 0.965rem;
        padding-left: 0; 
        padding-bottom: 0;  
        padding-top: 0;  
    }
    #navbarpsa #dropdownAPI.navbar-dropdown{
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 3rem;
        font-size: 0.75rem;
        position: relative;
        left: 0;
    }
    #navbarpsa {
        border : 0;
    }
    #navbarpsa .navbar-start .navbar-item > .textnavbar.is-active {
        border-bottom: 0 !important;
    }


    #navbarpsa #dropdownAPI  .dropdown-title svg {
        display: block;
    }

    #navbarpsa #dropdownAPI .navbar-item:not(.dropdown-title){
        display: none;
    }

    #navbarpsa #dropdownAPI .navbar-item.is-default-subsection{
        display: block;
    }


}


//    ------------------------ LUNR SEARCH -------------------------
//   _    _   _ _   _ ____    ____  _____    _    ____   ____ _   _ 
//  | |  | | | | \ | |  _ \  / ___|| ____|  / \  |  _ \ / ___| | | |
//  | |  | | | |  \| | |_) | \___ \|  _|   / _ \ | |_) | |   | |_| |
//  | |__| |_| | |\  |  _ <   ___) | |___ / ___ \|  _ <| |___|  _  |
//  |_____\___/|_| \_|_| \_\ |____/|_____/_/   \_|_| \_\\____|_| |_|
//                                                                  
//   ---------------------------------------------------------------

#lunr {
    margin-top: -67px;
    padding-top: 67px;
}

#lunrsearchresults {
    margin-top: 0rem;
    background: #fafafa;
    padding: 0 12%;
}

#lunr .lunrsearchresult:last-of-type{
    padding-bottom: 5rem;
}

.lunrsearchresult .url {
    word-wrap:break-word;
}

.lunrsearchresult .title {
	font-size: 1.5rem;
    font-weight: 500;
}

#txtsearchresult {
    padding-top: 20px;
	padding-bottom: 1rem;
	color: #374063;
	font-size: 2rem;
    font-weight: 600;
}

//  -------------- SELECTION / WELCOME PAGE -------------
//   ____  _____ _     _____ ____ _____ ___ ___  _   _ 
//  / ___|| ____| |   | ____/ ___|_   _|_ _/ _ \| \ | |
//  \___ \|  _| | |   |  _|| |     | |  | | | | |  \| |
//   ___) | |___| |___| |__| |___  | |  | | |_| | |\  |
//  |____/|_____|_____|_____\____| |_| |___\___/|_| \_|
//                                                     
//   --------------------------------------------------


//section title 
.hero .section-title {
    line-height: 1.450;
    margin-bottom: 0;
    font-size: 6rem;
}
.hero.is-medium .section-title {
    font-size: 4.5rem;
    letter-spacing: -0.1rem;
    margin-top:3rem;
}

.hero .hero-body .container {
    margin-left: 6.8%;
}

.hero.is-medium .section-title ~ h2.title{
    font-size: 1.7rem
}

#content-select-section {
    padding-top:0% ;
    padding-bottom:3%
}

.selection-title {
    color: white;
font-size: 2.3rem;
font-weight: 600;
margin-bottom: 2rem;
}

.selection-paragraph{
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 3rem !important;
    line-height: 30px;
    font-size: 16px;
    text-align: justify;
}

.selection-paragraph strong {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
    line-height: 30px;
    font-size: 16px;    
}

.notif-welcome-text {
    padding: 3rem;
    font-size: 1.2rem;
    border-radius: 0;
}


#is-fleet_owner-pic{
    background-image: url("../../assets/images/business.png");
    filter: brightness(120%);
    background-size: cover;
    background-position: center center;
}

 #is-end_user-pic{
    background-image: url("../../assets/images/developer.jpg");
    background-size: cover;
    background-position: center center;
}

#is-nac-pic{
    background-image: url("../../assets/images/nac.png");
    background-size: cover;
    background-position: center center;
}

#is-ivi-pic{
    background-image: url("../../assets/images/projects/f2m-onboard.jpg");
    background-size: cover;
    background-position: center center;
}

 #is-ios-pic{
    background-image: url("../../assets/images/iphone.jpg");
    background-size: cover;
    background-position: center center;
}

 #is-android-pic{
    background-image: url("../../assets/images/androidphone.jpg");
    background-size: cover;
    background-position: center center;
}

 #is-webapi-pic{
    background-image: url("../../assets/images/cloud0.jpg");
    background-size: cover;
    background-position: center center;
}

 #is-webportal-pic{
    background-image: url("../../assets/images/webportal-pic.jpg");
    background-size: cover;
    background-position: center center;
}

 #is-sdk-pic{
    background-image: url("../../assets/images/iphone.jpg");
    background-size: cover;
    background-position: center center;
}


@media screen and (max-width: 600px) {
    .hero .section-title, .hero.is-medium .section-title{
        font-size: 4rem ;
    }
}

@media screen and (max-height: 700px) {
    .hero .section-title, .hero.is-medium .section-title{
        font-size: 3rem ;
    }
}

@media screen and (max-width: 576px) {
    .hero .section-title, .hero.is-medium .section-title{
        font-size: 3rem ;
    }
}

//  ---------------- FOOTER ----------
//   _____ ___   ___ _____ _____ ____  
//  |  ___/ _ \ / _ |_   _| ____|  _ \ 
//  | |_ | | | | | | || | |  _| | |_) |
//  |  _|| |_| | |_| || | | |___|  _ < 
//  |_|   \___/ \___/ |_| |_____|_| \_\
//                          
//   ----------------------------------

.footer {
    background-color: #1e2336;
    color: #ffffff;
    padding: 3rem 1.5rem 3rem;
    font-weight: 400;
    text-shadow: 1px 1px 3px #000000;
}

footer a {
    color: #ffffff;
}


//  ------------- IMAGE ------------
//   ___ __  __    _    ____ _____ 
//  |_ _|  \/  |  / \  / ___| ____|
//   | || |\/| | / _ \| |  _|  _|  
//   | || |  | |/ ___ | |_| | |___ 
//  |___|_|  |_/_/   \_\____|_____|
//                                 
// ----------------------------------

.tableimg {
margin-right: auto;
padding: 0 !important;
max-width: 270px;
margin-right: 0 !important;}

.content .smallimg{
  width: auto;
  margin-left: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}

.content img {
  width: 650px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 915px) {

    .content img{
        max-width: 100%;
        width: auto;
    }

}

//  -------- MOBILE -------
//   _____  _    ____ ____  
//  |_   _|/ \  | __ / ___| 
//    | | / _ \ |  _ \___ \ 
//    | |/ ___ \| |_) ___) |
//    |_/_/   \_|____|____/ 
//                          
//  ------------------------



//  ------------- MOBILE -------------
//   __  __  ___  ____ ___ _     _____ 
//  |  \/  |/ _ \| __ |_ _| |   | ____|
//  | |\/| | | | |  _ \| || |   |  _|  
//  | |  | | |_| | |_) | || |___| |___ 
//  |_|  |_|\___/|____|___|_____|_____|
//                                     
//   ----------------------------------


 .content {
    // max-width:calc(100vw - 260px - 10vw)
}

@media screen and (max-width: 1400px) {
    aside.menu {
        width: 17vw ;
    }
    #on-this-page-container{
        max-width: 17vw;
    }

     .content {
        // max-width:calc(100vw - 17vw - 17vw - 10vw)
    }

}

@media screen and (max-width: 1087px) {

     #content-header #page-title{
        font-size: 2rem;
        line-height: 2.25rem;
    } 
    .content img {
        padding-right: 0rem;
        padding-left: 0rem;
      }


    .bd-anchors.is-pinned {
        top: 0;
    }
  
    .hero_404 h1.title {
        font-size: 3rem;
        margin-bottom: 0;
        text-align: center;
    }
    #navbarpsa{
        margin: 0;
    }
    .edit-page {
        margin-top: 0.2rem;
    }

    aside.menu {
        width: 23vw ;
    }


     .content {
        // max-width:calc(100vw - 23vw - 4vw)
    }
}


@media screen and (max-width: 768px) {
     .content {
        // max-width:calc(100vw - 4vw);
    }
    .menu-select {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
     #content-header .page-title-container {
        display: block;
    }
}

@media screen and (max-width: 650px) {
     .content {
        // max-width: none;
    }

    #article{
        margin: 0;
    }
}


	
//  ----------------------------- LARGE SCREEN ---------------------------
//   _        _    ____   ____ _____   ____   ____ ____  _____ _____ _   _ 
//  | |      / \  |  _ \ / ___| ____| / ___| / ___|  _ \| ____| ____| \ | |
//  | |     / _ \ | |_) | |  _|  _|   \___ \| |   | |_) |  _| |  _| |  \| |
//  | |___ / ___ \|  _ <| |_| | |___   ___) | |___|  _ <| |___| |___| |\  |
//  |_____/_/   \_|_| \_\\____|_____| |____/ \____|_| \_|_____|_____|_| \_|
//                                                                                               
//  -----------------------------------------------------------------------

@media screen and (min-width: 1600px) {
    .hero.is-fullheight{
        max-width: none !important;
    }

    body > section.hero,  body > section.hero.home-page .hero-body .container {
        max-width: 1500px;
        margin:0 auto
    }

    body > section.hero .hero-body {
        padding-right: unset;
        padding-left: unset;
        box-shadow: none !important;
    }

    body > section.hero .hero-body .container {
        margin-left: 155px;
    }

    body > section.hero.home-page .hero-body .container {
        padding: 0 155px;
    }

    #article {
        max-width: 1500px;
        margin: 0 auto 0.5rem;
    }
    #article.empty-content {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border: 1px solid rgba(0,0,0,0.4);
        border-top: none;
    }

    #navbarpsa{
        max-width: 1500px;
        margin: 0 auto;
        padding: 0 140px;
        box-shadow: none !important;
    }
    .home-page #navbarpsa {
        border-bottom: 1px solid black;
    }

}

@media screen and (min-width: 1700px) {
    body > section.hero,  body > section.hero.home-page .hero-body .container {
        max-width: 1600px;
        margin:0 auto
    }

    #article {
        max-width: 1600px;
    }
    #navbarpsa{
        max-width: 1600px;
        margin: 0 auto;
    }
}