p {
    overflow-wrap: break-word;
}

strong {
    font-weight: 500;
}

th {
    font-weight: 500;
}
.post{
  background: #49cc90 !important;
  color: #fff!important;
}
.get{
  background: #61affe!important;
  color: #fff!important;
}

.put{
  background:#fca130!important;
  color: #fff!important;
}

.verbdelete{
  background: #fa5c4f!important;
  color: #fff!important;
}

.highlighter-rouge {
margin-bottom: 1.5rem!important;
}
//tag api url
.tag_api_endpoint{
    color: white!important;
    background: #1e2336 !important
}

.tag_endpoint_large{
    // white-space: normal !important; // counteract white-space: nowrap;
    // word-wrap: anywhere!important; // only required if you want to break one long word anywhere
    word-break: break-word!important;
    white-space: normal!important;
    height: auto!important; // counteract fixed height: 2em;
    padding: 0.43rem!important;
    font-size: 1.25rem!important;
}

.verb{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px 15px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
  min-width: 80px;
  text-align: center;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  font-family: sans-serif;

}

//section title 
#section-title {
    line-height: 1.450;
    margin-bottom: 0;
    font-size:6rem;
}

code {
    font-family: Inconsolata,Consolas,"Courier New",Courier,"Liberation Mono",monospace;
}

.highlight{
    max-height: 50vh;
    border-radius: 4px;
}

.content table td, .content table th{
    border: 1px solid darkgray;
    border-width: 0 0 1px;
}


//fixing higlhith bottom margin

.highlight  pre  {
    margin-bottom: 0rem;
    word-break: break-word;
    white-space: pre-wrap;  
}

#content-select-section {
    padding-top:0% ;
    padding-bottom:3%
}

.content blockquote {
  padding:0.6rem 1.75rem;
  margin: 0.6rem 1.5rem 1.3rem;
}

.content .largertable td,.content .largertable th{
  padding: 0.9rem 0.75rem

}

#logoPG4D{
    max-height: 3.15rem;
    filter: drop-shadow(4px 4px 4px #000);
}

#navbarpsa {
    padding-top: 0.65rem; 
}

.textnavbar{
  text-shadow: 1px 1px 4px #000000;
}

#dropdownAPI{
  background-color: #292929;
}

.icon-logo {
    width: 79px;
    height: 45px;
    fill: #fff;
}


h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.bd-lead h1, .bd-lead h2, .bd-lead h3, .bd-lead h4, .bd-lead h5 { 
    font-weight: 700;
}

h2 {
    font-weight: 800;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e2336;
    min-height: 100vh;
}

.footer {
    background-color: #1e2336;
    color: #ffffff
}

footer a {
    color: #ffffff;
}

.content {
    background-color: #ffffff;
    padding: 2.6rem 5%;
}

.bd-main-container .container {
    padding-top: 1.2rem;
}

.content .smallimg{
  width: auto;
  margin-left: 0;
  margin-top: 1%;
  margin-bottom: 1%;
}

.content img {
  width: 100%;
   display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 6%;
}

.bd-side,
.bd-side-background {
    position: relative;
    flex: 0 0 auto;
    min-width: 15vw;
}

.bd-side {
    padding-left: 2rem;
    padding-top: 0;
}

.bd-duo {
    display: flex;
}

#pageTitle {
    color: white;
    font-size: 3rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-style: normal;
    font-weight: 700;
    
}

.tabs{
    background: white;
}

.bd-anchor-link {
    color: white !important;
}

.tabs a{
    padding: 1.4rem 1rem 1.1rem 1rem;
    font-weight: 500;
    color:rgb(54, 54, 54);
    text-transform: uppercase;
}

.bd-lead {
    background-color: #ffffff;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 20vw;
}

.bd-anchors.is-pinned {
    position: sticky;
    top: 0;
}

#anchors hr {
    background-color: #4e4553;
    border: none;
    display: block;
    height: 1px;
    margin: 1.15rem 0;
}

.bd-anchors-list a {
    color: white;
    font-size: 0.9rem;
}

.bd-anchors-list li.is-current a, .bd-category-list li.is-current a {
    color: #3273dc;
}

.bd-anchors-list li.is-past a, .bd-category-list li.is-past a {
    color: #b5b5b5;
}


#anchors {
    flex: 0 0 auto;
    max-width: 34vw;
    max-height: 100vh;
    overflow-y: auto;
}

.bd-anchors-title {
    margin-top:1.09rem;
    color: white;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.bd-anchor-link {
    color: #4a4a4a;
}

.hero h2.title {

    text-shadow: 1px 1px 4px #000000;
}
h1.title {
    font-size: 5rem;
    text-shadow: 2px 2px 4px #000000;
}

section nav {
    background-color: rgba(0, 0, 0, 0.1);
}

.mainnav {
    margin-left: 144px;
}



.menu {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.hero_webportal {
    background-image: url("../../assets/images/city2.jpg");
    background-size: cover;
    background-position: center center;
}

.hero_main {
    background-image: url("../../assets/images/city.jpg");
    background-size: cover;
    background-position: center center;
}

.hero_android {
    background-image: url("../../assets/images/android.jpg");
    background-size: cover;
    background-position: center center;
}

.hero_ios {
    background-image: url("../../assets/images/ios.jpg");
    background-size: cover;
    background-position: center center;
}

.hero_api {
    background-image: url("../../assets/images/cloud.jpg");
    background-size: cover;
    background-position: center center;
}
.no_hero{
    background-color: #1e2336;
    background-size: cover;
    background-position: center center;
}

.navbar-burger {
    margin-top: 0.5rem;
}

#navMenu {
    background-color: #36363600;
    box-shadow: 0 0px 0px rgba(10, 10, 10, 0);
}

.navbar-item{
    border-radius: 4px;

}

.navbar-link{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}




.navbar-brand{
    padding-right: 1rem;
}

#lunrsearch{
    width: 7rem;
}

#lunrsearchresults {
    background-color: #fff;
	padding-left: 3.5rem;
	padding-right: 3.5rem;
	margin-top: 0rem;
}

.lunrsearchresult .title {
	font-size: 1.5rem;
    font-weight: 500;
}

#txtsearchresult {
    padding-top: 2.5rem;
	padding-bottom: 1rem;
	color: #374063;
	font-size: 2rem;
    font-weight: 600;
}

.button.is-link.is-outlined {
    border-color: #6c6c6c;
    color: #333333;
}


#discover{
    color: #1e2336;
}

.is-psabluestatic{
    background-color: #1e2336;
    color: white;
}

.is-psablue{
    background-color: #1e2336;
    color: white;
    margin-top: 1rem; 
    border: none;
}

.is-psablue:hover{
    background-color: white;
    color: #1e2336;
    margin-top: 1rem; 
    border: 1px solid #1e2336;
}

html{
    scroll-behavior: smooth;
}

#lunrsearch::placeholder, #lunrsearch::placeholder {
    color: black
}


.level-left, .level-center {
    padding: 1rem;
}

.psaScroler {
        overflow-y: scroll;
        overflow-x: scroll;
        scrollbar-color: #b5b5b5 #1e2336;
        scrollbar-width: thin;
        
}

.level{
    border-top: 1px solid rgb(187, 187, 187);
    padding-top: 1.3rem;
    margin-top: 4rem;
}

@media screen and (max-width: 600px) {
  aside{display: none;
}}

@media screen and (max-height: 700px) {
    #section-title{
        font-size: 4rem ;
    }
}


@media screen and (max-width: 576px) {
    #section-title{
        font-size: 3rem ;
    }
}


@media screen and (max-width: 1400px) {
    #navbarpsa {
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
   
}
@media screen and (max-width: 1250px) {
    
    .textnavbar {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1200px) {
    
    .textnavbar {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 765px) {
    .homepagepic{
        display: none;
    }
}

//menu mobile

@media screen and (max-width: 1087px) {
    .hero-head{
        background: #292929;
    }
    #lunrsearch{
        width: none;
    }
    .textnavbar {
        font-size: 0.965rem;
        padding-left: 0; 
        padding-bottom: 0;  
        padding-top: 0;  
    }
    .navbar-dropdown{
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 1.5rem;
        font-size: 0.8rem;
    }
    #lunrsearch {
        width: 100%;        
        padding: 0.5rem 0.5rem 0.5rem 2.25rem;
    }
    #pageTitle{
        margin-left: 0.7rem; 
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 1rem;

    }

    
     
}


@media screen and (max-width: 1088px) {
    #navbarpsa{

        padding-top: 0rem;
    
    }
    
}




@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }