---
# In order to import this stlye, import it with 'require: api-verbs' in the page front matter.
---

.api-verbs {
    display:flex;
    justify-content: space-between;
    border-radius: 3px;
    margin-top: 2rem;
}

.api-verb {
    height: 85px;
    width: 33.3333333%;
    color: grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid grey;
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.3);
}

.api-read {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 2px solid grey !important;
}

.api-notify {
    border-left: none !important;
    border-right: none !important;
}

.api-remote {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 2px solid grey !important;
}

.api-verb-active {
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(201, 201, 201, 0.3);
    border: none;
    color: #1e2336;
}


.api-verb-active.api-verb-optional {
    background-color: rgb(218, 218, 218);
    background: repeating-linear-gradient(
        45deg,
        white,
        white 15px,
        rgb(230, 230, 230) 15px,
        rgb(230, 230, 230) 30px
      );
}


.verb-name {
    font-size: 1.25rem;
    font-weight: 700;
    color: grey;
}

.api-verb-active .verb-name {
    color: #1e2336;
}

.verb-icon{
    color: #1e2336;
}

.tooltip {
    position:relative;
}

.tooltip .bottom {
    width:255px;
    top: 100px;
    left:50%;
    transform:translate(-50%, 0);
    padding:15px 25px;
    color:black;
    background-color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    border-radius:3px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip-title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.check-box {
    font-size: 1.15rem;
}

.tooltip:hover .bottom {
    visibility:visible; opacity:1;
}

.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:white;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}



@media screen and (max-width: 485px) {
    .api-verb {
        flex-direction: column;
        height: 90px;
        .verb-name {
            font-size: 1rem;
        }
        .icon i {
            font-size: 1.75rem;
        }
    }
}
