---
---
// $table-color: #83786f;
$accent-color: #2689b5;
$table-color: #323a58;

.data-catalog-container {
  background-color: white;
}

// --------------------- FILTER & SEARCH ---------------------

.data-count {
  font-size:.85rem;
}

.data-header{
  display: flex;
  display:flex;
  align-items: center;
  margin-top: 2.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  
  
  .table-header-search-and-reset {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .data-header-search{
    width: 100%;
    margin-bottom: 0;
    .icon {
      top: 8px !important;
      font-size: 1.3rem;
      padding-left: 1rem;;
    }
  } 
  
  #data-header-search-area {
    border: 1px solid grey;
    padding-left: 3.5rem;
    font-weight: 400;
    &::placeholder {
      color: dimgrey;
    }
  }
  
  #data-header-search-area,
  .table-header-filter-reset {
    height: 62.5px;
  }

  .table-header-filter-reset {
    color: #363636;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
    border: 1px solid grey;
    font-size: 1rem;
    font-size: 1.1rem;
    min-width: 190px;
    margin-left: 2.5rem;

    &:hover {
      background: $table-color;
      color: white;
    }
  }
  
  .table-header-filter {
    width: 100%;
    border-top: 1px solid dimgrey;

    .table-header-filter-title-container {
      margin-top: .75rem;
      padding-bottom: .75rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    .table-header-filter-dropdown-content {
      display:none;
      justify-content: space-between;
      gap: 1.75rem;
    }

    .table-header-filter-dropdown:hover .table-header-filter-arrow, .table-header-filter-title {
      color: $accent-color;
    }

    .table-header-filter-select {
      border: 1px solid grey;
      background-color: white;
      border-radius: 3px;
      height: 45px;
      font-size: 1rem;
      font-family: "Roboto", sans-serif;
      color: black;
      opacity: 1;
      cursor: pointer;
      padding: 0.75rem;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
      width: 100%;
    }

    .table-header-filter-dropdown {
      border-bottom: 1px solid dimgrey;
      padding: 0 1.25rem;
      .table-header-filter-title {
        font-weight: 500;
        font-size: 1.35rem;
        line-height: 1.2;
        width: 100%;
        color: $table-color;
        .fa-filter {
          font-size:1.15rem; 
          margin-right: .75rem; 
        }
      }
      
      .table-header-filter-arrow {
        color: #363636;
        font-size: 1.2rem;
        .fa-minus{display: none;}
      }
    }
    
    .table-header-filter-dropdown.table-header-filter-displayed {
      padding-bottom: 2rem;
  
      .fa-plus {
        display: none;
      }

      .fa-minus {
        display: block;
      }
      
      .table-header-filter-dropdown-content {
        display: grid;
      }

    }


    .table-header-version {
      display: flex;
      align-items: center;

        input {
          cursor: pointer;
        }
        label {    
          margin-left: .35rem;
        }

      }
  }
  

}


//---------------------  CUSTOM TABULATOR TABLE ---------------------

.data-catalog-row:first-of-type {
  border-top: 1px solid lightgrey;
  margin-top: 4rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.data-catalog-row:last-of-type {
  border-bottom: 1px solid lightgrey;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.data-catalog-row:not(:last-of-type) {
  border-bottom: 1px solid lightgrey;
}

#data-catalog .data-catalog-row {
  transition: all 0.3s ease-out;
  padding: 9px 0;
  cursor: pointer;
  background-color: #fafafa;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  
  &:hover {
    box-shadow: 0 0px 6px 2px rgba(0,0,0,0.08);
    z-index: 2;
    background-color: white;
    .data-item-expand-arrow, .data-item-title {
      color: $accent-color;
    }
  }
}


#data-catalog .data-catalog-row.data-item-highlighted {
  background-color: white;
}


// --------------------- ROW / DATA ITEM  STYLE ---------------------

.data-item {
  transition: all .3s ease-out;
  display: flex;
  align-items: center;
}

.data-item-category, .data-item-content {
  transition: all .3s ease-out;
}

.data-item-info {
  flex: 2;
}
.data-item-type {
  font-weight: 500;
  flex: 1.5
}

.data-item-expand-arrow {
  color: $table-color;
  height: 37.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-top: auto ;
  margin-bottom: auto ;
  width: 100px;
}

.data-item-description, .data-item-enum, .data-item-items, .data-item-unit, .data-item-domain-name, .availability-name, .availability-vhcl-type, .data-item-subtitle {
  display: none;
}

.data-item-availability, .availability-api-na {
  display: none;
}

.availability-api-na {
  font-weight: normal;
}

.data-item-title, .data-item-description, .data-item-type, .data-item-enum, .data-item-items, .data-item-unit, .availability-api-title, .availability-api-list  {
  white-space: break-spaces;
}

.data-item-title {
  transition: all 0.3s ease-out;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.15rem;
  display: flex;
}

.data-item-category {
  display: flex;
  min-width: 100px;
  flex-direction:column;
  align-items: center;
  min-height: inherit;
  align-self: start;
  .icon {
    transition: all 0.3s ease-out;
    font-size: 25px;
    width: 41px;
    min-width: 41px;
    height: 41px;
    min-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $table-color;
    align-self: center;
    border-radius: 2px;
  }
}

.data-item-domain-name {
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 500;
  white-space: break-spaces;
  text-align: center;
  line-height: 1.2;
}

.data-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  strong {
    font-weight: 500;
  }
}

.fa-angle-right {
  transition: all 0.3s ease-out;
  font-size: 1.2rem;
}

.non-highlighted-icon {
  display: flex;
  gap: 1rem;
  flex: .5;
}

.data-item-highlighted {
  
  .non-highlighted-icon {
    display: none;
  }
  
  .data-item-title {
    padding-bottom: .5rem;
  }
  
  .data-item-category, .data-item-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .data-item-content {
    flex-direction: column;
    align-items: start;
    gap: .75rem;
  }

  .data-item-category .icon {
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
    margin-top: .25rem;
    margin-bottom: .5rem;
    color: white;
    background-color: $table-color;
  }

  .fa-angle-right {
    transform: rotate(90deg);
  }

  .data-item-subtitle {
    font-weight: 500;
  }

  .data-item-description, .data-item-domain-name, .data-item-type, .availability-vhcl-type, .data-item-subtitle {
    display: inherit;
  }

  .data-item-availability, .availability-api-na, .data-item-enum, .data-item-items, .data-item-unit {
    display: block
  }

  .data-item-type {
    font-weight: normal;
  }

  .data-item-availability  {
    font-size: 1rem;
    .availability-api-title-container {
      display: flex;
      flex-wrap: wrap;
      font-weight: 500;
      .icon {
        font-size: inherit;
      }
    }
    .availability-api-list {
      font-size: .95rem;
      margin-top: .25rem;
    }
  }

  .data-item-availability-vehicles {
    display: flex;
    flex-wrap: wrap;
    .availability-api-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin: 0;
      li { margin: 0 }
    }
  }

  .availability-api {
    flex-direction: column;
    font-size: .8rem;
    .tag.is-info {
      width: 100%;
      margin: 0;
    }
    .tag.data-item-available.is-link {
      width: 100%;
      margin:0;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 700px) { 
  .non-highlighted-icon, .data-item-type {
    display: none;
  }
  .data-item-highlighted .data-item-type {
    display: flex;
  }
}

@media screen and (max-width: 485px) { 
  .data-item.data-item-highlighted.data-catalog-row {
    flex-wrap: wrap;
    justify-content: center;
    .data-item-content {
      padding: 1rem;
    }
  }
}