---
# In order to import this stlye, import it with 'require: data-catalog' in the page front matter.
---

// $table-color: #83786f;
$accent-color: #2689b5;
$table-color: #323a58;



// --------------------- FILTER & SEARCH ---------------------

.data-header{
  display: flex;
  display:flex;
  align-items: center;
  margin-top: 2.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  
  
  .table-header-search-and-reset {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .data-header-search{
    width: 100%;
    margin-bottom: 0;
    .icon {
      top: 8px !important;
      font-size: 1.3rem;
      padding-left: 1rem;;
    }
  } 
  
  #data-header-search-area {
    border: 1px solid grey;
    padding-left: 3.5rem;
    font-weight: 400;
    font-size: 1.25rem;
    &::placeholder {
      color: dimgrey;
    }
  }
  
  #data-header-search-area,
  .table-header-filter-reset {
    height: 62.5px;
  }

  .table-header-filter-reset {
    color: #363636;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
    border: 1px solid grey;
    font-size: 1rem;
    font-size: 1.1rem;
    min-width: 190px;
    margin-left: 2.5rem;

    &:hover {
      background: $table-color;
      color: white;
    }
  }
  
  .table-header-filter {
    width: 100%;
    border-top: 1px solid dimgrey;

    .table-header-filter-dropdown {
      &:hover{
        .table-header-filter-arrow, .table-header-filter-title {
          color: $accent-color;
        }
      } 
    }

    .table-header-filter-dropdown {
      margin-top: .75rem;
      padding-bottom: .75rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      border-bottom: 1px solid dimgrey;
  
      .table-header-filter-title {
        font-weight: 500;
        font-size: 1.35rem;
        line-height: 1.2;
        width: 100%;
        padding-left: 1.25rem;
        color: $table-color;
        .fa-filter {
          font-size:1.15rem; 
          margin-right: .75rem; 
        }
      }
      
      .table-header-filter-arrow {
        padding-right: 13px;
        color: #363636;
        font-size: 1.2rem;
        .fa-minus{display: none;}
      }
    }
    
    .table-header-filter-dropdown.table-header-filter-displayed {
      border-bottom: none;
      padding-bottom: 2rem;
      
      
      
      ~.table-header-versions {
        display: block;
      }

      .fa-plus {
        display: none;
      }

      .fa-minus {
        display: block;
      }


    }

    .table-header-versions {
      font-size: 1rem;
      display: none;
      max-width: 100%;
      margin: 0 13px 2rem;
      border: none;
      color: #363636;
      
      .tag {
        background-color: $table-color;
        color: white;
        font-weight: 500;
        font-size: 1rem;
        margin-right: 2rem;
        box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
      }
    }
    
    .table-header-api {
      padding: .8rem 1.2rem;
      display: flex;
      border-radius: 3px;
      border: 1px solid grey;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
      width: 100%;
    }
    .table-header-api:first-of-type {
      margin-bottom: calc(2rem + .5em);
    }

    .table-header-api-available {
      display: flex;
      justify-content: space-around;
    }

    .table-header-version, .table-header-versions .tag {
      width: 180px;
    }


    .table-header-version {
      display: flex;
      align-items: center;

        input {
          cursor: pointer;
        }
        label {    
          margin-left: .35rem;
        }

      }
  }
  

}


// --------------------- TABULATOR FILTERS ---------------------

.tabulator .tabulator-header .tabulator-col-title {
  height: 0;
}


#data-catalog.tabulator .tabulator-header {
  height: 0;
  transition: all 0.3s ease-out

}

.tabulator-headers {
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}

.tabulator-header {
  .tabulator-header-filter::after {
    color: #363636
  }
}

//---------------------  CUSTOM TABULATOR TABLE ---------------------

#data-catalog {
  .column-title {
    text-align: center !important;
  }
  
  .tabulator-col-group-cols {
    border-right: 2px solid #aaa;
  }

  .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-arrow {
    display: none !important;
  }

}


#data-catalog .tabulator-table {
  width: 100%;
  color: $table-color;

}

#data-catalog .tabulator-tableHolder {
  overflow: hidden;
}

.tabulator-row:first-of-type {
  border-top: 1px solid lightgrey;
  margin-top: 4rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tabulator-row:last-of-type {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 250px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tabulator-row:not(:last-of-type) {
  border-bottom: 1px solid lightgrey;
}

#data-catalog .tabulator-row {
  transition: all 0.3s ease-out;
  padding: 9px 0;
  cursor: pointer;
  background-color: #fafafa;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  
  &:hover {
    box-shadow: 0 0px 6px 2px rgba(0,0,0,0.08);
    z-index: 2;
    background-color: white;
    .data-item-expand-arrow, .data-item-title {
      color: $accent-color;
    }
  }
}


#data-catalog .tabulator-row.data-item-highlighted {
  background-color: white;
}

#data-catalog.tabulator {
  background: transparent;
}



.tabulator-edit-select-list-item {
  background-color: white;
  }
  .tabulator-edit-select-list-item:hover {
    color:white !important;
  }
  
  .tabulator-header {
    border: none !important;
  }
  
  .tabulator .tabulator-header .tabulator-col .tabulator-header-filter input {
    border: 1px solid grey !important;
    border-radius: 3px !important;
    height: 45px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: black!important;
    opacity: 1;
    cursor: pointer !important;
    padding: .75rem !important;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    
    &::placeholder {
      opacity: 1;
    }
    
    
  }
  
  .tabulator-header-filter {
   &::after {
     color: black;
     font-size: 1rem;
     position: relative;
     right: 25px;
     font-weight: 900;
        font-family: "Font Awesome 5 Free";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
   }
  }
  
  .tabulator-col:nth-child(1) .tabulator-header-filter, .tabulator-col:nth-child(2) .tabulator-header-filter {
    &::after {
    content: "\f078";
    }
  }
  
  .tabulator-table .tabulator-cell:nth-child(2){
    font-weight: bold;
    text-transform: capitalize
  }
  
  .centered{
    text-align:center !important;
  }
  
  .twenty-icon{
    font-size:19px !important;
  }
  .tabulator-responsive-collapse-toggle-open, .tabulator-responsive-collapse-toggle-close{
  color: white;
  padding: 5px;
  }
    
  
  .thirteen-icon{
    font-size:11.5px !important;
  }
  
  .tabulator-icon{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    font-size:14px;
  }


// --------------------- ROW / DATA ITEM  STYLE ---------------------

.data-item {
  transition: all .3s ease-out;
  display: flex;
  align-items: center;
}

.data-item-category, .data-item-content {
  transition: all .3s ease-out;
}

.data-item-info {
  flex: 2;
}
.data-item-type {
  font-weight: 500;
  flex: 1.5
}

.data-item-expand-arrow {
  color: $table-color;
  height: 37.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-top: auto ;
  margin-bottom: auto ;
  width: 100px;
}

.data-item-description, .data-item-enum, .data-item-unit, .data-item-domain-name, .availability-name, .availability-vhcl-type, .data-item-subtitle {
  display: none;
}

.data-item-availability, .availability-api-na {
  display: none;
}

.availability-api-na {
  font-weight: normal;
}

.data-item-title, .data-item-description, .data-item-type, .data-item-enum, .data-item-unit, .availability-api-title, .availability-api-list  {
  white-space: break-spaces;
}

.data-item-title {
  transition: all 0.3s ease-out;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.15rem;
  display: flex;
}

.data-item-category {
  display: flex;
  min-width: 100px;
  flex-direction:column;
  align-items: center;
  min-height: inherit;
  align-self: start;
  .icon {
    transition: all 0.3s ease-out;
    font-size: 25px;
    width: 41px;
    min-width: 41px;
    height: 41px;
    min-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $table-color;
    align-self: center;
    border-radius: 2px;
  }
}

.data-item-domain-name {
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 500;
  white-space: break-spaces;
  text-align: center;
  line-height: 1.2;
}

.data-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  strong {
    font-weight: 500;
  }
}

.fa-angle-right {
  transition: all 0.3s ease-out;
  font-size: 1.2rem;
}

.non-highlighted-icon {
  display: flex;
  gap: 1rem;
  flex: .5;
}

.data-item-highlighted {
  
  .non-highlighted-icon {
    display: none;
  }
  
  .data-item-title {
    padding-bottom: .5rem;
  }
  
  .data-item-category, .data-item-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .data-item-content {
    flex-direction: column;
    align-items: start;
    gap: .75rem;
  }

  .data-item-category .icon {
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
    margin-top: .25rem;
    margin-bottom: .5rem;
    color: white;
    background-color: $table-color;
  }

  .fa-angle-right {
    transform: rotate(90deg);
  }

  .data-item-subtitle {
    font-weight: 500;
  }

  .data-item-description, .data-item-domain-name, .data-item-type, .availability-vhcl-type, .data-item-subtitle {
    display: inherit;
  }

  .data-item-availability, .availability-api-na, .data-item-enum, .data-item-unit {
    display: block
  }

  .data-item-type {
    font-weight: normal;
  }

  .data-item-availability  {
    font-size: 1rem;
    .availability-api-title-container {
      display: flex;
      flex-wrap: wrap;
      font-weight: 500;
      .icon {
        font-size: inherit;
      }
    }
    .availability-api-list {
      font-size: .95rem;
      margin-top: .25rem;
    }
  }

  .data-item-availability-vehicles {
    display: flex;
    flex-wrap: wrap;
    .availability-api-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin: 0;
      li { margin: 0 }
    }
  }

  .availability-api {
    flex-direction: column;
    font-size: .8rem;
    .tag.is-info {
      width: 100%;
      margin: 0;
    }
    .tag.data-item-available.is-link {
      width: 100%;
      margin:0;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 700px) { 
  .non-highlighted-icon, .data-item-type {
    display: none;
  }
  .data-item-highlighted .data-item-type {
    display: flex;
  }
}

@media screen and (max-width: 485px) { 
  .data-item-highlighted .data-item {
    flex-wrap: wrap;
    justify-content: center;
    .data-item-content {
      padding: 1rem;
    }
  }
}
