---
# In order to import this stlye, import it with 'require: homepage' in the page front matter.
---


// ------------------------------------------------------------------------
//   _        _    _   _ ____ ___ _   _  ____       ____   _    ____ _____ 
//  | |      / \  | \ | |  _ |_ _| \ | |/ ___|     |  _ \ / \  / ___| ____|
//  | |     / _ \ |  \| | | | | ||  \| | |  _ _____| |_) / _ \| |  _|  _|  
//  | |___ / ___ \| |\  | |_| | || |\  | |_| |_____|  __/ ___ | |_| | |___ 
//  |_____/_/   \_|_| \_|____|___|_| \_|\____|     |_| /_/   \_\____|_____|
//                                                                         
// ------------------------------------------------------------------------

/* -------- Fix Footer --------- */
.footer {
    max-width: 1150px;
}

.home-page #navbarpsa{
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.77);
}

.home-page .landing-title h1 {
    display: inline;
}

.home-page.hero .hero-body {
    box-shadow: none;
}

.home-page.hero .typed-cursor {
    line-height: 1.450;
    margin-bottom: 0;
    font-size:6rem;
    text-shadow: 2px 2px 4px #000000;
    color: whitesmoke;
}

@media screen and (max-width: 600px) {
    .home-page.hero .typed-cursor{
        font-size: 4rem ;
    }
}

@media screen and (max-height: 700px) {
    .home-page.hero .typed-cursor{
        font-size: 3rem ;
    }
}

@media screen and (max-width: 576px) {
    .home-page.hero .typed-cursor{
        font-size: 3rem ;
    }
}

.landing-page{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


.landing-page h2{
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.landing-page .text-compact{
    max-width: 450px;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 400;

    strong {
        color: white;
    }
}

.description {
    h3 {
        font-size: 1.8rem;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .text-compact {
        font-size: 1.1rem;
    }
}


 .separator.is-centered{
    margin: 3rem auto;
}

.landing-page  .rounded{
    border-radius: 3px;
}

 .separator{
    height: 2px;
    background: #ff4238;
    width: 70px;
    margin: 20px 0;
}

.landing-page .section-feature .column{
    display: flex;
    justify-content: center;
}

.landing-page .landing-feature {
    max-height: 300px;
    max-width: 470px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.landing-page .landing-feature #map {
    width: 100%;
    height: 300px;
    text-shadow: none;
}



.link-arrow {
    transform-origin: top left;
    width: 25px;
    height: 12px;
    transition: all .2s ease;
    fill: #ff4238;
    bottom: 1.5rem;
    left: 1.5rem;
}

.landing-text-bloc:hover .link-arrow{
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
}

.landing-page .landing-text-bloc{
    max-width: 300px;
    color: white;
}

.landing-text-bloc h1 {
    margin-top: 0;
    padding-top: 0;
}

.landing-page .column.description {
    display: flex;
    justify-content: center;
}
.landing-page .language-json.highlighter-rouge {
    width: 100%;
    margin: unset;
}
.landing-page .highlight{
    padding: 1rem;
    overflow: scroll;
    max-height: 100%;
}

.landing-page .feature-text{
    font-size: 13px;
    opacity: 0.8;
    max-width: 200px;
    margin: 0 auto;
}

.landing-page  #preview-fix {
    box-shadow: none;
}

.card {
    margin: 2rem;
}

@media screen and (max-width: 663px) {
    .landing-page #preview-fix{
        display: none;
    }
}
@media screen and (max-width: 1087px) {

    .landing-page img.landing-feature{
        max-width: 100% !important;
        width: auto !important;
    }
}

// MEDIA QUERY HERO TEXT : 4 LIGNS ONLY (until iphone 5)

@media screen and (max-width: 515px) {
    .hero .section-title, .hero.is-medium .section-title, .home-page.hero .typed-cursor {
        font-size: 2.5rem;
    }
    .landing-page h2 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 425px) {
    .hero .section-title, .hero.is-medium .section-title, .home-page.hero .typed-cursor{
        font-size: 2rem;
    }
    .landing-page h2 {
        font-size: 1.55rem;
    }
}

@media screen and (max-width: 360px) {
    .hero .section-title, .hero.is-medium .section-title, .home-page.hero .typed-cursor {
        font-size: 1.73rem;
    }
    .landing-page h2 {
        font-size: 1.3rem;
    }
}

// FIX COLUMNS BULMA RESPONSIVE
// > stay flex

.columns {
    display: flex;
}

.column.is-half, .column.is-half-tablet {
    flex: none;
    width: 50%;
}

// 

@media screen and (max-width: 830px) {
    .landing-page .landing-feature, .landing-page .landing-feature #map {
        max-height: 185px;
    }
    .landing-feature .highlighter-rouge {
        font-size: .85rem;
    }
    .description h3 {
        font-size: 1.3rem;
        line-height: 1.3;
        margin-bottom: .75rem;
    }
    .description .text-compact {
        font-size: .9rem;
    }

    .separator {
        margin: 10px 0;
    }
    .landing-page .text-compact {
        font-size: 1rem;
    }
    .landing-page h2 {
        font-size: 2rem;
    }

}

@media screen and (max-width: 565px) {
    .landing-page .landing-feature, .landing-page .landing-feature #map {
        max-height: 185px;
    }
    .landing-feature .highlighter-rouge {
        font-size: .85rem;
    }
    .description h3 {
        font-size: 1.1rem;
        line-height: 1.3;
        margin-bottom: .75rem;
    }
    .description .text-compact {
        font-size: .85rem;
    }

    .separator {
        margin: 5px 0;
    }
    
}

@media screen and (max-width: 500px) {
    
    .landing-page .landing-feature, .landing-page .landing-feature #map {
        max-height: 140px;
    }
    .text-compact {
        display: none;
    }
    .description h3 {
        font-size: 1rem;
    }

    .columns .separator {
        display: none;
    }
    .description h3::after {
        content: "\f061";
        color: #ff4238;
        display: inline-flex;
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-left:.5rem
    }
}

@media screen and (max-width: 430px) {
    .landing-page .landing-feature, .landing-page .landing-feature #map {
        max-height: 120px;
    }
    .description h3 {
        font-size: .9rem;
    }
}