---
# In order to import this stlye, import it with 'require: thumbnail' in the page front matter.
---

.project-preview{
    position: relative;
    min-height: 200px;
    margin: 4.5rem 1rem 0;
    min-width: 300px;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin: auto;
}

.project-preview {
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
}

.project-description{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.2rem 1rem;
    background: rgba(0,0,0,.7);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-links, .project-links a{
    color: white;
}

.project-links a:hover{
    color: grey;
}

.project-preview .project-categories{
    color: rgba(255,66,56,1);
    font-weight: 400;
    font-size: 0.75rem;
}


.project-preview .project-title{
    color: white;
    font-weight: 500;
}

.project-preview:hover {
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);
    transition: all .4s ease;
}

.project-preview:hover .project-img{
    filter: brightness(100%);
}

.project-preview .project-img {
    border-radius: 3px;
    filter: brightness(80%);
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute
}

.project-cta .project-img{
    background:  linear-gradient(152deg, rgba(38,51,99,1) 0%, rgba(255,66,56,1) 105%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 715px) {

    .project-links {
        display: none;
    }
    .project-preview {
        margin: 0.5rem 0;

        min-height: 150px;
        min-width: 225px;
    }
    .project-description {
        padding: 0.2rem 0.4rem;
    }
    .project-preview .project-categories {
        font-size: 0.7rem;
    }
    .project-preview .project-title {
        font-size: 0.8rem;
    }
    .project-preview .project-img {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }  
    .project-cta .project-img{
        p {
            font-size: 1.1rem;
            max-width: 100px;
            text-align: center;
        }
    } 
}


@media screen and (max-width: 535px) {
    .project-preview {
        min-height: 115px;
        min-width: 135px;
    }
}