---
# In order to import this stlye, import it with 'require: boxed-module' in the page front matter.
---

.boxed-module.content{
    margin: 4rem 0 0;
    padding: 0;
    color: #131313;
}

.boxed-module blockquote {
    background-color: rgb(219, 219, 219);
}

.boxed-module-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 3rem 8%;
}

.boxed-title-quoted {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.boxed-title-quoted .icon {
    margin:0;
}

.boxed-title-quoted .icon.is-large {
    margin-left: 1.5rem;
}

.boxed-module h2.boxed-module-title {
    font-size: 1.75rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
    font-style: italic;
}

.boxed-module-title::first-letter {
    font-size: 133%;
}


.boxed-module-title .icon {
    font-size: 0.9rem;
}

.expand-icon {
    fill: #ff4238;
    transform-origin: top left;
}

.icon-plus {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
}

.boxed-module.is-open .icon-plus {
    display: none;
}

.icon-moins {
    display: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    max-width: 20px;
}

.boxed-module.is-open .icon-moins {
    display: block;
}

.boxed-module.is-open .boxed-module-hidden {
    display: block;
}

.boxed-module-hidden {
    display: none;
    padding: 0 8% 1.5rem;
}

.boxed-quote-icon {
    color: #1e2336;
}
.boxed-quote-icon .icon i {
    font-size: 1.3rem;
}
.boxed-quote-icon.first,  .boxed-quote-icon .icon i {
    align-self: flex-start;
}

.boxed-module-content {
    overflow: auto;
}

.boxed-module-requirements {
    min-width: 250px;
    max-width: 250px;
    margin: 0 0 1rem 3rem;
    border-radius: 2px;
    float: right;
    border: 2px solid darkgray;
}

.boxed-module .boxed-module-requirements-list {
    margin: 0;
}

.boxed-module .boxed-module-requirements-item {
    padding: 0.35em 0.75em;
    margin: 0;
    list-style: none;
}

.boxed-module-requirements-item:not(:last-of-type) {
    border-bottom: 2px solid darkgray;
}

.boxed-module .boxed-module-requirements-title {
    font-size: 1.1rem;
    color: #131313;
    border-bottom: 2.5px solid #ff42389c;
    padding: 0.6rem 1rem;
    margin: 0;
    line-height: 1.5;
}

.boxed-module .boxed-module-requirements-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.boxed-module-character {
    font-size: 28px;
    width: 65px;
    min-width: 65px;
    height: 65px;
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(51, 51, 51);
    border-radius: 35px;
    align-self: start;
}

.boxed-module-content-text {
    text-align: justify;
    line-height: 1.65;

    h1, h2, h3, h4, h5 {
        padding-top: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 650px) {

    .boxed-title-quoted {
        display: block;
    }

    .boxed-title-quoted .icon {
        display: none;
    }

    .boxed-module-character {
        float:left;
        margin-right: 1.5rem;
    }

    .boxed-module-requirements {
        float: unset;
        margin: 0 auto 3.5rem;
    }
}

