---
# In order to import this stlye, import it with 'require: ' in the page front matter.
---

.hero-header {
  z-index: 2;
  position: relative;
}

h1, h2, h3, h4, h5 {
  padding-top: inherit;
  margin-top: inherit;
}

.menu-select{
  display: flex;
}


#content-header #page-title {
  font-size: 1.8rem;
}


.page-title-container{
  margin-top:1.2rem;
}

.content {
  margin-bottom: 0 !important;
  padding-top: 3.5rem;
  padding-bottom: 0.7rem;
  max-width: 100%;
}

.content, .is-spec-content {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.content .notification-link {
  .notification {
     margin-bottom: .55rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
  }    
  p {margin: 0;}
 .fa-external-link-square-alt {
     font-size: 1.15rem;
 }
}


@media screen and (max-width: 650px) {
  .spec-background{
    margin: 0;
  }
}

#redoc-container h3 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#redoc-container .api-content { 
  word-wrap: anywhere;
}

#base-url{
  border-radius: 1px;
  padding: 1.5rem 3rem;
}

#redoc-container .number {
  align-items: inherit;
  background-color: inherit;
  border-radius: inherit;
  display: inherit;
  font-size: inherit;
  height: inherit;
  justify-content: inherit;
  margin-right: inherit;
  min-width: inherit;
  padding: inherit;
  text-align: inherit;
  vertical-align: inherit;
}

#redoc-container code { 
background: inherit;
font-size: inherit;
} 

#navbarpsa.bluenavbar .navbar-dropdown .navbar-item{
    display: inherit;
}


.is-spec-content{
    padding-bottom: 2.5rem;
    border-bottom: 1px solid lightgrey;
}

#article {
    background: white;
}

@media screen and (max-width: 920px) {
      .content, .is-spec-content {
      padding-left: 5%;
      padding-right: 5%;
  }
}

