---
layout: empty-content
permalink: /webapi/b2b/api-reference-v3/specification/
section: webapi
subsection: b2b
redirect_from: 
    - /webapi/b2b/api-reference/specification-v3/
    - /webapi/b2b/api-reference-v3/
categorie: API Reference v3
title: Specification
require: redoc webapi-reference-specification
description: "Fleet owner API v3 Reference: list of endpoints of our REST API for Fleet Owner."
gitHubPath: assets/openapi/api-b2b-v3.yaml
---

{% assign urlReference = "/assets/openapi/api-b2b-v3.yaml" %}

<div class="content">
    {% include content-header.html %}
    <a class="notification-link" href="{{site.baseurl}}/webapi/b2b/api-reference-v3/changelog/#article">
        <div class="notification page-disclaimer">
            <p><strong>Changelog:</strong> history and versioning of WEB API Fleet-Owner v3.</p>
            <span class="icon is-white">
                <i class="fas fa-external-link-square-alt"></i>
            </span>
        </div>
    </a>
</div>
<div class="is-spec-content">
    <div class="buttons has-addons">
        <a href="{{site.baseurl}}/webapi/b2b/api-reference/about-versions/#article" class="tag_endpoint_large button is-info"> API BaseURL</a>
        <a class="tag_endpoint_large tag_api_endpoint button is-info is-border is-selectable">
            {{site.webapiB2Bv3}}
        </a>
    </div>
</div>

{% include_relative content/webapi-reference-specification.md %}
