---
layout: empty-content
permalink: /webapi/b2b/reference/specification-v3/
section: webapi
subsection: b2b
categorie: API Reference
title: Specification Version 3
description: "Groupe PSA Web API B2B v3 Reference: list of endpoints of our REST API for Fleet Owner."
gitHubPath: assets/openapi/api-b2b-v3.yaml
---

{% assign urlReference = "/assets/openapi/api-b2b-v3.yaml" %}

<div class="content">
    {% include content-header.html %}
</div>
<div class="is-spec-content">
    <div class="buttons has-addons">
        <a href="{{site.baseurl}}/webapi/b2b/reference/about-versions/#article" class="tag_endpoint_large button is-info"> API BaseURL</a>
        <a class="tag_endpoint_large tag_api_endpoint button is-info is-border is-selectable">
            {{site.webapiB2Bv3}}
        </a>
    </div>
</div>

{% include_relative content/webapi-reference-specification.md %}
