---
layout: doc-article
permalink: /webportal/reference/
section: webportal
title: API Reference
gitHubPath: _webportal-public-reference/
---

{% assign apis = site.webportal-public-reference | where:"type", "api" %}
{% assign events = site.webportal-public-reference | where:"type", "event" %}
<h1 id="api">API REFERENCE
</h1>

{% for api in apis %}
    <hr>
    <h2 id="api-{{ api.title | replace: '.', '-' | remove: '()'}}">{{ api.title}}
    </h2>
    <div class="field is-grouped is-grouped-multiline">
        {% for wave in api.supported %}
            <div class="control">
                <div class="tags has-addons">
                        <a href="{{ site.baseurl }}/webportal/#nac---connected-navigation-system"> <span
                            class="tag is-dark">wave</span><span class="tag is-info">{{ wave }}</span> </a>
                </div>
            </div>
        {% endfor %}
        <div class="control">
            <div class="tags has-addons">
                <a href="{{ site.baseurl }}/webportal/quick-start/#privacy-mode"><span class="tag is-light">min
                    privacy</span><span class="tag is-success">{% if api.privacy %}
                            {{ api.privacy }}
                        {% else %}
                            Full
                        {% endif %}
                    </span>
                </a>
            </div>
        </div>
    </div>
    <p>
        {{ api.content | markdownify  }}
    </p>
{% endfor %}
<hr>
<h1 id="event">EVENTS REFERENCE
</h1>
{% for event in events %}
    <hr>
    <h2 id="event-{{ event.title | replace: '.', '-' | remove: '()'}}">{{ event.title  }}</h2>
    <div class="field is-grouped is-grouped-multiline">
        {% for wave in event.supported %}
            <div class="control">
                <div class="tags has-addons">
                        <a href="{{ site.baseurl }}/webportal/#nac---connected-navigation-system"><span
                            class="tag is-dark">wave</span><span class="tag is-info">{{ wave}}</span> </a>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <p>
        {{ event.content }}
    </p>
{% endfor %}