---
layout: doc-article
permalink: /webportal/v1/api-reference/list/
section: webportal
subsection: v1
title: References
categorie: API Reference
require: reference-list
gitHubPath: _webportal-nac-reference/
description: "Stellantis API for ex Groupe PSA brands (Citroën, DS, Peugeot, Opel and Vauxhall), Webportal v1 API Reference: list of API available functions & events."
redirect_from:
 - /webportal/v1/api-reference/
 - /webportal/reference/
 - /webportal/v1/reference/
 - /webportal/v1/reference/list/
 - /webportal/v1/reference/class/
---



<div class="notification page-disclaimer">
    This list of references allows browsing Stellantis for ex Groupe PSA brands (Citroën, DS, Peugeot, Opel and Vauxhall): <strong>Webportal v1 API</strong>. These references exists as <strong>API</strong> or <strong>Event</strong>:
   <ul>
     <li>
       <strong>Method</strong> 
       retrieve or modify vehicle data using a javascript function.
     </li>
     <li>
       <strong>Event</strong> 
       use <em>eventListener</em> to react to the modification of a vehicle data.
     </li>
   </ul>
   {% include_relative content/reference-privacy-description.html %}
 </div>

 
<div class="reference-domain">

{% include api-reference-list.html 
    sdk_name="webportalv1"
    githubFolder="_webportal-nac-reference/"
    apis=site.webportal-nac-reference
%}

</div>