---
layout: doc-article
permalink: /webportal/v1/api-reference/list/
section: webportal
subsection: v1
title: References
categorie: API Reference 
gitHubPath: _webportal-nac-reference/
description: "Groupe PSA Webportal v1 API Reference: list of API available functions & events."
redirect_from:
 - /webportal/v1/api-reference/
 - /webportal/reference/
 - /webportal/v1/reference/
 - /webportal/v1/reference/list/
 - /webportal/v1/reference/class/
---

{% assign apis = site.webportal-nac-reference | where:"type", "api" %}
{% assign events = site.webportal-nac-reference | where:"type", "event" %}
<h1 id="api">API REFERENCE
</h1>

{% for api in apis %}
    <hr>
    <h2 id="api-{{ api.title | replace: '.', '-' | remove: '()'}}">{{ api.title}}
    </h2>
    <div class="field is-grouped is-grouped-multiline">
        {% for wave in api.supported %}
            <div class="control">
                <div class="tags has-addons">
                    <a href="{{ site.baseurl }}/webportal/v1/overview/infotainment-system/#software-versions"> <span class="tag is-dark">wave</span><span class="tag is-info">{{ wave }}</span> </a>
                </div>
            </div>
        {% endfor %}
        <div class="control">
            <div class="tags has-addons">
                <a href="{{ site.baseurl }}/webportal/v1/quickstart/events/#privacy-mode"><span class="tag is-light">min
                    privacy</span><span class="tag is-success">{% if api.privacy %}
                            {{ api.privacy }}
                        {% else %}
                            Full
                        {% endif %}
                    </span>
                </a>
            </div>
        </div>
    </div>
    <p>
        {{ api.content | markdownify  }}
    </p>
{% endfor %}
<hr>
<h1 id="event">EVENTS REFERENCE
</h1>
{% for event in events %}
    <hr>
    <h2 id="event-{{ event.title | replace: '.', '-' | remove: '()'}}">{{ event.title  }}</h2>
    <div class="field is-grouped is-grouped-multiline">
        {% for wave in event.supported %}
            <div class="control">
                <div class="tags has-addons">
                        <a href="{{ site.baseurl }}/webportal/v1/overview/infotainment-system/#software-versions"><span
                            class="tag is-dark">wave</span><span class="tag is-info">{{ wave}}</span> </a>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <p>
        {{ event.content }}
    </p>
{% endfor %}