<!-- SCRIPT DEMO -->
<script>
  var map = null;
  var vehicle = null;

  window.onload = function () {

    //init LEAFLET
    //set view on velizy
    var lat = 48.7712;
    var lon = 2.2263;

    //create map and insert into map html id
    map = L.map('map', { zoomControl: false }).setView([lat, lon], 15);
    //openstreetmap maps adress
    L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
      //set credit to OSM
      attribution: 'data © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - <a href="//openstreetmap.fr">OSM France</a>',
      minZoom: 1,
      maxZoom: 20,
    }).addTo(map);
  };


  function fetchStatus() {

    // Status example json block
    document.querySelector("#emptyPayload").style.display = 'none';
    document.querySelector("#statusPayload").style.display = '';

    //add marker on map
    vehicle = L.marker([48.772476, 2.2221432]).addTo(map);
    //set map view on marker
    map.setView([48.772476, 2.2221432]);

    //switch buttons
    document.querySelector("#buttonStatusGrey").style.display = '';
    document.querySelector("#buttonStatusColor").style.display = 'none';

    document.querySelector("#buttonVehicleGrey").style.display = 'none';
    document.querySelector("#buttonVehicleColor").style.display = '';
    
    // bring you to fetch vehicle
    window.location.href = "#buttonVehicleColor";
  }

  function fetchVehicle() {

    // Vehicle example json block
    document.querySelector("#statusPayload").style.display = 'none';
    document.querySelector("#vehicleIdPayload").style.display = '';

    //add popup to marker with vehicle info
    vehicle.bindPopup('<img class="image" src="{{site.baseurl}}/assets/images/508.png" alt="No Image Available"><p><b>Id: </b>XA143Z2<br><b> Vin: </b>VF3A12BCDEF3456<br><b>Brand: </b>Peugeot<br><b>Label: </b>508 II BlueHDi 130ch Allure<br> <b> LastPosition:</b> <a href="{{site.baseurl}}{% if page.subsection == "b2b" %}/connectedcar/v3/fleets/{fid}/vehicles/{id}/lastPosition{% elsif page.subsection == "b2c" %}/connectedcar/v4/user/vehicles/{id}/lastPosition{% endif %}">href</a></p>').openPopup();
    //set map view above the marker
    map.setView([48.7775, 2.22232]);

    //switch buttons
    document.querySelector("#buttonVehicleGrey").style.display = '';
    document.querySelector("#buttonVehicleColor").style.display = 'none';

    document.querySelector("#buttonReloadGrey").style.display = 'none';
    document.querySelector("#buttonReloadColor").style.display = '';

    // bring you to reload
    window.location.href = "#buttonReloadColor";
  }

  function reload() {
    window.location.href = "#demoTitle";
    window.location.reload(true);
  }

</script>

<div class="content">
  <h1 id="demoTitle">
    <span>
      Click on the API buttons and retrieve related info 👇                     
    </span>          
  </h1>

  <!-- status api BUTTON COLOR-->
  <a class="colortags tags has-addons " onclick="fetchStatus()" id="buttonStatusColor">
    <span class="tag_endpoint_large tag is-white">
      <span class="verb get">GET
        {% if page.subsection == 'b2b' %}/fleets/{fid}/vehicles/{id}/status</span>{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}/status{% elsif page.subsection == "b2c" %}/user/vehicles/{id}/status</span>{{site.webapiB2C}}/user/vehicles/{id}/status{% endif %}
    </span>
  </a>
  <!-- status api BUTTON GREY-->
  <div class="greytags tags has-addons" id="buttonStatusGrey" style="display: none">
    <span class="greyUrl tag_endpoint_large tag">
      <span class="verb get greyGet">GET
        {% if page.subsection == 'b2b' %}/fleets/{fid}/vehicles/{id}/status</span>{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}/status{% elsif page.subsection == "b2c" %}/user/vehicles/{id}/status</span>{{site.webapiB2C}}/user/vehicles/{id}/status{% endif %}
    </span>
  </div>
  <!-- vehicle api BUTTON COLOR -->
  <div id="buttonVehicleColor" style="display: none">
    <a class="colortags tags has-addons" onclick="fetchVehicle()" >
      <span class="tag_endpoint_large tag is-white">
        <span class="verb get">
          GET
          {% if page.subsection == 'b2b' %}/fleets/{fid}/vehicles/{id}</span>{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}{% elsif page.subsection == "b2c" %}/user/vehicles/{id}</span>{{site.webapiB2C}}/user/vehicles/{id}{% endif %}
      </span>
    </a>
  </div>
  <!-- vehicle api BUTTON GREY-->
  <div class="greytags tags has-addons" id="buttonVehicleGrey">
    <span class="greyUrl tag_endpoint_large tag ">
      <span class="verb get greyGet">GET
        {% if page.subsection == 'b2b' %}/fleets/{fid}/vehicles/{id}</span>{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}{% elsif page.subsection == "b2c" %}/user/vehicles/{id}</span>{{site.webapiB2C}}/user/vehicles/{id}{% endif %}
    </span>
  </div>

  <!-- RELOAD BUTTON GREY-->
  <div class="tags has-addons" id="buttonReloadGrey">
    <span class="greyUrl tag_endpoint_large tag">&nbsp;&nbsp;&nbsp; <span class="icon is-small is-white"> <i
          class="fas fa-redo-alt"></i></span>&nbsp;&nbsp; Reload! </span>
  </div>
  <!-- RELOAD BUTTON COLOR-->
  <a class="tags has-addons" onclick="reload()" id="buttonReloadColor" style="display: none">
    <span class="tag_endpoint_large tag is-info">&nbsp;&nbsp;&nbsp; <span class=" icon is-small is-white"> <i
          class="fas fa-redo-alt"></i></span>&nbsp;&nbsp; Reload! </span>
  </a>
  <!--Tiles -->
  <div class="tile is-ancestor">
    <div class="tile is-parent">
        <article id="map" class="tile is-child">
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child">
          <div class="language-shell highlighter-rouge">
            <div class="highlight">
              <!-- empty payload -->
              <pre class="highlight" id="emptyPayload"><code><span class="p">&nbsp;</span>
<span class="p">{</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">}</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
<span class="p">&nbsp;</span>
                </code></pre>
              <!-- / empty payload --> 
              <!-- status payload -->
<pre class="highlight" id="statusPayload" style="display: none;"><code><span class="p">{% if page.subsection == "b2b"  %}{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}/status{% elsif page.subsection == "b2c" %}{{site.webapiB2C}}/user/vehicles/{id}/status{% endif %}</span>
  
  <span class="p">{</span><span class="w">
    </span><span class="s2">"lastPosition"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="s2">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Feature"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"geometry"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="s2">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Point"</span><span class="p">,</span><span class="w">
        </span><span class="s2">"coordinates"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
          </span><span class="mf">2.2221432</span><span class="p">,</span><span class="w">
          </span><span class="mf">48.772476</span><span class="p">,</span><span class="w">
          </span><span class="mi">172</span><span class="w">
        </span><span class="p">]</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="s2">"properties"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="s2">"updatedAt"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Wed Sep 25 16:16:20 GMT 2019"</span><span class="p">,</span><span class="w">
        </span><span class="s2">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Aquire"</span><span class="p">,</span><span class="w">
        </span><span class="s2">"signalQuality"</span><span class="p">:</span><span class="w"> </span><span class="mi">6</span><span class="w">
      </span><span class="p">}</span><span class="w">
    </span><span class="p">},</span><span class="w">
    </span><span class="s2">"preconditionning"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="s2">"airConditioning"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="s2">"updatedAt"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Wed Sep 25 16:15:37 GMT 2019"</span><span class="p">,</span><span class="w">
        </span><span class="s2">"status"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Disabled"</span><span class="p">,</span><span class="w">
        </span><span class="s2">"programs"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="s2">"enabled"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
            </span><span class="s2">"recurrence"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Daily"</span><span class="p">,</span><span class="w">
            </span><span class="s2">"start"</span><span class="p">:</span><span class="w"> </span><span class="s2">"PT0S"</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="s2">"enabled"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
            </span><span class="s2">"recurrence"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Daily"</span><span class="p">,</span><span class="w">
            </span><span class="s2">"start"</span><span class="p">:</span><span class="w"> </span><span class="s2">"PT0S"</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="s2">"enabled"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
            </span><span class="s2">"recurrence"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Daily"</span><span class="p">,</span><span class="w">
            </span><span class="s2">"start"</span><span class="p">:</span><span class="w"> </span><span class="s2">"PT0S"</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="p">{</span><span class="w">
            </span><span class="s2">"enabled"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="p">,</span><span class="w">
            </span><span class="s2">"recurrence"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Daily"</span><span class="p">,</span><span class="w">
            </span><span class="s2">"start"</span><span class="p">:</span><span class="w"> </span><span class="s2">"PT0S"</span><span class="w">
          </span><span class="p">}</span><span class="w">
        </span><span class="p">]</span><span class="w">
      </span><span class="p">}</span><span class="w">
    </span><span class="p">},</span><span class="w">
    </span><span class="s2">"energy"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
      </span><span class="p">{</span><span class="w">
        </span><span class="s2">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Electric"</span><span class="p">,</span><span class="w">
        </span><span class="s2">"level"</span><span class="p">:</span><span class="w"> </span><span class="mi">0</span><span class="p">,</span><span class="w">
        </span><span class="s2">"autonomy"</span><span class="p">:</span><span class="w"> </span><span class="mi">0</span><span class="p">,</span><span class="w">
        </span><span class="s2">"residual"</span><span class="p">:</span><span class="w"> </span><span class="mi">0</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="p">{</span><span class="w">
        </span><span class="s2">"type"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Fuel"</span><span class="p">,</span><span class="w">
        </span><span class="s2">"level"</span><span class="p">:</span><span class="w"> </span><span class="mi">0</span><span class="p">,</span><span class="w">
        </span><span class="s2">"residual"</span><span class="p">:</span><span class="w"> </span><span class="mi">0</span><span class="w">
      </span><span class="p">}</span><span class="w">
    </span><span class="p">],</span><span class="w">
    </span><span class="s2">"createdAt"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Wed Sep 25 15:40:46 GMT 2019"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"autonomy"</span><span class="p">:</span><span class="w"> </span><span class="mi">2000</span><span class="p">,</span><span class="w">
    </span><span class="s2">"ignition"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="s2">"createdAt"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Wed Sep 25 15:40:46 GMT 2019"</span><span class="w">
    </span><span class="p">},</span><span class="w">
    </span><span class="s2">"vin"</span><span class="p">:</span><span class="w"> </span><span class="s2">"VF3A12BCDEF3456"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"privacy"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="s2">"createdAt"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Wed Sep 25 15:40:46 GMT 2019"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"state"</span><span class="p">:</span><span class="w"> </span><span class="s2">"None"</span><span class="w">
    </span><span class="p">},</span><span class="w">
    </span><span class="s2">"battery"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="s2">"voltage"</span><span class="p">:</span><span class="w"> </span><span class="mf">0.55</span><span class="p">,</span><span class="w">
      </span><span class="s2">"current"</span><span class="p">:</span><span class="w"> </span><span class="mf">0.55</span><span class="p">,</span><span class="w">
      </span><span class="s2">"createdAt"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Wed Sep 25 15:40:46 GMT 2019"</span><span class="w">
    </span><span class="p">},</span><span class="w">
    </span><span class="s2">"kinetic"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="s2">"createdAt"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Wed Sep 25 15:40:46 GMT 2019"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"acceleration"</span><span class="p">:</span><span class="w"> </span><span class="mf">0.55</span><span class="p">,</span><span class="w">
      </span><span class="s2">"speed"</span><span class="p">:</span><span class="w"> </span><span class="mf">0.55</span><span class="p">,</span><span class="w">
      </span><span class="s2">"pace"</span><span class="p">:</span><span class="w"> </span><span class="mf">0.55</span><span class="p">,</span><span class="w">
      </span><span class="s2">"moving"</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="w">
    </span><span class="p">},</span><span class="w">
    </span><span class="s2">"_links"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">{% if page.subsection == "b2b" %}
      </span><span class="s2">"fleet"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="s2">"href"</span><span class="p">:</span><span class="w"> </span><span class="s2">"{{site.webapiB2B}}/{fid}"</span><span class="w">
      </span><span class="p">},</span><span class="w">{% endif %}
      </span><span class="s2">"self"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="s2">"href"</span><span class="p">:</span><span class="w"> </span><span class="s2">"{% if page.subsection == "b2b"%}{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}/status{% elsif page.subsection == "b2c" %}{{site.webapiB2C}}/user/vehicles/{id}/status{% endif %}"</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="s2">"vehicles"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="s2">"href"</span><span class="p">:</span><span class="w"> </span><span class="s2">"{% if page.subsection == "b2b" %}{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}{% elsif page.subsection == "b2c" %}{{site.webapiB2C}}/user/vehicles/{id}{% endif %}"</span><span class="w">
      </span><span class="p">}</span><span class="w">
    </span><span class="p">}</span><span class="w">
  </span><span class="p">}</span><span class="w"></span></code>
</pre>
<!-- vehicleId payload -->
<pre class="highlight" id="vehicleIdPayload" style="display: none;"><code><span class="p">GET {% if page.subsection == "b2b" %}{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}{% elsif page.subsection  == "b2c" %}{{site.webapiB2C}}/user/vehicles/{id}{% endif %}</span>
 
  <span class="p">{</span><span class="w">
    </span><span class="s2">"id"</span><span class="p">:</span><span class="w"> </span><span class="s2">"XA143Z2"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"vin"</span><span class="p">:</span><span class="w"> </span><span class="s2">"VR3ATTENTJY186916"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"brand"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Peugeot"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"label"</span><span class="p">:</span><span class="w"> </span><span class="s2">"406 1.9 TD90 SL Clim"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"pictures"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
      </span><span class="s2">"https://groupe-psa.com/508/view1"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"https://groupe-psa.com/508/view2"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"https://groupe-psa.com/508/view3"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"https://groupe-psa.com/508/view4"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"https://groupe-psa.com/508/view5"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"https://groupe-psa.com/508/view6"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"https://groupe-psa.com/508/view7"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"https://groupe-psa.com/508/view8"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"https://groupe-psa.com/508/view9"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"https://groupe-psa.com/508/view10"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"https://groupe-psa.com/508/view11"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"https://groupe-psa.com/508/view12"</span><span class="w">
    </span><span class="p">],</span><span class="w">
    </span><span class="s2">"_links"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="s2">"self"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="s2">"href"</span><span class="p">:</span><span class="w"> </span><span class="s2">"{% if page.subsection == "b2b" %}{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}"{% elsif page.subsection == "b2c" %}{{site.webapiB2C}}/user/vehicles/{id}"{% endif %}</span><span class="w">
      </span><span class="s2">"alerts"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="s2">"trips"</span><span class="p">:</span><span class="w"> </span><span class="s2">"{% if page.subsection == "b2b" %}{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}/trips"{% elsif page.subsection == "b2c" %}{{site.webapiB2C}}/user/vehicles/{id}/trips"{% endif %}</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="s2">"lastPosition"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="s2">"href"</span><span class="p">:</span><span class="w"> </span><span class="s2">"{% if page.subsection == "b2b" %}{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}/lastPosition"{% elsif page.subsection == "b2c" %}{{site.webapiB2C}}/user/vehicles/{id}/lastPosition"{% endif %}</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="s2">"telemetry"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="s2">"href"</span><span class="p">:</span><span class="w"> </span><span class="s2">"{% if page.subsection == "b2b" %}{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}/telemetry"{% elsif page.subsection == "b2c" %}{{site.webapiB2C}}/user/vehicles/{id}/telemetry"{% endif %}</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="s2">"maitenance"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="s2">"href"</span><span class="p">:</span><span class="w"> </span><span class="s2">"{% if page.subsection == "b2b" %}{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}/maintenance"{% elsif page.subsection == "b2c" %}{{site.webapiB2C}}/user/vehicles/{id}/maintenance"{% endif %}</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="s2">"status"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
        </span><span class="s2">"href"</span><span class="p">:</span><span class="w"> </span><span class="s2">"{% if page.subsection == "b2b" %}{{site.webapiB2B}}/fleets/{fid}/vehicles/{id}/status"{% elsif page.subsection == "b2c" %}{{site.webapiB2C}}/user/vehicles/{id}/status"{% endif %}</span><span class="w">
      </span><span class="p">}</span><span class="w">
    </span><span class="p">}</span><span class="w">
  </span><span class="p">}</span><span class="w"></span></code>
</pre>
<!-- /vehicleId payload -->
      </div>
    </div>
  </article>
  </div>
</div>
<!-- read the doc -->
<div class="field is-centered is-grouped">
  <p class="control">
    {% if page.subsection == 'b2b' %}
    <a href="{{site.baseurl}}/webapi/b2b/overview/about/" class="button is-psablue is-large">
    {% elsif page.subsection == "b2c" %}
    <a href="{{site.baseurl}}/webapi/b2c/overview/about/" class="button is-psablue is-large">
      {% endif %}
      <span class="icon is-large is-white is-hidden-mobile">
          <i class="fas fa-book"></i>
      </span>
      <span>
          Read the doc
      </span>
    </a>
  </p>
</div>

  
</div> 

<!-- /read the doc -->
