{% if page.section == "webapi" and page.subsection == "b2b" %}
<div class="notification page-disclaimer">
  <strong>Note:</strong> Groupe PSA's Fleet Owner API are made for PSA business partners owning fleet of vehicles.
  If you are looking for end-user API please look at <a href="{{ site.baseurl }}/webapi/b2c/overview/about/">this</a>.
</div>
{% elsif page.section == "webapi" and page.subsection == "b2c" %}
<div class="notification page-disclaimer">
  <strong>Info:</strong> Groupe PSA's End User API has not yet been published publicly yet. This documentation is available to facilitate your work before its publication.
  If you are looking for fleet-owner API please look at <a href="{{ site.baseurl }}/webapi/b2b/overview/about/">this</a>.
</div>
{% endif %}