{% if page.section == "webapi" and page.subsection == "b2b" %}
<div class="notification page-disclaimer">
  <strong>Note:</strong> Stellantis Fleet Owner API for ex Groupe PSA brands (Citroën, DS, Peugeot, Opel and Vauxhall) are made for business partners owning fleet of vehicles.
  If you are looking for end-user API please look at <a href="{{ site.baseurl }}/webapi/b2c/overview/about/">this</a>.
</div>
{% elsif page.section == "webapi" and page.subsection == "b2c" %}
<div class="notification page-disclaimer">
  <strong>Info:</strong> Stellantis End User API for ex Groupe PSA brands (Citroën, DS, Peugeot, Opel and Vauxhall) has not yet been published publicly yet. This documentation is available to facilitate your work before its publication.
  If you are looking for fleet-owner API please look at <a href="{{ site.baseurl }}/webapi/b2b/overview/about/">this</a>.
</div>
{% elsif page.section == "mobile-sdk" %}
<div class="notification page-disclaimer">
  <strong>Info:</strong> Stellantis Mobile SDK for ex Groupe PSA brands (Citroën, DS, Peugeot, Opel and Vauxhall) <strong>is not publicly available</strong> for now.
</div>
{% endif %}