---
layout: doc-article
---

{{content}}

{%- capture sdk_name -%}
{{page.section}}{{page.subsection}}
{%- endcapture -%}

{%- capture spec_source_file -%}
{{page.section}}-v{{page.version|slugify}}
{%- endcapture -%}

{% assign spec_source = site.data[spec_source_file] %}

{% assign components = spec_source.components %}
{% assign apis = spec_source.apis %}
{% assign domains = components | map: 'domain' | join: ','  | split: ',' | uniq | sort %}

{% if page.section == "webportal" and page.subsection == "v1" %}
{% assign buttonsTypes = "api event" | split: " " %}
{% else %}
{% assign buttonsTypes = "get set subscribe function" | split: " " %}
{% endif %}

{% assign sdkChangelog = sdk_name | append: "-changelog" %}
{% assign references = site.data[sdkChangelog] %}



{%- comment -%} CHANGELOG LINK {%- endcomment -%}
<a 
  class="notification-link" 
  href="
    {{site.baseurl}}
    {%- include api-reference-toolkit-v2.html type="refCategoryUrl" -%}
    changelog/#article"
>
  <div class="notification page-disclaimer" style="display: flex; justify-content: space-between">
    <p>
      <strong>Changelog:</strong>
        history and versioning of {{page.section | replace: "-", " " | capitalize}}{% if page.subsection %}&nbsp;{{page.subsection}}{% endif %}.
    </p>
    <span class="icon is-white">
      <i class="fas fa-external-link-square-alt"></i>
    </span>
  </div>
</a>

{%- comment -%} VERSION LIST {%- endcomment -%}
<div class="notification page-disclaimer notification-version">
  <div>
    <p>
      <strong>SDK Versions:</strong>

      <ul>
      {% if reference_collection %}
      {% for v in site[reference_collection] %}
        <li><strong>
          {% if page.name == v.name %}
            {{v.name|replace: "-", "."}}
          {% else %} 
            <a href="{{site.baseurl}}{{v.url}}#article">
              {{v.name|replace: "-", "."}}
            </a>
          {% endif %}
            
        </li></strong>
      {% endfor %}

      {% elsif references %}
      {% for v in references %}
        <li><strong>
          {% if page.version == v.version %}
            v{{v.version}}
          {% else %} 
            <a href="{{site.baseurl}}/{{page.section}}{% if page.subsection %}/{{page.subsection}}{% endif %}/references/v{{v.version|slugify}}/#article">
              v{{v.version}}
            </a>
          {% endif %}
            
        </li></strong>
      {% endfor %}
      {% endif %}
      </ul>
    </p>

  </div>
</div>

{%- comment -%} DOMAINS/COMPONENTS {%- endcomment -%}
<div class="list-table-container">
  <table class="list-table">
    <thead class="list-table-head">
      <tr>
        <th>Domain</th>
        <th>Component</th>
      </tr>
    </thead>
    
  {% for domain in domains %}
    {% assign domainFilteredComponents = components | where: 'domain', domain %}
    <tr>
      <td><a class="list-table-domain" href="#{{domain|slugify}}">{{domain}}</a></td>
      <td>
        
      {% for component in domainFilteredComponents %}
        <a 
          class="list-table-component" 
          href="#
            {%- include api-reference-toolkit-v2.html
              type="componentAnchor"
              component=component
            -%}"
        >
          {{component.icon}}&nbsp;
          {%- include api-reference-toolkit-v2.html
            type="componentName"
            component=component
          -%}
        </a>
        {% if component.lastUpdate == page.version %}
          <em class="ava-tag">
          {% if component.lastUpdate == component.firstAvailability %} New 
          {% elsif component.lastUpdate != component.firstAvailability %} Updated 
          {% endif %}</em>
        {% endif %}
        <br>
      {% endfor %}
      </td>
    </tr>
  {% endfor %}
  
  </table>
</div>



{%- comment -%} API LIST {%- endcomment -%}
{% for domain in domains %}

<div class="reference-domain">

  <div class="is-flex is-justify-content-center">
    <a 
      class="reference-domain-name"
      href="#{{domain|slugify}}"
      id="{{domain|slugify}}"
    >
      {{domain}}
    </a>
  </div>

  <div class="apis">
  
  {% assign domainFilteredComponents = components | where: 'domain', domain %}
  {% for component in domainFilteredComponents %}
    <div class="api api-title">
      <div class="api-header">
        <a 
          class="api-name"
          id="
            {%- include api-reference-toolkit-v2.html
              type="componentAnchor"
              component=component
            -%}"
          href="#
            {%- include api-reference-toolkit-v2.html
              type="componentAnchor"
              component=component
            -%}"
        >

          <div class="domain-component-name">
            {{component.icon}}
            &nbsp;
            {% include api-reference-toolkit-v2.html
              type="componentName"
              component=component
             %}
          </div>
          
        </a>
        {% assign tutorials = site.data.mobile-sdk-components-tutorials | where: "tag", component.tag %}
        {% for tutorial in tutorials %}
        {% if tutorial.tutorial %}
        <a 
          href="{{site.baseurl}}{{tutorial.tutorial}}#article"
          class="domain-component-tutorial">
          Tutorial
          <span class="icon">
            <i class="fas fa-external-link-alt"></i>
          </span>
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    {% for api in apis %}
    {% if api.component.tag == component.tag %}
    <div class="api">
      {% capture apiVerbs %}
      <div class="api-types api-types{% if sdk_name == "webportalv2" %}-full{% else %}-min{% endif %}">
        {% for buttonType in buttonsTypes %}
        <{% if sdk_name == "webportalv2" %}a{% else %}div{% endif %}
          {% if apiType == buttonType %}
          href="{{site.baseurl}}/{{page.section}}/references/{{page.name}}/{{api.component.tag|slugify}}-{{api.type|slugify}}-{{api.tag|slugify}}.html#{{buttonType}}"
          {% endif %}
          class="
            {{"api-type" | append: " "}} 
            {%- if api.type contains buttonType -%} api-verb-{{buttonType}} 
            {%- else -%} api-verb-unavailable {%- endif -%}
          "
        >
          <span class="api-type-text">
            {% if buttonType == "api" %}
            Method
            {% else %}
            {{buttonType|capitalize}}
            {% endif %}
          </span>
        </{% if sdk_name == "webportalv2" %}a{% else %}div{% endif %}>
        {% endfor %}
      </div>
      {% endcapture %}
      
      {%- comment -%} API HEADER {%- endcomment -%}
      <div 
        class="api-header {% if sdk_name == "mobile-sdk" or sdk_name == "web-sdk" %}api-header-min{% endif %}"
      >
      
        <a
          class="api-name {% if sdk_name == "mobile-sdk" or "web-sdk" %}api-name-min{% endif %}"
          href="{{site.baseurl}}{%- include api-reference-toolkit-v2.html type="apiUrl" api=page version=page.version -%}/#article"
        >
        
            {%- comment -%} VERBS {%- endcomment -%}
            {% unless sdk_name == "webportalv2" %}
            {{apiVerbs}}
            {% endunless %}
            {%- comment -%} END VERBS {%- endcomment -%}

            <div class="api-name-subname">
              {{api.apiName}}
              <div class="api-subname">
                {% if api.subname %}<em>&nbsp;-&nbsp;{{api.subname}}</em>{% endif %}
              </div>
            </div>
        </a>


      <div class="api-available">
          
        {%- comment -%} REQUIREMENT {%- endcomment -%}

        {%- comment -%} VERSION {%- endcomment -%}
        {% if api.lastUpdate == page.version %}
        <div
          class="api-requirement"
          title="{% if api.firstAvailability == api.lastUpdate %} New
                 {% elsif api.firstAvailability != api.lastUpdate %} Updated
                 {% endif %} </em> in {{page.version}}."
        >
          <em class="ava-tag">
            {% if api.firstAvailability == api.lastUpdate %} New
            {% elsif api.firstAvailability != api.lastUpdate %} Updated
            {% endif %}
          </em>
        </div>
        {% endif %}

        {%- comment -%} END PRIVACY {%- endcomment -%}

        {%- comment -%} PRIVACY {%- endcomment -%}
        {% if sdk_name == "webportalv2" %}
          <div
            class="api-requirement"
          >
            {% if api.availability == "sdkOnly" %}
            <span 
              title="Only available in SDK" 
              class="icon is-white"
              style="margin-right: 1rem"
              >
              <i class="fas fa-exclamation-circle"></i>
            </span>
            {% endif %}
            {% if api.privacy == "Full Private" %}
            <span title="Geolocation & Data are required" class="icon is-white">
              <i class="fas fa-long-arrow-alt-down"></i>
              <i class="fas fa-long-arrow-alt-up"></i>
            </span>
            <span title="Geolocation & Data are required" class="icon is-white">
              <i class="fas fa-map-marker-alt"></i>
            </span>
            {% elsif api.privacy == "Geolocation Private" %}
            <span title="Geolocation is required" class="icon is-white">
              <i class="fas fa-map-marker-alt"></i>
            </span>
            {% elsif api.privacy == "Public" %}
            <span title="No requirements!" class="icon is-white">
              <i class="fas fa-lock-open"></i>
            </span>
            {% endif %}
          </div>
          {% endif %}
          {% if sdk_name == "webportalv1" and api.type == "api" %}
          <div
          class="api-requirement"
          >
          {% if api.privacy == "Geoloc" %}
          <span title="Geolocation is required" class="icon is-white">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          {% elsif api.privacy == "Public" %}
          <span title="No requirements!" class="icon is-white">
            <i class="fas fa-lock-open"></i>
          </span>
          {% else %}
          <span title="Geolocation & Data are required" class="icon is-white">
            <i class="fas fa-long-arrow-alt-down"></i>
            <i class="fas fa-long-arrow-alt-up"></i>
          </span>
          <span title="Geolocation & Data are required" class="icon is-white">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          {% endif %}
        </div>
        {% endif %}

        {%- comment -%} END PRIVACY {%- endcomment -%}

        {%- comment -%} DEPRECATION {%- endcomment -%}
        {% if api.deprecated == true %}
        <div
          class="api-requirement"
          title="Deprecated"
        >
          <em>Deprecated</em>
        </div>
        {% endif %}


        {%- comment -%} END REQUIREMENT {%- endcomment -%}

          {%- comment -%} VERBS {%- endcomment -%}
          {% if sdk_name == "webportalv2" %}
          {{apiVerbs}}
          {% endif %}
          {%- comment -%} END VERBS {%- endcomment -%}

        </div>
      </div>
    </div>
    {%endif%}
    {% endfor %}

  {% endfor %}
  </div>

</div>

{% endfor %}