---
layout: doc-article
---

{%- comment -%} API {%- endcomment -%}
<div class="api">


  {%- comment -%} API HEADER {%- endcomment -%}
  <div
    class="api-header"
  >

    <div class="api-available">
      
      {%- comment -%} COMPONENT {%- endcomment -%}
      {%- if page.component -%}
        <div class="api-component api-general-block">
          <span class="api-header-title">Component: </span>
            <a href="
                {{site.baseurl}}  
                {%- include 
                  api-reference-toolkit-v2.html 
                  type="listUrl" 
                  version=page.sdkInfo.version 
                -%}
                /#
                {%- include 
                  api-reference-toolkit-v2.html 
                  type="componentAnchor"
                  component=page.component 
                -%}"
            >
              {{page.component.icon}}
              &nbsp;
              {%- include 
                api-reference-toolkit-v2.html 
                type="componentName"
                component=page.component 
              -%}
            </a> 
        </div>
      {% endif %}
      {%- comment -%} END COMPONENT {%- endcomment -%}

      {%- comment -%} TUTORIAL {%- endcomment -%}
      {% assign tutorials = site.data.mobile-sdk-components-tutorials | where: "tag", page.component.tag %}
      {% for tutorial in tutorials %}
      {%- if page.component.tag and tutorial.tutorial -%}
      <div class="api-component api-general-block">
        <span class="api-header-title">Tutorial: </span>
          <span>
            check-out 
            <a href="{{site.baseurl}}{{tutorial.tutorial}}#article">
              {{page.component.name}}.
            </a> 
          </span>
      </div>
      {% endif %}
      {% endfor %}

      {%- comment -%} OUTPUT (pub/private) {%- endcomment -%}

      {%- comment -%} AVAILABILITY (sdk/internal/proxi/noproxi) {%- endcomment -%}
    
      {%- comment -%} PRIVACY {%- endcomment -%}


      {%- comment -%} PREREQUISITES {%- endcomment -%}

      {%- comment -%} CURRENT VERSION {%- endcomment -%}
      {% if page.sdkInfo.version %}
      <div class="api-availability api-general-block">
        <span class="api-header-title">SDK Version: </span>
        <span>v{{page.sdkInfo.version}}</span>
      </div>
      {% endif %}

      {%- comment -%} FIRST VERSION {%- endcomment -%}
      {% if page.firstAvailability %}
      <div class="api-availability api-general-block">
        <span class="api-header-title">API Available since: </span>
        <span>v{{page.firstAvailability}}</span>
      </div>
      {% endif %}
      {%- comment -%} END VERSION {%- endcomment -%}

      {%- comment -%} LAST UPDATE {%- endcomment -%}
      {% if page.lastUpdate %}
      <div class="api-availability api-general-block">
        <span class="api-header-title">API Last update: </span>
        <span>v{{page.lastUpdate}}</span>
        {% if page.lastUpdate == page.sdkInfo.version %}
          <span class="tag is-warning">
          {% if page.firstAvailability == page.lastUpdate %}New 
          {% elsif page.firstAvailability != page.lastUpdate %}Updated
          {% endif %}
          API! </span>
        {% endif %}
          
      </div>
      {% endif %}
      {%- comment -%} END UPDATE {%- endcomment -%}

      {%- comment -%} COMPATIBILITY {%- endcomment -%}
      {% if page.component.compatibilities %}
      <div class="api-component api-general-block">
        <span class="api-header-title">Plateforme Compatibility: </span>
        {%- for compa in page.component.compatibilities -%}
          {{compa | append: " "}}
        {% endfor %}
      </div>
      {% endif %}
      {%- comment -%} END COMPATIBILITY {%- endcomment -%}

      {%- comment -%} SECURITY {%- endcomment -%}
      {%- if page.component.securities and page.component.securities != "none" -%}
        <div class="api-component api-general-block">
          <span class="api-header-title">Security: </span>
          <ul>
          {% for security in page.component.securities %}
            <li>{{security.name}}: {{security.description}}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      {%- comment -%} END SECURITY {%- endcomment -%}

      {%- comment -%} API TYPES {%- endcomment -%}
      {% if page.type %}
      <div class="api-operations api-general-block">
        <span class="api-header-title"> Operation{% if page.type.size > 1 %}s{% endif %}:</span>
        <div class="api-types">
          <ul>
            {% assign buttonsTypes = "get set subscribe" | split: " " %}
            {% for buttonType in buttonsTypes %}
              {% if page.type contains buttonType %}
              <li>
                <a href="#{{buttonType}}">
                  <span class="icon">
                    <i class="fas fa-link"></i>
                  </span>
                  {{buttonType | upcase}}
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      {%- comment -%} END API TYPES {%- endcomment -%}
      
    </div>
  </div>
  {%- comment -%} END API HEADER {%- endcomment -%}
  {% for t in page.type %}

    {%- comment -%} ------ ASSIGN DATAs & PARAMs ------ {%- endcomment -%}
    {% if t contains "get" %}

    {% if    page.dataget %} {% assign datas = page.dataget %}
    {% elsif page.output %}    {% assign datas = page.output %}
    {% else %}              {% assign datas = null %} {% endif %}

    {% if    page.paramsget %} {% assign params = page.paramsget %}
    {% elsif page.parameters %}    {% assign params = page.parameters %}
    {% else %}                {% assign params = null %} {% endif %}

    {% if    page.errorget %} {% assign errors = page.errorget %}
    {% elsif page.errors %}    {% assign errors = page.errors %}
    {% else %}               {% assign errors = null %} {% endif %}

    {% if    page.paramsget_example %} {% assign params_example = page.paramsget_example %}
    {% elsif page.params_example %}    {% assign params_example = page.params_example %}
    {% else %}                        {% assign params_example = null %} {% endif %}

    {% if page.dataget_example %} {% assign data_example = page.dataget_example %}
    {% elsif page.data_example %} {% assign data_example = page.data_example %}
    {% else %}                   {% assign data_example = null %} {% endif %}
    
    {% if page.componentget %} {% assign component = page.componentget %}
    {% elsif page.component %} {% assign component = page.component %}
    {% else %}                   {% assign component = null %} {% endif %}
    


    {% elsif t contains "set" %}

    {% if    page.dataset %} {% assign datas = page.dataset %}
    {% elsif page.output %}    {% assign datas = page.output %}
    {% else %}              {% assign datas = null %} {% endif %}

    {% if    page.paramsset %} {% assign params = page.paramsset %}
    {% elsif page.parameters %}    {% assign params = page.parameters %}
    {% else %}                {% assign params = null %} {% endif %}

    {% if    page.errorset %} {% assign errors = page.errorset %}
    {% elsif page.errors %}    {% assign errors = page.errors %}
    {% else %}               {% assign errors = null %} {% endif %}

    {% if    page.paramsset_example %} {% assign params_example = page.paramsset_example %}
    {% elsif page.params_example %}    {% assign params_example = page.params_example %}
    {% else %}                        {% assign params_example = null %} {% endif %}
    
    {% if    page.dataset_example %} {% assign data_example = page.dataset_example %}
    {% elsif page.data_example %}    {% assign data_example = page.data_example %}
    {% else %}                      {% assign data_example = null %} {% endif %}

    {% if page.componentset %} {% assign component = page.componentset %}
    {% elsif page.component %} {% assign component = page.component %}
    {% else %}                {% assign component = null %} {% endif %}

    {% elsif t contains "subscribe" %}

    {% if    page.datasubscribe %} {% assign datas = page.datasubscribe %}
    {% elsif page.output %}          {% assign datas = page.output %}
    {% else %}                    {% assign datas = null %} {% endif %}

    {% if    page.paramssubscribe %} {% assign params = page.paramssubscribe %}
    {% elsif page.parameters %}          {% assign params = page.parameters %}
    {% else %}                      {% assign params = null %} {% endif %}
    
    {% if page.errorsubscribe %} {% assign errors = page.errorsubscribe %}
    {% elsif page.errors %}       {% assign errors = page.errors %}
    {% else %}                  {% assign errors = null %} {% endif %}
    
    {% if    page.paramssubscribe_example %} {% assign params_example = page.paramssubscribe_example %}
    {% elsif page.params_example %}          {% assign params_example = page.params_example %}
    {% else %}                              {% assign params_example = null %} {% endif %}
    
    {% if    page.datasubscribe_example %} {% assign data_example = page.datasubscribe_example %}
    {% elsif page.data_example %}          {% assign data_example = page.data_example %}
    {% else %}                      {% assign data_example = null %} {% endif %} 
    
    {% if page.componentsubscribe %} {% assign component = page.componentsubscribe %}
    {% elsif page.component %}       {% assign component = page.component %}
    {% else %}                      {% assign component = null %} {% endif %} {% endif %}
    {%- comment -%}  END ASSIGN DATAs   {%- endcomment -%}

  <div 
    class="api-content-container api-content-container-{{t | downcase }}"
  >
    <div class="api-content">
      
      {%- comment -%} API CONTENT HEADER {%- endcomment -%}
      <div 
        class="api-content-header"
        id="{{t|downcase}}"
      >
        
        <a 
          class="api-content-name"
          href="#{{t|downcase}}"
        >
            <div
              class="api-content-tag"
            >
              {{t|upcase}}
      </div>
            {{page.apiName }}{% if page.subname %}<em> - {{page.subname}}</em>{% endif %}
          </a>
        
          <div class="api-type-edit-buttons is-flex is-justify-content-center is-align-items-baseline">
            
            <a href="{{site.gitHubURL}}{{page.path}}"
              class="button edit-page icon-button is-outlined is-pulled-right is-small"
              target="_blank"
              title="Edit this page on GitHub">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span class="edit-page-text">
                Edit
              </span>
            </a>
          
          </div>

        </div>

        {%- comment -%} API DESCRIPTION {%- endcomment -%}
        <div class="api-text">
          {% if page.description %}
          <div class="api-short">{{page.description | markdownify}}</div>
          {% endif %}
          {% if t contains "get" %}
          {% if page.textget %}
          <div class="api-short">{{page.textget | markdownify}}</div>
          {% endif %}
          {% elsif t contains "set" %}
          {% if page.textset %}
          <div class="api-short">{{page.textset | markdownify}}</div>
          {% endif %}
          {% elsif t contains "subscribe" %}
          {% if page.textsubscribe %}
          <div class="api-short">{{page.textsubscribe | markdownify}}</div>
          {% endif %}
          {% endif %}
          {%- comment -%} END API DESCRIPTION {%- endcomment -%}
          
        </div>


        {%- comment -%}  API CONTENT TABLE   {%- endcomment -%}
        <div class="api-table">
          <table>
            
            {%- comment -%}  API CONTENT TABLE PARAMS  {%- endcomment -%}
            <thead>
              <tr><th colspan="6" class="api-table-header api-params">Input Parameter</th></tr>
              {% if params == null or params == "none" %}
            </thead>
            <tbody>
              <tr>
                <td colspan="6">
                  <em>No input params</em>
                </td>
              </tr>
              {% else %}
              <tr class="api-col-title">
                <th>
                  Param name
                </th>
                <th>
                  Description
                </th>
                <th>
                  Type
                </th>
                <th>
                  Unit/Values
                </th>
                <th>
                  Example
                </th>
                <th>
                  Required
                </th>
              </tr>
            </thead>
            <tbody>
              {% for p in params %}
              {% include api-reference-table-row.html
                rowType="param"
                ref=p.ref
                name=p.name
                description=p.description
                type=p.type
                unit-value=p.unitOrValue
                example=p.example
                required=p.required
                fields=p.fields
                sdk_name=page.section
                %}
                {% endfor %}
                {% endif %}
              </tbody>
              {%- comment -%}  END API CONTENT TABLE PARAMs  {%- endcomment -%}
            </table>
        </div>
        <div class="api-table">
            <table>
              {%- comment -%}   API CONTENT TABLE DATAs  {%- endcomment -%}
              <thead>
                <tr><th colspan="5" class="api-table-header api-data">Output Data</th></tr>
                {% if datas == null or datas == "none" %}
              </thead>
              <tbody>
                <tr>
                  <td colspan="5">
                    <em>No outputted data</em>
                  </td>
                </tr>
                {% else %}
                <tr class="api-col-title">
                  <th>
                    Data name
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Type
                  </th>
                  <th>
                    Unit/Values
                  </th>
                  <th>
                    Example
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for d in datas %}
                {% include api-reference-table-row.html
                  rowType="data"
                  ref=d.ref
                  name=d.name
                  description=d.description
                  type=d.type
                  unit-value=d.unitOrValue
                  example=d.example
                  fields=d.fields
                  sdk_name=page.section
                  %}
                  {% endfor %}
                  
                  {% endif %}
                </tbody>
                {%- comment -%}  END API CONTENT TABLE DATAs  {%- endcomment -%}
              </table>
            </div>
            {%- comment -%} END API CONTENT TABLE   {%- endcomment -%}
            
            {%- comment -%} TABLE ERROR (MOBILE-SDK) {%- endcomment -%}
            {% if page.section == "mobile-sdk" or page.section == "web-sdk" %}
            <div class="api-table api-table-error">
              <table>
                <thead>
                  <tr><th colspan="3" class="api-table-header api-data">Error</th></tr>
                  {%- if errors == null or errors == "none" -%}
                </thead>
                <tbody>
                  <tr>
                    <td colspan="3">
                      <em>No errors</em>
                    </td>
                  </tr>
                  {%- else -%}
                  <tr class="api-col-title">                    
                    <th>
                      Code
                    </th>
                    <th>
                      Type
                    </th>
                    <th>
                      Message
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {%- for error in errors -%}
                  <tr>
                    <td><strong>{{error.code}}</strong></td>
                    <td>
                      {{error.type}}
                    </td>
                    <td>{{error.message | markdownify}}</td>
                  </tr>
                  {%- endfor -%}
                  {%- endif -%}
                </tbody>
                {%- comment -%} END TABLE ERROR (MOBILE-SDK) {%- endcomment -%}
              </table>
            </div>
            {% endif %}
            {%- comment -%}  END API CONTENT TABLE   {%- endcomment -%}

{%- comment -%}  API CONTENT CODE EXAMPLE   {%- endcomment -%}
{%- comment -%}  **WARNING:** CODE EXAMPLE should not be indented to avoid issues w/ markdown {%- endcomment -%}




{% include api-reference-code-sample.html
  sample_type="ref"
  sdk_name=page.section
  type=t
  name=page.apiName
  subname=page.subname
  
  params=params
  datas=datas
  params_example=params_example
  data_example=data_example
  errors=errors
%}


{%- comment -%} END API CONTENT CODE EXAMPLE   {%- endcomment -%}

  </div>
  </div>

  {% endfor %} {%- comment -%} end for types {%- endcomment -%}

  <div class="api-related">
    {% include api-reference-related-apis-v2.html  %}
  </div>

</div>

{%- comment -%} END API {%- endcomment -%}