---
layout: doc-article
---
{% assign sdk_name = page.section | append: page.subsection %}

{%- comment -%} API {%- endcomment -%}
<div class="api">

  {% if page.section == "webportal" and page.subsection == "v1" %}
  {%- comment -%} ------------------------------- {%- endcomment -%}
  {%- comment -%} -------- NAC REFERENCE -------- {%- endcomment -%}
  {%- comment -%} ------------------------------- {%- endcomment -%}
    <div class="api-title">
      {% assign id = page.name | replace: '.', '-' | remove: '()' %}
      <h2 id="{{page.type}}-{{id}}">{{ page.name }}</h2>
    </div>
    
    <div class="field is-grouped is-grouped-multiline">

    {% if page.type == "api" or page.type == "event" %}
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-dark">Type</span>
          <span class="tag is-success">
            {% if page.type == "api" %}Method
            {% elsif page.type == "event" %}Event
            {% endif %}
          </span>
        </div>
      </div>
    {% endif %}
  

      {% if page.type == "api" %}
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">Min Privacy</span>
            <span class="tag is-link">
                {% if page.privacy %}
                    {{ page.privacy }}
                {% else %}
                    Full
                {% endif %}
            </span>
          </div>
        </div>
      {% endif %}


      {% if page.deprecated == true %}
      <div class="control">
        <div class="tags has-addons" title="This API should not be used in a new project.">
          <span class="tag is-dark">Type</span>
          <span class="tag is-danger">
            Deprecated
          </span>
        </div>
      </div>
      {% endif %}


      {% for wave in page.supported %}
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-dark">wave</span>
              <span class="tag is-info">{{ wave }}</span>
            </div>
          </div>
      {% endfor %}
    
    </div>
    <p>
      {{ page.content | markdownify }}
    </p>
    {% if page.deprecated %}<em>This {%if page.type == "api"%}method{%elsif type == "event"%}event{%endif%} is <strong>deprecated</strong>, it should not be used in a new project.</em>{% endif %}
  {%- comment -%} ------------------------------- {%- endcomment -%}
  {%- comment -%} ------ END NAC REFERENCE ------ {%- endcomment -%}
  {%- comment -%} ------------------------------- {%- endcomment -%}
  {% else %}


  {%- comment -%} API HEADER {%- endcomment -%}
  <div
    class="api-header"
  >

    <div class="api-available">
      
      
      {%- comment -%} OUTPUT {%- endcomment -%}
      {% if page.url contains "private" %}
      <div class="api-availability api-general-block">
        <span class="privacy-name">
          This is the <strong>private</strong> version of this API, check out 
          <a href="{{site.baseurl}}{{page.url | replace: "/api-reference/private/", "/api-reference/"}}#article">
            public version.
          </a>
        </span>
      </div>
      {% endif %}

      {%- comment -%} AVAILABILITY {%- endcomment -%}
      {% if page.availability %}
      <div class="api-availability api-general-block">
        <span class="api-header-title">Availability:</span>
        <span class="privacy-name">
        {% if page.availability == "sdkOnly" %}
            SDK only. 
        {% elsif page.availability == "notAvailable" %}
            internal use only.
        {% elsif page.availability == "available" and page.proxification %}
            internal & external use (with proxification).
        {% elsif page.availability == "available" %}
            internal & external use (no proxification).
        {% endif %}
        </span>
      </div>
      {% endif %}
    
      {%- comment -%} PRIVACY {%- endcomment -%}
      {% if sdk_name == "webportalv2" and page.privacy %}
      <div class="api-privacy-container api-general-block">
        <span class="privacy-name">
          <span class="api-header-title"> Required Privacy:</span>
        </span>
        <a class="api-privacy" href="{{site.baseurl}}/webportal/v2/application/privacy/#article">
          {% if page.privacy == "Full Private" %}
          <span class="icon is-white">
            <i class="fas fa-long-arrow-alt-down"></i>
            <i class="fas fa-long-arrow-alt-up"></i>
          </span>
          <span class="privacy-name">
            Data &
          </span>
          <span class="icon is-white">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          <span class="privacy-name">
            Location
          </span>
          {% elsif page.privacy == "Geolocation Private" %}
          <span class="icon is-white">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          <span class="privacy-name">
            Location
          </span>
          {% elsif page.privacy == "Public" %}
          <span class="privacy-name">
          <span class="icon is-white">
            <i class="fas fa-lock-open"></i>
          </span>
            Always available
          </span>
          {% endif %}
        </a>
      </div>
      {% endif %}
      {%- comment -%} END PRIVACY {%- endcomment -%}

      

      {%- comment -%} VERSION {%- endcomment -%}
      {% if page.version %}
      <div class="api-availability api-general-block">
        <span class="api-header-title">Available since: </span>
        <span>v{{page.version.available-since}}</span>
      </div>
      {% endif %}
      {%- comment -%} END VERSION {%- endcomment -%}

      {%- comment -%} COMPONENT {%- endcomment -%}
      {% if page.component %}
      <div class="api-component api-general-block">
        <span class="api-header-title">Component: </span>
        {% if page.component.first  %}
        <ul>
          {% for compo in page.component %}
          <li>{{compo}}</li>
          {% endfor %}
        </ul>
        {% elsif page.component %}
          <span>{{page.component}}</span>
        {% endif %}
      </div>
      {% endif %}
      {%- comment -%} END COMPONENT {%- endcomment -%}

      {%- comment -%} SECURITY {%- endcomment -%}
      {%- if page.section == "mobile-sdk" -%}
        <div class="api-component api-general-block">
          <span class="api-header-title">Security: </span>
          {% if page.security%}
            {% if page.security == "none" %}
              <span class="icon is-white">
                <i class="fas fa-lock-open"></i>
              </span>
              Authentication is not required.
              {% elsif page.security == "authentication" %}
              <a href="{{site.baseurl}}/mobile-sdk/security/authentication/#article">
              <span class="icon is-white">
                <i class="fas fa-lock"></i>
              </span>
              Authentication
              </a> 
              is required.
            {% endif %}
          {% else %}
            {%- for component in site.data.mobile-sdk-components -%}
              {%- if page.component contains component.tag -%}
                {%- if component.security == "none" -%}
                <span class="icon is-white">
                  <i class="fas fa-lock-open"></i>
                </span>
                Authentication is not required.
                {% elsif component.security == "authentication" or component.security == "subscription" %}
                <a href="{{site.baseurl}}/mobile-sdk/security/authentication/#article">
                <span class="icon is-white">
                  <i class="fas fa-lock"></i>
                </span>
                Authentication
                </a> 
                is required.
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
      {%- comment -%} END SECURITY {%- endcomment -%}

      {%- comment -%} PREREQUISITES {%- endcomment -%}
      {%- if page.section == "mobile-sdk" -%}
        {%- for component in site.data.mobile-sdk-components -%}
        {%- if page.component contains component.tag -%}
          {% if component.security == "subscription" or page.security == "subscription" %}
          <div class="api-component api-general-block">
            <span class="api-header-title">Prerequisites: </span>  
            <a href="{{site.baseurl}}/mobile-sdk/security/service-activation-steps/#article">
              <span class="icon is-white">
                <i class="fas fa-list-ul"></i>
              </span>
              Activation Steps
            </a> being performed.
          </div>
          {% endif %}
        {% endif %}
        {% endfor %}
      {% endif %}
      {%- comment -%} END PREREQUISITES {%- endcomment -%}

      {%- comment -%} API TYPES {%- endcomment -%}
      {% if page.type %}
      <div class="api-operations api-general-block">
        <span class="api-header-title"> Operation{% if page.type.size > 1 %}s{% endif %}:</span>
        <div class="api-types">
          <ul>
            {% assign buttonsTypes = "get set subscribe" | split: " " %}
            {% for buttonType in buttonsTypes %}
              {% if page.type contains buttonType %}
              <li>
                <a href="#{{buttonType}}">
                  <span class="icon">
                    <i class="fas fa-link"></i>
                  </span>
                  {{buttonType | upcase}}
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      {%- comment -%} END API TYPES {%- endcomment -%}
      
    </div>
  </div>
  {%- comment -%} END API HEADER {%- endcomment -%}
  {% for t in page.type %}

    {%- comment -%} ------ ASSIGN DATAs & PARAMs ------ {%- endcomment -%}
    {% if t contains "get" %}

    {% if    page.dataget %} {% assign datas = page.dataget %}
    {% elsif page.data %}    {% assign datas = page.data %}
    {% else %}              {% assign datas = null %} {% endif %}

    {% if    page.paramsget %} {% assign params = page.paramsget %}
    {% elsif page.params %}    {% assign params = page.params %}
    {% else %}                {% assign params = null %} {% endif %}

    {% if    page.errorget %} {% assign errors = page.errorget %}
    {% elsif page.error %}    {% assign errors = page.error %}
    {% else %}               {% assign errors = null %} {% endif %}

    {% if    page.paramsget_example %} {% assign params_example = page.paramsget_example %}
    {% elsif page.params_example %}    {% assign params_example = page.params_example %}
    {% else %}                        {% assign params_example = null %} {% endif %}

    {% if page.dataget_example %} {% assign data_example = page.dataget_example %}
    {% elsif page.data_example %} {% assign data_example = page.data_example %}
    {% else %}                   {% assign data_example = null %} {% endif %}
    
    {% if page.componentget %} {% assign component = page.componentget %}
    {% elsif page.component %} {% assign component = page.component %}
    {% else %}                   {% assign component = null %} {% endif %}
    


    {% elsif t contains "set" %}

    {% if    page.dataset %} {% assign datas = page.dataset %}
    {% elsif page.data %}    {% assign datas = page.data %}
    {% else %}              {% assign datas = null %} {% endif %}

    {% if    page.paramsset %} {% assign params = page.paramsset %}
    {% elsif page.params %}    {% assign params = page.params %}
    {% else %}                {% assign params = null %} {% endif %}

    {% if    page.errorset %} {% assign errors = page.errorset %}
    {% elsif page.error %}    {% assign errors = page.error %}
    {% else %}               {% assign errors = null %} {% endif %}

    {% if    page.paramsset_example %} {% assign params_example = page.paramsset_example %}
    {% elsif page.params_example %}    {% assign params_example = page.params_example %}
    {% else %}                        {% assign params_example = null %} {% endif %}
    
    {% if    page.dataset_example %} {% assign data_example = page.dataset_example %}
    {% elsif page.data_example %}    {% assign data_example = page.data_example %}
    {% else %}                      {% assign data_example = null %} {% endif %}

    {% if page.componentset %} {% assign component = page.componentset %}
    {% elsif page.component %} {% assign component = page.component %}
    {% else %}                {% assign component = null %} {% endif %}

    {% elsif t contains "subscribe" %}

    {% if    page.datasubscribe %} {% assign datas = page.datasubscribe %}
    {% elsif page.data %}          {% assign datas = page.data %}
    {% else %}                    {% assign datas = null %} {% endif %}

    {% if    page.paramssubscribe %} {% assign params = page.paramssubscribe %}
    {% elsif page.params %}          {% assign params = page.params %}
    {% else %}                      {% assign params = null %} {% endif %}
    
    {% if page.errorsubscribe %} {% assign errors = page.errorsubscribe %}
    {% elsif page.error %}       {% assign errors = page.error %}
    {% else %}                  {% assign errors = null %} {% endif %}
    
    {% if    page.paramssubscribe_example %} {% assign params_example = page.paramssubscribe_example %}
    {% elsif page.params_example %}          {% assign params_example = page.params_example %}
    {% else %}                              {% assign params_example = null %} {% endif %}
    
    {% if    page.datasubscribe_example %} {% assign data_example = page.datasubscribe_example %}
    {% elsif page.data_example %}          {% assign data_example = page.data_example %}
    {% else %}                      {% assign data_example = null %} {% endif %} 
    
    {% if page.componentsubscribe %} {% assign component = page.componentsubscribe %}
    {% elsif page.component %}       {% assign component = page.component %}
    {% else %}                      {% assign component = null %} {% endif %} {% endif %}
    {%- comment -%}  END ASSIGN DATAs   {%- endcomment -%}

  <div 
    class="api-content-container api-content-container-{{t | downcase }}"
  >
    <div class="api-content">
      
      {%- comment -%} API CONTENT HEADER {%- endcomment -%}
      <div 
        class="api-content-header"
        id="{{t|downcase}}"
      >
        
        <a 
          class="api-content-name"
          href="#{{t|downcase}}"
        >
            <div
              class="api-content-tag"
            >
              {{t|upcase}}
      </div>
            {{page.name }}{% if page.subname %}<em> - {{page.subname}}</em>{% endif %}
          </a>
        
          <div class="api-type-edit-buttons is-flex is-justify-content-center is-align-items-baseline">
            
            <a href="{{site.gitHubURL}}{{page.path}}"
              class="button edit-page icon-button is-outlined is-pulled-right is-small"
              target="_blank"
              title="Edit this page on GitHub">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span class="edit-page-text">
                Edit
              </span>
            </a>

          
          </div>

        </div>


        {%- comment -%} API DESCRIPTION {%- endcomment -%}
        <div class="api-text">
          {% if page.short %}
          <div class="api-short">{{page.short | markdownify}}</div>
          {% endif %}
          {% if t contains "get" %}
          {% if page.textget %}
          <div class="api-short">{{page.textget | markdownify}}</div>
          {% endif %}
          {% elsif t contains "set" %}
          {% if page.textset %}
          <div class="api-short">{{page.textset | markdownify}}</div>
          {% endif %}
          {% elsif t contains "subscribe" %}
          {% if page.textsubscribe %}
          <div class="api-short">{{page.textsubscribe | markdownify}}</div>
          {% endif %}
          {% endif %}
          <div class="api-short">{{page.content | markdownify}}</div>
          {%- comment -%} END API DESCRIPTION {%- endcomment -%}
          
        </div>

        {%- comment -%}  API CONTENT TABLE   {%- endcomment -%}
        <div class="api-table">
          <table>
            
            {%- comment -%}  API CONTENT TABLE PARAMS  {%- endcomment -%}
            <thead>
              <tr><th colspan="6" class="api-table-header api-params">Input Parameter</th></tr>
              {% if params == null or params == "none" %}
            </thead>
            <tbody>
              <tr>
                <td colspan="6">
                  <em>No input params</em>
                </td>
              </tr>
              {% else %}
              <tr class="api-col-title">
                <th>
                  Param name
                </th>
                <th>
                  Description
                </th>
                <th>
                  Type
                </th>
                <th>
                  Unit/Values
                </th>
                <th>
                  Example
                </th>
                <th>
                  Required
                </th>
              </tr>
            </thead>
            <tbody>
              {% for p in params %}
              {% include api-reference-table-row.html
                rowType="param"
                ref=p.ref
                name=p.name
                description=p.description
                type=p.type
                unit-value=p.unit-value
                example=p.example
                required=p.required
                fields=p.fields
                sdk_name=sdk_name
                %}
                {% endfor %}
                {% endif %}
              </tbody>
              {%- comment -%}  END API CONTENT TABLE PARAMs  {%- endcomment -%}
            </table>
        </div>
        <div class="api-table">
            <table>
              {%- comment -%}   API CONTENT TABLE DATAs  {%- endcomment -%}
              <thead>
                <tr><th colspan="5" class="api-table-header api-data">Output Data</th></tr>
                {% if datas == null or datas == "none" %}
              </thead>
              <tbody>
                <tr>
                  <td colspan="5">
                    <em>No outputted data</em>
                  </td>
                </tr>
                {% else %}
                <tr class="api-col-title">
                  <th>
                    Data name
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Type
                  </th>
                  <th>
                    Unit/Values
                  </th>
                  <th>
                    Example
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for d in datas %}
                {% include api-reference-table-row.html
                  rowType="data"
                  ref=d.ref
                  name=d.name
                  description=d.description
                  type=d.type
                  unit-value=d.unit-value
                  example=d.example
                  fields=d.fields
                  sdk_name=sdk_name
                  %}
                  {% endfor %}
                  
                  {% endif %}
                </tbody>
                {%- comment -%}  END API CONTENT TABLE DATAs  {%- endcomment -%}
              </table>
            </div>
            {%- comment -%} END API CONTENT TABLE   {%- endcomment -%}
            
            {%- comment -%} TABLE ERROR (MOBILE-SDK) {%- endcomment -%}
            {% if sdk_name == "mobile-sdk" %}
            <div class="api-table api-table-error">
              <table>
                <thead>
                  <tr><th colspan="2" class="api-table-header api-data">Error</th></tr>
                  {%- if errors == null or errors == "none" -%}
                </thead>
                <tbody>
                  <tr>
                    <td colspan="2">
                      <em>No errors</em>
                    </td>
                  </tr>
                  {%- else -%}
                  <tr class="api-col-title">
                    <th>
                      Error Code
                    </th>
                    <th>
                      Error Label
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {%- for errList in site.data.mobile-sdk-errors -%}
                  {%- for errApi in errors -%}
                  {%- if errList.code == errApi.code -%}
                  <tr>
                    <td><strong>{{errList.code}}</strong></td>
                    <td>{{errList.label | markdownify}}</td>
                  </tr>
                  {%- endif -%}
                  {%- endfor -%}
                  {%- endfor -%}
                  {%- endif -%}
                </tbody>
                {%- comment -%} END TABLE ERROR (MOBILE-SDK) {%- endcomment -%}
              </table>
            </div>
            {% endif %}
            {%- comment -%}  END API CONTENT TABLE   {%- endcomment -%}

{%- comment -%}  API CONTENT CODE EXAMPLE   {%- endcomment -%}
{%- comment -%}  **WARNING:** CODE EXAMPLE should not be indented to avoid issues w/ markdown {%- endcomment -%}




{% include api-reference-code-sample.html
  sample_type="ref"
  sdk_name=sdk_name
  type=t
  name=page.name
  subname=page.subname
  
  params=params
  datas=datas
  params_example=params_example
  data_example=data_example
  errors=errors
%}


{%- comment -%} END API CONTENT CODE EXAMPLE   {%- endcomment -%}

  </div>
  </div>

  {% endfor %} {%- comment -%} end for types {%- endcomment -%}
  {% endif %} {%- comment -%} end if (nac ref) {%- endcomment -%}

  <div class="api-related">
    {% include api-reference-related-apis.html  %}
  </div>

</div>

{%- comment -%} END API {%- endcomment -%}