---
layout: page2
---
{% assign apis = site.headunit-sdk | where:"type", "api" %}
{% assign events = site.headunit-sdk | where:"type", "event" %}
{{ 'now' | date: "%Y-%b-%d:%R:%S" }}
<h1 id="api">API Reference </h1>
{% for api in apis %}
<h2 id="api-{{ api.title | replace: '.', '-' | remove: '()'}}">{{ api.title }} </h2>
<div class="field is-grouped is-grouped-multiline">
    <div class="control">
        {% for wave in api.supported %}
        <div class="tags has-addons">
            <span class="tag is-dark">wave</span>
            <span class="tag is-info">{{ wave }}</span>
        </div>
        {% endfor %}
    </div>
</div>
<p>{{ api.content }}</p>
{% endfor %}
<h1 id="event">Events Reference </h1>
{% for event in events %}
<hr>
<h2 id="event-{{ event.title | replace: '.', '-' | remove: '()'}}">{{ event.title }}</h2>
<div class="field is-grouped is-grouped-multiline">
    <div class="control">
        {% for wave in event.supported %}
        <div class="tags has-addons">
            <span class="tag is-dark">wave</span>
            <span class="tag


            is-info">{{ wave }}</span>
        </div>
        {% endfor %}
    </div>
</div>
<p>{{ event.content }}</p>
{% endfor %}
