---
layout: page2
---
{% assign apis = site.headunit-sdk | where:"type", "api" %}
{% assign events = site.headunit-sdk | where:"type", "event" %}

<h1 id="api">API Reference </h1>
{% for api in apis %}
<hr>
<h2 id="api-{{ api.title | replace: '.', '-' | remove: '()'}}">{{ api.title }} </h2>
<div class="field is-grouped is-grouped-multiline">
    {% for wave in api.supported %}
    <div class="control">
        <div class="tags has-addons">
            <span class="tag is-dark">wave</span>
            <span class="tag is-info">{{ wave }}</span>
        </div>
    </div>
    {% endfor %}
</div>
<div class="control">
        <div class="tags has-addons">
            <span class="tag is-light">min privacy</span>
            <span class="tag is-success">{% if api.privacy %}
			{{ api.privacy }}
			{% else %}
			Full
			{% endif %}
			</span>
        </div>
    </div>
<p>{{ api.content }}</p>
{% endfor %}
<hr>
<h1 id="event">Events Reference </h1>
{% for event in events %}
<hr>
<h2 id="event-{{ event.title | replace: '.', '-' | remove: '()'}}">{{ event.title }}</h2>
<div class="field is-grouped is-grouped-multiline">
    {% for wave in event.supported %}
    <div class="control">
        <div class="tags has-addons">
            <span class="tag is-dark">wave</span>
            <span class="tag is-info">{{ wave }}</span>
        </div>
    </div>
    {% endfor %}
</div>
<p>{{ event.content }}</p>
{% endfor %}