---
layout: default
---

<section id="article" class="unboxed">

    <main>

        {%- comment -%} HEADER {%- endcomment -%}
        <div class="unboxed-page-header">

            <div class="unboxed-page-title-container">
                
                <span>
                    <h1 class="unboxed-page-title">
                        {{page.title}}
                    </h1>
                </span>

                {% if page.logo %}
                    <span class="icon">
                        <i class="{{page.logo}}"></i>
                    </span>
                {% endif %}

            </div>

            <p class="unboxed-page-subtext">
                {% if page.subtext %}
                    {{page.subtext}}
                {% else %}
                    {{page.description}}
                {% endif %}
            </p>

        </div>

        {{content}}

    </main>

</section>