---
layout: default
---
    <section class="hero is-dark is-medium hero_main">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% include navigation.html %}
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Build
                </h1>
                <h1 class="title">
                    The future
                </h1>
                <h1 class="title">
                    Of </h1>
                <h1 class="title">
                    Connected Cars </h1>
            </div>
        </div>
    </section>
    <main class="bd-main">
        <div class="bd-side-background"></div>
        <div class="bd-main-container container content">
            {{ content }}
        </div>
    </main>
