<!DOCTYPE html>
<html lang="en">

<head>
    <title>Constructeur automobile français | Groupe PSA</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Roboto" rel="stylesheet">
    <link href="{{ '/assets/fonts/ubuntu/ubuntu-v11-latin-ext_latin-regular.woff' | prepend:site.baseurl }}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
    {% if page.url == "/" %}
        <link href="assets/css/index.css" rel='stylesheet' type='text/css'>
    {% endif %}
    <script src="{{ '/assets/js/dropdown.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ '/assets/js/main.js' | prepend: site.baseurl | prepend: site.url }}"></script>
</head>

<body>
    {{ content }}
    <div class="bd-footer-support">
        {% include footer.html %}
    </div>
</body>

</html>