---
layout: default
---
    <section class="hero is-dark is-medium hero_main">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% include navigation.html %}
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Build
                </h1>
                <h1 class="title">
                    The future
                </h1>
                <h1 class="title">
                    Of </h1>
                <h1 class="title">
                    Connected Cars </h1>
            </div>
        </div>
    </section>
    <main class="bd-main">
        <div class="bd-side-background"></div>
        <div class="bd-main-container container content">
		<div id="lunrsearchresults">
			<ul></ul>
		</div>
		<h1 id="get-familiar-with-our-environment-and-start-realizing-your-projects-now">Get familiar with our environment and start realizing your projects now!</h1>
		
		<nav class="bd-links">
    
			<a class="bd-link" href="{{ site.baseurl }}/Welcome_webportal/">
  
			  <h2 class="bd-link-name">
			    <br>
			    Embedded Apps
				<br>
				<figure class="bd-link-figure">
				  				  
				  <img src="{{ site.baseurl }}/AppWall.png">
				  
				</figure>
				<br>
			  </h2>
			  
			</a>

			 <a class="bd-link" href="{{ site.baseurl }}/Welcome_cloud/">
			  
			  <h2 class="bd-link-name">
			    <br>
			    Web API
				<br>
				<figure class="bd-link-figure">
				  
				  <img src="{{ site.baseurl }}/cloud0.jpg">
				  
				</figure>
				<br>
			  </h2>
			  
			</a>

			<a class="bd-link" href="{{ site.baseurl }}/Welcome_android/">
			  
			  <h2 class="bd-link-name">
			    <br>
				Apps for Android
				<br>
				<figure class="bd-link-figure">
				  
				  <img src="{{ site.baseurl }}/androidphone.jpg">
				  
				</figure>
				<br>
			  </h2>
			  
			</a>

			<a class="bd-link" href="{{ site.baseurl }}/Welcome_ios/">
			  
			  <h2 class="bd-link-name">
			    <br>
				Apps for IOS
				<br>
				<figure class="bd-link-figure">

				  
				  <img src="{{ site.baseurl }}/iphone.jpg">
				  
				</figure>
				<br>
			  </h2>
			  
			</a>
  
		</nav>

            {{ content }}
        </div>
    </main>
