---
layout: default
---

    <section class="hero is-dark is-medium hero_android">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% include navigation.html %}
        </div>
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Android SDK</h1>
            </div>
        </div>
    </section>
    <main class="bd-main">
        <div class="bd-side-background"></div>
        <div class="bd-main-container container content">
			<h1>Category not yet available</h1>
            {{ content }}
        </div>
    </main>
