<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% include page-title.html %}</title>
    <!-- Open Graph -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{% include page-title.html %}">
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}{{site.baseurl}}/assets/images/logoGroupePSA.png" />
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{% include page-title.html %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:card" content="summary">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{site.baseurl}}/assets/images/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.baseurl}}/assets/images/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.baseurl}}/assets/images/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.baseurl}}/assets/images/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{site.baseurl}}/assets/images/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{site.baseurl}}/assets/images/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{site.baseurl}}/assets/images/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.baseurl}}/assets/images/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="PSA Groupe for Developers"/>
    <meta name="msapplication-TileColor" content="#1e2336" />
    <meta name="msapplication-TileImage" content="{{site.baseurl}}/assets/images/favicons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="{{site.baseurl}}/assets/images/favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="{{site.baseurl}}/assets/images/favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="{{site.baseurl}}/assets/images/favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="{{site.baseurl}}/assets/images/favicons/mstile-310x310.png" />
    <!-- end icons -->
    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Roboto:300,400,500|Inconsolata:400,700"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
    {% if page.require contains "swagger" %}
    <!-- ASSESTS FOR SWAGGER UI PAGES-->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/swagger-ui.css' | prepend: site.baseurl }}">
    <link href="{{ '/assets/css/swagger-ui-overrides.css' | prepend: site.baseurl }}" rel='stylesheet' type='text/css'>
    {% endif %}
    {% if page.require contains "leaflet" %}
    <!--LEAFLET-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!-- SCRIPT LEAFLET-->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    {% endif %}
    <!-- SCRIPTS-->
    <script src="{{ '/assets/js/dropdown.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ '/assets/js/main.js' | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="{{ '/assets/js/lunr.js' | prepend: site.baseurl | prepend: site.url }}"></script>
</head>
    <body>
        {{content}}
    </body>
</html>
