---
layout: default
---
<div class="container">
    <div class="row py-3">
        <div class="col-3 order-2" id="sticky-sidebar">
            <div class="sticky-top">
                <ul class="myposts">
                    {% for api in site.headunit-sdk %}
                    <li><a href="{{ api.url }}">{{ api.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col" id="main">
            <h1><code>{{ page.title }}</code></h1>
            <h4> Supported headunits :
                {% for wave in page.supported %}
                <span class="badge badge-success">wave {{ wave }}</span>
                {% endfor %}
            </h4>
            {{ content }}
        </div>
    </div>
</div>