---
layout: default
---
<section class="hero is-dark is-medium hero_api">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    {% include navigation.html %}
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Web API</h1>
      </div>

    </div>
  </section>

  <main class="bd-main">
    <div class="bd-side-background"></div>
    <div class="bd-main-container container">
      <div id="lunrsearchresults">
        <ul></ul>

      </div>

      <div class="container">

        <div class="bd-lead">
<div class="bd-content container">
  <!-- <section class="section"> -->



  <div class="content"  style="padding-top:0% ; padding-bottom:3%">

<h1 class="subtitle is-1">Who are you ?</h1>
<div class="tile is-ancestor">

    <div class="tile is-parent">

      <div class="tile is-child box has-background-light">
        <a href="{{ site.baseurl }}/cloud-Welcome_B2B/">
          <p class="title">B2B - Groupe PSA's Fleet Owner</p>
          <p class="subtitle"><img src="{{ site.baseurl}}/assets/images/business.png"></p>
          </a>
        </div>
        </div>

<div class="tile is-parent">
<div class="tile is-child box has-background-light">
        <a href="{{ site.baseurl }}/cloud-Welcome_B2C/">

          <p class="title">B2C - Developper for end-users</p>
          <p class="subtitle"><img src="{{ site.baseurl }}/assets/images/developer.png"></p>

        </a>
        </div>
        </div>
</div>
        <!-- </section> -->
        </div>





</div>








      </div>  </div>

      </div>
      <!-- </div> -->
    </div>
  </main>
