---
layout: article
---

<div data-aos="fade-up" data-aos-delay="500">
    
    {%- comment -%} USE CASE IMAGE {%- endcomment -%}
    <picture style="background-image: url({{site.baseurl}}{{page.picture}});" class="use-case-picture"></picture>


    {%- comment -%} USE CASE VERBS {%- endcomment -%}
    <div class="unboxed-bloc unboxed-inside">
        <h2 class="unboxed-title" >METHODS</h2>
        {% include api-verbs.html%}
    </div>

</div>

{%- comment -%} USE CASE CONTENT {%- endcomment -%}
<div class="content">
    <div>
        {% include content-header.html %}
        {{content}}
    </div>
</div>

{%- comment -%} USE CASE DATA  {%- endcomment -%}
<div data-aos="fade-up">
<div class="unboxed-bloc">
    <h2 class="unboxed-title" >AVAILABLES DATA</h2>
    <div class="unboxed-content">
        <div class="cards"> 
            {%- comment -%} {% assign zoom_delay = 50 %} {%- endcomment -%}
            {% for api-data in site.apis-data %}
            {% if page.datas contains api-data.tag %}

                {% capture data-list %}
                    <ul>
                    {%- for data in page.datas[api-data.tag] -%}
                        <li>{{data}}</li>
                    {%- endfor -%}
                    </ul>
                {% endcapture %}


                {%- comment -%} <div data-aos="fade-up" data-aos-duration="750" data-aos-delay="{{zoom_delay}}"> {%- endcomment -%}
                {% include card.html 
                    modifier='card-transparent' 
                    linkto=api-data.permalink 
                    category=api-data.card_category 
                    title=api-data.title 
                    text=data-list
                    logo=api-data.logo %}
                {%- comment -%} </div> {%- endcomment -%}
                {%- comment -%} {% assign zoom_delay = zoom_delay | plus: 100 %} {%- endcomment -%}


                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</div>


{%- comment -%} USE CASE USER STORIES {%- endcomment -%}
<div class="unboxed-bloc">
    <h2 class="unboxed-title" >USER-STORIES</h2>
    {%- comment -%} {% assign zoom_delay = 100 %} {%- endcomment -%}
    {% for user-story in site.user-stories %}
        {% if page.user-stories contains user-story.tag %}
            {%- comment -%} <div data-aos="fade-up" data-aos-duration="750" data-aos-delay="{{zoom_delay}}"
            data-aos-easing="ease-out-quart"> {%- endcomment -%}
                {% 
                    include user-story.html
                    markdown=user-story.content
                    title=user-story.title
                    tag=user-story.tag
                    datas=user-story.datas
                    requirements=user-story.requirements
                    role=user-story.role
                    %}
            {%- comment -%} </div> {%- endcomment -%}
            {%- comment -%} {% assign zoom_delay = zoom_delay | plus: 150 %} {%- endcomment -%}
        {% endif %}
    {% endfor %}
</div>


{%- comment -%} USE CASE AVAILABILITY {%- endcomment -%}
{% if page.available-vehicles or page.available-markets %}
<div class="unboxed-bloc">
    <h2 class="unboxed-title">AVAILABILITY</h2>
    <div class="unboxed-content">
        <div class="availability">

            {%- comment -%} USE CASE VEHICLE AVAILABILITY {%- endcomment -%}
            {% if page.available-vehicles %}
            <div class="availability-vehicles" data-aos="fade-right" data-aos-delay="300" data-aos-duration="750">
                <h3 class="unboxed-title"> VEHICLES </h3>
                <div class="unboxed-content">
                    {% capture vehicles %}{% include_relative {{page.available-vehicles}} %}{% endcapture %}
                    {{ vehicles | markdownify }}
                </div>
            </div>
            {% endif %}

            {%- comment -%} USE CASE MARKET AVAILABILITY {%- endcomment -%}
            {% if page.available-markets %}
            <div class="availability-markets" data-aos="fade-left" data-aos-delay="700" data-aos-duration="750">
                <h3 class="unboxed-title"> MARKETS </h3>
                <div class="unboxed-content">
                {% capture markets %}{% include_relative {{page.available-markets}} %}{% endcapture %}
                {{ markets | markdownify }}
                </div>
            </div>
            {% endif %}
            
        </div>
    </div>
</div>
{% endif %}
<hr style="background: white; margin: 0rem  4rem 2.5rem">    
